Repository googleapis/google-cloud-python, pull requests merged in 2018-06, with the labels that each got.

#5429 BigQuery: Adds time filtering to client.list_jobs()
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#5431 BigQuery: Use datetime for jobs listing filter args.
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: cla: yes

#5433 BigQuery: fix datetitme typo in list_jobs docstring
  bigquery/google/cloud/bigquery/client.py
Labels: cla: yes

#5436 BigQuery: Adds examples of optional params for client.list_jobs() snippet
  bigquery/google/cloud/bigquery/client.py
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5438 Add additional error handling to unary RPCs
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/bidi.py
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: cla: yes

#5439 Release pubsub 0.35.3
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#5442 BigQuery: Exclude PyArrow from Windows Python 2.7 tests
  bigquery/setup.py
Labels: cla: yes

#5440 BigQuery: Adds missing label and cache samples
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5445 Use operational lock when checking for activity on streams
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/bidi.py
Labels: cla: yes

#5446 Recover streams during the gRPC error callback
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/bidi.py
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_bidi.py
Labels: cla: yes

#5447 Release pubsub 0.35.4
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#5451 Release BigQuery 1.3.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: api: bigquery, cla: yes

#5421 Unmark most of the xfailed tests.
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes, testing

#5420 Make 'Client.list_instances' return actual instance objects, not protos.
  bigtable/google/cloud/bigtable/client.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_client.py
Labels: api: bigtable, cla: yes

#5452 minor fix to datastore example
  datastore/README.rst
Labels: api: datastore, cla: yes, documentation

#5453 BigQuery: adds legacy and batch samples
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5459 Use subpackage installation instructions on main index.
  docs/bigquery/usage.rst
  docs/bigtable/usage.rst
  docs/datastore/usage.rst
  docs/dns/usage.rst
  docs/error-reporting/usage.rst
  docs/firestore/index.rst
  docs/index.rst
  docs/language/usage.rst
  docs/logging/usage.rst
  docs/pubsub/index.rst
  docs/releases.rst
  docs/resource-manager/api.rst
  docs/runtimeconfig/usage.rst
  docs/spanner/usage.rst
  docs/speech/index.rst
  docs/storage/client.rst
  docs/translate/usage.rst
  docs/videointelligence/index.rst
  docs/vision/index.rst
Labels: cla: yes

#5450 Ensure that initial resume token is bytes, not text.
  spanner/google/cloud/spanner_v1/snapshot.py
  spanner/tests/unit/test_snapshot.py
Labels: api: spanner, cla: yes

#5460 BigQuery: Adds nested repeated schema and undelete table samples
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5461 Add DatasetListItem and TableListItem back to docs.
  docs/bigquery/reference.rst
Labels: cla: yes

#5464 Fixes incorrect region tag
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5463 Add support for Spanner struct params.
  spanner/google/cloud/spanner_v1/_helpers.py
  spanner/tests/system/test_system.py
  spanner/tests/unit/test__helpers.py
Labels: api: spanner, cla: yes

#5360 BigTable: Add truncate table and drop by prefix on top of GAPIC integration
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#5466 Release spanner 1.4.0
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: cla: yes

#5467 Regenerate vision gapics
  vision/google/cloud/vision_v1/gapic/enums.py
  vision/google/cloud/vision_v1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1/proto/image_annotator_pb2_grpc.py
  vision/google/cloud/vision_v1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1/types.py
  vision/google/cloud/vision_v1p1beta1/gapic/enums.py
  vision/google/cloud/vision_v1p1beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p1beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/image_annotator_pb2_grpc.py
  vision/google/cloud/vision_v1p1beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1p1beta1/types.py
  vision/google/cloud/vision_v1p2beta1/gapic/enums.py
  vision/google/cloud/vision_v1p2beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p2beta1/types.py
  vision/synth.py
  vision/tests/unit/gapic/v1/test_image_annotator_client_v1.py
  vision/tests/unit/gapic/v1p1beta1/test_image_annotator_client_v1p1beta1.py
Labels: cla: yes

#5469 regenerate tasks v2beta2
  tasks/README.rst
  tasks/docs/conf.py
  tasks/docs/index.rst
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/types.py
  tasks/synth.py
Labels: cla: yes

#5470 Release vision 0.32.0
  vision/CHANGELOG.md
  vision/setup.py
Labels: cla: yes

#5474 Fix Py3 breakage in new system test.
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes, testing

#5475 Release texttospeech 0.2.0
  texttospeech/CHANGELOG.md
  texttospeech/setup.py
Labels: cla: yes

#5471 Release tasks 0.2.0
  tasks/CHANGELOG.md
  tasks/setup.py
Labels: cla: yes

#5477 Update CODEOWNERS
  .github/CODEOWNERS
Labels: cla: yes

#5476 Harden 'test_list_instances' against simultaneous test runs.
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes, flaky, testing

#5482 Redo 5018: run only needed systests
  .circleci/config.yml
  test_utils/scripts/get_target_packages.py
Labels: cla: yes, testing

#5484 Revert "Redo 5018: run only needed systests"
  .circleci/config.yml
  test_utils/scripts/get_target_packages.py
Labels: cla: yes

#5485 Re-do #5482 w/ fixes for 'master' and out-of-repo PR builds.
  test_utils/scripts/get_target_packages.py
Labels: cla: yes, testing

#5483 Fix docs links for TTS.
  texttospeech/README.rst
  texttospeech/docs/api.rst
  texttospeech/docs/index.rst
Labels: api: text to speech, cla: yes, documentation

#5487 Use 'git merge-base --fork-point' to try to find common ancestor.
  .circleci/config.yml
  test_utils/scripts/get_target_packages.py
Labels: cla: yes, testing

#5488 Drop running 'error_reporting' tests for changes in 'logging'.
  test_utils/scripts/get_target_packages.py
Labels: api: error reporting, cla: yes, testing

#5486 Harden system tests against 'ResourceExhausted' quota errors.
  logging/tests/system/test_system.py
Labels: api: logging, cla: yes, flaky, testing

#5492 Preserve the message / args from an InvalidResponse.
  storage/google/cloud/storage/blob.py
  storage/tests/unit/test_blob.py
Labels: api: storage, cla: yes

#5495 Rename x-goog-header-params -> x-goog-request-params
  api_core/google/api_core/gapic_v1/routing_header.py
Labels: cla: yes

#5496 Harden logging systests
  logging/tests/system/test_system.py
Labels: api: logging, cla: yes, flaky, testing

#5497 Release api_core 1.2.1
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: cla: yes

#5501 Add load_table_from_dataframe() to usage docs and changelog
  bigquery/CHANGELOG.md
  docs/bigquery/usage.rst
Labels: api: bigquery, cla: yes, documentation

#5500 Add Orc source format support and samples
  bigquery/google/cloud/bigquery/job.py
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes

#5503 The offset param to the fetch method of a query did not work properly one there was a cursor
  datastore/google/cloud/datastore/query.py
  datastore/tests/system/test_system.py
  datastore/tests/unit/test_query.py
Labels: cla: yes

#5498 Override gRPC max message lengths.
  bigtable/google/cloud/bigtable_v2/gapic/bigtable_client.py
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes, testing

#5491 Adds samples for query external data sources (GCS & Sheets)
  bigquery/tests/system.py
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5504 #5024 Django Versioning Compatability for RequestMiddleware
  logging/google/cloud/logging/handlers/middleware/request.py
  logging/nox.py
Labels: api: logging, cla: yes

#5512 Link concrete entry classes into usage docs
  docs/logging/usage.rst
Labels: api: logging, cla: yes, type: docs

#5516 Fix typo from CODEOWNERS update
  .github/CODEOWNERS
Labels: cla: yes

#5519 Remove remaining Luke Sneeringer sections b/c Thea is default
  .github/CODEOWNERS
Labels: cla: yes

#5515 BigQuery: Adds authorized view samples
  bigquery/google/cloud/bigquery/table.py
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5521 BigQuery: fixes commented variables for view samples
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5522 Removes google-cloud package icons
  README.rst
Labels: cla: yes

#5535 Harden 'create_bucket' systest against 429 responses.
  storage/tests/system.py
Labels: api: storage, cla: yes, flaky, testing

#5536 Release monitoring 0.30.0
  monitoring/CHANGELOG.md
  monitoring/setup.py
Labels: cla: yes

#5544 Bigtable: Improve testing of create instance
  bigtable/tests/unit/test_instance.py
Labels: cla: yes

#5542 Bigtable: Instance creation cleanup.
  bigtable/google/cloud/bigtable/client.py
  bigtable/google/cloud/bigtable/instance.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_client.py
  bigtable/tests/unit/test_instance.py
Labels: api: bigtable, cla: yes

#5509 Clarify 'None' values for resource-backed properties.
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
Labels: api: storage, cla: yes, documentation

#5550 BigQuery: add missing explict coverage for '_helpers'
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test__helpers.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes, testing, type: cleanup

#5552 Move 'DEFAULT_RETRY' (w/ its predicate) to a new public 'retry' module.
  bigquery/google/cloud/bigquery/__init__.py
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/retry.py
  bigquery/tests/unit/test__helpers.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_retry.py
  docs/bigquery/reference.rst
Labels: api: bigquery, cla: yes, documentation

#5557 remove usage.rst links and update other documentation links
  monitoring/README.rst
  monitoring/docs/index.rst
Labels: api: monitoring, cla: yes, documentation
