Repository googleapis/google-cloud-python, pull requests merged in 2018-03, with the labels that each got.

#4988 Trace: Move unit test from gax to gapic
  trace/tests/unit/v1/test__gapic_v1.py
  trace/tests/unit/v2/test__gapic_v2.py
Labels: api: trace, cla: yes, type: cleanup

#4987 Bigquery: Job string constant parameters in init and snippets documentation
  bigquery/google/cloud/bigquery/__init__.py
  bigquery/google/cloud/bigquery/job.py
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, type: cleanup

#4990 Fix encoding variable and strings UTF-8 and ISO-8859-1 difference documentation
  bigquery/google/cloud/bigquery/job.py
Labels: api: bigquery, cla: yes, priority: p2, type: bug

#4995 Use a class to wrap grpc streaming errors instead of monkey-patching
  api_core/google/api_core/grpc_helpers.py
  api_core/tests/unit/test_grpc_helpers.py
Labels: api: core, cla: yes

#4996 Cleanup field path
  firestore/google/cloud/firestore_v1beta1/_helpers.py
Labels: api: firestore, cla: yes, type: cleanup

#4997 Use standardized nox template
  dlp/.coveragerc
  dlp/.flake8
  dlp/google/__init__.py
  dlp/google/cloud/__init__.py
  dlp/nox.py
Labels: api: dlp, cla: yes, type: cleanup

#4817 Add max results to feature
  vision/google/cloud/vision_helpers/decorators.py
  vision/tests/unit/test_decorators.py
Labels: api: vision, automerge, cla: yes, type: feature request

#5004 Remove test_load_table_from_uri_w_autodetect_schema_then_get_job because of duplicate test in snippets
  bigquery/tests/system.py
Labels: api: bigquery, cla: yes, type: cleanup

#4999 BigQuery: Updates table snippets
  docs/bigquery/snippets.py
  docs/bigquery/usage.rst
Labels: api: bigquery, cla: yes, documentation

#5011 Monitoring: move aligner and reducer links from timeSeries.list to alertPolicies
  monitoring/google/cloud/monitoring/query.py
Labels: api: monitoring, cla: yes, documentation, type: bug

#4979 Move TimestampNanoSeconds to api_core
  api_core/google/api_core/datetime_helpers.py
  api_core/tests/unit/test_datetime_helpers.py
Labels: api: core, api: spanner, cla: yes, type: process

#4983 BigQuery: Integration with IPython including cell magic for running queries
  bigquery/google/cloud/bigquery/__init__.py
  bigquery/google/cloud/bigquery/magics.py
  bigquery/nox.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_magics.py
  docs/bigquery/reference.rst
  docs/requirements.txt
Labels: api: bigquery, cla: yes

#5007 Firestore: return non existent snapshot if document not found instead of raising NotFound exception
  firestore/google/cloud/firestore_v1beta1/client.py
  firestore/google/cloud/firestore_v1beta1/document.py
  firestore/tests/system.py
  firestore/tests/unit/test_client.py
  firestore/tests/unit/test_document.py
Labels: api: firestore, cla: yes, type: process

#5018 Use better merge base for detecting changed packages
  test_utils/scripts/get_target_packages.py
Labels: cla: yes, testing, type: process

#4980 Remove Timestamp from Spanner
  spanner/google/cloud/spanner_v1/_helpers.py
  spanner/tests/system/test_system.py
  spanner/tests/unit/test__helpers.py
Labels: api: spanner, cla: yes, type: cleanup

#5009 BigQuery: Updates table management snippets
  docs/bigquery/snippets.py
  docs/bigquery/usage.rst
Labels: api: bigquery, cla: yes, documentation

#5019 Nack messages when the subscriber callback errors
  pubsub/google/cloud/pubsub_v1/subscriber/policy/thread.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_policy_thread.py
Labels: cla: yes

#5021 Retry subscription stream on InternalServerError, Unknown, and GatewayTimeout
  pubsub/google/cloud/pubsub_v1/subscriber/policy/base.py
Labels: cla: yes

#5020 Drop leased messages after flow_control.max_lease_duration has passed.
  pubsub/google/cloud/pubsub_v1/subscriber/policy/base.py
  pubsub/google/cloud/pubsub_v1/types.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_policy_base.py
Labels: cla: yes

#5022 BigQuery: Updates dataset samples
  docs/bigquery/snippets.py
  docs/bigquery/usage.rst
Labels: api: bigquery, cla: yes, documentation

#5025 BigQuery: Fixes region tag end
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation, type: bug

#4938 Add batch query support
  spanner/google/cloud/spanner_v1/database.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client_config.py
  spanner/google/cloud/spanner_v1/keyset.py
  spanner/google/cloud/spanner_v1/proto/spanner_pb2.py
  spanner/google/cloud/spanner_v1/proto/spanner_pb2_grpc.py
  spanner/google/cloud/spanner_v1/proto/transaction_pb2.py
  spanner/google/cloud/spanner_v1/snapshot.py
  spanner/tests/system/test_system.py
  spanner/tests/unit/gapic/v1/test_spanner_client_v1.py
  spanner/tests/unit/test_database.py
  spanner/tests/unit/test_keyset.py
  spanner/tests/unit/test_snapshot.py
Labels: api: spanner, automerge, cla: no, type: feature request

#5030 Update minimum version for google-api-core to 1.1.0
  spanner/setup.py
Labels: cla: yes

#5031 Update package metadata release status to 'Stable'
  spanner/setup.py
Labels: cla: yes

#5029 Release api_core 1.1.0
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: cla: yes

#5032 minor typo
  spanner/google/cloud/spanner_v1/database.py
Labels: cla: yes

#5033 Release spanner 1.2.0
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: cla: yes

#5034 Fix test that checks for retryable exceptions
  pubsub/tests/unit/pubsub_v1/subscriber/test_policy_base.py
Labels: cla: yes

#4908 BigTable: provide better access to cell values
  bigtable/google/cloud/bigtable/row_data.py
  bigtable/tests/unit/test_row_data.py
Labels: cla: no

#5037 BigQuery: Fixes update table expiration region tag
  docs/bigquery/snippets.py
Labels: api: bigquery, automerge, cla: yes, documentation

#5040 Change GCS batch endpoint from /batch to /batch/storage/v1
  storage/google/cloud/storage/batch.py
Labels: cla: yes

#5045 Fix maintain leases to not modack messages it just dropped
  pubsub/google/cloud/pubsub_v1/subscriber/policy/base.py
Labels: cla: yes

#5047 BigQuery: adds location to bigquery_create_dataset sample
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5002 Bigtable: TimestampRanges must be milliseconds granularity
  bigtable/google/cloud/bigtable/row_filters.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_row_filters.py
Labels: api: bigtable, cla: yes

#5048 Video v1p1beta1
  docs/videointelligence/gapic/v1/api.rst
  docs/videointelligence/gapic/v1/types.rst
  docs/videointelligence/gapic/v1p1beta1/api.rst
  docs/videointelligence/gapic/v1p1beta1/types.rst
  docs/videointelligence/index.rst
  videointelligence/google/cloud/videointelligence_v1p1beta1/__init__.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/__init__.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/proto/__init__.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/proto/video_intelligence_pb2_grpc.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/types.py
  videointelligence/tests/unit/gapic/v1p1beta1/test_video_intelligence_service_client_v1p1beta1.py
Labels: cla: yes

#5050 BigQuery: adds force delete to bigquery_delete_dataset sample
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5056 pubsub nox.py cleanup
  pubsub/nox.py
Labels: api: pubsub, cla: yes, type: cleanup

#4998 Add vision v1p2beta1
  vision/google/cloud/vision_v1p2beta1/__init__.py
  vision/google/cloud/vision_v1p2beta1/gapic/__init__.py
  vision/google/cloud/vision_v1p2beta1/gapic/enums.py
  vision/google/cloud/vision_v1p2beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p2beta1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1p2beta1/proto/__init__.py
  vision/google/cloud/vision_v1p2beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/geometry_pb2_grpc.py
  vision/google/cloud/vision_v1p2beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/image_annotator_pb2_grpc.py
  vision/google/cloud/vision_v1p2beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/text_annotation_pb2_grpc.py
  vision/google/cloud/vision_v1p2beta1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/web_detection_pb2_grpc.py
  vision/google/cloud/vision_v1p2beta1/types.py
  vision/tests/unit/gapic/test_image_annotator_client_v1p2beta1.py
Labels: cla: yes

#5057 BigQuery: Adds Parquet SourceFormat and samples
  bigquery/google/cloud/bigquery/job.py
  docs/bigquery/snippets.py
  docs/bigquery/usage.rst
Labels: api: bigquery, cla: yes, documentation

#5051 BigQuery: Adds samples for to_dataframe()
  docs/bigquery/snippets.py
  docs/bigquery/usage.rst
Labels: api: bigquery, cla: yes, documentation

#5049 Add text-to-speech beta.
  docs/index.rst
  docs/requirements.txt
  docs/texttospeech
  texttospeech/LICENSE
  texttospeech/MANIFEST.in
  texttospeech/README.rst
  texttospeech/docs/conf.py
  texttospeech/docs/gapic/v1beta1/api.rst
  texttospeech/docs/gapic/v1beta1/types.rst
  texttospeech/docs/index.rst
  texttospeech/google/__init__.py
  texttospeech/google/cloud/__init__.py
  texttospeech/google/cloud/texttospeech.py
  texttospeech/google/cloud/texttospeech_v1beta1/__init__.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/__init__.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/text_to_speech_client_config.py
  texttospeech/google/cloud/texttospeech_v1beta1/proto/__init__.py
  texttospeech/google/cloud/texttospeech_v1beta1/proto/cloud_tts_pb2.py
  texttospeech/google/cloud/texttospeech_v1beta1/proto/cloud_tts_pb2_grpc.py
  texttospeech/google/cloud/texttospeech_v1beta1/types.py
  texttospeech/nox.py
  texttospeech/setup.cfg
  texttospeech/setup.py
  texttospeech/tests/unit/gapic/v1beta1/test_text_to_speech_client_v1beta1.py
Labels: cla: yes

#5061 Release videointelligence 1.1.0
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: cla: yes

#5062 Release texttospeech 0.1.0
  texttospeech/CHANGELOG.md
Labels: cla: yes

#5063 Release dlp 0.2.0
  dlp/CHANGELOG.md
  dlp/setup.py
Labels: cla: yes

#5065 Link out to requester pays docs.
  storage/google/cloud/storage/bucket.py
Labels: cla: yes

#5066 BigQuery: Use autospec for Connection in tests.
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes, type: cleanup

#5070 BigQuery: fixes list rows to dataframe sample asserts
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5069 BigQuery: Adds load table from URI CSV Samples
  docs/bigquery/snippets.py
  docs/bigquery/usage.rst
Labels: api: bigquery, cla: yes, documentation

#5036 BigQuery: Use `job.configuration` resource for XXXJobConfig classes
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/schema.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_external_config.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_schema.py
Labels: api: bigquery, cla: yes

#5064 Fix v1p1beta1 unit tests
  videointelligence/tests/unit/gapic/v1p1beta1/test_video_intelligence_service_client_v1p1beta1.py
Labels: cla: yes

#4882 Add retry for yield_rows
  bigtable/google/cloud/bigtable/row.py
  bigtable/google/cloud/bigtable/row_data.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/unit/test_row_data.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: no

#5054 Use the rpc's status to determine when to exit the request generator thread
  pubsub/google/cloud/pubsub_v1/subscriber/_consumer.py
  pubsub/google/cloud/pubsub_v1/subscriber/policy/base.py
  pubsub/tests/system.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_consumer.py
Labels: api: pubsub, cla: yes

#4466 Distinguish FieldPath classes from field path strings
  firestore/google/cloud/firestore_v1beta1/_helpers.py
  firestore/tests/unit/test__helpers.py
Labels: api: firestore, cla: yes, type: feature request

#5074 Release pubsub 0.33.0
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#5077 Revert "Release pubsub 0.33.0"
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#5073 Add see also for Bucket.create method call for Client.create_bucket() documentation.
  storage/google/cloud/storage/client.py
Labels: cla: yes

#5078 Fix missing iter on request stream
  pubsub/google/cloud/pubsub_v1/subscriber/_consumer.py
Labels: cla: yes

#5080 Fixes broken nox link on Contributing page
  CONTRIBUTING.rst
Labels: cla: yes, documentation, type: cleanup

#5079 Release pubsub 0.33.0
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#5084 Update doc reference links in GCS client documentation
  storage/google/cloud/storage/client.py
Labels: api: storage, cla: yes

#5071 Add location property to job classes.
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes

#5081 added range downloads
  storage/google/cloud/storage/blob.py
  storage/tests/unit/test_blob.py
Labels: cla: yes

#5072 BigQuery: Don't use `selected_fields` for listing query result rows
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#5082 Storage: Fix unit test moving batch to batch/storage/v1
  storage/tests/unit/test_batch.py
Labels: automerge, cla: yes

#5092 fix_circle_ci
  test_utils/scripts/get_target_packages.py
Labels: cla: yes

#5097 Properly handle graceful stop in request generator
  pubsub/google/cloud/pubsub_v1/subscriber/_consumer.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_consumer.py
Labels: cla: yes

#5091 BigQuery: simplify test name
  bigquery/nox.py
Labels: cla: yes

#4991 futures now install_requires
  api_core/setup.py
  vision/setup.py
Labels: cla: yes

#5102 Add spanner commit timestamp support.
  spanner/google/cloud/spanner.py
  spanner/google/cloud/spanner_v1/__init__.py
  spanner/tests/_fixtures.py
  spanner/tests/system/test_system.py
Labels: api: spanner, cla: yes, type: feature request

#5105 BigQuery: Add dev version for 0.32.0 release
  bigquery/setup.py
Labels: cla: yes

#5101 StringIO to BytesIO
  bigquery/tests/system.py
Labels: api: bigquery, automerge, cla: yes, priority: p2, type: bug

#4931 Bigquery: adds `page_size` parameter for `list_rows` and use in DB-API for `arraysize`
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/dbapi/cursor.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, automerge, cla: yes, type: feature request

#5104 BigQuery: Limit number of jobs in list_jobs snippet.
  docs/bigquery/snippets.py
Labels: api: bigquery, automerge, cla: yes, testing

#5114 BigQuery: Make SchemaField be able to include description via from_api_repr method
  bigquery/google/cloud/bigquery/schema.py
  bigquery/tests/unit/test_schema.py
Labels: api: bigquery, cla: yes, type: feature request

#5108 Make the pausable response iterator aware of the RPC state to prevent deadlock
  pubsub/google/cloud/pubsub_v1/subscriber/_consumer.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_consumer.py
Labels: cla: yes

#5118 Remove extra print statement
  pubsub/tests/unit/pubsub_v1/subscriber/test_consumer.py
Labels: api: pubsub, cla: yes, type: cleanup

#5116 Use bytes literals to initialize 'BytesIO'.
  bigquery/tests/system.py
Labels: api: bigquery_datatransfer, cla: yes, testing

#5119 BigQuery: Add snippet to run a dry run query.
  docs/bigquery/snippets.py
  docs/bigquery/usage.rst
Labels: api: bigquery, cla: yes, documentation

#5107 BigQuery: Removes _ApiResourceProperty class
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/google/cloud/bigquery/external_config.py
  bigquery/tests/unit/test__helpers.py
  bigquery/tests/unit/test_external_config.py
Labels: api: bigquery, cla: yes

#5124 Surface publish RPC errors back to the publish futures
  pubsub/google/cloud/pubsub_v1/publisher/batch/thread.py
  pubsub/tests/unit/pubsub_v1/publisher/batch/test_thread.py
Labels: cla: yes

#5126 BigQuery: Remove unnecessary _Table class from test_job.py
  bigquery/tests/unit/test_job.py
Labels: automerge, cla: yes

#5129 Fix over-long line.
  firestore/tests/unit/test__helpers.py
Labels: api: firestore, cla: yes, testing, type: process

#5131 Re-generate DLP
  dlp/docs/gapic/v2/api.rst
  dlp/docs/gapic/v2/types.rst
  dlp/docs/index.rst
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py
  dlp/google/cloud/dlp_v2/gapic/enums.py
  dlp/google/cloud/dlp_v2/proto/dlp_pb2.py
  dlp/google/cloud/dlp_v2/proto/dlp_pb2_grpc.py
  dlp/google/cloud/dlp_v2/proto/storage_pb2.py
Labels: cla: yes

#5133 Release dlp 0.3.0
  dlp/CHANGELOG.md
  dlp/setup.py
Labels: cla: yes
