Repository googleapis/google-cloud-python, pull requests merged in 2018-09, with the labels that each got.

#5878 Add trace to logentry types
  logging/google/cloud/logging/entries.py
  logging/google/cloud/logging/logger.py
  logging/tests/unit/test_entries.py
  logging/tests/unit/test_logger.py
Labels: api: logging, automerge, cla: yes

#5882 Tasks: Update synth.py to remove unneeded replacements
  tasks/synth.py
Labels: cla: yes

#5883 Release tasks 0.3.0
  tasks/CHANGELOG.md
  tasks/setup.py
Labels: cla: yes

#5885 Add span_id to LogEntry
  logging/google/cloud/logging/entries.py
  logging/google/cloud/logging/logger.py
  logging/tests/unit/test_entries.py
  logging/tests/unit/test_logger.py
Labels: cla: yes

#5890 Bigtable: fix non admin client access (minimal version)
  bigtable/google/cloud/bigtable/client.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_client.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#5891 Prepare bigtable-0.30.1 release.
  bigtable/CHANGELOG.md
  bigtable/setup.py
Labels: api: bigtable, cla: yes, packaging

#5838 Bigtable: iam policy implementation for an instance.
  bigtable/google/cloud/bigtable/instance.py
  bigtable/google/cloud/bigtable/policy.py
  bigtable/tests/unit/test_instance.py
  bigtable/tests/unit/test_policy.py
Labels: api: bigtable, cla: yes

#5877 Storage: add lifecycle rules helpers to bucket
  docs/storage/snippets.py
  storage/google/cloud/storage/bucket.py
  storage/tests/system.py
  storage/tests/unit/test_bucket.py
Labels: api: storage, cla: yes

#5871 Run 'unit_grpc_gcp' tests only with Python 2.7 / 3.6.
  spanner/nox.py
Labels: api: spanner, cla: yes, testing

#5893 Avoid hardcoding endpoint URL in grpc_gcp unit tests.
  spanner/tests/unit/gapic/v1/test_spanner_client_v1.py
Labels: api: spanner, cla: yes, testing

#5899 Change 'BatchSettings.max_bytes' default.
  pubsub/google/cloud/pubsub_v1/types.py
  pubsub/tests/unit/pubsub_v1/publisher/test_publisher_client.py
Labels: api: pubsub, cla: yes

#5900 Storage: Harden systest teardown further.
  storage/tests/system.py
Labels: api: storage, cla: yes, flaky, testing

#5897 Storage: Add 'stacklevel=2' to deprecation warnings.
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
  storage/tests/unit/test_blob.py
  storage/tests/unit/test_bucket.py
Labels: api: storage, cla: yes

#5910 Don't suggest installing umbrella package
  index.html
Labels: cla: yes, documentation

#5901 Docs: Replace links to '/stable/' with '/latest/'.
  README.rst
  asset/README.rst
  asset/docs/index.rst
  automl/docs/index.rst
  bigtable/docs/index.rst
  datastore/docs/index.rst
  dlp/README.rst
  dlp/docs/index.rst
  docs/index.rst
  docs/requirements.txt
  docs/websecurityscanner
  error_reporting/docs/index.rst
  firestore/docs/index.rst
  iot/README.rst
  iot/docs/index.rst
  kms/README.rst
  kms/docs/index.rst
  logging/docs/index.rst
  oslogin/README.rst
  oslogin/docs/index.rst
  redis/README.rst
  redis/docs/index.rst
  speech/README.rst
  speech/docs/index.rst
  tasks/README.rst
  tasks/docs/index.rst
  texttospeech/README.rst
  texttospeech/docs/index.rst
  trace/docs/index.rst
  websecurityscanner/README.rst
  websecurityscanner/docs/index.rst
Labels: cla: yes, documentation

#5908 Add trace and span_id to logging async API
  logging/google/cloud/logging/handlers/transports/background_thread.py
  logging/google/cloud/logging/handlers/transports/base.py
  logging/google/cloud/logging/handlers/transports/sync.py
  logging/tests/unit/handlers/transports/test_background_thread.py
  logging/tests/unit/handlers/transports/test_sync.py
Labels: cla: yes

#5917 Fix broken links to description of 'Beta'
  speech/README.rst
  speech/docs/index.rst
  speech/synth.py
Labels: cla: yes

#5919 Prep datastore docs for repo split.
  datastore/CHANGELOG.md
  datastore/README.rst
  datastore/docs/batches.rst
  datastore/docs/changelog.md
  datastore/docs/client.rst
  datastore/docs/conf.py
  datastore/docs/entities.rst
  datastore/docs/gapic/v1/api.rst
  datastore/docs/gapic/v1/types.rst
  datastore/docs/helpers.rst
  datastore/docs/index.rst
  datastore/docs/keys.rst
  datastore/docs/queries.rst
  datastore/docs/transactions.rst
  docs/datastore
  docs/datastore/changelog.md
  docs/datastore/usage.rst
  docs/index.rst
Labels: api: datastore, cla: yes, documentation

#5904 Add grpcio-gcp dependency for cloud spanner
  api_core/setup.py
  spanner/setup.py
Labels: cla: yes

#5920 Release vision 0.34.0
  vision/CHANGELOG.md
  vision/setup.py
Labels: cla: yes

#5921 Release speech 0.36.0
  speech/CHANGELOG.md
  speech/setup.py
Labels: cla: yes

#5922 Release api_core 1.4.0
  api_core/CHANGELOG.md
Labels: cla: yes

#5923 Prep storage docs for repo split.
  docs/index.rst
  docs/storage
  docs/storage/changelog.md
  docs/storage/client.rst
  storage/README.rst
  storage/docs/acl.rst
  storage/docs/batch.rst
  storage/docs/blobs.rst
  storage/docs/buckets.rst
  storage/docs/changelog.md
  storage/docs/client.rst
  storage/docs/conf.py
  storage/docs/index.rst
  storage/docs/snippets.py
Labels: api: storage, cla: yes, documentation

#5927 Drop separate testing for grpcio-gcp.
  spanner/nox.py
Labels: api: spanner, cla: yes, testing

#5925 Release spanner 1.5.0
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: api: spanner, cla: yes, packaging

#5926 Release logging 1.7.0
  logging/CHANGELOG.md
  logging/setup.py
Labels: cla: yes

#5930 Retry '502 Bad Gateway' errors by default.
  bigquery/google/cloud/bigquery/retry.py
  bigquery/tests/unit/test_retry.py
Labels: api: bigquery, cla: yes

#5933 Storage docs: fix typos.
  storage/README.rst
  storage/docs/index.rst
Labels: api: storage, cla: yes, documentation

#5936 BigQuery: Remove append sample for orc and parquet formats
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5942 Release storage 1.12.0
  storage/CHANGELOG.md
  storage/setup.py
Labels: api: storage, cla: yes, packaging

#5932 Prep language docs for repo split.
  docs/index.rst
  docs/language
  docs/language/changelog.md
  language/README.rst
  language/docs/api.rst
  language/docs/changelog.md
  language/docs/conf.py
  language/docs/gapic/v1/api.rst
  language/docs/gapic/v1/types.rst
  language/docs/gapic/v1beta2/api.rst
  language/docs/gapic/v1beta2/types.rst
  language/docs/index.rst
  language/docs/usage.rst
Labels: api: language, cla: yes, documentation

#5938 Prep spanner docs for repo split.
  docs/index.rst
  docs/spanner
  docs/spanner/changelog.md
  spanner/README.rst
  spanner/docs/advanced-session-pool-topics.rst
  spanner/docs/api-reference.rst
  spanner/docs/batch-api.rst
  spanner/docs/batch-usage.rst
  spanner/docs/changelog.md
  spanner/docs/client-api.rst
  spanner/docs/client-usage.rst
  spanner/docs/conf.py
  spanner/docs/database-api.rst
  spanner/docs/database-usage.rst
  spanner/docs/gapic/v1/admin_database_api.rst
  spanner/docs/gapic/v1/admin_database_types.rst
  spanner/docs/gapic/v1/admin_instance_api.rst
  spanner/docs/gapic/v1/admin_instance_types.rst
  spanner/docs/gapic/v1/api.rst
  spanner/docs/gapic/v1/transactions.rst
  spanner/docs/gapic/v1/types.rst
  spanner/docs/index.rst
  spanner/docs/instance-api.rst
  spanner/docs/instance-usage.rst
  spanner/docs/keyset-api.rst
  spanner/docs/session-api.rst
  spanner/docs/snapshot-api.rst
  spanner/docs/snapshot-usage.rst
  spanner/docs/streamed-api.rst
  spanner/docs/transaction-api.rst
  spanner/docs/transaction-usage.rst
Labels: api: spanner, cla: yes, documentation

#5941 Prep translate docs for repo split.
  docs/index.rst
  docs/translate
  docs/translate/usage.rst
  translate/README.rst
  translate/docs/changelog.md
  translate/docs/client.rst
  translate/docs/conf.py
  translate/docs/index.rst
  translate/docs/usage.rst
Labels: api: translate, cla: yes, documentation

#5943 Prep logging docs for repo split.
  docs/index.rst
  docs/logging
  docs/logging/changelog.md
  logging/CHANGELOG.md
  logging/README.rst
  logging/docs/changelog.md
  logging/docs/client.rst
  logging/docs/entries.rst
  logging/docs/gapic/v2/api.rst
  logging/docs/gapic/v2/types.rst
  logging/docs/handlers-app-engine.rst
  logging/docs/handlers-container-engine.rst
  logging/docs/handlers.rst
  logging/docs/index.rst
  logging/docs/logger.rst
  logging/docs/metric.rst
  logging/docs/sink.rst
  logging/docs/snippets.py
  logging/docs/stdlib-usage.rst
  logging/docs/transports-base.rst
  logging/docs/transports-sync.rst
  logging/docs/transports-thread.rst
  logging/docs/usage.rst
Labels: api: logging, cla: yes, documentation

#5937 Docs: Add new alpha libraries to README
  README.rst
Labels: api: core, cla: yes, documentation

#5939 Declutter sidebar by supplying explict short titles.
  docs/index.rst
  docs/resource-manager/api.rst
  docs/resource-manager/index.rst
  resource_manager/README.rst
Labels: api: core, cla: yes, documentation

#5935 Fix race condition in recv()'s usage of self.call.
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/bidi.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_bidi.py
Labels: api: pubsub, cla: yes

#5959 Texttospeech: fix up autosynth
  texttospeech/google/cloud/texttospeech.py
  texttospeech/google/cloud/texttospeech_v1/__init__.py
  texttospeech/google/cloud/texttospeech_v1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1/gapic/transports/__init__.py
  texttospeech/google/cloud/texttospeech_v1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1/types.py
  texttospeech/google/cloud/texttospeech_v1beta1/__init__.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/transports/__init__.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1beta1/types.py
  texttospeech/synth.py
  texttospeech/tests/unit/gapic/v1/test_text_to_speech_client_v1.py
  texttospeech/tests/unit/gapic/v1beta1/test_text_to_speech_client_v1beta1.py
Labels: api: text to speech, cla: yes, codegen

#5957 Remove autosynth / tweaks for 'README.rst' / 'setup.py'.
  tasks/synth.py
Labels: api:tasks, cla: yes, codegen

#5929 Fix race condition where pending Ack IDs can be modified by another thread.
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
Labels: api: pubsub, cla: yes

#5961 Monitoring: fix long lines from autosynth
  monitoring/google/__init__.py
  monitoring/google/cloud/__init__.py
  monitoring/google/cloud/monitoring_v3/__init__.py
  monitoring/nox.py
  monitoring/synth.py
Labels: api: monitoring, cla: yes, codegen

#5962 Release pubsub 0.38.0
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#5965 BigQuery: update system test to use test data in bigquery-public-data.
  bigquery/tests/system.py
Labels: cla: yes

#5955 Prep bigquery docs for repo split
  .gitignore
  bigquery/README.rst
  bigquery/docs/.gitignore
  bigquery/docs/changelog.md
  bigquery/docs/dbapi.rst
  bigquery/docs/index.rst
  bigquery/docs/reference.rst
  bigquery/docs/snippets.py
  bigquery/docs/usage.html
  bigquery/nox.py
  docs/bigquery
  docs/bigquery/changelog.md
  docs/conf.py
  docs/index.rst
Labels: api: bigquery_datatransfer, cla: yes, documentation

#5963 Bigtable: refactoring read_rows infrastructure
  bigtable/google/cloud/bigtable/row_data.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/unit/test_row_data.py
Labels: api: bigtable, cla: yes

#5986 Docs: fix leakage of bigquery/spanner sections into sidebar menu.
  bigquery/docs/index.rst
  spanner/docs/index.rst
Labels: api: bigquery, api: spanner, cla: yes, documentation

#5989 Release redis 0.2.0
  redis/CHANGELOG.md
  redis/setup.py
Labels: cla: yes

#5996 Redirect spanner 'usage.html' -> 'index.html'.
  datastore/docs/usage.html
  docs/conf.py
  language/docs/usage.html
  logging/docs/usage.html
  spanner/docs/usage.html
  storage/docs/client.html
  translate/docs/usage.html
Labels: api: spanner, cla: yes, documentation

#5966 Bigtable: smart retry logic to cover errors in 'read_rows()' and 'read_rows(rows_limit)' requests
  bigtable/google/cloud/bigtable/row_data.py
  bigtable/tests/unit/test_row_data.py
Labels: api: bigtable, cla: yes

#5988 Prep asset-0.1.0 release.
  asset/CHANGELOG.md
  asset/docs/changelog.md
  asset/docs/index.rst
  asset/setup.py
Labels: api:asset, cla: yes, packaging

#5998 Asset: fix PyPI name.
  .circleci/config.yml
  appveyor.yml
  asset/CHANGELOG.md
  asset/setup.py
Labels: api:asset, cla: yes, packaging, testing

#6000 Prep firestore docs for repo split.
  docs/firestore
  docs/firestore/changelog.md
  docs/firestore/index.rst
  firestore/README.rst
  firestore/docs/batch.rst
  firestore/docs/changelog.md
  firestore/docs/client.rst
  firestore/docs/collection.rst
  firestore/docs/constants.rst
  firestore/docs/document.rst
  firestore/docs/gapic/v1beta1/api.rst
  firestore/docs/gapic/v1beta1/types.rst
  firestore/docs/index.rst
  firestore/docs/query.rst
  firestore/docs/transaction.rst
  firestore/docs/types.rst
Labels: api: firestore, cla: yes, documentation

#5999 Translate: restore detailed usage docs.
  docs/conf.py
  language/docs/usage.html
  logging/docs/usage.html
  translate/docs/usage.html
Labels: api: translate, cla: yes, documentation

#6001 Prep pubsub docs for repo split.
  docs/pubsub
  docs/pubsub/changelog.md
  docs/pubsub/index.rst
  pubsub/README.rst
  pubsub/docs/changelog.md
  pubsub/docs/index.rst
  pubsub/docs/publisher/api/client.rst
  pubsub/docs/publisher/index.rst
  pubsub/docs/subscriber/api/client.rst
  pubsub/docs/subscriber/api/futures.rst
  pubsub/docs/subscriber/api/message.rst
  pubsub/docs/subscriber/api/scheduler.rst
  pubsub/docs/subscriber/index.rst
  pubsub/docs/types.rst
Labels: api: pubsub, cla: yes, documentation

#6006 Asset: finish rename 'cloudasset' -> 'asset'.
  asset/README.rst
  asset/docs/conf.py
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client.py
  asset/synth.py
Labels: api:asset, cla: yes, codegen, documentation

#6007 Docs: debug broken docs build
  docs/conf.py
  test_utils/scripts/update_docs.sh
Labels: cla: yes, documentation

#6010 Bigtable: re-synth to pick up new deadline configuration.
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_instance_admin_client_config.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client_config.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/enums.py
Labels: api: bigtable, cla: yes

#6011 BigQuery: add support for retrying unstructured 429 / 500 / 502 responses.
  bigquery/google/cloud/bigquery/retry.py
  bigquery/tests/unit/test_retry.py
Labels: api: bigquery, cla: yes

#6027 Release videointelligence 1.4.0
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: api: video intelligence, cla: yes, packaging

#6031 Storage: no longer enforce 'destination.content_type' in 'Blob.compose'.
  storage/google/cloud/storage/blob.py
  storage/tests/system.py
  storage/tests/unit/test_blob.py
Labels: api: storage, cla: yes

#6032 Remove bogus examples of 'database.transaction()'.
  spanner/docs/transaction-usage.rst
Labels: api: spanner, cla: yes, documentation

#6025 Bigtable:Adding __eq__ and __ne__ methods for row set
  bigtable/google/cloud/bigtable/row_set.py
  bigtable/tests/unit/test_row_set.py
Labels: cla: yes

#6038 KMS: exclude 'setup.py' from synth.
  kms/synth.py
Labels: api: kms, cla: yes, codegen

#6041 Resource Manager: bump API version from 'v1beta1' to 'v1'.
  resource_manager/google/cloud/resource_manager/_http.py
Labels: api: resource manager, cla: yes

#6002 Videointelligence: Harmonize / DRY 'README.rst' / 'docs/index.rst'.
  videointelligence/README.rst
  videointelligence/docs/index.rst
Labels: api: video intelligence, cla: yes, documentation

#6003 Vision: Harmonize / DRY 'README.rst' / 'docs/index.rst'.
  vision/README.rst
  vision/docs/index.rst
Labels: api: vision, cla: yes, documentation

#6005 AutoML: Harmonize / DRY 'README.rst' / 'docs/index.rst'.
  automl/README.rst
  automl/docs/changelog.md
  automl/docs/index.rst
Labels: api: automl, cla: yes, documentation

#6013 BigQuery Data Transfer: Harmonize / DRY 'README.rst' / 'docs/index.rst'.
  bigquery_datatransfer/README.rst
  bigquery_datatransfer/docs/index.rst
Labels: api: bigquery_datatransfer, cla: yes, documentation

#6018 Container: harmonize / DRY 'README.rst' / 'docs/index.rst'.
  container/README.rst
  container/docs/changelog.md
  container/docs/index.rst
Labels: api: container, cla: yes, documentation

#6019 Dataproc: harmonize / DRY 'README.rst' / 'docs/index.rst'.
  dataproc/README.rst
  dataproc/docs/changelog.md
  dataproc/docs/index.rst
Labels: api: dataproc, cla: yes, documentation

#6021 KMS: harmonize / DRY 'README.rst' / 'docs/index.rst'.
  kms/README.rst
  kms/docs/changelog.md
  kms/docs/index.rst
Labels: api: kms, cla: yes, documentation

#6017 Speech: Prep docs for repo split.
  docs/speech
  docs/speech/changelog.md
  docs/speech/gapic/v1/api.rst
  docs/speech/gapic/v1/types.rst
  docs/speech/gapic/v1p1beta1/api.rst
  docs/speech/gapic/v1p1beta1/types.rst
  docs/speech/index.rst
  speech/README.rst
  speech/docs/changelog.md
  speech/docs/index.rst
  speech/synth.py
Labels: api: speech, cla: yes, documentation

#6020 DNS: Prep docs for repo split.
  dns/README.rst
  dns/docs/changelog.md
  dns/docs/changes.rst
  dns/docs/client.rst
  dns/docs/index.rst
  dns/docs/resource-record-set.rst
  dns/docs/usage.html
  dns/docs/zone.rst
  docs/conf.py
  docs/dns
  docs/index.rst
Labels: api: dns, cla: yes, documentation

#6022 Resource-manager: prep docs for repo split.
  docs/resource-manager
  docs/resource-manager/changelog.md
  resource_manager/docs/changelog.md
  resource_manager/docs/client.rst
  resource_manager/docs/index.rst
  resource_manager/docs/project.rst
Labels: api: resource manager, cla: yes, documentation

#6024 Trace: Prep docs for repo split.
  docs/trace
  docs/trace/apis.rst
  docs/trace/changelog.md
  docs/trace/conf.py
  docs/trace/index.rst
  docs/trace/starting.rst
  trace/README.rst
  trace/docs/changelog.md
  trace/docs/index.rst
  trace/google/cloud/trace_v1/gapic/trace_service_client.py
Labels: api: trace, cla: yes, documentation

#6014 Bigtable: prep docs for repo split.
  bigtable/README.rst
  bigtable/docs/changelog.md
  bigtable/docs/client-intro.rst
  bigtable/docs/client.rst
  bigtable/docs/cluster.rst
  bigtable/docs/column-family.rst
  bigtable/docs/data-api.rst
  bigtable/docs/gapic/v2/api.rst
  bigtable/docs/gapic/v2/types.rst
  bigtable/docs/index.rst
  bigtable/docs/instance-api.rst
  bigtable/docs/instance.rst
  bigtable/docs/row-data.rst
  bigtable/docs/row-filters.rst
  bigtable/docs/row.rst
  bigtable/docs/table-api.rst
  bigtable/docs/table.rst
  bigtable/docs/usage.rst
  docs/bigtable
  docs/bigtable/changelog.md
  docs/bigtable/usage.rst
  docs/index.rst
Labels: api: bigtable, cla: yes, documentation

#6044 Populate the jobReference from the API response.
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#6054 Release bigquery 1.5.1
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: cla: yes

#6050 Firestore: don't omit originally-empty map values when processing timestamps.
  firestore/google/cloud/firestore_v1beta1/_helpers.py
  firestore/tests/unit/test__helpers.py
Labels: api: firestore, cla: yes

#6049 Spanner: remove extra 'grpc_gcp' system tests.
  spanner/nox.py
Labels: api: spanner, cla: yes, testing

#6047 Resource Manager: 'v1' API is not forward compatible.
  resource_manager/google/cloud/resource_manager/_http.py
Labels: api: resource manager, cla: yes

#6078 Datastore: add 'synth.py'.
  datastore/google/cloud/datastore_v1/gapic/datastore_client.py
  datastore/google/cloud/datastore_v1/gapic/enums.py
  datastore/google/cloud/datastore_v1/gapic/transports/__init__.py
  datastore/google/cloud/datastore_v1/gapic/transports/datastore_grpc_transport.py
  datastore/google/cloud/datastore_v1/proto/datastore_pb2.py
  datastore/google/cloud/datastore_v1/proto/datastore_pb2_grpc.py
  datastore/google/cloud/datastore_v1/proto/entity_pb2.py
  datastore/google/cloud/datastore_v1/proto/query_pb2.py
  datastore/synth.py
Labels: api: datastore, cla: yes, codegen

#6080 Language: add 'synth.py'.
  language/google/cloud/language_v1/gapic/enums.py
  language/google/cloud/language_v1/gapic/language_service_client.py
  language/google/cloud/language_v1/gapic/transports/__init__.py
  language/google/cloud/language_v1/gapic/transports/language_service_grpc_transport.py
  language/google/cloud/language_v1/proto/language_service_pb2.py
  language/google/cloud/language_v1beta2/gapic/enums.py
  language/google/cloud/language_v1beta2/gapic/language_service_client.py
  language/google/cloud/language_v1beta2/gapic/transports/__init__.py
  language/google/cloud/language_v1beta2/gapic/transports/language_service_grpc_transport.py
  language/google/cloud/language_v1beta2/proto/language_service_pb2.py
  language/synth.py
Labels: api: language, cla: yes, codegen

#6082 Error_reporting: add 'synth.py'.
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/enums.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_group_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_stats_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/report_errors_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/__init__.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/error_group_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/error_stats_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/report_errors_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/common_pb2.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/error_group_service_pb2.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/error_group_service_pb2_grpc.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/error_stats_service_pb2.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/error_stats_service_pb2_grpc.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/report_errors_service_pb2.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/report_errors_service_pb2_grpc.py
  error_reporting/synth.py
Labels: api: error reporting, cla: yes, codegen

#6083 Trace: add 'synth.py'.
  trace/google/cloud/trace_v1/__init__.py
  trace/google/cloud/trace_v1/gapic/enums.py
  trace/google/cloud/trace_v1/gapic/trace_service_client.py
  trace/google/cloud/trace_v1/gapic/transports/__init__.py
  trace/google/cloud/trace_v1/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v1/proto/trace_pb2.py
  trace/google/cloud/trace_v1/proto/trace_pb2_grpc.py
  trace/google/cloud/trace_v1/types.py
  trace/google/cloud/trace_v2/__init__.py
  trace/google/cloud/trace_v2/gapic/enums.py
  trace/google/cloud/trace_v2/gapic/trace_service_client.py
  trace/google/cloud/trace_v2/gapic/transports/__init__.py
  trace/google/cloud/trace_v2/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v2/proto/trace_pb2.py
  trace/google/cloud/trace_v2/proto/tracing_pb2.py
  trace/google/cloud/trace_v2/proto/tracing_pb2_grpc.py
  trace/google/cloud/trace_v2/types.py
  trace/synth.py
Labels: api: trace, cla: yes, codegen

#6085 IoT: add 'synth.py'.
  iot/google/cloud/iot_v1/__init__.py
  iot/google/cloud/iot_v1/gapic/device_manager_client.py
  iot/google/cloud/iot_v1/gapic/enums.py
  iot/google/cloud/iot_v1/gapic/transports/__init__.py
  iot/google/cloud/iot_v1/gapic/transports/device_manager_grpc_transport.py
  iot/google/cloud/iot_v1/types.py
  iot/synth.py
Labels: api: iot, cla: yes, codegen

#6087 Websecurityscanner: add 'synth.py'.
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/enums.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/transports/__init__.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/transports/web_security_scanner_grpc_transport.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client.py
  websecurityscanner/synth.py
Labels: api: websecurityscanner, cla: yes, codegen

#6079 Firestore: add 'synth.py'.
  firestore/google/cloud/firestore_v1beta1/gapic/enums.py
  firestore/google/cloud/firestore_v1beta1/gapic/firestore_client.py
  firestore/google/cloud/firestore_v1beta1/gapic/firestore_client_config.py
  firestore/google/cloud/firestore_v1beta1/gapic/transports/__init__.py
  firestore/google/cloud/firestore_v1beta1/gapic/transports/firestore_grpc_transport.py
  firestore/google/cloud/firestore_v1beta1/proto/common_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/document_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/firestore_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/firestore_pb2_grpc.py
  firestore/google/cloud/firestore_v1beta1/proto/query_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/write_pb2.py
  firestore/synth.py
Labels: api: firestore, cla: yes, codegen

#6084 Container: add 'synth.py'.
  container/google/cloud/container_v1/__init__.py
  container/google/cloud/container_v1/gapic/cluster_manager_client.py
  container/google/cloud/container_v1/gapic/enums.py
  container/google/cloud/container_v1/gapic/transports/__init__.py
  container/google/cloud/container_v1/gapic/transports/cluster_manager_grpc_transport.py
  container/google/cloud/container_v1/proto/cluster_service_pb2.py
  container/google/cloud/container_v1/proto/cluster_service_pb2_grpc.py
  container/google/cloud/container_v1/types.py
  container/synth.py
Labels: api: container, cla: yes, codegen

#6089 Add kokoro for videointelligence and remove videointelligence from CircleCI
  .circleci/config.yml
  .kokoro/continuous/videointelligence.cfg
  .kokoro/presubmit/videointelligence.cfg
Labels: cla: yes

#6086 Oslogin: add 'synth.py'.
  oslogin/google/cloud/oslogin_v1/__init__.py
  oslogin/google/cloud/oslogin_v1/gapic/os_login_service_client.py
  oslogin/google/cloud/oslogin_v1/gapic/transports/__init__.py
  oslogin/google/cloud/oslogin_v1/gapic/transports/os_login_service_grpc_transport.py
  oslogin/google/cloud/oslogin_v1/proto/oslogin_pb2.py
  oslogin/google/cloud/oslogin_v1/proto/oslogin_pb2_grpc.py
  oslogin/google/cloud/oslogin_v1/types.py
  oslogin/synth.py
Labels: api: oslogin, cla: yes, codegen

#6100 Remove unused BigQuery append samples
  bigquery/docs/snippets.py
Labels: cla: yes

#6099 BigQuery: address dataset leaks
  bigquery/docs/snippets.py
  bigquery/tests/scrub_datasets.py
  bigquery/tests/system.py
Labels: api: bigquery, cla: yes, flaky, testing

#6102 Bigtable: Harden systest instance teardown against '429 Too Many Requests'.
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes, flaky, testing

#6106 Release dlp 0.8.0
  dlp/CHANGELOG.md
  dlp/setup.py
Labels: api: dlp, cla: yes, packaging

#6110 Storage: ensure that 'method' for 'Blob.generate_signed_url' is uppercase.
  storage/google/cloud/storage/blob.py
  storage/tests/system.py
  storage/tests/unit/test_blob.py
Labels: api: storage, cla: yes

#6088 Adding ability to give default QueryJobConfig to Client
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
Labels: cla: yes

#6111 Add kokoro for translate, remove translate from CircleCI
  .circleci/config.yml
  .kokoro/continuous/translate.cfg
  .kokoro/presubmit/translate.cfg
Labels: api: translate, cla: yes, testing

#6116 Add type-checking via pytype to api_core.
  api_core/nox.py
  api_core/setup.cfg
Labels: cla: yes

#6126 Add kokoro jobs
  .circleci/config.yml
  .kokoro/build.sh
  .kokoro/continuous/asset.cfg
  .kokoro/continuous/automl.cfg
  .kokoro/continuous/bigquery.cfg
  .kokoro/continuous/bigquery_datatransfer.cfg
  .kokoro/continuous/bigtable.cfg
  .kokoro/continuous/container.cfg
  .kokoro/continuous/core.cfg
  .kokoro/continuous/dataproc.cfg
  .kokoro/continuous/datastore.cfg
  .kokoro/continuous/dlp.cfg
  .kokoro/continuous/dns.cfg
  .kokoro/continuous/error_reporting.cfg
  .kokoro/continuous/firestore.cfg
  .kokoro/continuous/iot.cfg
  .kokoro/continuous/kms.cfg
  .kokoro/continuous/language.cfg
  .kokoro/continuous/logging.cfg
  .kokoro/continuous/monitoring.cfg
  .kokoro/continuous/oslogin.cfg
  .kokoro/continuous/pubsub.cfg
  .kokoro/continuous/redis.cfg
  .kokoro/continuous/resource_manager.cfg
  .kokoro/continuous/runtimeconfig.cfg
  .kokoro/continuous/spanner.cfg
  .kokoro/continuous/tasks.cfg
  .kokoro/continuous/texttospeech.cfg
  .kokoro/continuous/websecurityscanner.cfg
  .kokoro/presubmit/asset.cfg
  .kokoro/presubmit/automl.cfg
  .kokoro/presubmit/bigquery.cfg
  .kokoro/presubmit/bigquery_datatransfer.cfg
  .kokoro/presubmit/bigtable.cfg
  .kokoro/presubmit/container.cfg
  .kokoro/presubmit/core.cfg
  .kokoro/presubmit/dataproc.cfg
  .kokoro/presubmit/datastore.cfg
  .kokoro/presubmit/dlp.cfg
  .kokoro/presubmit/dns.cfg
  .kokoro/presubmit/error_reporting.cfg
  .kokoro/presubmit/firestore.cfg
  .kokoro/presubmit/iot.cfg
  .kokoro/presubmit/kms.cfg
  .kokoro/presubmit/language.cfg
  .kokoro/presubmit/logging.cfg
  .kokoro/presubmit/monitoring.cfg
  .kokoro/presubmit/oslogin.cfg
  .kokoro/presubmit/pubsub.cfg
  .kokoro/presubmit/redis.cfg
  .kokoro/presubmit/resource_manager.cfg
  .kokoro/presubmit/runtimeconfig.cfg
  .kokoro/presubmit/spanner.cfg
  .kokoro/presubmit/tasks.cfg
  .kokoro/presubmit/texttospeech.cfg
  .kokoro/presubmit/websecurityscanner.cfg
Labels: cla: yes

#6118 Logging: support request-correlated logging in App Engine standard python37 runtime
  logging/google/cloud/logging/client.py
  logging/google/cloud/logging/handlers/app_engine.py
  logging/tests/unit/handlers/test_app_engine.py
Labels: api: logging, cla: yes

#6132 Pin minimum protobuf dependency to 3.4.0.
  api_core/setup.py
Labels: api: compute, cla: yes, packaging

#6133 Release api_core 1.4.1
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: api: core, cla: yes, packaging

#6134 Bump minimum 'api_core' version to '1.4.1'.
  pubsub/setup.py
Labels: api: pubsub, cla: yes, packaging

#6104 Clarify GCS URL signing limitations on GCE
  storage/google/cloud/storage/blob.py
Labels: api: storage, auth, cla: yes, type: docs

#6103 Accomodate payload-less log entries.
  logging/google/cloud/logging/_helpers.py
  logging/google/cloud/logging/entries.py
  logging/google/cloud/logging/logger.py
  logging/tests/unit/test__helpers.py
  logging/tests/unit/test_entries.py
  logging/tests/unit/test_logger.py
Labels: api: logging, cla: yes

#5534 Add support for bucket retention policies
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
  storage/tests/system.py
  storage/tests/unit/test_blob.py
  storage/tests/unit/test_bucket.py
Labels: api: storage, cla: yes
