Repository googleapis/google-cloud-python, pull requests merged in 2018-07, with the labels that each got.

#5545 table.exists() implemented. Unit test added for exists()
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#5558 Kokoro Docs Builds
  .kokoro/build-docs.sh
  .kokoro/common.cfg
  .kokoro/docs.cfg
  test_utils/scripts/update_docs.sh
Labels: cla: yes

#5551 Harden '_list_entries' further against backoff failure.
  logging/tests/system/test_system.py
Labels: api: logging, cla: yes, flaky, testing

#5566 Print job progress in load job examples.
  docs/bigquery/snippets.py
Labels: cla: yes

#5578 Release speech 0.35.0
  speech/CHANGELOG.md
  speech/setup.py
Labels: cla: yes

#5569 Logging: s/print/logging.info/
  logging/google/cloud/logging/handlers/transports/background_thread.py
Labels: cla: yes

#5579 Regenerate tasks, fixup API enablement URL
  tasks/README.rst
  tasks/docs/conf.py
  tasks/docs/index.rst
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client_config.py
  tasks/google/cloud/tasks_v2beta2/gapic/enums.py
  tasks/google/cloud/tasks_v2beta2/gapic/transports/__init__.py
  tasks/google/cloud/tasks_v2beta2/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks_pb2_grpc.py
  tasks/google/cloud/tasks_v2beta2/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/task_pb2.py
  tasks/google/cloud/tasks_v2beta2/types.py
  tasks/nox.py
  tasks/setup.py
  tasks/synth.py
Labels: cla: yes

#5582 Update docs to show pyarrow as the only dependency of load_table_from_dataframe()
  bigquery/google/cloud/bigquery/client.py
  docs/bigquery/usage.rst
Labels: api: bigquery, cla: yes, documentation

#5590 Skip update_table and update_dataset tests until etag issue is resolved.
  bigquery/tests/system.py
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes

#5513 BigTable: Add split keys on create table - v2
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#5584 Allow listing rows on an empty table.
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#5567 Bigtable: DirectRow without a table
  bigtable/google/cloud/bigtable/row.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/unit/test_row.py
Labels: api: bigtable, cla: yes

#5576 Bigtable: Table.create() now creates families.
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#5599 Add 'internalError' to retryable error reasons.
  bigquery/google/cloud/bigquery/retry.py
  bigquery/tests/unit/test_retry.py
Labels: api: bigquery, cla: yes

#5506 Bigtable : Implement row set for yield_rows
  .settings/org.eclipse.core.resources.prefs
  bigtable/google/cloud/bigtable/row_data.py
  bigtable/google/cloud/bigtable/row_set.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_row_data.py
  bigtable/tests/unit/test_row_set.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#5602 Don't raise exception when fetching CREATE VIEW query results
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_table.py
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, priority: p1

#5594 Monitoring: Add Transports Layer, Remove gRPC size restrictions (4MB default)
  monitoring/google/cloud/monitoring_v3/gapic/alert_policy_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/group_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/metric_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/notification_channel_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/__init__.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/alert_policy_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/group_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/metric_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/notification_channel_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/uptime_check_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/uptime_check_service_client.py
  monitoring/synth.py
Labels: api: monitoring, cla: yes

#5607 Fixing the broken Bigtable system test.
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/system.py
Labels: cla: yes

#5605 Adding optional app profile on instance.table()
  bigtable/google/cloud/bigtable/instance.py
  bigtable/tests/unit/test_instance.py
Labels: api: bigtable, cla: yes

#5604 Release bigquery 1.4.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: cla: yes

#5609 fix path error for docs building script
  .kokoro/build-docs.sh
Labels: cla: yes

#5611 Fix #5608. Correct replacement in synth script, regenerate
  monitoring/google/cloud/monitoring_v3/gapic/alert_policy_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/group_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/metric_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/notification_channel_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/alert_policy_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/group_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/metric_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/notification_channel_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/uptime_check_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/uptime_check_service_client.py
  monitoring/synth.py
Labels: api: monitoring, cla: yes

#5616 Release monitoring 0.30.1
  monitoring/CHANGELOG.md
  monitoring/setup.py
Labels: cla: yes

#5617 VideoIntelligence: Add synth script. Generating all libs but skipping tests
  docs/videointelligence
  docs/videointelligence/gapic/v1beta1/api.rst
  docs/videointelligence/gapic/v1beta1/types.rst
  docs/videointelligence/gapic/v1beta2/api.rst
  docs/videointelligence/gapic/v1beta2/types.rst
  videointelligence/LICENSE
  videointelligence/MANIFEST.in
  videointelligence/docs/changelog.md
  videointelligence/docs/conf.py
  videointelligence/docs/gapic/v1/api.rst
  videointelligence/docs/gapic/v1/types.rst
  videointelligence/docs/gapic/v1beta1/api.rst
  videointelligence/docs/gapic/v1beta1/types.rst
  videointelligence/docs/gapic/v1beta2/api.rst
  videointelligence/docs/gapic/v1beta2/types.rst
  videointelligence/docs/gapic/v1p1beta1/api.rst
  videointelligence/docs/gapic/v1p1beta1/types.rst
  videointelligence/docs/index.rst
  videointelligence/google/__init__.py
  videointelligence/google/cloud/__init__.py
  videointelligence/google/cloud/videointelligence.py
  videointelligence/google/cloud/videointelligence_v1/__init__.py
  videointelligence/google/cloud/videointelligence_v1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1/gapic/transports/__init__.py
  videointelligence/google/cloud/videointelligence_v1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2_grpc.py
  videointelligence/google/cloud/videointelligence_v1/types.py
  videointelligence/google/cloud/videointelligence_v1beta1/__init__.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/transports/__init__.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1beta1/proto/video_intelligence_pb2_grpc.py
  videointelligence/google/cloud/videointelligence_v1beta1/types.py
  videointelligence/google/cloud/videointelligence_v1beta2/__init__.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/transports/__init__.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1beta2/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1beta2/proto/video_intelligence_pb2_grpc.py
  videointelligence/google/cloud/videointelligence_v1beta2/types.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/transports/__init__.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/types.py
  videointelligence/nox.py
  videointelligence/synth.py
Labels: cla: yes

#5620 Fix failing build caused by missing system tests (video-intelligence)
  videointelligence/nox.py
  videointelligence/synth.py
Labels: cla: yes

#5623 Release videointelligence 1.3.0
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: cla: yes

#5613 Add 'Document.collections' method.
  firestore/google/cloud/firestore_v1beta1/document.py
  firestore/tests/system.py
  firestore/tests/unit/test_document.py
Labels: api: firestore, cla: yes

#5628 Removes unused helper function
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5627 Refactors snippets to only delete datasets + contents rather than tables
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5625 Fix generating signed urls for blobs with non-ascii names
  storage/google/cloud/storage/blob.py
  storage/tests/unit/test_blob.py
Labels: api: storage, cla: yes

#5634 Remove unnecessary sample
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5631 Add/refactor snippets for managing BigQuery jobs
  bigquery/google/cloud/bigquery/client.py
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5614 Bigtable: Add 'instance_type', 'labels' to 'Instance' ctor
  bigtable/google/cloud/bigtable/client.py
  bigtable/google/cloud/bigtable/enums.py
  bigtable/google/cloud/bigtable/instance.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_client.py
  bigtable/tests/unit/test_instance.py
Labels: api: bigtable, cla: yes

#5641 Shorten instance / cluster name to fix CI breakage.
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes, testing

#5626 Add system test: signed URLs w/ non-ASCII blob name.
  storage/tests/system.py
Labels: api: storage, cla: yes, testing

#5633 Pubsub: Make 'Message.publish_time' return datetime
  pubsub/google/cloud/pubsub_v1/subscriber/message.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_message.py
Labels: api: pubsub, cla: yes

#5642 Generate automl v1beta1
  automl/.coveragerc
  automl/.flake8
  automl/LICENSE
  automl/MANIFEST.in
  automl/README.rst
  automl/docs/conf.py
  automl/docs/gapic/v1beta1/api.rst
  automl/docs/gapic/v1beta1/types.rst
  automl/docs/index.rst
  automl/google/__init__.py
  automl/google/cloud/__init__.py
  automl/google/cloud/automl.py
  automl/google/cloud/automl_v1beta1/__init__.py
  automl/google/cloud/automl_v1beta1/gapic/__init__.py
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client_config.py
  automl/google/cloud/automl_v1beta1/gapic/enums.py
  automl/google/cloud/automl_v1beta1/gapic/prediction_service_client.py
  automl/google/cloud/automl_v1beta1/gapic/prediction_service_client_config.py
  automl/google/cloud/automl_v1beta1/gapic/transports/__init__.py
  automl/google/cloud/automl_v1beta1/gapic/transports/auto_ml_grpc_transport.py
  automl/google/cloud/automl_v1beta1/gapic/transports/prediction_service_grpc_transport.py
  automl/google/cloud/automl_v1beta1/proto/__init__.py
  automl/google/cloud/automl_v1beta1/proto/annotation_payload_pb2.py
  automl/google/cloud/automl_v1beta1/proto/annotation_payload_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/classification_pb2.py
  automl/google/cloud/automl_v1beta1/proto/classification_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/data_items_pb2.py
  automl/google/cloud/automl_v1beta1/proto/data_items_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/dataset_pb2.py
  automl/google/cloud/automl_v1beta1/proto/dataset_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/image_pb2.py
  automl/google/cloud/automl_v1beta1/proto/image_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/io_pb2.py
  automl/google/cloud/automl_v1beta1/proto/io_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/model_evaluation_pb2.py
  automl/google/cloud/automl_v1beta1/proto/model_evaluation_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/model_pb2.py
  automl/google/cloud/automl_v1beta1/proto/model_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/operations_pb2.py
  automl/google/cloud/automl_v1beta1/proto/operations_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/prediction_service_pb2.py
  automl/google/cloud/automl_v1beta1/proto/prediction_service_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/service_pb2.py
  automl/google/cloud/automl_v1beta1/proto/service_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/text_pb2.py
  automl/google/cloud/automl_v1beta1/proto/text_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/translation_pb2.py
  automl/google/cloud/automl_v1beta1/proto/translation_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/types.py
  automl/nox.py
  automl/setup.cfg
  automl/setup.py
  automl/synth.py
  automl/tests/unit/gapic/v1beta1/test_auto_ml_client_v1beta1.py
  automl/tests/unit/gapic/v1beta1/test_prediction_service_client_v1beta1.py
  docs/automl
  docs/index.rst
  docs/requirements.txt
Labels: cla: yes

#5647 Release automl 0.1.0
  automl/CHANGELOG.md
Labels: cla: yes

#5648 bad trove classifier
  automl/setup.py
Labels: cla: yes

#5658 Release dataproc 0.1.2
  dataproc/CHANGELOG.md
  dataproc/setup.py
Labels: api: dataproc, cla: yes

#5655 BigQuery: Add 'QueryJob.estimated_bytes_processed' property
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#5654 BigQuery: add support for job labels
  bigquery/google/cloud/bigquery/dataset.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_dataset.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#5656 tasks missing from docs
  docs/index.rst
  docs/requirements.txt
  docs/tasks
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/gapic/enums.py
  tasks/google/cloud/tasks_v2beta2/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks_pb2_grpc.py
  tasks/google/cloud/tasks_v2beta2/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/task_pb2.py
  tasks/synth.py
Labels: api:tasks, cla: yes

#5665 Synth.py and Generate KMS v1
  kms/LICENSE
  kms/MANIFEST.in
  kms/README.rst
  kms/docs/conf.py
  kms/docs/gapic/v1/api.rst
  kms/docs/gapic/v1/types.rst
  kms/docs/index.rst
  kms/google/__init__.py
  kms/google/cloud/__init__.py
  kms/google/cloud/kms.py
  kms/google/cloud/kms_v1/__init__.py
  kms/google/cloud/kms_v1/gapic/__init__.py
  kms/google/cloud/kms_v1/gapic/enums.py
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/google/cloud/kms_v1/gapic/key_management_service_client_config.py
  kms/google/cloud/kms_v1/gapic/transports/__init__.py
  kms/google/cloud/kms_v1/gapic/transports/key_management_service_grpc_transport.py
  kms/google/cloud/kms_v1/proto/__init__.py
  kms/google/cloud/kms_v1/proto/resources_pb2.py
  kms/google/cloud/kms_v1/proto/resources_pb2_grpc.py
  kms/google/cloud/kms_v1/proto/service_pb2.py
  kms/google/cloud/kms_v1/proto/service_pb2_grpc.py
  kms/google/cloud/kms_v1/types.py
  kms/nox.py
  kms/setup.cfg
  kms/setup.py
  kms/synth.py
  kms/tests/unit/gapic/v1/test_key_management_service_client_v1.py
Labels: cla: yes

#5667 Release kms 0.1.0
  docs/index.rst
  docs/kms
  docs/requirements.txt
  kms/CHANGELOG.md
Labels: cla: yes

#5669 Firestore API: Fix return type name (unbalanced brackets) in pydoc.
  firestore/google/cloud/firestore_v1beta1/document.py
Labels: cla: yes

#5622 Bigtable: Ability to create an instance with multiple clusters
  bigtable/google/cloud/bigtable/cluster.py
  bigtable/google/cloud/bigtable/instance.py
  bigtable/tests/unit/test_cluster.py
  bigtable/tests/unit/test_instance.py
Labels: api: bigtable, cla: yes

#5677 Release automl 0.1.1
  automl/CHANGELOG.md
  automl/docs/index.rst
  automl/setup.py
Labels: cla: yes

#5679 fix #5676 by including iot docs in build
  docs/index.rst
  docs/iot
  docs/requirements.txt
  iot/docs/index.rst
Labels: cla: yes

#5666 regenerate dlp v2 library
  dlp/LICENSE
  dlp/MANIFEST.in
  dlp/README.rst
  dlp/docs/index.rst
  dlp/google/__init__.py
  dlp/google/cloud/__init__.py
  dlp/google/cloud/dlp.py
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py
  dlp/google/cloud/dlp_v2/gapic/enums.py
  dlp/google/cloud/dlp_v2/gapic/transports/__init__.py
  dlp/google/cloud/dlp_v2/gapic/transports/dlp_service_grpc_transport.py
  dlp/google/cloud/dlp_v2/proto/dlp_pb2.py
  dlp/google/cloud/dlp_v2/proto/dlp_pb2_grpc.py
  dlp/google/cloud/dlp_v2/proto/storage_pb2.py
  dlp/google/cloud/dlp_v2/types.py
  dlp/nox.py
  dlp/setup.py
  dlp/synth.py
Labels: api: dlp, cla: yes

#5682 Release dlp 0.6.0
  dlp/CHANGELOG.md
  dlp/setup.py
Labels: cla: yes

#5320 Api Core: add a method that calculates a fieldmask from two messages
  api_core/google/api_core/protobuf_helpers.py
  api_core/tests/unit/test_protobuf_helpers.py
Labels: api: core, cla: yes, type: feature request

#5674 Add 'ExternalSourceFormat' enum.
  bigquery/google/cloud/bigquery/__init__.py
  bigquery/google/cloud/bigquery/external_config.py
  bigquery/google/cloud/bigquery/job.py
  docs/bigquery/reference.rst
Labels: api: bigquery, cla: yes, documentation

#5687 Make 'Table.location' read-only.
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, automerge, cla: yes

#5678 BigQuery add default location to client
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, automerge, cla: yes

#5688 Add basic Kokoro config for api_core.
  .kokoro/api_core-continuous.cfg
  .kokoro/api_core-presubmit.cfg
  .kokoro/build.sh
  .kokoro/common.cfg
  .kokoro/docs.cfg
  .kokoro/trampoline.sh
  test_utils/scripts/get_target_packages_kokoro.py
Labels: cla: yes

#5690 Correct description of CopyJob sources param
  bigquery/google/cloud/bigquery/job.py
Labels: cla: yes

#5693 Add 'Message.ack_id' property.
  pubsub/google/cloud/pubsub_v1/subscriber/message.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_message.py
Labels: api: pubsub, cla: yes

#5683 Release datastore 1.7.0
  datastore/CHANGELOG.md
  datastore/setup.py
Labels: api: datastore, cla: yes

#5684 Bigtable: refactor update_app_profile() to remove update_mask argument
  bigtable/google/cloud/bigtable/enums.py
  bigtable/google/cloud/bigtable/instance.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/enums.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_instance.py
Labels: api: bigtable, cla: yes

#5643 Bigtable: Switching implementation of instance.update() to partial_instance_update()
  bigtable/google/cloud/bigtable/instance.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_cluster.py
  bigtable/tests/unit/test_instance.py
Labels: api: bigtable, cla: no

#5700 Release api_core 1.3.0
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: cla: yes

#5696 Bigtable: further harden 'test_list_instances' systest
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes

#5702 Update classifiers to drop Python 3.4 and add Python 3.7
  api_core/setup.py
Labels: cla: yes

#5553 Connection management support (with optional grpc_gcp dependency)
  .gitignore
  api_core/google/api_core/grpc_helpers.py
  api_core/nox.py
  api_core/tests/unit/test_grpc_helpers.py
  spanner/MANIFEST.in
  spanner/google/cloud/spanner_v1/gapic/spanner.grpc.config
  spanner/google/cloud/spanner_v1/gapic/spanner_client.py
  spanner/nox.py
  spanner/tests/unit/gapic/v1/test_spanner_client_v1.py
Labels: api: core, api: spanner, cla: yes

#5699 BigQuery: Harden 'test_list_datasets_by_label' against overlapping CI runs.
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, testing

#5704 Skip the flaky 'test_update_database_ddl' systest.
  spanner/tests/system/test_system.py
Labels: api: spanner, cla: yes, testing

#5698 Logging: unflake systests
  logging/tests/system/test_system.py
Labels: api: logging, cla: yes, testing

#5701 Storage: Harden systest 'tearDownModule' against 429 TooManyRequests.
  storage/tests/system.py
Labels: api: storage, cla: yes, testing

#5705 deprecate google-cloud
  legacy/google-cloud/setup.py
Labels: cla: yes

#5708 update Task library doc link
  tasks/README.rst
Labels: cla: yes

#5630 Add 'Table.clustering_fields' property.
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/system.py
  bigquery/tests/unit/test__helpers.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes, do not merge, type: feature request

#5709 Adds more context to sample
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5663 Bigtable: Reshaping cluster.py, adding cluster() factory to instance.py
  bigtable/google/cloud/bigtable/cluster.py
  bigtable/google/cloud/bigtable/enums.py
  bigtable/google/cloud/bigtable/instance.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_client.py
  bigtable/tests/unit/test_cluster.py
  bigtable/tests/unit/test_instance.py
Labels: api: bigtable, cla: yes

#5712 BigQuery: bounds verification for bigquery_undelete_table
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, testing
