Repository googleapis/google-cloud-python, pull requests merged in 2018-08, with the labels that each got.

#5719 Bigtable: shortening cluster ID in system tests
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes

#5721 Fix typo in Client links
  docs/spanner/usage.rst
Labels: api: spanner, cla: yes, documentation

#5711 Add support/tests for loading tables from 'gzip.GzipFile'.
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#5733 BigQuery: Delint snippet
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, testing

#5732 BigQuery: Reenable systests for 'dataset.update'/'table.update'.
  bigquery/tests/system.py
Labels: api: bigquery, cla: yes, testing

#5714 BigQuery: do the time conversions for undeletion
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes

#5735 Release bigquery 1.5.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: cla: yes

#5728 BIgtable: public API 'instance.labels' type to dictionary
  bigtable/google/cloud/bigtable/cluster.py
  bigtable/google/cloud/bigtable/instance.py
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes

#5739 Fix usage.rst multiprocessing docs in spanner
  docs/spanner/usage.rst
Labels: api: spanner, cla: yes, documentation

#5651 BigTable: Create MutationBatcher for bigtable
  bigtable/google/cloud/bigtable/batcher.py
  bigtable/google/cloud/bigtable/row.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/unit/test_batcher.py
  bigtable/tests/unit/test_row.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#5736 Bigtable : Adding _state to instance.py
  bigtable/google/cloud/bigtable/instance.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_instance.py
Labels: api: bigtable, automerge, cla: yes

#5729 Bigtable: adding labels {'python-system': ISO-timestamp} to instance object
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes, testing

#5741 Retry 'notification.create()' on '503 ServiceUnavailable'.
  storage/tests/system.py
Labels: api: storage, cla: yes, flaky

#5737 Retry 'test_transaction_read_and_insert_then_rollback' when aborted.
  spanner/tests/system/test_system.py
Labels: api: spanner, cla: yes, flaky, testing

#5745 Redis: Fix README.md links
  redis/README.rst
Labels: api:redis, cla: yes, documentation

#5753 Fix '_time_from_json' for values with micros.
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/tests/unit/test__helpers.py
Labels: api: bigquery, cla: yes

#5756 Fix '_time_from_iso8601_time_naive' for values with micros.
  core/google/cloud/_helpers.py
  core/tests/unit/test__helpers.py
Labels: api: core, cla: yes

#5734 Spanner: add support for session / pool labels
  spanner/google/cloud/spanner_v1/database.py
  spanner/google/cloud/spanner_v1/pool.py
  spanner/google/cloud/spanner_v1/session.py
  spanner/tests/system/test_system.py
  spanner/tests/unit/test_database.py
  spanner/tests/unit/test_pool.py
  spanner/tests/unit/test_session.py
Labels: api: spanner, cla: yes

#5757 Remove unused snippet
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation

#5758 Ensure SPM methods check that 'self._consumer' is not None before use.
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes

#5749 Bigtable optimize 'Table.exists' performance
  bigtable/google/cloud/bigtable/enums.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes, performance

#5761 Release dataproc 0.2.0
  dataproc/CHANGELOG.md
  dataproc/setup.py
Labels: cla: yes

#5760 BigQuery: Harden snippets vs. 429 TooManyRequests.
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation, flaky

#5766 BigQuery: fix snippets lint issue.
  docs/bigquery/snippets.py
Labels: api: bigquery, cla: yes, documentation, testing

#5765 Storage: Add 'Client.get_service_account_email'.
  storage/google/cloud/storage/client.py
  storage/tests/system.py
  storage/tests/unit/test_client.py
Labels: api: storage, cla: yes

#5596 Trace: Pass credentials into TraceServiceClient
  trace/google/cloud/trace/__init__.py
  trace/google/cloud/trace/_gapic.py
  trace/google/cloud/trace/v1/_gapic.py
Labels: api: trace, cla: yes

#5767 Storage: elaborate docs for '{Bucket,Blob}.make_{public,private}'.
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
Labels: api: storage, cla: yes, documentation

#5778 Update top-level README to indicate support for App Engine Python 3.
  README.rst
Labels: cla: yes

#5786 Release pubsub 0.36.0
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#5784 Make Publisher batch-related interfaces private
  docs/pubsub/publisher/api/batch.rst
  docs/pubsub/publisher/index.rst
  pubsub/google/cloud/pubsub_v1/publisher/_batch/__init__.py
  pubsub/google/cloud/pubsub_v1/publisher/_batch/base.py
  pubsub/google/cloud/pubsub_v1/publisher/_batch/thread.py
  pubsub/google/cloud/pubsub_v1/publisher/client.py
  pubsub/tests/unit/pubsub_v1/publisher/batch/test_base.py
  pubsub/tests/unit/pubsub_v1/publisher/batch/test_thread.py
  pubsub/tests/unit/pubsub_v1/publisher/test_publisher_client.py
Labels: cla: yes

#5793 create synth script, bigquery-datatransfer
  bigquery_datatransfer/LICENSE
  bigquery_datatransfer/google/__init__.py
  bigquery_datatransfer/google/cloud/__init__.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/__init__.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/enums.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/transports/__init__.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/transports/data_transfer_service_grpc_transport.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/datatransfer_pb2.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/datatransfer_pb2_grpc.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/transfer_pb2.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/types.py
  bigquery_datatransfer/synth.py
  bigquery_datatransfer/tests/system/gapic/v1/test_system_data_transfer_service_v1.py
  bigquery_datatransfer/tests/unit/gapic/v1/test_data_transfer_service_client_v1.py
Labels: cla: yes

#5794 Release bigquery_datatransfer 0.2.0
  bigquery_datatransfer/CHANGELOG.md
  bigquery_datatransfer/setup.py
Labels: cla: yes

#5795 Release Pub/Sub 0.37.0
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#5802 Bigtable: add 'Instance.exists()'
  bigtable/google/cloud/bigtable/instance.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_instance.py
Labels: cla: yes

#5810 Release pubsub 0.37.1
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#5809 Synth DLP. Update to include StoredInfoTypes
  dlp/google/cloud/dlp_v2/gapic/enums.py
  dlp/google/cloud/dlp_v2/proto/storage_pb2.py
  dlp/synth.py
Labels: cla: yes

#5811 Release dlp 0.7.0
  dlp/CHANGELOG.md
  dlp/setup.py
Labels: cla: yes

#5782 Bigtable: app_profile_object
  bigtable/google/cloud/bigtable/app_profile.py
  bigtable/google/cloud/bigtable/instance.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_app_profile.py
  bigtable/tests/unit/test_instance.py
Labels: api: bigtable, cla: yes

#5808 Move location specification to Bucket.create and deprecate location setter
  storage/google/cloud/storage/bucket.py
  storage/google/cloud/storage/client.py
  storage/tests/unit/test_bucket.py
Labels: cla: yes

#5815 fix #5668 by fixing docs issues in DLP generation
  dlp/google/cloud/dlp_v2/proto/dlp_pb2.py
  dlp/google/cloud/dlp_v2/proto/storage_pb2.py
  dlp/synth.py
Labels: cla: yes

#5817 Generate cloud asset library v1beta1
  asset/LICENSE
  asset/MANIFEST.in
  asset/README.rst
  asset/docs/conf.py
  asset/docs/gapic/v1beta1/api.rst
  asset/docs/gapic/v1beta1/types.rst
  asset/docs/index.rst
  asset/google/__init__.py
  asset/google/cloud/__init__.py
  asset/google/cloud/asset.py
  asset/google/cloud/asset_v1beta1/__init__.py
  asset/google/cloud/asset_v1beta1/gapic/__init__.py
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client_config.py
  asset/google/cloud/asset_v1beta1/gapic/enums.py
  asset/google/cloud/asset_v1beta1/gapic/transports/__init__.py
  asset/google/cloud/asset_v1beta1/gapic/transports/asset_service_grpc_transport.py
  asset/google/cloud/asset_v1beta1/proto/__init__.py
  asset/google/cloud/asset_v1beta1/proto/asset_service_pb2.py
  asset/google/cloud/asset_v1beta1/proto/asset_service_pb2_grpc.py
  asset/google/cloud/asset_v1beta1/proto/assets_pb2.py
  asset/google/cloud/asset_v1beta1/proto/assets_pb2_grpc.py
  asset/google/cloud/asset_v1beta1/types.py
  asset/nox.py
  asset/setup.cfg
  asset/setup.py
  asset/synth.py
  asset/tests/unit/gapic/v1beta1/test_asset_service_client_v1beta1.py
  docs/asset
  docs/index.rst
  docs/requirements.txt
Labels: cla: yes

#5762 Spanner: fix copy-pasta in database usage docs.
  docs/spanner/database-usage.rst
Labels: api: spanner, cla: yes, documentation

#5763 Storage: document thread-safety of client.
  docs/storage/client.rst
Labels: api: storage, cla: yes, documentation

#5764 Spanner: fix Sphinx crossrefs to 'Client'.
  docs/spanner/usage.rst
Labels: api: spanner, cla: yes, documentation

#5775 Use development installs for docs env.
  docs/requirements.txt
Labels: api: core, cla: yes, documentation

#5822 Fix Sphinx rendering for publisher client.
  pubsub/google/cloud/pubsub_v1/publisher/client.py
Labels: api: pubsub, cla: yes, type: docs

#5825 Re-generate library, removing obsolete synth modifications.
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/synth.py
  pubsub/tests/unit/pubsub_v1/publisher/test_publisher_client.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_subscriber_client.py
Labels: cla: yes

#5826 Fix classmethod wrapping
  pubsub/google/cloud/pubsub_v1/_gapic.py
Labels: cla: yes

#5790 Bigtable: get Cluster states
  bigtable/google/cloud/bigtable/enums.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#5828 Add test for testing invoking a wrapped class method on the class itself
  pubsub/tests/unit/pubsub_v1/publisher/test_publisher_client.py
Labels: cla: yes

#5829 Release pubsub 0.37.2
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#5832 Storage: Fix failing system tests
  storage/nox.py
  storage/tests/system.py
Labels: cla: yes

#5837 Fix failing system tests
  storage/tests/system.py
Labels: cla: yes

#5836 Fix failing systest: 'test_create_instance_w_two_clusters'.
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes, testing

#5851 Vision: Clean up feature introspection.
  vision/google/cloud/vision_helpers/__init__.py
  vision/google/cloud/vision_helpers/decorators.py
Labels: api: vision, cla: yes

#5840 Bigtable: consolidating read_rows and yield_rows
  bigtable/google/cloud/bigtable/row_data.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_row_data.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#5853 Release bigtable 0.30.0
  bigtable/CHANGELOG.md
  bigtable/setup.py
Labels: cla: yes

#5857 Test pandas support under Python 3.7.
  bigquery/nox.py
Labels: api: bigquery, automerge, cla: yes, packaging, testing

#5858 Monitoring: test pandas under all supported Python versions
  monitoring/nox.py
  monitoring/setup.py
Labels: api: monitoring, cla: yes, packaging, testing

#5860 Clean up KMS test setup.
  storage/tests/system.py
Labels: api: storage, cla: yes, testing

#5773 Resource_manager: Remove alpha warning for 'projects.create' API.
  docs/resource-manager/api.rst
Labels: api: resource manager, cla: yes, documentation

#5821 Datastore: Expose 'Client.base_url' property.
  datastore/google/cloud/datastore/client.py
  datastore/tests/unit/test_client.py
Labels: api: datastore, cla: yes, type: feature request

#5856 Prep storage-1.11.0 release.
  storage/CHANGELOG.md
  storage/setup.py
Labels: api: storage, cla: yes, packaging

#5862 print() is a function in Python 3
  bigquery/benchmark/benchmark.py
  spanner/benchmark/ycsb.py
Labels: api: spanner, cla: yes, performance, testing

#5865 Nox: use inplace installs
  bigquery/nox.py
  bigtable/nox.py
  container/nox.py
  core/nox.py
  datastore/nox.py
  dns/nox.py
  error_reporting/nox.py
  firestore/nox.py
  language/nox.py
  logging/nox.py
  pubsub/nox.py
  redis/nox.py
  resource_manager/nox.py
  spanner/nox.py
  storage/nox.py
  trace/nox.py
  translate/nox.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/types.py
  websecurityscanner/nox.py
Labels: api: bigquery, api: bigtable, api: container, api: core, api: datastore, api: dns, api: error reporting, api: firestore, api: language, api: logging, api: monitoring, api: pubsub, api: resource manager, api: spanner, api: storage, api: trace, api: translate, api:redis, cla: yes, testing

#5868 Add docs for modify_ack_deadline to pubsub docs
  docs/pubsub/subscriber/api/message.rst
Labels: cla: yes

#5870 Avoid pulling entire result set into memory when constructing dataframe.
  bigquery/google/cloud/bigquery/table.py
Labels: api: bigquery, cla: yes, performance
