Repository googleapis/google-cloud-python, pull requests merged in 2018-11, with the labels that each got.

#6361 Vision: pick up addition of 'product_search_client' to 'vision_v1'
  vision/google/cloud/vision_v1/__init__.py
  vision/google/cloud/vision_v1/gapic/enums.py
  vision/google/cloud/vision_v1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1/gapic/product_search_client_config.py
  vision/google/cloud/vision_v1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_pb2_grpc.py
  vision/google/cloud/vision_v1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service_pb2_grpc.py
  vision/google/cloud/vision_v1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1/types.py
  vision/google/cloud/vision_v1p3beta1/gapic/enums.py
  vision/synth.py
  vision/tests/unit/gapic/v1/test_product_search_client_v1.py
Labels: api: vision, cla: yes, codegen

#6364 Bigtable: add explicit coverage for 'row_data._retry_read_rows_exception'.
  bigtable/tests/unit/test_row_data.py
Labels: api: bigtable, cla: yes, testing

#6356 Generate Security Center Client Library
  .kokoro/continuous/securitycenter.cfg
  .kokoro/presubmit/securitycenter.cfg
  docs/index.rst
  docs/requirements.txt
  docs/securitycenter
  securitycenter/.coveragerc
  securitycenter/.flake8
  securitycenter/LICENSE
  securitycenter/MANIFEST.in
  securitycenter/README.rst
  securitycenter/docs/conf.py
  securitycenter/docs/gapic/v1beta1/api.rst
  securitycenter/docs/gapic/v1beta1/types.rst
  securitycenter/docs/index.rst
  securitycenter/google/__init__.py
  securitycenter/google/cloud/__init__.py
  securitycenter/google/cloud/securitycenter.py
  securitycenter/google/cloud/securitycenter_v1beta1/__init__.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/__init__.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/enums.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/security_center_client_config.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/transports/__init__.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/transports/security_center_grpc_transport.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/__init__.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/asset_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/asset_pb2_grpc.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/finding_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/finding_pb2_grpc.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/organization_settings_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/organization_settings_pb2_grpc.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/security_marks_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/security_marks_pb2_grpc.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/securitycenter_service_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/securitycenter_service_pb2_grpc.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/source_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/source_pb2_grpc.py
  securitycenter/google/cloud/securitycenter_v1beta1/types.py
  securitycenter/noxfile.py
  securitycenter/setup.cfg
  securitycenter/setup.py
  securitycenter/synth.py
  securitycenter/tests/unit/gapic/v1beta1/test_security_center_client_v1beta1.py
Labels: cla: yes

#6362 Update IAM version in dependencies
  bigtable/setup.py
  iot/setup.py
  kms/setup.py
  pubsub/setup.py
Labels: api: bigtable, api: cloudiot, api: cloudkms, api: pubsub, cla: yes, packaging

#6367 Bigtable: fix flaky systests / snippets
  bigtable/docs/snippets.py
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes, flaky, testing

#6369 Release securitycenter 0.1.0
  securitycenter/CHANGELOG.md
Labels: cla: yes

#6370 Release securitycenter 0.1.0
  securitycenter/setup.py
Labels: cla: yes

#6353 WIP. First pass at ndb.eventloop.EventLoop implementation.
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/eventloop.py
  ndb/tests/unit/test_eventloop.py
Labels: cla: yes

#6365 Storage: avoid deleting blob renamed to itself
  storage/google/cloud/storage/bucket.py
  storage/tests/unit/test_bucket.py
Labels: api: storage, cla: yes

#6381 Firestore: fix path of tests-to-include in MANIFEST.in
  firestore/MANIFEST.in
Labels: api: firestore, cla: yes, packaging

#6382 Fix docstring reference to wrong class.
  pubsub/google/cloud/pubsub_v1/subscriber/client.py
Labels: api: pubsub, cla: yes

#6388 Storage: accomodate new back-end restriction on retention period.
  storage/google/cloud/storage/bucket.py
  storage/tests/unit/test_bucket.py
Labels: api: storage, cla: yes

#6426 Translate: Update README, correcting installation package
  translate/README.rst
Labels: api: translation, cla: yes, type: docs

#6397 BigQuery: Add properties to job config constructors
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#6399 Release bigquery 1.7.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: cla: yes

#6394 Implementing `BooleanProperty` in `ndb`.
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6427 Translate: adapt system test to updated back-end translation.
  translate/tests/system.py
Labels: api: translation, backend, cla: yes, testing

#6395 Implementing `IntegerProperty` in `ndb`.
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6393 Adding class docstring for `ndb` `Property`.
  ndb/docs/conf.py
  ndb/noxfile.py
  ndb/src/google/cloud/ndb/model.py
Labels: api: ndb, cla: yes, do not merge, type: docs

#6398 Implementing `BlobProperty` in `ndb`.
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6384 Update github issue templates
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support_request.md
Labels: cla: yes

#6435 Logging: fix client_info bug, update docstrings via synth.
  logging/google/cloud/logging_v2/gapic/config_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/enums.py
  logging/google/cloud/logging_v2/gapic/logging_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/metrics_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/transports/config_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/logging_service_v2_grpc_transport.py
Labels: api: logging, cla: yes, codegen

#6437 Vision: fix client_info bug, update docstrings via synth.
  vision/google/cloud/vision_v1/gapic/enums.py
  vision/google/cloud/vision_v1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1p1beta1/gapic/enums.py
  vision/google/cloud/vision_v1p1beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p2beta1/gapic/enums.py
  vision/google/cloud/vision_v1p2beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p2beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/enums.py
  vision/google/cloud/vision_v1p3beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/product_search_grpc_transport.py
  vision/synth.py
Labels: api: vision, cla: yes, codegen

#6436 Websecurityscanner: fix client_info bug, update docstrings via synth.
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/enums.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client.py
Labels: api: websecurityscanner, cla: yes, codegen

#6438 Security Center: fix client_info bug, update docstrings via synth.
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/enums.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/transports/security_center_grpc_transport.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/asset_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/finding_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/organization_settings_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/security_marks_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/securitycenter_service_pb2.py
Labels: api:securitycenter, cla: yes, codegen

#6400 Assorted synth fixups / cleanups
  automl/synth.py
  bigtable/synth.py
  dlp/synth.py
  monitoring/synth.py
  redis/synth.py
  securitycenter/README.rst
  speech/synth.py
Labels: api: automl, api: bigtable, api: dlp, api: monitoring, api: redis, api: speech, api:securitycenter, cla: yes, codegen

#6396 Implementing `FloatProperty` in `ndb`.
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6431 Implementing `TextProperty` and `StringProperty` in `ndb`.
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6441 Implementing `PickleProperty` in `ndb`.
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6391 Datastore: bump minimum 'api_core' version to 1.4.1.
  api_core/setup.py
  asset/setup.py
  automl/setup.py
  bigquery/setup.py
  bigquery_datatransfer/setup.py
  bigtable/setup.py
  container/setup.py
  core/setup.py
  dataproc/setup.py
  datastore/setup.py
  dlp/setup.py
  dns/setup.py
  firestore/setup.py
  iot/setup.py
  kms/setup.py
  language/setup.py
  logging/setup.py
  monitoring/setup.py
  oslogin/setup.py
  pubsub/setup.py
  redis/setup.py
  resource_manager/setup.py
  runtimeconfig/setup.py
  securitycenter/setup.py
  spanner/setup.py
  speech/setup.py
  storage/setup.py
  tasks/setup.py
  texttospeech/setup.py
  trace/setup.py
  translate/setup.py
  videointelligence/setup.py
  vision/setup.py
  websecurityscanner/setup.py
Labels: api: datastore, cla: yes

#6442 Error Reporting: fix client_info bug, update docstrings via synth.
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/enums.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_group_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_stats_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/report_errors_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/report_errors_service_grpc_transport.py
  error_reporting/synth.py
Labels: api: clouderrorreporting, cla: yes, codegen

#6432 Implementing `GeoPtProperty` in `ndb`.
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6444 Storage: harden teardown in system tests.
  storage/tests/system.py
Labels: api: storage, cla: yes, flaky, testing

#6453 Pubsub: override client classmethod factories inherited from GAPIC.
  pubsub/google/cloud/pubsub_v1/publisher/client.py
  pubsub/google/cloud/pubsub_v1/subscriber/client.py
  pubsub/tests/unit/pubsub_v1/publisher/test_publisher_client.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_subscriber_client.py
Labels: api: pubsub, cla: yes

#6452 Implementing `DateProperty` and `TimeProperty` in `ndb`.
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6455 Update Dataproc docs URL
  dataproc/README.rst
Labels: cla: yes

#6402 Add 'mock' to unit test dependencies for autogen libs.
  asset/noxfile.py
  automl/noxfile.py
  iot/noxfile.py
  kms/noxfile.py
  oslogin/noxfile.py
  tasks/noxfile.py
  texttospeech/noxfile.py
  videointelligence/noxfile.py
Labels: api: automl, api: cloudasset, api: cloudiot, api: cloudkms, api: cloudtasks, api: oslogin, api: texttospeech, api: videointelligence, cla: yes, testing

#6456 Implement `get_event_loop`.
  ndb/src/google/cloud/ndb/_eventloop.py
  ndb/src/google/cloud/ndb/exceptions.py
  ndb/tests/unit/test__eventloop.py
Labels: api: ndb, cla: yes

#6462 Speech: 'result_end_time', docstring changes via synth.
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech_pb2.py
Labels: cla: yes

#6461 Monitoring: docstring changes, 'account' -> 'workspace', via synth.
  monitoring/google/cloud/monitoring_v3/gapic/enums.py
  monitoring/google/cloud/monitoring_v3/gapic/notification_channel_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/notification_channel_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/proto/notification_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/notification_service_pb2_grpc.py
  monitoring/google/cloud/monitoring_v3/proto/uptime_pb2.py
Labels: api: monitoring, cla: yes, codegen

#6466 Add Region tags for a few spanner system tests
  spanner/tests/system/test_system.py
Labels: cla: yes

#6379 Spanner: rationalize 'all_types' round-trip systest
  spanner/tests/_fixtures.py
  spanner/tests/system/test_system.py
Labels: api: spanner, cla: yes, testing

#6385 Bigtable: Emulator fixes
  bigtable/google/cloud/bigtable/client.py
  bigtable/tests/unit/test_client.py
Labels: api: bigtable, cla: yes

#6378 Release bigtable 0.31.1
  bigtable/CHANGELOG.md
  bigtable/setup.py
Labels: api: bigtable, cla: yes, do not merge

#6468 remove hyphen from named extra in api_core
  api_core/setup.py
  spanner/setup.py
Labels: cla: yes

#6471 Release api_core 1.5.2
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: cla: yes

#6469 Release videointelligence 1.6.0
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: cla: yes

#6472 Release spanner 1.6.1
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: cla: yes

#6473 Security Center: docstring changes via synth.
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/enums.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/transports/security_center_grpc_transport.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/asset_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/finding_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/organization_settings_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/security_marks_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/securitycenter_service_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/securitycenter_service_pb2_grpc.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/source_pb2.py
Labels: api:securitycenter, cla: yes, codegen

#6191 Firestore: add Watch Support
  api_core/google/api_core/bidi.py
  firestore/google/cloud/firestore.py
  firestore/google/cloud/firestore_v1beta1/__init__.py
  firestore/google/cloud/firestore_v1beta1/_helpers.py
  firestore/google/cloud/firestore_v1beta1/collection.py
  firestore/google/cloud/firestore_v1beta1/document.py
  firestore/google/cloud/firestore_v1beta1/order.py
  firestore/google/cloud/firestore_v1beta1/query.py
  firestore/google/cloud/firestore_v1beta1/watch.py
  firestore/setup.py
  firestore/tests/system.py
  firestore/tests/unit/test_collection.py
  firestore/tests/unit/test_document.py
  firestore/tests/unit/test_order.py
  firestore/tests/unit/test_query.py
  firestore/tests/unit/test_watch.py
Labels: api: firestore, cla: yes

#6451 Import stdlib ABCs from 'collections.abc' rather than 'collections'.
  api_core/google/api_core/protobuf_helpers.py
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/dbapi/_helpers.py
  bigquery/google/cloud/bigquery/dbapi/cursor.py
  core/google/cloud/iam.py
  firestore/google/cloud/firestore_v1beta1/_helpers.py
Labels: api: bigquery, api: core, api: firestore, cla: yes, type: cleanup

#6480 Update synth.py yaml location
  container/synth.py
Labels: cla: yes

#6485 Release vision 0.35.0
  vision/CHANGELOG.md
  vision/setup.py
Labels: cla: yes

#6482 Synth Cloud scheduler
  .kokoro/continuous/scheduler.cfg
  .kokoro/presubmit/scheduler.cfg
  docs/index.rst
  docs/requirements.txt
  docs/scheduler
  scheduler/LICENSE
  scheduler/MANIFEST.in
  scheduler/README.rst
  scheduler/docs/conf.py
  scheduler/docs/gapic/v1beta1/api.rst
  scheduler/docs/gapic/v1beta1/types.rst
  scheduler/docs/index.rst
  scheduler/google/__init__.py
  scheduler/google/cloud/__init__.py
  scheduler/google/cloud/scheduler.py
  scheduler/google/cloud/scheduler_v1beta1/__init__.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/__init__.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/cloud_scheduler_client.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/cloud_scheduler_client_config.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/enums.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/transports/__init__.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/transports/cloud_scheduler_grpc_transport.py
  scheduler/google/cloud/scheduler_v1beta1/proto/__init__.py
  scheduler/google/cloud/scheduler_v1beta1/proto/cloudscheduler_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/cloudscheduler_pb2_grpc.py
  scheduler/google/cloud/scheduler_v1beta1/proto/job_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/job_pb2_grpc.py
  scheduler/google/cloud/scheduler_v1beta1/proto/target_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/target_pb2_grpc.py
  scheduler/google/cloud/scheduler_v1beta1/types.py
  scheduler/noxfile.py
  scheduler/setup.cfg
  scheduler/setup.py
  scheduler/synth.py
  scheduler/tests/unit/gapic/v1beta1/test_cloud_scheduler_client_v1beta1.py
Labels: api: scheduler, cla: yes, codegen

#6481 Added 'array_contains' to the _COMPARISON_OPERATORS dict, to enable using array_contains in firestore queries.
  firestore/google/cloud/firestore_v1beta1/query.py
  firestore/tests/unit/test_query.py
Labels: api: firestore, cla: yes

#6457 Implementing `KeyProperty` constructor in `ndb`.
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/model.py
  ndb/src/google/cloud/ndb/query.py
  ndb/tests/unit/test_model.py
  ndb/tests/unit/test_query.py
Labels: api: ndb, cla: yes

#6445 Implementing `BlobKeyProperty` in `ndb`.
  ndb/src/google/cloud/ndb/_datastore_types.py
  ndb/src/google/cloud/ndb/blobstore.py
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test__datastore_types.py
  ndb/tests/unit/test_blobstore.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6486 Release scheduler 0.1.0
  scheduler/CHANGELOG.md
Labels: cla: yes

#6459 Ndb eventloop helpers
  ndb/src/google/cloud/ndb/_eventloop.py
  ndb/src/google/cloud/ndb/exceptions.py
  ndb/tests/unit/test__eventloop.py
Labels: api: ndb, cla: yes

#6489 Asset: pick up fixes in GAPIC generator.
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1beta1/gapic/enums.py
  asset/google/cloud/asset_v1beta1/gapic/transports/asset_service_grpc_transport.py
  asset/tests/unit/gapic/v1beta1/test_asset_service_client_v1beta1.py
Labels: api: cloudasset, cla: yes, codegen

#6491 BigQuery DataTransfer: pick up fixes in GAPIC generator.
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/enums.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/transports/data_transfer_service_grpc_transport.py
  bigquery_datatransfer/tests/unit/gapic/v1/test_data_transfer_service_client_v1.py
Labels: cla: yes

#6495 DLP: pick up fixes in GAPIC generator.
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py
  dlp/google/cloud/dlp_v2/gapic/enums.py
  dlp/google/cloud/dlp_v2/gapic/transports/dlp_service_grpc_transport.py
  dlp/tests/unit/gapic/v2/test_dlp_service_client_v2.py
Labels: cla: yes

#6499 KMS: pick up fixes in GAPIC generator.
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/google/cloud/kms_v1/gapic/transports/key_management_service_grpc_transport.py
  kms/tests/unit/gapic/v1/test_key_management_service_client_v1.py
Labels: api: cloudkms, cla: yes, codegen

#6513 IoT: pick up fixes to GAPIC generator.
  iot/google/cloud/iot_v1/gapic/device_manager_client.py
  iot/google/cloud/iot_v1/gapic/transports/device_manager_grpc_transport.py
  iot/synth.py
  iot/tests/system/gapic/v1/test_system_device_manager_v1.py
  iot/tests/unit/gapic/v1/test_device_manager_client_v1.py
Labels: api: cloudiot, cla: yes, codegen

#6532 Fix documentation typo
  api_core/google/api_core/operation.py
Labels: api: core, cla: yes, type: docs

#6487 Implementing `ModelKey` for `ndb`.
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/model.py
  ndb/src/google/cloud/ndb/query.py
  ndb/tests/unit/test_model.py
  ndb/tests/unit/test_query.py
Labels: api: ndb, cla: no

#6537 Generalize `_eventloop.async_context` into `_runstate.ndb_context`.
  ndb/docs/async.rst
  ndb/docs/context.rst
  ndb/docs/index.rst
  ndb/src/google/cloud/ndb/__init__.py
  ndb/src/google/cloud/ndb/_eventloop.py
  ndb/src/google/cloud/ndb/_runstate.py
  ndb/src/google/cloud/ndb/exceptions.py
  ndb/tests/unit/test__eventloop.py
  ndb/tests/unit/test__runstate.py
Labels: cla: yes

#6540 NDB: Use type(o) instead of o.__class__
  ndb/src/google/cloud/ndb/_datastore_types.py
  ndb/src/google/cloud/ndb/model.py
  ndb/src/google/cloud/ndb/query.py
Labels: cla: yes

#6501 Monitoring: pick up fixes to the GAPIC generator.
  monitoring/google/cloud/monitoring_v3/gapic/alert_policy_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/enums.py
  monitoring/google/cloud/monitoring_v3/gapic/group_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/metric_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/notification_channel_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/alert_policy_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/group_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/metric_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/notification_channel_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/uptime_check_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/uptime_check_service_client.py
  monitoring/tests/unit/gapic/v3/test_alert_policy_service_client_v3.py
  monitoring/tests/unit/gapic/v3/test_group_service_client_v3.py
  monitoring/tests/unit/gapic/v3/test_metric_service_client_v3.py
  monitoring/tests/unit/gapic/v3/test_notification_channel_service_client_v3.py
  monitoring/tests/unit/gapic/v3/test_uptime_check_service_client_v3.py
Labels: api: monitoring, cla: yes, codegen

#6503 Pubsub: pick up fixes to GAPIC generator.
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/publisher_grpc_transport.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/subscriber_grpc_transport.py
  pubsub/tests/unit/gapic/v1/test_publisher_client_v1.py
  pubsub/tests/unit/gapic/v1/test_subscriber_client_v1.py
Labels: cla: yes

#6504 Redis: pick up fixes to GAPIC generator.
  redis/google/cloud/redis_v1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1/gapic/transports/cloud_redis_grpc_transport.py
  redis/google/cloud/redis_v1beta1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1beta1/gapic/transports/cloud_redis_grpc_transport.py
  redis/tests/unit/gapic/v1/test_cloud_redis_client_v1.py
  redis/tests/unit/gapic/v1beta1/test_cloud_redis_client_v1beta1.py
Labels: api: redis, cla: yes, codegen

#6505 Scheduler: pick up fixes to GAPIC generator.
  scheduler/google/cloud/scheduler_v1beta1/gapic/cloud_scheduler_client.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/transports/cloud_scheduler_grpc_transport.py
  scheduler/tests/unit/gapic/v1beta1/test_cloud_scheduler_client_v1beta1.py
Labels: api: scheduler, codegen

#6506 Securitycenter: pick up fixes to GAPIC generator.
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/transports/security_center_grpc_transport.py
  securitycenter/tests/unit/gapic/v1beta1/test_security_center_client_v1beta1.py
Labels: api:securitycenter, cla: yes, codegen

#6508 Speech: pick up fixes to GAPIC generator.
  speech/google/cloud/speech_v1/gapic/speech_client.py
  speech/google/cloud/speech_v1/gapic/transports/speech_grpc_transport.py
  speech/google/cloud/speech_v1p1beta1/gapic/speech_client.py
  speech/google/cloud/speech_v1p1beta1/gapic/transports/speech_grpc_transport.py
  speech/tests/unit/gapic/v1/test_speech_client_v1.py
  speech/tests/unit/gapic/v1p1beta1/test_speech_client_v1p1beta1.py
Labels: api: speech, cla: yes, codegen

#6509 Tasks: pick up fixes to GAPI generator, drop 'Code' enum.
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/gapic/enums.py
  tasks/google/cloud/tasks_v2beta2/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/gapic/enums.py
  tasks/google/cloud/tasks_v2beta3/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/tests/unit/gapic/v2beta2/test_cloud_tasks_client_v2beta2.py
  tasks/tests/unit/gapic/v2beta3/test_cloud_tasks_client_v2beta3.py
Labels: api: cloudtasks, cla: yes, codegen

#6510 Texttospeech: pick up fixes to GAPIC generator.
  texttospeech/google/cloud/texttospeech_v1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/tests/unit/gapic/v1/test_text_to_speech_client_v1.py
  texttospeech/tests/unit/gapic/v1beta1/test_text_to_speech_client_v1beta1.py
Labels: api: texttospeech, cla: yes, codegen

#6576 Spanner: pick up fixes to GAPIC generator.
  spanner/google/cloud/spanner_admin_database_v1/gapic/database_admin_client.py
  spanner/google/cloud/spanner_admin_database_v1/gapic/transports/database_admin_grpc_transport.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/instance_admin_client.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/transports/instance_admin_grpc_transport.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client.py
  spanner/google/cloud/spanner_v1/gapic/transports/spanner_grpc_transport.py
  spanner/synth.py
  spanner/tests/unit/gapic/v1/test_database_admin_client_v1.py
  spanner/tests/unit/gapic/v1/test_instance_admin_client_v1.py
  spanner/tests/unit/gapic/v1/test_spanner_client_v1.py
Labels: api: spanner, cla: yes, codegen

#6577 Trace: pick up fixes to GAPIC generator.
  trace/google/cloud/trace_v1/gapic/trace_service_client.py
  trace/google/cloud/trace_v1/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v2/gapic/trace_service_client.py
  trace/google/cloud/trace_v2/gapic/transports/trace_service_grpc_transport.py
  trace/synth.py
  trace/tests/unit/gapic/v1/test_trace_service_client_v1.py
  trace/tests/unit/gapic/v2/test_trace_service_client_v2.py
Labels: api: cloudtrace, cla: yes, codegen

#6570 Language: add synth metadata.
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#6569 KMS: add synth metadata.
  kms/synth.metadata
Labels: cla: yes

#6580 Label spanner dml tests
  spanner/tests/system/test_system.py
Labels: cla: yes

#6589 Firestore: pick up changes to GAPIC client config.
  firestore/google/cloud/firestore_v1beta1/gapic/firestore_client_config.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#6536 [Spanner] Add timeout + retry settings to Sessions/Snapshots
  spanner/google/cloud/spanner_v1/session.py
  spanner/google/cloud/spanner_v1/snapshot.py
  spanner/tests/unit/test_session.py
  spanner/tests/unit/test_snapshot.py
Labels: api: spanner, cla: yes

#6606 add templating to asset synth.py
  asset/.flake8
  asset/noxfile.py
  asset/synth.py
Labels: cla: yes

#6613 IOT: pick up new methods from protos.
  iot/google/cloud/iot_v1/gapic/device_manager_client.py
  iot/google/cloud/iot_v1/gapic/device_manager_client_config.py
  iot/google/cloud/iot_v1/gapic/enums.py
  iot/google/cloud/iot_v1/gapic/transports/device_manager_grpc_transport.py
  iot/google/cloud/iot_v1/proto/device_manager_pb2.py
  iot/google/cloud/iot_v1/proto/device_manager_pb2_grpc.py
  iot/google/cloud/iot_v1/proto/resources_pb2.py
  iot/tests/unit/gapic/v1/test_device_manager_client_v1.py
Labels: api: cloudiot, cla: yes, codegen

#6630 Bigtable: pick up fixes to GAPIC generator.
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_instance_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/enums.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_instance_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_table_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_v2/gapic/bigtable_client.py
  bigtable/google/cloud/bigtable_v2/gapic/transports/bigtable_grpc_transport.py
  bigtable/tests/unit/gapic/v2/test_bigtable_client_v2.py
  bigtable/tests/unit/gapic/v2/test_bigtable_instance_admin_client_v2.py
  bigtable/tests/unit/gapic/v2/test_bigtable_table_admin_client_v2.py
Labels: api: bigtable, cla: yes, codegen

#6631 Logging: pick up fixes to GAPIC generator.
  logging/google/cloud/logging_v2/gapic/config_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/logging_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/metrics_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/transports/config_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/logging_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/metrics_service_v2_grpc_transport.py
  logging/synth.py
  logging/tests/unit/gapic/v2/test_config_service_v2_client_v2.py
  logging/tests/unit/gapic/v2/test_logging_service_v2_client_v2.py
  logging/tests/unit/gapic/v2/test_metrics_service_v2_client_v2.py
Labels: api: logging, cla: yes, codegen

#6632 Vision: pick up fixes to GAPIC generator.
  vision/google/cloud/vision_v1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service_pb2_grpc.py
  vision/google/cloud/vision_v1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p1beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p1beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p2beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p2beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/product_search_grpc_transport.py
  vision/tests/unit/gapic/v1/test_image_annotator_client_v1.py
  vision/tests/unit/gapic/v1/test_product_search_client_v1.py
  vision/tests/unit/gapic/v1p1beta1/test_image_annotator_client_v1p1beta1.py
  vision/tests/unit/gapic/v1p2beta1/test_image_annotator_client_v1p2beta1.py
  vision/tests/unit/gapic/v1p3beta1/test_image_annotator_client_v1p3beta1.py
  vision/tests/unit/gapic/v1p3beta1/test_product_search_client_v1p3beta1.py
Labels: api: vision, cla: yes, codegen

#6633 Websecurityscanner: pick up fixes to GAPIC generator.
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/transports/web_security_scanner_grpc_transport.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client.py
  websecurityscanner/synth.py
  websecurityscanner/tests/unit/gapic/v1alpha/test_web_security_scanner_client_v1alpha.py
Labels: api: websecurityscanner, cla: yes, codegen

#6634 Container: pick up fixes to GAPIC generator.
  container/google/cloud/container_v1/gapic/cluster_manager_client.py
  container/google/cloud/container_v1/gapic/cluster_manager_client_config.py
  container/google/cloud/container_v1/gapic/enums.py
  container/google/cloud/container_v1/gapic/transports/cluster_manager_grpc_transport.py
  container/google/cloud/container_v1/proto/cluster_service_pb2.py
  container/google/cloud/container_v1/proto/cluster_service_pb2_grpc.py
  container/synth.py
  container/tests/unit/gapic/v1/test_cluster_manager_client_v1.py
Labels: api: container, cla: yes, codegen

#6635 Add ProductSearchClient to vision.py
  vision/google/cloud/vision.py
Labels: cla: yes

#6640 Release vision 0.35.1
  vision/CHANGELOG.md
  vision/setup.py
Labels: cla: yes

#6648 Bigtable: remove 'deepcopy' from 'PartialRowData.cells' property.
  bigtable/google/cloud/bigtable/row_data.py
  bigtable/tests/unit/test_row_data.py
Labels: api: bigtable, cla: yes, performance

#6525 User / UserProperty code in `ndb`, for discussion.
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/__init__.py
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6653 Pass posargs to py.test in Container system tests
  container/noxfile.py
Labels: api: container, cla: yes, testing

#6656 Release pubsub 0.39.0
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#6534 Firestore: refactor 'Document.get' to use the 'GetDocument' API.
  firestore/google/cloud/firestore_v1beta1/document.py
  firestore/tests/system.py
  firestore/tests/unit/test_cross_language.py
  firestore/tests/unit/test_document.py
Labels: api: firestore, cla: yes

#6651 Firestore: add support for 'ArrayRemove' / 'ArrayUnion' transforms
  firestore/docs/constants.rst
  firestore/docs/index.rst
  firestore/docs/transforms.rst
  firestore/google/cloud/firestore_v1beta1/__init__.py
  firestore/google/cloud/firestore_v1beta1/_helpers.py
  firestore/google/cloud/firestore_v1beta1/constants.py
  firestore/google/cloud/firestore_v1beta1/document.py
  firestore/google/cloud/firestore_v1beta1/transforms.py
  firestore/tests/unit/test__helpers.py
  firestore/tests/unit/test_cross_language.py
  firestore/tests/unit/test_document.py
  firestore/tests/unit/test_transforms.py
Labels: api: firestore, cla: yes

#6581 Begin implementation of `ndb.Model`
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6659 Dataproc: updates to cluster controller config (via synth).
  dataproc/google/cloud/dataproc_v1/gapic/cluster_controller_client_config.py
  dataproc/google/cloud/dataproc_v1/gapic/enums.py
  dataproc/google/cloud/dataproc_v1/gapic/job_controller_client_config.py
  dataproc/google/cloud/dataproc_v1/gapic/workflow_template_service_client_config.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/cluster_controller_client_config.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/enums.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/job_controller_client_config.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/workflow_template_service_client_config.py
Labels: api: dataproc, cla: yes, codegen

#6663 Add release jobs
  .kokoro/release.sh
  .kokoro/release/api_core.cfg
  .kokoro/release/asset.cfg
  .kokoro/release/automl.cfg
  .kokoro/release/bigquery.cfg
  .kokoro/release/bigquery_datatransfer.cfg
  .kokoro/release/bigtable.cfg
  .kokoro/release/common.cfg
  .kokoro/release/container.cfg
  .kokoro/release/core.cfg
  .kokoro/release/dataproc.cfg
  .kokoro/release/datastore.cfg
  .kokoro/release/dlp.cfg
  .kokoro/release/dns.cfg
  .kokoro/release/error_reporting.cfg
  .kokoro/release/firestore.cfg
  .kokoro/release/iot.cfg
  .kokoro/release/kms.cfg
  .kokoro/release/language.cfg
  .kokoro/release/logging.cfg
  .kokoro/release/monitoring.cfg
  .kokoro/release/ndb.cfg
  .kokoro/release/oslogin.cfg
  .kokoro/release/pubsub.cfg
  .kokoro/release/redis.cfg
  .kokoro/release/resource_manager.cfg
  .kokoro/release/runtimeconfig.cfg
  .kokoro/release/scheduler.cfg
  .kokoro/release/securitycenter.cfg
  .kokoro/release/spanner.cfg
  .kokoro/release/speech.cfg
  .kokoro/release/storage.cfg
  .kokoro/release/tasks.cfg
  .kokoro/release/texttospeech.cfg
  .kokoro/release/trace.cfg
  .kokoro/release/translate.cfg
  .kokoro/release/videointelligence.cfg
  .kokoro/release/vision.cfg
  .kokoro/release/websecurityscanner.cfg
Labels: cla: yes

#6650 Firestore: add 'Client.collections' method.
  firestore/google/cloud/firestore_v1beta1/client.py
  firestore/tests/unit/test_client.py
Labels: api: firestore, cla: yes

#6670 Unblack gapic and protos.
  asset/google/__init__.py
  asset/google/cloud/__init__.py
  asset/google/cloud/asset.py
  asset/google/cloud/asset_v1beta1/__init__.py
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client_config.py
  asset/google/cloud/asset_v1beta1/gapic/enums.py
  asset/google/cloud/asset_v1beta1/gapic/transports/asset_service_grpc_transport.py
  asset/google/cloud/asset_v1beta1/types.py
  asset/tests/unit/gapic/v1beta1/test_asset_service_client_v1beta1.py
Labels: cla: yes

#6672 [CHANGE ME] Re-generated bigquery_datatransfer to pick up changes in the API or client library generator.
  bigquery_datatransfer/google/__init__.py
  bigquery_datatransfer/google/cloud/__init__.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/__init__.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client_config.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/enums.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/transports/data_transfer_service_grpc_transport.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/types.py
  bigquery_datatransfer/tests/system/gapic/v1/test_system_data_transfer_service_v1.py
  bigquery_datatransfer/tests/unit/gapic/v1/test_data_transfer_service_client_v1.py
Labels: cla: yes

#6673 [CHANGE ME] Re-generated container to pick up changes in the API or client library generator.
  container/google/cloud/container_v1/__init__.py
  container/google/cloud/container_v1/gapic/cluster_manager_client.py
  container/google/cloud/container_v1/gapic/cluster_manager_client_config.py
  container/google/cloud/container_v1/gapic/enums.py
  container/google/cloud/container_v1/gapic/transports/cluster_manager_grpc_transport.py
  container/google/cloud/container_v1/types.py
  container/tests/unit/gapic/v1/test_cluster_manager_client_v1.py
Labels: cla: yes

#6674 [CHANGE ME] Re-generated dataproc to pick up changes in the API or client library generator.
  dataproc/docs/conf.py
  dataproc/google/__init__.py
  dataproc/google/cloud/__init__.py
  dataproc/google/cloud/dataproc.py
  dataproc/google/cloud/dataproc_v1/__init__.py
  dataproc/google/cloud/dataproc_v1/gapic/cluster_controller_client.py
  dataproc/google/cloud/dataproc_v1/gapic/cluster_controller_client_config.py
  dataproc/google/cloud/dataproc_v1/gapic/enums.py
  dataproc/google/cloud/dataproc_v1/gapic/job_controller_client.py
  dataproc/google/cloud/dataproc_v1/gapic/job_controller_client_config.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/workflow_template_service_client.py
  dataproc/google/cloud/dataproc_v1/gapic/workflow_template_service_client_config.py
  dataproc/google/cloud/dataproc_v1/types.py
  dataproc/google/cloud/dataproc_v1beta2/__init__.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/cluster_controller_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/cluster_controller_client_config.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/enums.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/job_controller_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/job_controller_client_config.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/workflow_template_service_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/workflow_template_service_client_config.py
  dataproc/google/cloud/dataproc_v1beta2/types.py
  dataproc/tests/system/gapic/v1/test_system_cluster_controller_v1.py
  dataproc/tests/system/gapic/v1beta2/test_system_cluster_controller_v1beta2.py
  dataproc/tests/unit/gapic/v1/test_cluster_controller_client_v1.py
  dataproc/tests/unit/gapic/v1/test_job_controller_client_v1.py
  dataproc/tests/unit/gapic/v1/test_workflow_template_service_client_v1.py
  dataproc/tests/unit/gapic/v1beta2/test_cluster_controller_client_v1beta2.py
  dataproc/tests/unit/gapic/v1beta2/test_job_controller_client_v1beta2.py
  dataproc/tests/unit/gapic/v1beta2/test_workflow_template_service_client_v1beta2.py
Labels: cla: yes

#6675 [CHANGE ME] Re-generated datastore to pick up changes in the API or client library generator.
  datastore/google/cloud/datastore_v1/gapic/datastore_client.py
  datastore/google/cloud/datastore_v1/gapic/datastore_client_config.py
  datastore/google/cloud/datastore_v1/gapic/enums.py
  datastore/google/cloud/datastore_v1/gapic/transports/datastore_grpc_transport.py
Labels: cla: yes

#6698 Run black at end of synth.py
  asset/synth.py
  automl/synth.py
  bigquery_datatransfer/synth.py
  bigtable/synth.py
  container/synth.py
  dataproc/synth.py
  datastore/synth.py
  dlp/synth.py
  error_reporting/synth.py
  firestore/synth.py
  iot/synth.py
  kms/synth.py
  language/synth.py
  logging/google/cloud/logging_v2/proto/log_entry_pb2.py
  logging/google/cloud/logging_v2/proto/log_entry_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/logging_config_pb2.py
  logging/google/cloud/logging_v2/proto/logging_config_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/logging_metrics_pb2.py
  logging/google/cloud/logging_v2/proto/logging_metrics_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/logging_pb2.py
  logging/google/cloud/logging_v2/proto/logging_pb2_grpc.py
  logging/noxfile.py
  logging/synth.py
  monitoring/synth.py
  oslogin/synth.py
  pubsub/synth.py
  redis/synth.py
  scheduler/synth.py
  securitycenter/synth.py
  spanner/synth.py
  speech/synth.py
  tasks/synth.py
  texttospeech/synth.py
  trace/synth.py
  videointelligence/synth.py
  vision/synth.py
  websecurityscanner/synth.py
Labels: cla: yes

#6697 Firestore: make cursor-related 'Query' methods accept lists
  firestore/google/cloud/firestore_v1beta1/collection.py
  firestore/google/cloud/firestore_v1beta1/query.py
  firestore/tests/system.py
  firestore/tests/unit/test_query.py
Labels: api: firestore, cla: yes

#6706 Firestore: prevent use of transforms as cursor values.
  firestore/google/cloud/firestore_v1beta1/query.py
  firestore/tests/unit/test_query.py
Labels: api: firestore, cla: yes

#6705 Release bigquery_storage 0.1.0
  bigquery_storage/CHANGELOG.md
Labels: api: bigquery, cla: yes

#6700 Release monitoring 0.31.0
  monitoring/CHANGELOG.md
  monitoring/setup.py
Labels: cla: yes

#6708 BigQuery Storage: pick up fixes in GAPIC generator.
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/big_query_storage_client.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/transports/big_query_storage_grpc_transport.py
  bigquery_storage/tests/unit/gapic/v1beta1/test_big_query_storage_client_v1beta1.py
Labels: api:bigquerystorage, cla: yes, codegen

#6740 Move google.cloud.iam (core) to google.api_core.iam
  api_core/google/api_core/iam.py
  api_core/tests/unit/test_iam.py
Labels: cla: yes

#6767 Correct release_status for bigquery_storage
  bigquery_storage/setup.py
Labels: cla: yes

#6703 Firestore: prevent use of transforms as values passed to 'Query.where'.
  firestore/google/cloud/firestore_v1beta1/query.py
  firestore/tests/unit/test_query.py
Labels: api: firestore, cla: yes

#6795 add blacken to noxfile
  dns/noxfile.py
  resource_manager/google/__init__.py
  resource_manager/google/cloud/__init__.py
  resource_manager/google/cloud/resource_manager/__init__.py
  resource_manager/google/cloud/resource_manager/_http.py
  resource_manager/google/cloud/resource_manager/client.py
  resource_manager/google/cloud/resource_manager/project.py
  resource_manager/noxfile.py
  resource_manager/tests/unit/test__http.py
  resource_manager/tests/unit/test_client.py
  resource_manager/tests/unit/test_project.py
  runtimeconfig/noxfile.py
  translate/noxfile.py
Labels: cla: yes
