Repository googleapis/google-cloud-python, pull requests merged in 2018-10, with the labels that each got.

#6139 Release storage 1.13.0
  storage/CHANGELOG.md
  storage/setup.py
Labels: api: storage, cla: yes, packaging

#6142 Trace: Add static HTML redirect page for 'starting.html'.
  docs/conf.py
  trace/docs/starting.html
Labels: api: trace, cla: yes, documentation

#6048 Spanner: add DML / PDML support
  spanner/google/cloud/spanner_v1/database.py
  spanner/google/cloud/spanner_v1/snapshot.py
  spanner/google/cloud/spanner_v1/transaction.py
  spanner/tests/system/test_system.py
  spanner/tests/unit/test_database.py
  spanner/tests/unit/test_snapshot.py
  spanner/tests/unit/test_transaction.py
Labels: api: spanner, cla: yes

#6147 BigQuery: add support for GEOGRAPHY type
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/google/cloud/bigquery/schema.py
  bigquery/tests/system.py
  bigquery/tests/unit/test__helpers.py
Labels: api: bigquery, cla: yes

#6150 Back out DML/PDML support.
  spanner/google/cloud/spanner_v1/database.py
  spanner/google/cloud/spanner_v1/snapshot.py
  spanner/google/cloud/spanner_v1/transaction.py
  spanner/tests/system/test_system.py
  spanner/tests/unit/test_database.py
  spanner/tests/unit/test_snapshot.py
  spanner/tests/unit/test_transaction.py
Labels: cla: yes

#6148 Release bigquery 1.6.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: api: bigquery, cla: yes, packaging

#6164 Allow string in addition to DatasetReference / TableReference in Clie…
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/dataset.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_dataset.py
  bigquery/tests/unit/test_table.py
Labels: automerge, cla: yes

#6167 Add PROJECT_ID environment variable
  .kokoro/build.sh
Labels: cla: yes, testing

#6137 Bigtable: read_row to call read_rows
  bigtable/google/cloud/bigtable/row_data.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/unit/test_row_data.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#6166 Release bigtable 0.31.0
  bigtable/CHANGELOG.md
  bigtable/setup.py
Labels: api: bigtable, cla: yes

#6171 Release language 1.1.0
  language/CHANGELOG.md
  language/setup.py
Labels: cla: yes

#6151 Spanner: add support for DML/PDML
  spanner/google/cloud/spanner_v1/database.py
  spanner/google/cloud/spanner_v1/snapshot.py
  spanner/google/cloud/spanner_v1/transaction.py
  spanner/tests/system/test_system.py
  spanner/tests/unit/test_database.py
  spanner/tests/unit/test_snapshot.py
  spanner/tests/unit/test_transaction.py
Labels: api: spanner, cla: yes

#6174 Release spanner 1.6.0
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: api: spanner, cla: yes, packaging

#6176 BigQuery: expose 'to_api_repr' method for jobs.
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#6179 Logging: allow more tries on inner retry for '_list_entries'.
  logging/tests/system/test_system.py
Labels: api: logging, cla: yes, flaky, testing

#6181 Logging: harden 'test_list_entry_with_unregistered' against 429 errors.
  logging/tests/system/test_system.py
Labels: api: logging, cla: yes

#6138 Logging: test both GCLOUD_PROJECT and GOOGLE_CLOUD_PROJECT env vars
  logging/tests/unit/handlers/test_app_engine.py
Labels: api: logging, cla: yes, do not merge, testing

#6180 Logging: harden sink creation against transient errors.
  logging/tests/system/test_system.py
Labels: api: logging, cla: yes, flaky, testing

#6183 Logging: fix lint errors.
  logging/tests/unit/handlers/test_app_engine.py
Labels: api: logging, cla: yes, testing

#6182 Logging: harden systest teardown vs 'DeadlineExceeded' retry errors
  logging/tests/system/test_system.py
Labels: api: logging, cla: yes, flaky, testing

#6184 BigQuery: harden snippets against transient GCS errors.
  bigquery/docs/snippets.py
Labels: api: bigquery, cla: yes, flaky, testing

#6168 BigQuery: fix swallowed error message
  bigquery/google/cloud/bigquery/dbapi/cursor.py
Labels: api: bigquery, cla: yes

#6193 fix usage docs example for entity extraction
  language/docs/usage.rst
Labels: api: language, cla: yes, documentation

#6196 Update root noxfile to new 'nox' patterns.
  .circleci/config.yml
  noxfile.py
Labels: cla: yes, do not merge, testing

#6198 Correction to the pip install command
  videointelligence/README.rst
Labels: cla: yes

#6199 Allow strings or references in create_dataset and create_table
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#6194 Update subscriber example in README to current patterns.
  pubsub/README.rst
Labels: api: pubsub, cla: yes, documentation

#6208 DNS: Fix copy-pasta from datastore README.
  dns/README.rst
Labels: api: dns, cla: yes

#6209 Fix typo in spanner usage documentation
  spanner/docs/database-usage.rst
Labels: cla: yes

#6210 Release firestore 0.30.0
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: cla: yes

#6215 Disable test running in VPCSC restricted environment
  storage/tests/system.py
Labels: cla: yes

#6219 Storage: fix lint failure.
  storage/tests/system.py
Labels: api: storage, cla: yes, testing

#6211 Move bidi to api-core
  api_core/google/api_core/bidi.py
  api_core/tests/unit/test_bidi.py
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: cla: yes

#6216 Update instructions for running Nox tests
  CONTRIBUTING.rst
Labels: cla: yes

#6220 Release api_core 1.5.0
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: cla: yes

#6227 Release videointelligence 1.5.0
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: cla: yes

#6230 Skip public bucket test in VPCSC
  storage/tests/system.py
Labels: cla: yes

#6155 Error_reporting: prep docs for repo split.
  docs/error-reporting
  docs/error-reporting/changelog.md
  docs/error-reporting/usage.rst
  docs/index.rst
  error_reporting/README.rst
  error_reporting/docs/changelog.md
  error_reporting/docs/client.rst
  error_reporting/docs/index.rst
  error_reporting/docs/usage.rst
  error_reporting/docs/util.rst
Labels: api: error reporting, cla: yes, documentation

#6156 Monitoring: harmonize / DRY 'README.rst' / 'docs/index.rst'.
  monitoring/README.rst
  monitoring/docs/index.rst
Labels: api: monitoring, cla: yes, documentation

#6232 Don't update nox in 'tasks/synth.py'.
  tasks/synth.py
Labels: api:tasks, cla: yes, codegen

#6233 Don't update nox in 'kms/synth.py'.
  kms/synth.py
Labels: api: kms, cla: yes, codegen

#6158 Docs: Add / fix badges for PyPI / versions.
  api_core/README.rst
  asset/README.rst
  automl/README.rst
  core/README.rst
  dlp/README.rst
  dns/README.rst
  iot/README.rst
  kms/README.rst
  oslogin/README.rst
  redis/README.rst
  speech/README.rst
  tasks/README.rst
  texttospeech/README.rst
  websecurityscanner/README.rst
Labels: api: automl, api: core, api: dlp, api: dns, api: iot, api: kms, api: oslogin, api: speech, api: text to speech, api: websecurityscanner, api:asset, api:redis, api:tasks, cla: yes, documentation

#6159 Docs: normalize use of support level badges
  README.rst
  asset/README.rst
  automl/README.rst
  bigquery/README.rst
  bigquery_datatransfer/README.rst
  bigtable/README.rst
  container/README.rst
  dataproc/README.rst
  datastore/README.rst
  dlp/README.rst
  dns/README.rst
  firestore/README.rst
  iot/README.rst
  kms/README.rst
  language/README.rst
  pubsub/README.rst
  redis/README.rst
  resource_manager/README.rst
  runtimeconfig/README.rst
  spanner/README.rst
  speech/README.rst
  storage/README.rst
  tasks/README.rst
  texttospeech/README.rst
  trace/README.rst
  translate/README.rst
  videointelligence/README.rst
  vision/README.rst
  websecurityscanner/README.rst
Labels: api: automl, api: bigquery, api: bigquery_datatransfer, api: bigtable, api: container, api: dataproc, api: datastore, api: dlp, api: dns, api: firestore, api: iot, api: kms, api: language, api: logging, api: pubsub, api: resource manager, api: runtime config, api: spanner, api: speech, api: storage, api: text to speech, api: trace, api: translate, api: video intelligence, api: vision, api: websecurityscanner, api:asset, api:redis, api:tasks, cla: yes, documentation

#6239 Fix Kokoro package determination
  test_utils/scripts/get_target_packages_kokoro.py
Labels: cla: yes

#6240 api_core: fix import order, appeasing lint.
  api_core/tests/unit/test_bidi.py
Labels: api: core, cla: yes, testing

#6242 Fix branch coverage for un-called callbacks.
  api_core/tests/unit/test_bidi.py
Labels: api: core, cla: yes, testing

#6243 Pubsub: fix path for patch of 'bidi' elements.
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes, testing

#6202 BigQuery: add destination table properties to 'LoadJobConfig'.
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#6246 Moving `ndb` migration nodes into dedicated document.
  ndb/MIGRATION_NOTES.md
  ndb/README.md
Labels: api: ndb, cla: yes, type: cleanup

#6249 Release logging 1.8.0
  logging/CHANGELOG.md
  logging/setup.py
Labels: cla: yes

#6248 Adding myself as a code owner for `ndb/`
  .github/CODEOWNERS
Labels: api: ndb, cla: yes

#6247 Adding Kokoro configuration for `ndb`.
  .kokoro/continuous/ndb.cfg
  .kokoro/presubmit/ndb.cfg
Labels: api: ndb, cla: yes, testing

#6268 Release dlp 0.9.0
  dlp/CHANGELOG.md
  dlp/setup.py
Labels: api: dlp, cla: yes, codegen

#6262 Redis: don't synth 'README.rst'.
  redis/synth.py
Labels: api:redis, cla: yes, codegen

#6270 Firestore: block calling 'DocumentRef.get()' with a single string.
  firestore/google/cloud/firestore_v1beta1/document.py
  firestore/tests/unit/test_document.py
Labels: api: firestore, cla: yes

#6258 Restoring some `__new__()` constructors for `ndb`.
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/key.py
  ndb/src/google/cloud/ndb/model.py
Labels: api: ndb, cla: yes, type: cleanup

#6273 Release api_core 1.6.0a1
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: cla: yes

#6269 BigQuery: use _get_sub_prop helper so missing load stats don't raise.
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, automerge, cla: yes

#6238 Move usage guides to their own docs.
  bigquery/README.rst
  bigquery/docs/index.rst
  bigquery/docs/usage.html
  bigquery/docs/usage/client.rst
  bigquery/docs/usage/datasets.rst
  bigquery/docs/usage/encryption.rst
  bigquery/docs/usage/index.rst
  bigquery/docs/usage/jobs.rst
  bigquery/docs/usage/pandas.rst
  bigquery/docs/usage/queries.rst
  bigquery/docs/usage/tables.rst
Labels: api: bigquery, cla: yes, type: docs

#6229 Logging: add support for additional 'LogEntry' fields
  logging/docs/entries.rst
  logging/google/cloud/logging/_helpers.py
  logging/google/cloud/logging/entries.py
  logging/google/cloud/logging/logger.py
  logging/tests/system/test_system.py
  logging/tests/unit/test__helpers.py
  logging/tests/unit/test_entries.py
  logging/tests/unit/test_logger.py
Labels: api: logging, cla: yes

#6286 Implementing `model._BaseValue` for `ndb`.
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6289 Adding note about _BaseValue in ndb.
  ndb/MIGRATION_NOTES.md
Labels: api: ndb, cla: yes, type: cleanup, type: docs

#6279 Bigtable: deprecate 'channel' arg to 'Client'
  bigtable/google/cloud/bigtable/client.py
  bigtable/tests/unit/test_client.py
Labels: api: bigtable, cla: yes

#6250 Adding all `Node` implementations for the `ndb.query` module
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/exceptions.py
  ndb/src/google/cloud/ndb/key.py
  ndb/src/google/cloud/ndb/model.py
  ndb/src/google/cloud/ndb/query.py
  ndb/tests/unit/test_query.py
Labels: api: ndb, cla: yes

#6274 Adding `__slots__` throughout `ndb`.
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/blobstore.py
  ndb/src/google/cloud/ndb/context.py
  ndb/src/google/cloud/ndb/django_middleware.py
  ndb/src/google/cloud/ndb/eventloop.py
  ndb/src/google/cloud/ndb/metadata.py
  ndb/src/google/cloud/ndb/model.py
  ndb/src/google/cloud/ndb/msgprop.py
  ndb/src/google/cloud/ndb/polymodel.py
  ndb/src/google/cloud/ndb/query.py
  ndb/src/google/cloud/ndb/stats.py
  ndb/src/google/cloud/ndb/tasklets.py
Labels: api: ndb, cla: yes

#6264 Docs: fix 'CallOptions' examples
  bigquery_datatransfer/README.rst
  dataproc/README.rst
  iot/README.rst
  monitoring/README.rst
  vision/google/cloud/vision_helpers/__init__.py
Labels: api: bigquery_datatransfer, api: dataproc, api: iot, api: monitoring, api: vision, cla: yes, type: docs

#6283 Docs: remove umbrella-package vestige from docs build.
  test_utils/scripts/get_version.py
  test_utils/scripts/update_docs.sh
Labels: cla: yes, type: cleanup, type: docs

#6296 Bigtable: Fix ConditionalRow interaction with check_and_mutate_row
  bigtable/google/cloud/bigtable/row.py
  bigtable/tests/unit/test_row.py
Labels: api: bigtable, cla: yes

#6304 BigQuery: deprecation cleanups
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes, type: cleanup

#6308 Spanner: additional systests not needing tables
  spanner/tests/system/test_system.py
Labels: api: spanner, cla: yes, testing

#6309 Bigtable: fix error from new flake8 version.
  bigtable/google/cloud/bigtable/table.py
Labels: api: bigtable, cla: yes, testing

#6306 Separate / distinguish API docs for different API versions.
  tasks/docs/index.rst
Labels: api:tasks, cla: yes

#6275 Implementing more of `ndb` Property
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/exceptions.py
  ndb/src/google/cloud/ndb/model.py
  ndb/src/google/cloud/ndb/query.py
  ndb/tests/unit/test_model.py
  ndb/tests/unit/test_query.py
Labels: api: ndb, cla: yes

#6310 Don't URL-encode slashes in gRPC request headers.
  api_core/google/api_core/gapic_v1/routing_header.py
  api_core/tests/unit/gapic/test_routing_header.py
Labels: cla: yes

#6320 Firestore: fix error from new flake8 version.
  firestore/tests/unit/test_cross_language.py
Labels: api: firestore, cla: yes, testing

#6295 Continuation of `ndb` Property implementation
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/model.py
  ndb/src/google/cloud/ndb/query.py
  ndb/tests/conftest.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6318 Continuation of `ndb` Property implementation (part 3)
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/conftest.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6322 Fix #6321 Update README service links in quickstart guides.
  bigquery/README.rst
  error_reporting/README.rst
  runtimeconfig/README.rst
  spanner/README.rst
  translate/README.rst
Labels: cla: yes

#6293 Allow turning on JSON Detection in StackDriver
  logging/google/cloud/logging/handlers/transports/background_thread.py
  logging/tests/unit/handlers/transports/test_background_thread.py
Labels: api: logging, cla: yes

#6325 Release datastore 1.7.1
  datastore/CHANGELOG.md
  datastore/setup.py
Labels: cla: yes

#6012 Bigtable: create snippets.py for python docs.
  bigtable/docs/snippets.py
  bigtable/google/cloud/bigtable/client.py
  bigtable/google/cloud/bigtable/cluster.py
  bigtable/google/cloud/bigtable/instance.py
  bigtable/noxfile.py
Labels: api: bigtable, cla: yes, type: docs

#6328 Back out changes from #6267 / 'api_core-1.6.0a1' release.
  api_core/google/api_core/gapic_v2/__init__.py
  api_core/google/api_core/gapic_v2/dispatch.py
  api_core/google/api_core/operation.py
  api_core/tests/unit/gapic/test_dispatch.py
  api_core/tests/unit/test_operation.py
Labels: api: core, cla: yes

#6323 Continuation of `ndb` Property implementation (part 4)
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6332 Release 'api_core-1.5.1'
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: api: automl, cla: yes, packaging

#6333 Continuation of `ndb` Property implementation (part 5)
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#4449 Spanner: Test return empty array struct
  spanner/tests/system/test_system.py
Labels: api: spanner, cla: yes, testing

#6281 Bigtable: Add retry parameter to 'Table.read_rows()'.
  bigtable/google/cloud/bigtable/row_data.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/unit/test_row_data.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#6341 Fix Cloud Asset synth config
  asset/synth.py
Labels: api: cloudasset, cla: yes, codegen

#6336 Bigtable: Support DirectRow without a table
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/unit/test_table.py
Labels: cla: yes

#6277 Add --params option to %%bigquery magic
  bigquery/google/cloud/bigquery/magics.py
  bigquery/tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#6343 Bigtable: fix instance IAM methods
  bigtable/docs/snippets.py
  bigtable/google/cloud/bigtable/instance.py
  bigtable/noxfile.py
  bigtable/tests/unit/test_instance.py
Labels: api: bigtable, cla: yes

#6346 Pubsub: fix error from new flake8 version.
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
Labels: api: pubsub, cla: yes, testing

#6335 Remove the creation counter for Property. Fixes #6317.
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#6345 Pubsub: fix imports for hand-written client docstring examples.
  pubsub/google/cloud/pubsub_v1/publisher/client.py
  pubsub/google/cloud/pubsub_v1/subscriber/client.py
Labels: api: pubsub, cla: yes, type: docs

#6305 api_core: retry transient errors in 'PollingFuture.result'.
  api_core/google/api_core/future/polling.py
  api_core/tests/unit/future/test_polling.py
Labels: api: core, cla: yes

#6349 Asset: synth docstring changes generated from updated protos
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1beta1/gapic/transports/asset_service_grpc_transport.py
  asset/google/cloud/asset_v1beta1/proto/asset_service_pb2.py
  asset/google/cloud/asset_v1beta1/proto/asset_service_pb2_grpc.py
  asset/google/cloud/asset_v1beta1/proto/assets_pb2.py
  asset/synth.py
Labels: api: cloudasset, cla: yes, codegen

#6352 Revert "Allow turning on JSON Detection in StackDriver"
  logging/google/cloud/logging/handlers/transports/background_thread.py
  logging/tests/unit/handlers/transports/test_background_thread.py
Labels: api: logging, cla: yes

#6355 Avoid broken 'google-common-apis 1.5.4' release.
  api_core/setup.py
  asset/noxfile.py
  automl/noxfile.py
  iot/noxfile.py
  kms/noxfile.py
  oslogin/noxfile.py
  tasks/noxfile.py
  texttospeech/noxfile.py
  videointelligence/noxfile.py
Labels: api: automl, api: cloudasset, api: cloudiot, api: cloudkms, api: cloudtasks, api: core, api: oslogin, api: texttospeech, api: videointelligence, cla: yes

#6351 Asset: fix docs build.
  asset/google/cloud/asset_v1beta1/proto/assets_pb2.py
  asset/synth.py
Labels: api: cloudasset, cla: yes, codegen, type: docs

#6081 Logging: add 'synth.py'.
  logging/google/cloud/logging_v2/gapic/config_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/config_service_v2_client_config.py
  logging/google/cloud/logging_v2/gapic/enums.py
  logging/google/cloud/logging_v2/gapic/logging_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/logging_service_v2_client_config.py
  logging/google/cloud/logging_v2/gapic/metrics_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/metrics_service_v2_client_config.py
  logging/google/cloud/logging_v2/gapic/transports/__init__.py
  logging/google/cloud/logging_v2/gapic/transports/config_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/logging_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/metrics_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/proto/log_entry_pb2.py
  logging/google/cloud/logging_v2/proto/logging_config_pb2.py
  logging/google/cloud/logging_v2/proto/logging_config_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/logging_metrics_pb2.py
  logging/google/cloud/logging_v2/proto/logging_metrics_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/logging_pb2.py
  logging/google/cloud/logging_v2/proto/logging_pb2_grpc.py
  logging/synth.py
Labels: api: logging, cla: yes, codegen
