Repository googleapis/google-cloud-python, pull requests merged in 2019-01, with the labels that each got.

#7041 Security Center: Fix 404 for 'Client Library Documentation' link.
  securitycenter/README.rst
Labels: api:securitycenter, cla: yes, type: docs

#7028 NDB: Implement ``TaskletFuture``.
  ndb/src/google/cloud/ndb/__init__.py
  ndb/src/google/cloud/ndb/tasklets.py
  ndb/tests/conftest.py
  ndb/tests/unit/test_tasklets.py
Labels: api: ndb, cla: yes

#7030 NDB: gRPC Integration
  ndb/src/google/cloud/ndb/_eventloop.py
  ndb/src/google/cloud/ndb/tasklets.py
  ndb/tests/unit/test__eventloop.py
  ndb/tests/unit/test_tasklets.py
Labels: api: ndb, cla: yes

#7002 Fix formatting
  error_reporting/docs/usage.rst
Labels: api: clouderrorreporting, type: docs

#7006 BigQuery: Harden systests against transient GCS errors.
  bigquery/tests/system.py
Labels: api: bigquery, cla: yes, testing

#7025 Tasks: Add working example for 'create_queue'
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
Labels: api: cloudtasks, cla: yes, type: docs

#7031 NDB: Implement parallel yield from tasklet
  ndb/src/google/cloud/ndb/tasklets.py
  ndb/tests/unit/test_tasklets.py
Labels: cla: yes

#7036 NDB: Implement tasklet decorator
  ndb/src/google/cloud/ndb/tasklets.py
  ndb/tests/unit/test_tasklets.py
Labels: cla: yes

#6963 Asset: pick up stub docstring fix in GAPIC generator.
  asset/google/cloud/asset_v1beta1/gapic/enums.py
  asset/google/cloud/asset_v1beta1/gapic/transports/asset_service_grpc_transport.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes, codegen

#6964 AutoML: pick up stub docstring fix in GAPIC generator.
  automl/google/cloud/automl_v1beta1/gapic/transports/auto_ml_grpc_transport.py
  automl/google/cloud/automl_v1beta1/gapic/transports/prediction_service_grpc_transport.py
  automl/synth.metadata
Labels: api: automl, cla: yes, codegen

#6965 BigQuery Data Transfer: pick up stub docstring fix in GAPIC generator.
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/enums.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/transports/data_transfer_service_grpc_transport.py
  bigquery_datatransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes, codegen

#6966 Container: pick up stub docstring fix in GAPIC generator.
  container/google/cloud/container_v1/gapic/enums.py
  container/google/cloud/container_v1/gapic/transports/cluster_manager_grpc_transport.py
  container/synth.metadata
Labels: api: container, cla: yes, codegen

#6967 Dataproc: pick up stub docstring fix in GAPIC generator.
  dataproc/google/cloud/dataproc_v1/gapic/enums.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/enums.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#6968 Datastore: pick up stub docstring fix in GAPIC generator.
  datastore/google/cloud/datastore_v1/gapic/enums.py
  datastore/google/cloud/datastore_v1/gapic/transports/datastore_grpc_transport.py
  datastore/synth.metadata
Labels: api: datastore, cla: yes, codegen

#6969 DLP: pick up stub docstring fix in GAPIC generator.
  dlp/google/cloud/dlp_v2/gapic/enums.py
  dlp/google/cloud/dlp_v2/gapic/transports/dlp_service_grpc_transport.py
  dlp/synth.metadata
Labels: api: dlp, cla: yes, codegen

#6970 Error_reporting: pick up stub docstring fix in GAPIC generator.
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/enums.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/error_group_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/error_stats_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/report_errors_service_grpc_transport.py
  error_reporting/synth.metadata
Labels: cla: yes, codegen

#6972 IAM: Add 'IAMCredentialsClient.generate_identity_binding_access_token' via synth.
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client.py
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client_config.py
  iam/google/cloud/iam_credentials_v1/gapic/transports/iam_credentials_grpc_transport.py
  iam/google/cloud/iam_credentials_v1/proto/common_pb2.py
  iam/google/cloud/iam_credentials_v1/proto/iamcredentials_pb2.py
  iam/google/cloud/iam_credentials_v1/proto/iamcredentials_pb2_grpc.py
  iam/synth.metadata
  iam/tests/unit/gapic/v1/test_iam_credentials_client_v1.py
Labels: api: iam, cla: yes, codegen

#6973 IOT: pick up stub docstring fix in GAPIC generator.
  iot/google/cloud/iot_v1/gapic/enums.py
  iot/google/cloud/iot_v1/gapic/transports/device_manager_grpc_transport.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes, codegen

#6974 KMS: pick up stub docstring fix in GAPIC generator.
  kms/google/cloud/kms_v1/gapic/enums.py
  kms/google/cloud/kms_v1/gapic/transports/key_management_service_grpc_transport.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#6975 Language: pick up stub docstring fix in GAPIC generator.
  language/google/cloud/language_v1/gapic/enums.py
  language/google/cloud/language_v1/gapic/transports/language_service_grpc_transport.py
  language/google/cloud/language_v1beta2/gapic/enums.py
  language/google/cloud/language_v1beta2/gapic/transports/language_service_grpc_transport.py
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#6976 Monitoring: pick up stub docstring fix in GAPIC generator.
  monitoring/google/cloud/monitoring_v3/gapic/enums.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/alert_policy_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/group_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/metric_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/notification_channel_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/uptime_check_service_grpc_transport.py
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes, codegen

#6977 OSLogin: pick up stub docstring fix in GAPIC generator.
  oslogin/google/cloud/oslogin_v1/gapic/transports/os_login_service_grpc_transport.py
  oslogin/synth.metadata
Labels: api: oslogin, cla: yes, codegen

#6978 Pub/sub: pick up stub docstring fix in GAPIC generator.
  pubsub/google/cloud/pubsub_v1/gapic/transports/publisher_grpc_transport.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/subscriber_grpc_transport.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes, codegen

#6980 Scheduler: pick up stub docstring fix in GAPIC generator.
  scheduler/google/cloud/scheduler_v1beta1/gapic/transports/cloud_scheduler_grpc_transport.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes, codegen

#6981 Securitycenter: pick up stub docstring fix in GAPIC generator.
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/enums.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/transports/security_center_grpc_transport.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#6982 Speech: pick up stub docstring fix in GAPIC generator.
  speech/google/cloud/speech_v1/gapic/transports/speech_grpc_transport.py
  speech/google/cloud/speech_v1p1beta1/gapic/transports/speech_grpc_transport.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#6983 Tasks: pick up stub docstring fix in GAPIC generator.
  tasks/google/cloud/tasks_v2beta2/gapic/enums.py
  tasks/google/cloud/tasks_v2beta2/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2beta3/gapic/enums.py
  tasks/google/cloud/tasks_v2beta3/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#6984 Texttospeech: pick up stub docstring fix in GAPIC generator.
  texttospeech/google/cloud/texttospeech_v1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes, codegen

#6985 Trace: pick up stub docstring fix in GAPIC generator.
  trace/google/cloud/trace_v1/gapic/enums.py
  trace/google/cloud/trace_v1/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v2/gapic/transports/trace_service_grpc_transport.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes, codegen

#6986 Videointelligence: pick up stub docstring fix in GAPIC generator.
  videointelligence/google/cloud/videointelligence_v1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#6879 Bigtable: pick up order-of-enum fix from GAPIC generator.
  bigtable/google/cloud/bigtable_admin_v2/gapic/enums.py
  bigtable/noxfile.py
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes, codegen

#6881 Vision: pick up order-of-enum fix from GAPIC generator.
  vision/google/cloud/vision_v1/gapic/enums.py
  vision/google/cloud/vision_v1p3beta1/gapic/enums.py
  vision/noxfile.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen, do not merge

#6882 Websecurityscanner: pick up order-of-enum fix from GAPIC generator.
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/enums.py
  websecurityscanner/noxfile.py
  websecurityscanner/synth.metadata
Labels: cla: yes, codegen, do not merge

#7046 Spanner: pick up stub docstring fix from GAPIC generator.
  spanner/google/cloud/spanner_admin_database_v1/gapic/transports/database_admin_grpc_transport.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/transports/instance_admin_grpc_transport.py
  spanner/google/cloud/spanner_v1/gapic/enums.py
  spanner/google/cloud/spanner_v1/gapic/transports/spanner_grpc_transport.py
  spanner/synth.metadata
  spanner/synth.py
Labels: api: spanner, cla: yes, codegen

#7020 Bigtable client snippets
  bigtable/docs/snippets.py
  bigtable/google/cloud/bigtable/client.py
Labels: api: bigtable, cla: yes, type: docs

#7047 BigQuery Storage: run 'blacken' during synth
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/transports/big_query_storage_grpc_transport.py
  bigquery_storage/noxfile.py
  bigquery_storage/synth.metadata
  bigquery_storage/synth.py
Labels: api:bigquerystorage, cla: yes, codegen

#7008 Pub/sub: pass transport w/ custom channel to GAPIC API clients.
  pubsub/google/cloud/pubsub_v1/publisher/client.py
  pubsub/google/cloud/pubsub_v1/subscriber/client.py
  pubsub/tests/unit/pubsub_v1/publisher/test_publisher_client.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_subscriber_client.py
Labels: api: pubsub, cla: yes, type: cleanup

#7048 Bigtable: blacken snippets.
  bigtable/docs/snippets_table.py
Labels: api: bigtable, cla: yes, type: cleanup

#7052 IAM: protoc-generated serialization update.
  iam/google/cloud/iam_credentials_v1/proto/common_pb2.py
  iam/google/cloud/iam_credentials_v1/proto/iamcredentials_pb2.py
  iam/synth.metadata
Labels: cla: yes, codegen

#7054 Pub/sub: docstring changes from updates to .proto files.
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/subscriber_grpc_transport.py
  pubsub/google/cloud/pubsub_v1/proto/pubsub_pb2.py
  pubsub/google/cloud/pubsub_v1/proto/pubsub_pb2_grpc.py
  pubsub/synth.metadata
Labels: cla: yes, codegen

#7055 Scheduler: protoc-generated serialization update.
  scheduler/google/cloud/scheduler_v1beta1/proto/cloudscheduler_pb2.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes, codegen

#7056 Security Center: docstring update from .proto file.
  securitycenter/google/cloud/securitycenter_v1beta1/proto/source_pb2.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#7058 Vision: GAPIC generation fixes.
  vision/google/cloud/vision_v1/gapic/enums.py
  vision/google/cloud/vision_v1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1p1beta1/gapic/enums.py
  vision/google/cloud/vision_v1p1beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p2beta1/gapic/enums.py
  vision/google/cloud/vision_v1p2beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/enums.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/product_search_grpc_transport.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#7059 Web Security Scanner: GAPIC generation fixes.
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/enums.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/transports/web_security_scanner_grpc_transport.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes, codegen

#7061 Logging: manual synth to get 'blacken' working.
  logging/google/cloud/logging_v2/gapic/enums.py
  logging/google/cloud/logging_v2/gapic/transports/config_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/logging_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/metrics_service_v2_grpc_transport.py
  logging/synth.metadata
Labels: api: logging, cla: yes, codegen

#7060 Bigtable: manual synth
  bigtable/docs/snippets.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/enums.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_instance_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_table_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_v2/gapic/transports/bigtable_grpc_transport.py
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes, codegen

#7062 Tasks: restore expanded example from PR #7025 after synth.
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/synth.metadata
  tasks/synth.py
Labels: api: cloudtasks, cla: yes, codegen

#7064 Logging: use 'python-3.6' for 'blacken' run.
  logging/noxfile.py
Labels: api: logging, cla: yes, codegen

#7067 Dataproc: proto housekeeping change.
  dataproc/google/cloud/dataproc_v1/proto/clusters_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/clusters_pb2.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#7073 Asset: protoc-generated serialization update.
  asset/google/cloud/asset_v1beta1/proto/asset_service_pb2.py
  asset/google/cloud/asset_v1beta1/proto/assets_pb2.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes, codegen

#7074 AutoML: protoc-generated serialization update.
  automl/google/cloud/automl_v1beta1/proto/annotation_payload_pb2.py
  automl/google/cloud/automl_v1beta1/proto/classification_pb2.py
  automl/google/cloud/automl_v1beta1/proto/data_items_pb2.py
  automl/google/cloud/automl_v1beta1/proto/dataset_pb2.py
  automl/google/cloud/automl_v1beta1/proto/image_pb2.py
  automl/google/cloud/automl_v1beta1/proto/io_pb2.py
  automl/google/cloud/automl_v1beta1/proto/model_evaluation_pb2.py
  automl/google/cloud/automl_v1beta1/proto/model_pb2.py
  automl/google/cloud/automl_v1beta1/proto/operations_pb2.py
  automl/google/cloud/automl_v1beta1/proto/prediction_service_pb2.py
  automl/google/cloud/automl_v1beta1/proto/service_pb2.py
  automl/google/cloud/automl_v1beta1/proto/text_pb2.py
  automl/google/cloud/automl_v1beta1/proto/translation_pb2.py
  automl/synth.metadata
Labels: api: automl, cla: yes, codegen

#7075 BigQuery Datatransfer: protoc-generated serialization update.
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/datatransfer_pb2.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/transfer_pb2.py
  bigquery_datatransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes, codegen

#7076 BigQuery Storage: protoc-generated serialization update.
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/avro_pb2.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/read_options_pb2.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/storage_pb2.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/table_reference_pb2.py
  bigquery_storage/synth.metadata
Labels: api:bigquerystorage, cla: yes, codegen

#7077 Bigtable: protoc-generated serialization update.
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_instance_admin_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_table_admin_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/common_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/instance_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/table_pb2.py
  bigtable/google/cloud/bigtable_v2/proto/bigtable_pb2.py
  bigtable/google/cloud/bigtable_v2/proto/data_pb2.py
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes, codegen

#7078 Ccontainer: protoc-generated serialization update.
  container/google/cloud/container_v1/proto/cluster_service_pb2.py
  container/synth.metadata
Labels: api: container, cla: yes, codegen

#7079 Dataproc: protoc-generated serialization update.
  dataproc/google/cloud/dataproc_v1/proto/clusters_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/jobs_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/operations_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/workflow_templates_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/clusters_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/jobs_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/operations_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/shared_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/workflow_templates_pb2.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#7081 DLP: protoc-generated serialization update.
  dlp/google/cloud/dlp_v2/proto/dlp_pb2.py
  dlp/google/cloud/dlp_v2/proto/storage_pb2.py
  dlp/synth.metadata
Labels: api: dlp, cla: yes, codegen

#7084 IAM: protoc-generated serialization update.
  iam/google/cloud/iam_credentials_v1/proto/common_pb2.py
  iam/google/cloud/iam_credentials_v1/proto/iamcredentials_pb2.py
  iam/synth.metadata
Labels: api: iam, cla: yes, codegen

#7085 IoT: protoc-generated serialization update.
  iot/google/cloud/iot_v1/proto/device_manager_pb2.py
  iot/google/cloud/iot_v1/proto/resources_pb2.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes, codegen

#7086 KMS: protoc-generated serialization update.
  kms/google/cloud/kms_v1/proto/resources_pb2.py
  kms/google/cloud/kms_v1/proto/service_pb2.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#7082 Error_reporting: protoc-generated serialization update.
  error_reporting/google/cloud/errorreporting_v1beta1/proto/common_pb2.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/error_group_service_pb2.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/error_stats_service_pb2.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/report_errors_service_pb2.py
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes, codegen

#7083 Firestore: protoc-generated serialization update.
  firestore/google/cloud/firestore_v1beta1/proto/common_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/document_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/firestore_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/query_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/write_pb2.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#7101 Websecurityscanner: protoc-generated serialization update.
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/crawled_url_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_addon_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_type_stats_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_config_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_run_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/web_security_scanner_pb2.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes, codegen

#7100 Vision: protoc-generated serialization update.
  vision/google/cloud/vision_v1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/web_detection_pb2.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#7099 Videointelligence: protoc-generated serialization update.
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1beta2/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/proto/video_intelligence_pb2.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#7098 Trace: protoc-generated serialization update.
  trace/google/cloud/trace_v1/proto/trace_pb2.py
  trace/google/cloud/trace_v2/proto/trace_pb2.py
  trace/google/cloud/trace_v2/proto/tracing_pb2.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes, codegen

#7097 Text-to-speech: protoc-generated serialization update.
  texttospeech/google/cloud/texttospeech_v1/proto/cloud_tts_pb2.py
  texttospeech/google/cloud/texttospeech_v1beta1/proto/cloud_tts_pb2.py
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes, codegen

#7096 Tasks: protoc-generated serialization update.
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/task_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/task_pb2.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#7095 Spanner: protoc-generated serialization update.
  spanner/google/cloud/spanner_admin_database_v1/proto/spanner_database_admin_pb2.py
  spanner/google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin_pb2.py
  spanner/google/cloud/spanner_v1/proto/keys_pb2.py
  spanner/google/cloud/spanner_v1/proto/mutation_pb2.py
  spanner/google/cloud/spanner_v1/proto/query_plan_pb2.py
  spanner/google/cloud/spanner_v1/proto/result_set_pb2.py
  spanner/google/cloud/spanner_v1/proto/spanner_pb2.py
  spanner/google/cloud/spanner_v1/proto/transaction_pb2.py
  spanner/google/cloud/spanner_v1/proto/type_pb2.py
  spanner/synth.metadata
Labels: api: spanner, cla: yes, codegen

#7094 Securitycenter: protoc-generated serialization update, docstring tweak.
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/asset_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/finding_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/organization_settings_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/security_marks_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/securitycenter_service_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/source_pb2.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#7093 Scheduler: protoc-generated serialization update.
  scheduler/google/cloud/scheduler_v1beta1/proto/cloudscheduler_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/job_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/target_pb2.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes, codegen

#7092 Redis: protoc-generated serialization update.
  redis/google/cloud/redis_v1/proto/cloud_redis_pb2.py
  redis/google/cloud/redis_v1beta1/proto/cloud_redis_pb2.py
  redis/synth.metadata
Labels: api: redis, cla: yes, codegen

#7091 Pub/sub: protoc-generated serialization update.
  pubsub/google/cloud/pubsub_v1/proto/pubsub_pb2.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes, codegen

#7090 Oslogin: protoc-generated serialization update.
  oslogin/google/cloud/oslogin_v1/proto/oslogin_pb2.py
  oslogin/synth.metadata
Labels: api: oslogin, cla: yes, codegen

#7106 Speech: protoc-generated serialization update.
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech_pb2.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#7109 Fix `Client Library Documentation` link
  texttospeech/README.rst
Labels: cla: yes

#7112 Regenerate speech to change quote chars in docstr.
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py
  speech/synth.metadata
Labels: cla: yes

#7116 Release speech 0.36.2
  speech/CHANGELOG.md
  speech/setup.py
Labels: autorelease: pending, cla: yes

#7119 Correct link in documentation string.
  scheduler/google/cloud/scheduler_v1beta1/proto/target_pb2.py
  scheduler/synth.metadata
Labels: cla: yes

#7071 PubSub: Propagate RetryError in PublisherClient.publish
  pubsub/google/cloud/pubsub_v1/publisher/_batch/thread.py
  pubsub/tests/unit/pubsub_v1/publisher/batch/test_thread.py
Labels: api: pubsub, cla: yes

#7072 fix: respect transform values passed into collection.add
  firestore/google/cloud/firestore_v1beta1/collection.py
  firestore/tests/system.py
  firestore/tests/unit/test_collection.py
Labels: cla: yes

#7065 NDB: Implement Key.get() and Key.get_async()
  ndb/docs/conf.py
  ndb/docs/index.rst
  ndb/docs/tasklets.rst
  ndb/noxfile.py
  ndb/src/google/cloud/ndb/__init__.py
  ndb/src/google/cloud/ndb/_datastore_api.py
  ndb/src/google/cloud/ndb/_runstate.py
  ndb/src/google/cloud/ndb/context.py
  ndb/src/google/cloud/ndb/exceptions.py
  ndb/src/google/cloud/ndb/key.py
  ndb/src/google/cloud/ndb/model.py
  ndb/src/google/cloud/ndb/tasklets.py
  ndb/tests/conftest.py
  ndb/tests/system/test_system.py
  ndb/tests/unit/test__datastore_api.py
  ndb/tests/unit/test_context.py
  ndb/tests/unit/test_key.py
  ndb/tests/unit/test_model.py
  ndb/tests/unit/test_tasklets.py
Labels: api: ndb, cla: yes

#7068 NDB: A little more internal documentation
  ndb/src/google/cloud/ndb/_eventloop.py
  ndb/src/google/cloud/ndb/tasklets.py
Labels: api: ndb, cla: yes

#7069 NDB: Make ``TaskletFuture`` and ``MultiFuture`` private.
  ndb/MIGRATION_NOTES.md
  ndb/src/google/cloud/ndb/__init__.py
  ndb/src/google/cloud/ndb/tasklets.py
  ndb/tests/unit/test_tasklets.py
Labels: api: ndb, cla: yes

#7070 NDB: Implement wait_any and wait_all.
  ndb/src/google/cloud/ndb/tasklets.py
  ndb/tests/unit/test_tasklets.py
Labels: api: ndb, cla: yes

#7115 NDB: _entity_to_protobuf
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_model.py
Labels: api: ndb, cla: yes

#7123 NDB: Fix sneaky bug in Sphinx docs build.
  ndb/src/google/cloud/ndb/tasklets.py
Labels: cla: yes

#7129 Firestore: 'increment' / 'minimum' / 'maximum' field transform attributes
  firestore/google/cloud/firestore_v1beta1/proto/write_pb2.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#7127 Docs: fix 404 for 'Faster Pull Request Reviews' link.
  CONTRIBUTING.rst
Labels: cla: yes, type: docs

#7126 Add option to choose dtypes by column in to_dataframe.
  bigquery/google/cloud/bigquery/table.py
  bigquery/noxfile.py
  bigquery/setup.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_table.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/reader.py
  bigquery_storage/noxfile.py
  bigquery_storage/setup.py
  bigquery_storage/tests/system/test_system.py
  bigquery_storage/tests/unit/test_reader.py
Labels: cla: yes

#7132 Pub/Sub doc: fix broken links
  pubsub/google/cloud/pubsub_v1/subscriber/client.py
Labels: api: pubsub, cla: yes, type: docs

#7164 [CHANGE ME] Re-generated websecurityscanner to pick up changes in the API or client library generator.
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/enums.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/transports/web_security_scanner_grpc_transport.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client.py
  websecurityscanner/synth.metadata
  websecurityscanner/tests/unit/gapic/v1alpha/test_web_security_scanner_client_v1alpha.py
Labels: cla: yes

#7163 [CHANGE ME] Re-generated vision to pick up changes in the API or client library generator.
  vision/google/cloud/vision_v1/__init__.py
  vision/google/cloud/vision_v1/gapic/enums.py
  vision/google/cloud/vision_v1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1/types.py
  vision/google/cloud/vision_v1p1beta1/__init__.py
  vision/google/cloud/vision_v1p1beta1/gapic/enums.py
  vision/google/cloud/vision_v1p1beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p1beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p1beta1/types.py
  vision/google/cloud/vision_v1p2beta1/__init__.py
  vision/google/cloud/vision_v1p2beta1/gapic/enums.py
  vision/google/cloud/vision_v1p2beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p2beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p2beta1/types.py
  vision/google/cloud/vision_v1p3beta1/__init__.py
  vision/google/cloud/vision_v1p3beta1/gapic/enums.py
  vision/google/cloud/vision_v1p3beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/types.py
  vision/synth.metadata
  vision/tests/unit/gapic/v1/test_image_annotator_client_v1.py
  vision/tests/unit/gapic/v1/test_product_search_client_v1.py
  vision/tests/unit/gapic/v1p1beta1/test_image_annotator_client_v1p1beta1.py
  vision/tests/unit/gapic/v1p2beta1/test_image_annotator_client_v1p2beta1.py
  vision/tests/unit/gapic/v1p3beta1/test_image_annotator_client_v1p3beta1.py
  vision/tests/unit/gapic/v1p3beta1/test_product_search_client_v1p3beta1.py
Labels: cla: yes

#7162 [CHANGE ME] Re-generated videointelligence to pick up changes in the API or client library generator.
  videointelligence/google/__init__.py
  videointelligence/google/cloud/__init__.py
  videointelligence/google/cloud/videointelligence.py
  videointelligence/google/cloud/videointelligence_v1/__init__.py
  videointelligence/google/cloud/videointelligence_v1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1/types.py
  videointelligence/google/cloud/videointelligence_v1beta1/__init__.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1beta1/types.py
  videointelligence/google/cloud/videointelligence_v1beta2/__init__.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1beta2/types.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/__init__.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/types.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/__init__.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/types.py
  videointelligence/synth.metadata
  videointelligence/tests/unit/gapic/v1/test_video_intelligence_service_client_v1.py
  videointelligence/tests/unit/gapic/v1beta1/test_video_intelligence_service_client_v1beta1.py
  videointelligence/tests/unit/gapic/v1beta2/test_video_intelligence_service_client_v1beta2.py
  videointelligence/tests/unit/gapic/v1p1beta1/test_video_intelligence_service_client_v1p1beta1.py
  videointelligence/tests/unit/gapic/v1p2beta1/test_video_intelligence_service_client_v1p2beta1.py
Labels: cla: yes

#7161 [CHANGE ME] Re-generated trace to pick up changes in the API or client library generator.
  trace/google/cloud/trace_v1/__init__.py
  trace/google/cloud/trace_v1/gapic/enums.py
  trace/google/cloud/trace_v1/gapic/trace_service_client.py
  trace/google/cloud/trace_v1/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v1/types.py
  trace/google/cloud/trace_v2/__init__.py
  trace/google/cloud/trace_v2/gapic/enums.py
  trace/google/cloud/trace_v2/gapic/trace_service_client.py
  trace/google/cloud/trace_v2/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v2/types.py
  trace/synth.metadata
  trace/tests/unit/gapic/v1/test_trace_service_client_v1.py
  trace/tests/unit/gapic/v2/test_trace_service_client_v2.py
Labels: cla: yes

#7160 [CHANGE ME] Re-generated texttospeech to pick up changes in the API or client library generator.
  texttospeech/google/cloud/texttospeech.py
  texttospeech/google/cloud/texttospeech_v1/__init__.py
  texttospeech/google/cloud/texttospeech_v1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1/proto/cloud_tts_pb2.py
  texttospeech/google/cloud/texttospeech_v1/proto/cloud_tts_pb2_grpc.py
  texttospeech/google/cloud/texttospeech_v1/types.py
  texttospeech/google/cloud/texttospeech_v1beta1/__init__.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1beta1/types.py
  texttospeech/synth.metadata
  texttospeech/tests/unit/gapic/v1/test_text_to_speech_client_v1.py
  texttospeech/tests/unit/gapic/v1beta1/test_text_to_speech_client_v1beta1.py
Labels: cla: yes

#7145 [CHANGE ME] Re-generated firestore to pick up changes in the API or client library generator.
  firestore/google/cloud/firestore_v1beta1/gapic/enums.py
  firestore/google/cloud/firestore_v1beta1/gapic/firestore_client.py
  firestore/google/cloud/firestore_v1beta1/gapic/transports/firestore_grpc_transport.py
  firestore/synth.metadata
  firestore/tests/unit/gapic/v1beta1/test_firestore_client_v1beta1.py
Labels: cla: yes

#7144 [CHANGE ME] Re-generated error_reporting to pick up changes in the API or client library generator.
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/enums.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_group_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_stats_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/report_errors_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/error_group_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/error_stats_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/report_errors_service_grpc_transport.py
  error_reporting/synth.metadata
  error_reporting/tests/system/gapic/v1beta1/test_system_report_errors_service_v1beta1.py
  error_reporting/tests/unit/gapic/v1beta1/test_error_group_service_client_v1beta1.py
  error_reporting/tests/unit/gapic/v1beta1/test_error_stats_service_client_v1beta1.py
  error_reporting/tests/unit/gapic/v1beta1/test_report_errors_service_client_v1beta1.py
Labels: cla: yes

#7143 [CHANGE ME] Re-generated dlp to pick up changes in the API or client library generator.
  dlp/google/__init__.py
  dlp/google/cloud/__init__.py
  dlp/google/cloud/dlp.py
  dlp/google/cloud/dlp_v2/__init__.py
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py
  dlp/google/cloud/dlp_v2/gapic/enums.py
  dlp/google/cloud/dlp_v2/gapic/transports/dlp_service_grpc_transport.py
  dlp/google/cloud/dlp_v2/types.py
  dlp/synth.metadata
  dlp/tests/unit/gapic/v2/test_dlp_service_client_v2.py
Labels: cla: yes

#7142 [CHANGE ME] Re-generated datastore to pick up changes in the API or client library generator.
  datastore/google/cloud/datastore_v1/gapic/datastore_client.py
  datastore/google/cloud/datastore_v1/gapic/enums.py
  datastore/google/cloud/datastore_v1/gapic/transports/datastore_grpc_transport.py
  datastore/synth.metadata
Labels: cla: yes

#7141 [CHANGE ME] Re-generated dataproc to pick up changes in the API or client library generator.
  dataproc/google/__init__.py
  dataproc/google/cloud/__init__.py
  dataproc/google/cloud/dataproc.py
  dataproc/google/cloud/dataproc_v1/__init__.py
  dataproc/google/cloud/dataproc_v1/gapic/cluster_controller_client.py
  dataproc/google/cloud/dataproc_v1/gapic/enums.py
  dataproc/google/cloud/dataproc_v1/gapic/job_controller_client.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/workflow_template_service_client.py
  dataproc/google/cloud/dataproc_v1/types.py
  dataproc/google/cloud/dataproc_v1beta2/__init__.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/cluster_controller_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/enums.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/job_controller_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/workflow_template_service_client.py
  dataproc/google/cloud/dataproc_v1beta2/types.py
  dataproc/synth.metadata
  dataproc/tests/system/gapic/v1/test_system_cluster_controller_v1.py
  dataproc/tests/system/gapic/v1beta2/test_system_cluster_controller_v1beta2.py
  dataproc/tests/unit/gapic/v1/test_cluster_controller_client_v1.py
  dataproc/tests/unit/gapic/v1/test_job_controller_client_v1.py
  dataproc/tests/unit/gapic/v1/test_workflow_template_service_client_v1.py
  dataproc/tests/unit/gapic/v1beta2/test_cluster_controller_client_v1beta2.py
  dataproc/tests/unit/gapic/v1beta2/test_job_controller_client_v1beta2.py
  dataproc/tests/unit/gapic/v1beta2/test_workflow_template_service_client_v1beta2.py
Labels: cla: yes

#7140 [CHANGE ME] Re-generated container to pick up changes in the API or client library generator.
  container/google/cloud/container_v1/__init__.py
  container/google/cloud/container_v1/gapic/cluster_manager_client.py
  container/google/cloud/container_v1/gapic/enums.py
  container/google/cloud/container_v1/gapic/transports/cluster_manager_grpc_transport.py
  container/google/cloud/container_v1/types.py
  container/synth.metadata
  container/tests/unit/gapic/v1/test_cluster_manager_client_v1.py
Labels: cla: yes

#7139 [CHANGE ME] Re-generated bigtable to pick up changes in the API or client library generator.
  bigtable/google/cloud/bigtable_admin_v2/__init__.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_instance_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/enums.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_instance_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_table_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_admin_v2/types.py
  bigtable/google/cloud/bigtable_v2/__init__.py
  bigtable/google/cloud/bigtable_v2/gapic/bigtable_client.py
  bigtable/google/cloud/bigtable_v2/gapic/transports/bigtable_grpc_transport.py
  bigtable/google/cloud/bigtable_v2/types.py
  bigtable/synth.metadata
  bigtable/tests/unit/gapic/v2/test_bigtable_client_v2.py
  bigtable/tests/unit/gapic/v2/test_bigtable_instance_admin_client_v2.py
  bigtable/tests/unit/gapic/v2/test_bigtable_table_admin_client_v2.py
Labels: cla: yes

#7138 [CHANGE ME] Re-generated bigquery_storage to pick up changes in the API or client library generator.
  bigquery_storage/google/__init__.py
  bigquery_storage/google/cloud/__init__.py
  bigquery_storage/google/cloud/bigquery_storage.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/big_query_storage_client.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/enums.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/transports/big_query_storage_grpc_transport.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/types.py
  bigquery_storage/synth.metadata
  bigquery_storage/tests/unit/gapic/v1beta1/test_big_query_storage_client_v1beta1.py
Labels: cla: yes

#7137 [CHANGE ME] Re-generated bigquery_datatransfer to pick up changes in the API or client library generator.
  bigquery_datatransfer/google/__init__.py
  bigquery_datatransfer/google/cloud/__init__.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/__init__.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/enums.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/transports/data_transfer_service_grpc_transport.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/types.py
  bigquery_datatransfer/synth.metadata
  bigquery_datatransfer/tests/system/gapic/v1/test_system_data_transfer_service_v1.py
  bigquery_datatransfer/tests/unit/gapic/v1/test_data_transfer_service_client_v1.py
Labels: cla: yes

#7136 [CHANGE ME] Re-generated automl to pick up changes in the API or client library generator.
  automl/google/cloud/automl.py
  automl/google/cloud/automl_v1beta1/__init__.py
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1beta1/gapic/enums.py
  automl/google/cloud/automl_v1beta1/gapic/prediction_service_client.py
  automl/google/cloud/automl_v1beta1/gapic/transports/auto_ml_grpc_transport.py
  automl/google/cloud/automl_v1beta1/gapic/transports/prediction_service_grpc_transport.py
  automl/google/cloud/automl_v1beta1/types.py
  automl/synth.metadata
  automl/tests/unit/gapic/v1beta1/test_auto_ml_client_v1beta1.py
  automl/tests/unit/gapic/v1beta1/test_prediction_service_client_v1beta1.py
Labels: cla: yes

#7135 [CHANGE ME] Re-generated asset to pick up changes in the API or client library generator.
  asset/google/__init__.py
  asset/google/cloud/__init__.py
  asset/google/cloud/asset.py
  asset/google/cloud/asset_v1beta1/__init__.py
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1beta1/gapic/enums.py
  asset/google/cloud/asset_v1beta1/gapic/transports/asset_service_grpc_transport.py
  asset/google/cloud/asset_v1beta1/types.py
  asset/synth.metadata
  asset/tests/unit/gapic/v1beta1/test_asset_service_client_v1beta1.py
Labels: cla: yes

#7153 [CHANGE ME] Re-generated pubsub to pick up changes in the API or client library generator.
  pubsub/google/__init__.py
  pubsub/google/cloud/__init__.py
  pubsub/google/cloud/pubsub.py
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/publisher_grpc_transport.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/subscriber_grpc_transport.py
  pubsub/synth.metadata
  pubsub/tests/system/gapic/v1/test_system_publisher_v1.py
  pubsub/tests/unit/gapic/v1/test_publisher_client_v1.py
  pubsub/tests/unit/gapic/v1/test_subscriber_client_v1.py
Labels: cla: yes

#7150 Re-generated logging. Change WriteLogEntries retry. Update copyright headers.
  logging/google/cloud/logging_v2/gapic/config_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/enums.py
  logging/google/cloud/logging_v2/gapic/logging_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/logging_service_v2_client_config.py
  logging/google/cloud/logging_v2/gapic/metrics_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/transports/config_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/logging_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/metrics_service_v2_grpc_transport.py
  logging/synth.metadata
  logging/tests/unit/gapic/v2/test_config_service_v2_client_v2.py
  logging/tests/unit/gapic/v2/test_logging_service_v2_client_v2.py
  logging/tests/unit/gapic/v2/test_metrics_service_v2_client_v2.py
Labels: cla: yes

#7196 Release logging 1.10.0
  logging/CHANGELOG.md
  logging/setup.py
Labels: autorelease: pending, cla: yes

#7201 Storage: Improve docs for 'generate_signed_url'.
  storage/google/cloud/storage/_signing.py
  storage/google/cloud/storage/blob.py
Labels: api: storage, cla: yes, type: docs

#7202 Asset: rename 'GcsDestination.uri' -> 'object_uri', docstring changes (via synth).
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1beta1/proto/asset_service_pb2.py
  asset/google/cloud/asset_v1beta1/proto/assets_pb2.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes, codegen

#7114 Add support for including protos in synth
  asset/protos/asset_service.proto
  asset/protos/assets.proto
  asset/synth.metadata
  asset/synth.py
Labels: cla: yes

#7210 Release bigquery_storage 0.2.0
  bigquery_storage/CHANGELOG.md
  bigquery_storage/setup.py
Labels: cla: yes

#7200 Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: cla: yes

#7212 Add cloud Logging Resource sample
  logging/docs/snippets.py
  logging/docs/usage.rst
Labels: api: logging, cla: yes, testing, type: docs

#7211 Tasks: add 'Task.dispatch_deadline' via synth.
  tasks/google/cloud/tasks_v2beta3/gapic/enums.py
  tasks/google/cloud/tasks_v2beta3/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/task_pb2.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#7206 Firestore: remove bogus error checking of query response stream.
  firestore/google/cloud/firestore_v1beta1/query.py
  firestore/tests/unit/test_query.py
Labels: api: firestore, cla: yes

#7216 [CHANGE ME] Re-generated logging to pick up changes in the API or client library generator.
  logging/docs/snippets.py
  logging/synth.metadata
Labels: api: logging, cla: yes

#7217 Add sample for fetching total_rows from query results.
  bigquery/docs/snippets.py
Labels: api: bigquery, cla: yes, type: docs

#7225 Container: minor gapic-generator change.
  container/google/cloud/container_v1/proto/cluster_service_pb2.py
  container/synth.metadata
Labels: api: container, cla: yes, codegen

#7227 DLP: copy in proto files.
  dlp/google/cloud/dlp_v2/proto/dlp.proto
  dlp/google/cloud/dlp_v2/proto/storage.proto
  dlp/synth.metadata
Labels: api: dlp, cla: yes, codegen

#7230 Logging: trivial gapic-generator change.
  logging/google/cloud/logging_v2/proto/log_entry_pb2.py
  logging/google/cloud/logging_v2/proto/logging_config_pb2.py
  logging/google/cloud/logging_v2/proto/logging_metrics_pb2.py
  logging/google/cloud/logging_v2/proto/logging_pb2.py
  logging/synth.metadata
Labels: api: logging, cla: yes, codegen

#7231 Monitoring: trivial gapic-generator change.
  monitoring/google/cloud/monitoring_v3/proto/common_pb2.py
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes, codegen

#7236 Trace: trivial gapic-generator change.
  trace/google/cloud/trace_v1/proto/trace_pb2.py
  trace/google/cloud/trace_v2/proto/trace_pb2.py
  trace/google/cloud/trace_v2/proto/tracing_pb2.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes, codegen

#7223 Add quickstart demonstrating most BQ Storage API read features
  bigquery_storage/README.rst
  bigquery_storage/docs/index.rst
  bigquery_storage/docs/quickstart.py
  bigquery_storage/docs/quickstart_test.py
  bigquery_storage/noxfile.py
Labels: api:bigquerystorage, cla: yes

#7240 Speech: Add Audio Channel Count to RecognitionConfig
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#7242 BigQuery Storage: blacken new quickstart snippet.
  bigquery_storage/docs/quickstart.py
  bigquery_storage/docs/quickstart_test.py
  bigquery_storage/synth.metadata
Labels: api:bigquerystorage, cla: yes, codegen

#7124 NDB: Implement Model.put() and Model.put_async()
  ndb/src/google/cloud/ndb/_datastore_api.py
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/system/test_system.py
  ndb/tests/unit/test__datastore_api.py
  ndb/tests/unit/test_model.py
Labels: cla: yes

#7245 Vision: get system logo tests healthy.
  vision/tests/data/logo.png
  vision/tests/system.py
Labels: api: vision, cla: yes, testing
