Repository googleapis/google-cloud-python, pull requests merged in 2019-11, with the labels that each got.

#9486 feat(api_core): provide a 'raw_page' field for page_iterator.Page
  api_core/google/api_core/page_iterator.py
  api_core/tests/unit/test_page_iterator.py
Labels: api: core, cla: yes

#9579 test(spanner): harden 'test_transaction_batch_update*' systests against partial success + abort
  spanner/tests/system/test_system.py
Labels: api: spanner, cla: yes, flaky, testing

#9574 docs(bigquery): document how to achieve higher write limit and add tests
  bigquery/docs/usage/tables.rst
  bigquery/google/cloud/bigquery/client.py
  bigquery/samples/table_insert_rows_explicit_none_insert_ids.py
  bigquery/samples/tests/test_table_insert_rows_explicit_none_insert_ids.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes, type: docs

#9584 feat(datacatalog): add sample to create an entry group
  datacatalog/noxfile.py
  datacatalog/samples/__init__.py
  datacatalog/samples/tests/__init__.py
  datacatalog/samples/tests/conftest.py
  datacatalog/samples/tests/test_create_entry_group.py
  datacatalog/samples/v1beta1/__init__.py
  datacatalog/samples/v1beta1/create_entry_group.py
  datacatalog/synth.py
Labels: api: datacatalog, cla: yes

#9588 feat(tasks): add HTTP tasks, OAuth tokens, and OIDC tokens (via synth)
  tasks/google/cloud/tasks_v2/proto/queue.proto
  tasks/google/cloud/tasks_v2/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2/proto/target.proto
  tasks/google/cloud/tasks_v2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2/proto/task.proto
  tasks/google/cloud/tasks_v2/proto/task_pb2.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#9321 fix(bigquery): use pyarrow fallback for improved schema detection
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/tests/unit/test__pandas_helpers.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#9590 feat(datacatalog): add sample to create a fileset entry
  datacatalog/samples/tests/conftest.py
  datacatalog/samples/tests/test_create_fileset_entry.py
  datacatalog/samples/v1beta1/create_fileset_entry.py
Labels: cla: yes

#9604 chore(storage): release 1.22.0
  storage/CHANGELOG.md
  storage/setup.py
Labels: autorelease: pending, cla: yes

#9595 chore(tasks): release 1.3.0
  tasks/CHANGELOG.md
  tasks/setup.py
Labels: autorelease: pending, cla: yes, type: process

#9572 feat(storage): add opt-in raw download support
  bigquery/setup.py
  storage/google/cloud/storage/blob.py
  storage/setup.py
  storage/tests/system.py
  storage/tests/unit/test_blob.py
Labels: api: storage, cla: yes

#9581 tests: add centralized VPCSC config detection
  test_utils/test_utils/vpcsc_config.py
Labels: cla: yes

#9599 feat(bigquery): add `--destination_table` parameter to bigquery magic
  bigquery/google/cloud/bigquery/magics.py
  bigquery/tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#9478 doc(bigquery): add table create sample using integer range partitioning
  bigquery/docs/usage/tables.rst
  bigquery/samples/create_table_range_partitioned.py
  bigquery/samples/tests/test_create_table_range_partitioned.py
Labels: api: bigquery, cla: yes, type: docs

#9612 feat(videointelligence): add celebrity recognition support (via synth)
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/streaming_video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence_pb2_grpc.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#9613 feat(vision): add celebrity recognition support; add object annotation support; add 'purge_products' method (all v1p4beta1) (via synth)
  vision/google/cloud/vision_v1p4beta1/gapic/enums.py
  vision/google/cloud/vision_v1p4beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p4beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p4beta1/gapic/product_search_client_config.py
  vision/google/cloud/vision_v1p4beta1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1p4beta1/proto/face.proto
  vision/google/cloud/vision_v1p4beta1/proto/face_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/face_pb2_grpc.py
  vision/google/cloud/vision_v1p4beta1/proto/geometry.proto
  vision/google/cloud/vision_v1p4beta1/proto/image_annotator.proto
  vision/google/cloud/vision_v1p4beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search.proto
  vision/google/cloud/vision_v1p4beta1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service.proto
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service_pb2_grpc.py
  vision/google/cloud/vision_v1p4beta1/proto/text_annotation.proto
  vision/google/cloud/vision_v1p4beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/web_detection.proto
  vision/google/cloud/vision_v1p4beta1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1p4beta1/types.py
  vision/synth.metadata
  vision/tests/unit/gapic/v1p4beta1/test_product_search_client_v1p4beta1.py
Labels: api: vision, cla: yes, codegen

#9564 fix(monitoring): make VPCSC env comparison case-insensitive
  monitoring/noxfile.py
Labels: cla: yes

#9606 fix(containeranalysis): make google.cloud.devtools a namespace
  containeranalysis/google/cloud/devtools/__init__.py
  containeranalysis/noxfile.py
  containeranalysis/setup.py
  containeranalysis/synth.metadata
  containeranalysis/synth.py
Labels: api: containeranalysis, cla: yes

#9607 tests(automl): normalize VPCSC configuration in systests
  automl/tests/system/gapic/v1beta1/test_system_tables_client_v1.py
Labels: api: automl, cla: yes, testing

#9616 tests(storage): normalize VPCSC configuration in systests.
  storage/tests/system.py
Labels: cla: yes, testing

#9254 docs(firestore): clarify client threadsafety
  firestore/docs/index.rst
Labels: cla: yes

#9275 docs(firestore): add documentation for Document,Collection .on_snapshot
  firestore/google/cloud/firestore_v1/collection.py
  firestore/google/cloud/firestore_v1/document.py
Labels: api: firestore, cla: yes

#9365 feat(pubsub): add stop method
  pubsub/google/cloud/pubsub_v1/futures.py
  pubsub/google/cloud/pubsub_v1/publisher/_batch/thread.py
  pubsub/google/cloud/pubsub_v1/publisher/client.py
  pubsub/tests/unit/pubsub_v1/publisher/test_publisher_client.py
Labels: api: pubsub, cla: yes

#9621 chore(firestore): release 1.6.0
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: autorelease: pending, cla: yes

#9630 tests: fix typos in new 'vpcsc_config' module.
  test_utils/test_utils/vpcsc_config.py
Labels: cla: yes, testing

#9510 feat(cloudbuild): generate v1
  .kokoro/continuous/cloudbuild.cfg
  .kokoro/docs/cloudbuild.cfg
  .kokoro/presubmit/cloudbuild.cfg
  .kokoro/release/cloudbuild.cfg
  cloudbuild/.coveragerc
  cloudbuild/.flake8
  cloudbuild/.repo-metadata.json
  cloudbuild/CHANGELOG.md
  cloudbuild/LICENSE
  cloudbuild/MANIFEST.in
  cloudbuild/README.rst
  cloudbuild/docs/README.rst
  cloudbuild/docs/changelog.md
  cloudbuild/docs/conf.py
  cloudbuild/docs/gapic/v1/api.rst
  cloudbuild/docs/gapic/v1/types.rst
  cloudbuild/docs/index.rst
  cloudbuild/google/__init__.py
  cloudbuild/google/cloud/__init__.py
  cloudbuild/google/cloud/devtools/__init__.py
  cloudbuild/google/cloud/devtools/cloudbuild.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/__init__.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/gapic/__init__.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/gapic/cloud_build_client.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/gapic/cloud_build_client_config.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/gapic/enums.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/gapic/transports/__init__.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/gapic/transports/cloud_build_grpc_transport.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/proto/__init__.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/proto/cloudbuild.proto
  cloudbuild/google/cloud/devtools/cloudbuild_v1/proto/cloudbuild_pb2.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/proto/cloudbuild_pb2_grpc.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/types.py
  cloudbuild/noxfile.py
  cloudbuild/setup.cfg
  cloudbuild/setup.py
  cloudbuild/synth.metadata
  cloudbuild/synth.py
  cloudbuild/tests/unit/gapic/v1/test_cloud_build_client_v1.py
Labels: api: cloudbuilder, cla: yes

#9634 fix(firestore): simplify 'Collection.add', avoid spurious API call
  firestore/google/cloud/firestore_v1/collection.py
  firestore/tests/unit/v1/test_collection.py
Labels: api: firestore, cla: yes

#9636 chore(containeranalysis): release 0.3.1
  containeranalysis/CHANGELOG.md
  containeranalysis/setup.py
Labels: autorelease: pending, cla: yes

#9635 chore(cloudbuild): release 0.1.0
  README.rst
  cloudbuild/CHANGELOG.md
Labels: autorelease: pending, cla: yes

#9623 feat(documentai): initial generation of documentai
  .kokoro/continuous/documentai.cfg
  .kokoro/docs/documentai.cfg
  .kokoro/presubmit/documentai.cfg
  .kokoro/release/documentai.cfg
  documentai/.coveragerc
  documentai/.flake8
  documentai/.repo-metadata.json
  documentai/CHANGELOG.md
  documentai/LICENSE
  documentai/MANIFEST.in
  documentai/README.rst
  documentai/docs/README.rst
  documentai/docs/changelog.md
  documentai/docs/conf.py
  documentai/docs/gapic/v1beta1/api.rst
  documentai/docs/gapic/v1beta1/types.rst
  documentai/docs/index.rst
  documentai/google/__init__.py
  documentai/google/cloud/__init__.py
  documentai/google/cloud/documentai.py
  documentai/google/cloud/documentai_v1beta1/__init__.py
  documentai/google/cloud/documentai_v1beta1/gapic/__init__.py
  documentai/google/cloud/documentai_v1beta1/gapic/document_understanding_service_client.py
  documentai/google/cloud/documentai_v1beta1/gapic/document_understanding_service_client_config.py
  documentai/google/cloud/documentai_v1beta1/gapic/enums.py
  documentai/google/cloud/documentai_v1beta1/gapic/transports/__init__.py
  documentai/google/cloud/documentai_v1beta1/gapic/transports/document_understanding_service_grpc_transport.py
  documentai/google/cloud/documentai_v1beta1/proto/__init__.py
  documentai/google/cloud/documentai_v1beta1/proto/document.proto
  documentai/google/cloud/documentai_v1beta1/proto/document_pb2.py
  documentai/google/cloud/documentai_v1beta1/proto/document_pb2_grpc.py
  documentai/google/cloud/documentai_v1beta1/proto/document_understanding.proto
  documentai/google/cloud/documentai_v1beta1/proto/document_understanding_pb2.py
  documentai/google/cloud/documentai_v1beta1/proto/document_understanding_pb2_grpc.py
  documentai/google/cloud/documentai_v1beta1/proto/geometry.proto
  documentai/google/cloud/documentai_v1beta1/proto/geometry_pb2.py
  documentai/google/cloud/documentai_v1beta1/proto/geometry_pb2_grpc.py
  documentai/google/cloud/documentai_v1beta1/types.py
  documentai/noxfile.py
  documentai/setup.cfg
  documentai/setup.py
  documentai/synth.metadata
  documentai/synth.py
  documentai/tests/unit/gapic/v1beta1/test_document_understanding_service_client_v1beta1.py
Labels: cla: yes

#8604 refactor(storage): move 'create_bucket' implementation from 'Bucket' to 'Client'
  storage/google/cloud/storage/client.py
  storage/tests/unit/test_bucket.py
  storage/tests/unit/test_client.py
Labels: api: storage, cla: yes

#9644 docs(talent): update docstrings (via synth)
  talent/google/cloud/talent_v4beta1/gapic/enums.py
  talent/google/cloud/talent_v4beta1/gapic/job_service_client.py
  talent/google/cloud/talent_v4beta1/proto/common.proto
  talent/google/cloud/talent_v4beta1/proto/filters.proto
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job_service.proto
  talent/google/cloud/talent_v4beta1/proto/job_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile.proto
  talent/synth.metadata
Labels: api: talent, cla: yes

#9649 chore(bigquery): fix undelete table system test to use milliseconds in snapshot decorator
  bigquery/docs/snippets.py
  bigquery/docs/usage/tables.rst
  bigquery/samples/tests/conftest.py
  bigquery/samples/tests/test_undelete_table.py
  bigquery/samples/undelete_table.py
Labels: cla: yes

#9597 fix(pubsub): update batching and flow control parameters to be same as the other client libraries
  pubsub/google/cloud/pubsub_v1/types.py
  pubsub/tests/unit/pubsub_v1/publisher/test_publisher_client.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes

#9632 chore(pubsub): refactor fake leaser test helper
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes, type: cleanup

#9619 tests(translate): normalize VPCSC configuration in systests
  translate/tests/system/test_vpcsc.py
Labels: api: translation, cla: yes, testing

#9454 fix(spanner): return sessions from pool in LIFO order
  spanner/google/cloud/spanner_v1/pool.py
  spanner/tests/unit/test_pool.py
Labels: api: spanner, cla: yes

#9609 fix(spanner): fix TransactionPingingPool throwing error ''NoneType' object is not callable'
  spanner/google/cloud/spanner_v1/pool.py
  spanner/tests/unit/test_pool.py
Labels: api: spanner, cla: yes

#9620 tests(vision): normalize VPCSC configuration in systests
  vision/tests/system.py
Labels: api: vision, cla: yes, testing

#9639 chore(dataproc): release 0.6.0
  dataproc/CHANGELOG.md
  dataproc/setup.py
Labels: autorelease: pending, cla: yes

#9547 chore(oslogin): fix synth copy
  oslogin/synth.metadata
  oslogin/synth.py
Labels: api: oslogin, cla: yes, codegen

#9728 tests(storage): fix query-string order dependent assert
  storage/tests/unit/test_client.py
Labels: api: storage, cla: yes, testing

#9618 tests(trace): normalize VPCSC configuration in systests
  trace/noxfile.py
  trace/tests/system/gapic/v1/test_system_trace_service_v1_vpcsc.py
  trace/tests/system/gapic/v2/test_system_trace_service_v2_vpcsc.py
Labels: api: cloudtrace, cla: yes, testing

#9608 tests(dlp): normalize VPCSC configuration in systests
  dlp/noxfile.py
  dlp/tests/system/gapic/v2/test_system_dlp_service_v2_vpcsc.py
Labels: api: dlp, cla: yes, testing

#9614 tests(asset): normalize VPCSC configuration in systests
  asset/noxfile.py
  asset/tests/system/test_vpcsc.py
Labels: api: cloudasset, cla: yes, testing

#9646 chore(videointelligence): release 1.12.0
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: autorelease: pending, cla: yes

#9645 chore(vision): release 0.40.0
  vision/CHANGELOG.md
  vision/setup.py
Labels: api: vision, autorelease: pending, cla: yes

#9577 feat(spanner): add instance replica info; annotate protos, update docstrings (via synth)
  spanner/google/cloud/spanner_admin_database_v1/gapic/database_admin_client.py
  spanner/google/cloud/spanner_admin_database_v1/proto/spanner_database_admin.proto
  spanner/google/cloud/spanner_admin_database_v1/proto/spanner_database_admin_pb2.py
  spanner/google/cloud/spanner_admin_database_v1/proto/spanner_database_admin_pb2_grpc.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/enums.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/instance_admin_client.py
  spanner/google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin.proto
  spanner/google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin_pb2.py
  spanner/google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin_pb2_grpc.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client.py
  spanner/google/cloud/spanner_v1/gapic/transports/spanner_grpc_transport.py
  spanner/google/cloud/spanner_v1/proto/keys.proto
  spanner/google/cloud/spanner_v1/proto/keys_pb2.py
  spanner/google/cloud/spanner_v1/proto/mutation.proto
  spanner/google/cloud/spanner_v1/proto/mutation_pb2.py
  spanner/google/cloud/spanner_v1/proto/query_plan.proto
  spanner/google/cloud/spanner_v1/proto/query_plan_pb2.py
  spanner/google/cloud/spanner_v1/proto/result_set.proto
  spanner/google/cloud/spanner_v1/proto/result_set_pb2.py
  spanner/google/cloud/spanner_v1/proto/spanner.proto
  spanner/google/cloud/spanner_v1/proto/spanner_pb2.py
  spanner/google/cloud/spanner_v1/proto/spanner_pb2_grpc.py
  spanner/google/cloud/spanner_v1/proto/transaction.proto
  spanner/google/cloud/spanner_v1/proto/transaction_pb2.py
  spanner/google/cloud/spanner_v1/proto/type.proto
  spanner/synth.metadata
  spanner/synth.py
Labels: api: spanner, cla: yes, codegen

#9615 tests(monitoring): normalize VPCSC configuration in systests
  monitoring/noxfile.py
  monitoring/tests/system/test_vpcsc_v3.py
Labels: api: monitoring, cla: yes, testing

#9627 chore(bigquery): fix link anchors in external config docstrings
  bigquery/google/cloud/bigquery/external_config.py
Labels: api: bigquery, cla: yes, type: cleanup

#9638 docs(cloudbuild): fix link to client lib docs
  cloudbuild/README.rst
  cloudbuild/synth.metadata
  cloudbuild/synth.py
Labels: api: cloudbuilder, cla: yes

#9774 chore(websecurityscanner): change spacing in docs templates (via synth)
  websecurityscanner/docs/_static/custom.css
  websecurityscanner/docs/_templates/layout.html
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes, codegen

#9773 chore(webrisk): change spacing in docs templates (via synth)
  webrisk/docs/_static/custom.css
  webrisk/docs/_templates/layout.html
  webrisk/docs/conf.py
  webrisk/synth.metadata
Labels: api: webrisk, cla: yes, codegen

#9765 fix(speech): re-add unused `speaker_tag`; update spacing in docs templates (via synth)
  speech/docs/_static/custom.css
  speech/docs/_templates/layout.html
  speech/google/cloud/speech_v1/proto/cloud_speech.proto
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#9766 fix(talent): update spacing in docs templates (via synth)
  talent/docs/_static/custom.css
  talent/docs/_templates/layout.html
  talent/synth.metadata
Labels: api: talent, cla: yes, codegen

#9768 fix(texttospeech): update spacing in docs templates (via synth
  texttospeech/docs/_static/custom.css
  texttospeech/docs/_templates/layout.html
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes, codegen

#9770 chore(translate): update spacing in docs templates (via synth)
  translate/docs/_static/custom.css
  translate/docs/_templates/layout.html
  translate/synth.metadata
Labels: cla: yes, codegen

#9769 chore(trace): update spacing in docs templates (via synth)
  trace/docs/_static/custom.css
  trace/docs/_templates/layout.html
  trace/docs/conf.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes, codegen

#9763 chore(securitycenter): change spacing in docs templates (via synth)
  securitycenter/docs/_static/custom.css
  securitycenter/docs/_templates/layout.html
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#9762 chore(scheduler): change spacing in docs templates (via synth)
  scheduler/docs/_static/custom.css
  scheduler/docs/_templates/layout.html
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes, codegen

#9761 chore(redis): change spacing in docs templates (via synth)
  redis/docs/_static/custom.css
  redis/docs/_templates/layout.html
  redis/synth.metadata
Labels: api: redis, cla: yes, codegen

#9750 chore(firestore): change spacing in docs templates (via synth)
  firestore/docs/_static/custom.css
  firestore/docs/_templates/layout.html
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#9746 chore(datastore): change spacing in docs templates (via synth)
  datastore/docs/_static/custom.css
  datastore/docs/_templates/layout.html
  datastore/synth.metadata
Labels: api: datastore, cla: yes, codegen

#9775 chore(dataproc): release 0.6.1
  dataproc/CHANGELOG.md
  dataproc/setup.py
Labels: autorelease: pending, cla: yes

#9744 chore(datalabeling): change spacing in docs templates (via synth)
  datalabeling/docs/_static/custom.css
  datalabeling/docs/_templates/layout.html
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes, codegen

#9743 chore(datacatalog): change spacing in docs templates (via synth)
  datacatalog/docs/_static/custom.css
  datacatalog/docs/_templates/layout.html
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes, codegen

#9739 chore(bigtable): change spacing in docs templates (via synth)
  bigtable/docs/_static/custom.css
  bigtable/docs/_templates/layout.html
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes, codegen

#9738 chore(bigquery_storage: change spacing in docs templates (via synth)
  bigquery_storage/docs/_static/custom.css
  bigquery_storage/docs/_templates/layout.html
  bigquery_storage/synth.metadata
Labels: api: bigquerystorage, cla: yes, codegen

#9737 chore(bigquery_datatransfer): change spacing in docs templates (via synth)
  bigquery_datatransfer/docs/_static/custom.css
  bigquery_datatransfer/docs/_templates/layout.html
  bigquery_datatransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes, codegen

#9736 chore(asset): change spacing in docs templates (via synth)
  asset/docs/_static/custom.css
  asset/docs/_templates/layout.html
  asset/synth.metadata
Labels: api: cloudasset, cla: yes, codegen

#9741 feat(container): add 'list_usable_subnetworks' method; apply proto annotations (via synth)
  container/docs/_static/custom.css
  container/docs/_templates/layout.html
  container/google/cloud/container_v1/gapic/cluster_manager_client.py
  container/google/cloud/container_v1/gapic/cluster_manager_client_config.py
  container/google/cloud/container_v1/gapic/enums.py
  container/google/cloud/container_v1/gapic/transports/cluster_manager_grpc_transport.py
  container/google/cloud/container_v1/proto/cluster_service.proto
  container/google/cloud/container_v1/proto/cluster_service_pb2.py
  container/google/cloud/container_v1/proto/cluster_service_pb2_grpc.py
  container/google/cloud/container_v1/types.py
  container/synth.metadata
  container/tests/unit/gapic/v1/test_cluster_manager_client_v1.py
Labels: api: container, cla: yes, codegen

#9755 chore(language): change spacing in docs templates (via synth)
  language/docs/_static/custom.css
  language/docs/_templates/layout.html
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#9754 chore(kms): change spacing in docs templates (via synth)
  kms/docs/_static/custom.css
  kms/docs/_templates/layout.html
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#9647 fix(automl): fix uploading pandas dataframe to AutoML Tables
  automl/google/cloud/automl_v1beta1/tables/gcs_client.py
  automl/tests/unit/gapic/v1beta1/test_gcs_client_v1beta1.py
Labels: api: automl, cla: yes

#9759 chore(pubsub): change spacing in docs templates (via synth)
  pubsub/docs/_static/custom.css
  pubsub/docs/_templates/layout.html
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes, codegen

#9756 chore(logging): change spacing in docs templates (via synth)
  logging/docs/_static/custom.css
  logging/docs/_templates/layout.html
  logging/synth.metadata
Labels: api: logging, cla: yes, codegen

#9780 chore: add emacs' auto-save files to .gitignore
  .gitignore
Labels: cla: yes

#9779 feat(automl): expose disable_early_stopping option for create_model
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
Labels: cla: yes

#9735 fix(bigquery): preserve job config passed to Client methods
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#9731 chore(spanner): release 1.13.0
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: autorelease: pending, cla: yes

#9778 chore(storage): release 1.23.0
  storage/CHANGELOG.md
  storage/setup.py
Labels: api: storage, autorelease: pending, cla: yes

#9641 feat(api core): simplify from_rfc3339 methods
  api_core/google/api_core/bidi.py
  api_core/google/api_core/datetime_helpers.py
  api_core/google/api_core/iam.py
  api_core/google/api_core/protobuf_helpers.py
  api_core/google/api_core/retry.py
  api_core/tests/unit/test_datetime_helpers.py
Labels: cla: yes

#9784 chore(pubsub): update client configurations (via synth)
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client_config.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client_config.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes

#9751 chore(grafeas): change spacing in docs templates (via synth)
  grafeas/docs/_static/custom.css
  grafeas/docs/_templates/layout.html
  grafeas/synth.metadata
Labels: cla: yes, codegen

#9749 chore(error_reporting): change spacing in docs templates (via synth)
  error_reporting/docs/_static/custom.css
  error_reporting/docs/_templates/layout.html
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes, codegen

#9789 docs(firestore): add new where operators to docstring
  firestore/google/cloud/firestore_v1/query.py
Labels: cla: yes

#9793 docs(automl): fix docstring formatting
  automl/docs/conf.py
  automl/google/cloud/automl_v1beta1/proto/io_pb2.py
  automl/synth.metadata
  automl/synth.py
Labels: api: automl, cla: yes

#9546 feat(monitoring): add `monitoring.v3.InternalChecker.state`; add `monitoring.v3.UptimeCheckConfig.ContentMatcher.ContentMatcherOption`; add `recursive` parameter to `delete_group`; add read-only `validity` field to `monitoring.v3.AlertPolicy`; add `validate_ssl` parameter to `monitoring.v3.UptimeCheckConfig.HttpCheck`
  monitoring/docs/conf.py
  monitoring/google/cloud/monitoring_v3/gapic/enums.py
  monitoring/google/cloud/monitoring_v3/gapic/group_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/metric_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/metric_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/uptime_check_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/uptime_check_service_client.py
  monitoring/google/cloud/monitoring_v3/proto/alert.proto
  monitoring/google/cloud/monitoring_v3/proto/alert_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/alert_service.proto
  monitoring/google/cloud/monitoring_v3/proto/alert_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/common.proto
  monitoring/google/cloud/monitoring_v3/proto/common_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/dropped_labels.proto
  monitoring/google/cloud/monitoring_v3/proto/dropped_labels_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/group.proto
  monitoring/google/cloud/monitoring_v3/proto/group_service.proto
  monitoring/google/cloud/monitoring_v3/proto/group_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric.proto
  monitoring/google/cloud/monitoring_v3/proto/metric_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric_service.proto
  monitoring/google/cloud/monitoring_v3/proto/metric_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric_service_pb2_grpc.py
  monitoring/google/cloud/monitoring_v3/proto/mutation_record.proto
  monitoring/google/cloud/monitoring_v3/proto/notification.proto
  monitoring/google/cloud/monitoring_v3/proto/notification_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/notification_service.proto
  monitoring/google/cloud/monitoring_v3/proto/notification_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/span_context.proto
  monitoring/google/cloud/monitoring_v3/proto/uptime.proto
  monitoring/google/cloud/monitoring_v3/proto/uptime_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/uptime_service.proto
  monitoring/google/cloud/monitoring_v3/proto/uptime_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/uptime_service_pb2_grpc.py
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes, codegen

#9792 chore(automl): release 0.8.0
  automl/CHANGELOG.md
  automl/setup.py
Labels: autorelease: pending, cla: yes

#9788 chore(bigquery): release 1.22.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: api: bigquery, autorelease: pending, cla: yes

#9797 chore: update docs templates (via synth)
  automl/docs/_static/custom.css
  automl/docs/_templates/layout.html
  automl/docs/conf.py
  automl/synth.metadata
Labels: api: automl, cla: yes

#9622 feat(billingbudgets): initial generation of billing budget
  .kokoro/continuous/billingbudgets.cfg
  .kokoro/docs/billingbudgets.cfg
  .kokoro/presubmit/billingbudgets.cfg
  .kokoro/release/billingbudgets.cfg
  billingbudgets/.coveragerc
  billingbudgets/.flake8
  billingbudgets/.repo-metadata.json
  billingbudgets/CHANGELOG.md
  billingbudgets/LICENSE
  billingbudgets/MANIFEST.in
  billingbudgets/README.rst
  billingbudgets/docs/README.rst
  billingbudgets/docs/changelog.md
  billingbudgets/docs/conf.py
  billingbudgets/docs/gapic/v1beta1/api.rst
  billingbudgets/docs/gapic/v1beta1/types.rst
  billingbudgets/docs/index.rst
  billingbudgets/google/__init__.py
  billingbudgets/google/cloud/__init__.py
  billingbudgets/google/cloud/billing_budgets.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/__init__.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/gapic/__init__.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/gapic/budget_service_client.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/gapic/budget_service_client_config.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/gapic/enums.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/gapic/transports/__init__.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/gapic/transports/budget_service_grpc_transport.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/proto/__init__.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/proto/budget_model.proto
  billingbudgets/google/cloud/billing_budgets_v1beta1/proto/budget_model_pb2.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/proto/budget_model_pb2_grpc.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/proto/budget_service.proto
  billingbudgets/google/cloud/billing_budgets_v1beta1/proto/budget_service_pb2.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/proto/budget_service_pb2_grpc.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/types.py
  billingbudgets/noxfile.py
  billingbudgets/setup.cfg
  billingbudgets/setup.py
  billingbudgets/synth.metadata
  billingbudgets/synth.py
  billingbudgets/tests/unit/gapic/v1beta1/test_budget_service_client_v1beta1.py
Labels: cla: yes

#9804 feat(datacatalog): add policy tag manager clients
  datacatalog/google/cloud/datacatalog.py
  datacatalog/google/cloud/datacatalog_v1beta1/__init__.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/enums.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/policy_tag_manager_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/policy_tag_manager_client_config.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/policy_tag_manager_serialization_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/policy_tag_manager_serialization_client_config.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/transports/policy_tag_manager_grpc_transport.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/transports/policy_tag_manager_serialization_grpc_transport.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/gcs_fileset_spec_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/policytagmanager_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/policytagmanager_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/policytagmanagerserialization_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/policytagmanagerserialization_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/schema_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/search_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/table_spec_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/tags_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/timestamps_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/types.py
  datacatalog/synth.metadata
  datacatalog/synth.py
  datacatalog/tests/unit/gapic/v1beta1/test_policy_tag_manager_client_v1beta1.py
  datacatalog/tests/unit/gapic/v1beta1/test_policy_tag_manager_serialization_client_v1beta1.py
Labels: cla: yes

#9808 chore(datacatalog): release 0.5.0
  datacatalog/CHANGELOG.md
  datacatalog/setup.py
Labels: autorelease: pending, cla: yes

#9810 fix(videointelligence): revert #9440; make `features` a keyword parameter
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client.py
  videointelligence/tests/unit/gapic/v1/test_video_intelligence_service_client_v1.py
Labels: cla: yes

#9806 docs(automl): fix typo in code example for AutoML Tables
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
Labels: api: automl, cla: yes, type: docs

#9811 chore(videointelligence): release 1.12.1
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: api: videointelligence, autorelease: pending, cla: yes

#9813 docs(billingbudgets): add Python 2 sunset banner (via synth)
  billingbudgets/docs/_static/custom.css
  billingbudgets/docs/_templates/layout.html
  billingbudgets/docs/conf.py
  billingbudgets/synth.metadata
Labels: cla: yes

#9794 fix(automl): pass params to underlying client
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
  automl/tests/unit/gapic/v1beta1/test_tables_client_v1beta1.py
Labels: cla: yes

#9816 feat(automl): add support for feature importance
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
  automl/tests/unit/gapic/v1beta1/test_tables_client_v1beta1.py
Labels: cla: yes

#9817 fix(automl): change proto imports (via synth)
  automl/google/cloud/automl_v1/proto/operations.proto
  automl/google/cloud/automl_v1/proto/operations_pb2.py
  automl/google/cloud/automl_v1/proto/prediction_service.proto
  automl/google/cloud/automl_v1/proto/prediction_service_pb2.py
  automl/google/cloud/automl_v1/proto/service.proto
  automl/google/cloud/automl_v1/proto/service_pb2.py
  automl/google/cloud/automl_v1beta1/proto/operations.proto
  automl/google/cloud/automl_v1beta1/proto/operations_pb2.py
  automl/google/cloud/automl_v1beta1/proto/tables.proto
  automl/google/cloud/automl_v1beta1/proto/tables_pb2.py
  automl/synth.metadata
Labels: api: automl, cla: yes

#9819 docs(datalabeling): change wording of docstrings (via synth)
  datalabeling/google/cloud/datalabeling_v1beta1/proto/dataset.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/dataset_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/human_annotation_config.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/human_annotation_config_pb2.py
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes

#9807 chore(billingbudgets): release 0.1.0
  billingbudgets/CHANGELOG.md
Labels: autorelease: pending, cla: yes

#9823 chore(automl): release 0.9.0
  automl/CHANGELOG.md
  automl/setup.py
Labels: autorelease: pending, cla: yes

#9824 chore(automl): reduce Pandas version requirement
  automl/setup.py
Labels: cla: yes

#9785 feat(bigquery): add description for routine entities
  bigquery/google/cloud/bigquery/dataset.py
  bigquery/google/cloud/bigquery/model.py
  bigquery/google/cloud/bigquery/routine.py
  bigquery/tests/unit/routine/test_routine.py
Labels: cla: yes

#9626 feat(bigquery): add support for hive partitioning options configuration
  bigquery/google/cloud/bigquery/external_config.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_external_config.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes, type: feature request

#9803 chore(monitoring): revert change to docs/conf.py
  monitoring/docs/conf.py
Labels: cla: yes

#9827 fix(asset): deprecate resource name helper methods (via synth)
  asset/google/cloud/asset_v1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1p2beta1/gapic/asset_service_client.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes

#9828 fix(automl): deprecate resource name helper methods, update docs configuration (via synth)
  automl/docs/conf.py
  automl/google/cloud/automl_v1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1/gapic/prediction_service_client.py
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1beta1/gapic/prediction_service_client.py
  automl/synth.metadata
Labels: api: automl, cla: yes

#9844 fix(talent): deprecate resource name helper methods (via synth)
  talent/google/cloud/talent_v4beta1/gapic/application_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/company_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/completion_client.py
  talent/google/cloud/talent_v4beta1/gapic/event_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/job_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/profile_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/tenant_service_client.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#9846 docs(webrisk): update docs configuration (via synth)
  webrisk/docs/conf.py
  webrisk/synth.metadata
Labels: api: webrisk, cla: yes

#9845 fix(translate): deprecate resource name helper methods (via synth)
  translate/google/cloud/translate_v3/gapic/translation_service_client.py
  translate/google/cloud/translate_v3beta1/gapic/translation_service_client.py
  translate/synth.metadata
Labels: cla: yes

#9832 fix(datalabeling): deprecate resource name helper methods (via synth)
  datalabeling/google/cloud/datalabeling_v1beta1/gapic/data_labeling_service_client.py
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes

#9836 fix(kms): deprecate resource name helper methods (via synth)
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes

#9835 fix(grafeas): deprecate resource name helper methods (via synth)
  grafeas/grafeas/grafeas_v1/gapic/grafeas_client.py
  grafeas/synth.metadata
Labels: cla: yes

#9837 fix(logging): deprecate resource name helper methods (via synth)
  logging/google/cloud/logging_v2/gapic/config_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/logging_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/metrics_service_v2_client.py
  logging/synth.metadata
Labels: api: logging, cla: yes

#9847 fix(websecurityscanner): deprecate resource name helper methods (via synth)
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/gapic/web_security_scanner_client.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes

#9830 fix(billingbudgets): deprecate resource name helper methods (via synth)
  billingbudgets/google/cloud/billing_budgets_v1beta1/gapic/budget_service_client.py
  billingbudgets/synth.metadata
Labels: cla: yes

#9849 feat(api_core): add a repr method for ClientOptions
  api_core/google/api_core/client_options.py
  api_core/tests/unit/test_client_options.py
Labels: cla: yes

#9642 feat(bigquery): add support of use_avro_logical_types for extract jobs
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_job.py
Labels: cla: yes

#9851 docs(automl): add missing comma to the doc
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
Labels: cla: yes

#9866 fix(vision): deprecate resource name helper methods (via synth)
  vision/docs/_static/custom.css
  vision/docs/_templates/layout.html
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p4beta1/gapic/product_search_client.py
  vision/synth.metadata
Labels: api: vision, cla: yes

#9864 fix(tasks): deprecate resource name helper methods (via synth)
  tasks/docs/_static/custom.css
  tasks/docs/_templates/layout.html
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#9863 fix(recommender): deprecate resource name helper methods (via synth)
  recommender/docs/_static/custom.css
  recommender/docs/_templates/layout.html
  recommender/google/cloud/recommender_v1beta1/gapic/recommender_client.py
  recommender/synth.metadata
Labels: cla: yes

#9854 chore(billingbudgets): add comments to proto files (via synth)
  billingbudgets/google/cloud/billing_budgets_v1beta1/proto/budget_service.proto
  billingbudgets/synth.metadata
Labels: cla: yes

#9862 fix(phishingprotection): deprecate resource name helper methods (via synth)
  phishingprotection/docs/_static/custom.css
  phishingprotection/docs/_templates/layout.html
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/phishing_protection_service_client.py
  phishingprotection/synth.metadata
Labels: api: phishingprotection, cla: yes

#9860 fix(irm): deprecate resource name helper methods (via synth)
  irm/docs/_static/custom.css
  irm/docs/_templates/layout.html
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client.py
  irm/synth.metadata
Labels: api: irm, cla: yes

#9858 fix(iam): deprecate resource name helper methods (via synth)
  iam/docs/_static/custom.css
  iam/docs/_templates/layout.html
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client.py
  iam/synth.metadata
Labels: api: iam, cla: yes

#9857 chore(documentai): add extra line breaks to docs templates (via synth)
  documentai/docs/_static/custom.css
  documentai/docs/_templates/layout.html
  documentai/synth.metadata
Labels: cla: yes

#9850 chore(monitoring): release 0.34.0
  monitoring/CHANGELOG.md
  monitoring/setup.py
Labels: autorelease: pending, cla: yes

#9874 fix(speech): mark `Recognize` idempotent (via synth)
  speech/google/cloud/speech_v1/gapic/speech_client_config.py
  speech/synth.metadata
Labels: api: speech, cla: yes

#9826 fix(bigquery): import Mapping from collections.abc not from collections
  bigquery/google/cloud/bigquery/schema.py
Labels: cla: yes

#9796 fix(storage): str() metadata for for blob
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
  storage/tests/unit/test_blob.py
  storage/tests/unit/test_bucket.py
Labels: cla: yes

#9879 chore(speech): release 1.3.0
  speech/CHANGELOG.md
  speech/setup.py
Labels: autorelease: pending, cla: yes

#9525 fix(pubsub): fix messages delivered multiple times despite a long ACK deadline
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/system.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes

#9594 fix(pubsub): split large (mod)ACK requests into smaller ones
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/dispatcher.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_dispatcher.py
Labels: api: pubsub, cla: yes

#9877 feat(bigtable): add table level IAM policy controls
  bigtable/docs/snippets_table.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/system.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes, type: feature request

#9894 fix(bigquery): add close() method to client for releasing open sockets
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/magics.py
  bigquery/noxfile.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_magics.py
Labels: api: bigquery, cla: yes
