Repository googleapis/google-cloud-python, pull requests merged in 2019-10, with the labels that each got.

#9335 fix(pubsub): add 'StreamingPullManager._should_terminate'.
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes

#9350 docs(phishingprotection): update docstrings (via synth)
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/phishing_protection_service_client.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/transports/phishing_protection_service_grpc_transport.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/proto/phishingprotection.proto
  phishingprotection/google/cloud/phishingprotection_v1beta1/proto/phishingprotection_pb2.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/proto/phishingprotection_pb2_grpc.py
  phishingprotection/synth.metadata
Labels: api: phishingprotection, cla: yes, codegen

#9373 enhancement(language): add entity types (via synth)
  language/google/cloud/language_v1beta2/gapic/enums.py
  language/google/cloud/language_v1beta2/gapic/language_service_client.py
  language/google/cloud/language_v1beta2/proto/language_service.proto
  language/google/cloud/language_v1beta2/proto/language_service_pb2.py
  language/google/cloud/language_v1beta2/proto/language_service_pb2_grpc.py
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#9380 feat(websecurityscanner): add finding types; add vulnerable headers; update docstrings (via synth)
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/enums.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/crawled_url.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/crawled_url_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_addon.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_addon_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_type_stats.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_type_stats_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_config.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_config_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_run.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_run_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/web_security_scanner.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/web_security_scanner_pb2.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes, codegen

#9299 enhancement(automl): support for passing project to 'GcsClient'
  automl/google/cloud/automl_v1beta1/tables/gcs_client.py
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
  automl/tests/unit/gapic/v1beta1/test_gcs_client_v1beta1.py
  automl/tests/unit/gapic/v1beta1/test_tables_client_v1beta1.py
Labels: api: automl, cla: yes

#9383 chore: add pradn to Pub/Sub codeowners
  .github/CODEOWNERS
Labels: cla: yes

#9385 chore(translate): update 'ListGlossaries' method annotation (via synth)
  translate/google/cloud/translate_v3beta1/proto/translation_service.proto
  translate/google/cloud/translate_v3beta1/proto/translation_service_pb2.py
  translate/synth.metadata
Labels: api: translation, cla: yes, codegen

#9387 docs: refresh list of libraries and CONTRIBUTING.rst
  CONTRIBUTING.rst
  README.rst
  iot/.repo-metadata.json
Labels: cla: yes

#9337 fix(api_core): finalize during close of 'ResumableBidiRpc'.
  api_core/google/api_core/bidi.py
  api_core/tests/unit/test_bidi.py
Labels: api: core, api: firestore, api: pubsub, cla: yes

#9338 docs(recommender): fix library reference doc link
  recommender/README.rst
Labels: cla: yes

#9396 tests(error_reporting): increase 'max_tries'
  error_reporting/tests/system/test_system.py
Labels: api: clouderrorreporting, cla: yes, testing

#9020 feat(translate): generate v3
  translate/docs/gapic/v3/api.rst
  translate/docs/gapic/v3/types.rst
  translate/docs/index.rst
  translate/docs/v2.rst
  translate/docs/v3.rst
  translate/docs/v3beta1.rst
  translate/google/cloud/translate_v3/__init__.py
  translate/google/cloud/translate_v3/gapic/__init__.py
  translate/google/cloud/translate_v3/gapic/enums.py
  translate/google/cloud/translate_v3/gapic/translation_service_client.py
  translate/google/cloud/translate_v3/gapic/translation_service_client_config.py
  translate/google/cloud/translate_v3/gapic/transports/__init__.py
  translate/google/cloud/translate_v3/gapic/transports/translation_service_grpc_transport.py
  translate/google/cloud/translate_v3/proto/__init__.py
  translate/google/cloud/translate_v3/proto/translation_service.proto
  translate/google/cloud/translate_v3/proto/translation_service_pb2.py
  translate/google/cloud/translate_v3/proto/translation_service_pb2_grpc.py
  translate/google/cloud/translate_v3/types.py
  translate/synth.metadata
  translate/synth.py
  translate/tests/unit/gapic/v3/test_translation_service_client_v3.py
Labels: api: translation, cla: yes, codegen

#9414 docs(webrisk): change requests intersphinx ref (via synth)
  webrisk/docs/conf.py
  webrisk/synth.metadata
Labels: api: webrisk, cla: yes, codegen

#9413 docs(vision): update docstring for `product_category`, change requests intersphinx url (via synth)
  vision/docs/conf.py
  vision/google/cloud/vision_v1/proto/image_annotator.proto
  vision/google/cloud/vision_v1/proto/product_search_service.proto
  vision/google/cloud/vision_v1/proto/product_search_service_pb2.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#9412 docs(videointellignece): change requests intersphinx url (via synth)
  videointelligence/docs/conf.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#9410 docs(trace): change requests intersphinx url (via synth)
  trace/docs/conf.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes, codegen

#9409 docs(tasks): change requests intersphinx url (via synth)
  tasks/docs/conf.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#9408 docs(recommender): change requests intersphinx url (via synth)
  recommender/docs/conf.py
  recommender/synth.metadata
Labels: cla: yes, codegen

#9407 docs(phishingprotection): change requests intersphinx ref (via synth)
  phishingprotection/docs/conf.py
  phishingprotection/synth.metadata
Labels: api: phishingprotection, cla: yes, codegen

#9401 docs(containeranalysis): change requests intersphinx ref (via synth)
  containeranalysis/docs/conf.py
  containeranalysis/synth.metadata
Labels: api: containeranalysis, cla: yes, codegen

#9403 docs(dlp): change requests intersphinx ref (via synth)
  dlp/docs/conf.py
  dlp/synth.metadata
Labels: api: dlp, cla: yes, codegen

#9404 docs(iam): change requests intersphinx ref (via synth)
  iam/docs/conf.py
  iam/synth.metadata
Labels: api: iam, cla: yes, codegen

#9405 docs(iot): change requests intersphinx ref (via synth)
  iot/docs/conf.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes, codegen

#9406 docs(irm): change requests intersphinx ref (via synth)
  irm/docs/conf.py
  irm/synth.metadata
Labels: api: irm, cla: yes, codegen

#9411 chore(translate): update docstrings, client confg (via synth)
  translate/google/cloud/translate_v3/__init__.py
  translate/google/cloud/translate_v3/gapic/translation_service_client.py
  translate/google/cloud/translate_v3/gapic/translation_service_client_config.py
  translate/google/cloud/translate_v3/proto/translation_service.proto
  translate/google/cloud/translate_v3/proto/translation_service_pb2.py
  translate/google/cloud/translate_v3/proto/translation_service_pb2_grpc.py
  translate/synth.metadata
Labels: cla: yes, codegen

#9400 chore(automl): lint protos, update requests intersphinx URL (via synth)
  automl/docs/conf.py
  automl/google/cloud/automl_v1/proto/operations.proto
  automl/google/cloud/automl_v1/proto/operations_pb2.py
  automl/google/cloud/automl_v1/proto/prediction_service.proto
  automl/google/cloud/automl_v1/proto/prediction_service_pb2.py
  automl/google/cloud/automl_v1/proto/service.proto
  automl/google/cloud/automl_v1/proto/service_pb2.py
  automl/synth.metadata
Labels: api: automl, cla: yes, codegen

#9399 chore(automl): release 0.7.0
  automl/CHANGELOG.md
  automl/setup.py
Labels: autorelease: pending, cla: yes

#9417 chore(api_core): release 1.14.3
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: autorelease: pending, cla: yes

#9397 chore(talent): release 0.4.0
  talent/CHANGELOG.md
  talent/setup.py
Labels: autorelease: pending, cla: yes

#9422 chore: add common pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#9398 docs(tasks): disambiguate client requests from cloud task requests
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/synth.py
Labels: api: cloudtasks, cla: yes, kokoro:force-run

#9426 codegen(videointelligence)!: drop support for `V1beta1` version of the API
  videointelligence/docs/gapic/v1beta1/api.rst
  videointelligence/docs/gapic/v1beta1/types.rst
  videointelligence/docs/index.rst
  videointelligence/google/cloud/videointelligence_v1beta1/__init__.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/__init__.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/transports/__init__.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1beta1/proto/__init__.py
  videointelligence/google/cloud/videointelligence_v1beta1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1beta1/proto/video_intelligence_pb2_grpc.py
  videointelligence/google/cloud/videointelligence_v1beta1/types.py
  videointelligence/synth.metadata
  videointelligence/synth.py
  videointelligence/tests/unit/gapic/v1beta1/test_video_intelligence_service_client_v1beta1.py
Labels: api: videointelligence, cla: yes, codegen

#9416 feat(bigquery): add support for sheets ranges
  bigquery/docs/snippets.py
  bigquery/google/cloud/bigquery/external_config.py
  bigquery/samples/query_external_sheets_permanent_table.py
  bigquery/samples/query_external_sheets_temporary_table.py
  bigquery/samples/tests/test_query_external_sheets_permanent_table.py
  bigquery/samples/tests/test_query_external_sheets_temporary_table.py
  bigquery/tests/unit/test_external_config.py
Labels: api: bigquery, cla: yes

#9424 fix(redis): update client config (via synth)
  redis/google/cloud/redis_v1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1/gapic/cloud_redis_client_config.py
  redis/google/cloud/redis_v1/gapic/transports/cloud_redis_grpc_transport.py
  redis/google/cloud/redis_v1beta1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1beta1/gapic/cloud_redis_client_config.py
  redis/google/cloud/redis_v1beta1/gapic/transports/cloud_redis_grpc_transport.py
  redis/synth.metadata
  redis/tests/unit/gapic/v1/test_cloud_redis_client_v1.py
  redis/tests/unit/gapic/v1beta1/test_cloud_redis_client_v1beta1.py
Labels: api: redis, cla: yes, codegen

#9432 chore(talent): tweak docstrings (via synth)
  talent/google/cloud/talent_v4beta1/proto/filters.proto
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes, codegen

#9433 chore(tasks): tweak docstrings (via synth)
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#9434 chore(videointelligence): tweak docstrings, client configuration (via synth)
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#9435 docs(webrisk): tweak docstrings (via synth)
  webrisk/google/cloud/webrisk_v1beta1/gapic/web_risk_service_v1_beta1_client.py
  webrisk/google/cloud/webrisk_v1beta1/proto/webrisk.proto
  webrisk/google/cloud/webrisk_v1beta1/proto/webrisk_pb2.py
  webrisk/synth.metadata
Labels: api: webrisk, cla: yes, codegen

#9415 docs(automl): fix assorted typos/bugs doc strings
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
Labels: api: automl, cla: yes

#9421 chore(translate): release 1.7.0
  translate/CHANGELOG.md
  translate/setup.py
Labels: cla: yes

#9418 tests(texttospeech): create V1 system test
  texttospeech/tests/system/v1/test_system_tts_v1.py
  texttospeech/tests/system/v1beta1/test_system_tts_v1beta1.py
Labels: api: texttospeech, cla: yes, testing

#9427 chore(automl): release 0.7.0
  automl/CHANGELOG.md
Labels: autorelease: pending, cla: yes

#9272 test(translation): add VPC-SC system tests
  translate/tests/system/test_vpcsc.py
Labels: api: translation, cla: yes

#9442 fix(websecurityscanner): add `FORBIDDEN_UPDATE_TO_MANAGED_SCAN` error code, make `DeleteScanConfig` non-idempotent (via synth)
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/web_security_scanner.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/web_security_scanner_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/gapic/enums.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/gapic/web_security_scanner_client.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/gapic/web_security_scanner_client_config.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/crawled_url.proto
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/crawled_url_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding.proto
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding_addon.proto
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding_addon_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding_type_stats.proto
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding_type_stats_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_config.proto
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_config_error.proto
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_config_error_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_config_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_run.proto
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_run_error_trace.proto
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_run_error_trace_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_run_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_run_warning_trace.proto
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_run_warning_trace_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/web_security_scanner.proto
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/web_security_scanner_pb2.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes

#9441 fix(vision): add proto annotations (via synth)
  vision/google/cloud/vision_v1/proto/product_search.proto
  vision/google/cloud/vision_v1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service.proto
  vision/google/cloud/vision_v1/proto/product_search_service_pb2.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#9439 feat(firestore): add `IN`, `ARRAY_CONTAINS_ANY` operators; update docstrings (via synth)
  firestore/google/cloud/firestore_admin_v1/proto/operation.proto
  firestore/google/cloud/firestore_v1/gapic/enums.py
  firestore/google/cloud/firestore_v1/proto/query.proto
  firestore/google/cloud/firestore_v1/proto/query_pb2.py
  firestore/google/cloud/firestore_v1beta1/gapic/enums.py
  firestore/google/cloud/firestore_v1beta1/proto/query.proto
  firestore/google/cloud/firestore_v1beta1/proto/query_pb2.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#9420 fix(logging): fix proto copy
  logging/docs/gapic/v2/api.rst
  logging/docs/gapic/v2/types.rst
  logging/docs/index.rst
  logging/docs/usage.rst
  logging/docs/v1.rst
  logging/docs/v2.rst
  logging/google/cloud/logging_v2/proto/cloud/logging_v2/proto/__init__.py
  logging/google/cloud/logging_v2/proto/cloud/logging_v2/proto/log_entry_pb2.py
  logging/google/cloud/logging_v2/proto/cloud/logging_v2/proto/log_entry_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/cloud/logging_v2/proto/logging_config_pb2.py
  logging/google/cloud/logging_v2/proto/cloud/logging_v2/proto/logging_config_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/cloud/logging_v2/proto/logging_metrics_pb2.py
  logging/google/cloud/logging_v2/proto/cloud/logging_v2/proto/logging_metrics_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/cloud/logging_v2/proto/logging_pb2.py
  logging/google/cloud/logging_v2/proto/cloud/logging_v2/proto/logging_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/http_request.proto
  logging/google/cloud/logging_v2/proto/log_entry_pb2.py
  logging/google/cloud/logging_v2/proto/log_severity.proto
  logging/google/cloud/logging_v2/proto/logging/type/__init__.py
  logging/google/cloud/logging_v2/proto/logging/type/http_request_pb2.py
  logging/google/cloud/logging_v2/proto/logging/type/http_request_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/logging/type/log_severity_pb2.py
  logging/google/cloud/logging_v2/proto/logging/type/log_severity_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/logging_config_pb2.py
  logging/google/cloud/logging_v2/proto/logging_config_pb2_grpc.py
  logging/google/cloud/logging_v2/proto/logging_metrics_pb2.py
  logging/google/cloud/logging_v2/proto/logging_pb2.py
  logging/google/cloud/logging_v2/proto/logging_pb2_grpc.py
  logging/synth.metadata
  logging/synth.py
Labels: api: logging, cla: yes

#9443 chore(datalabeling): release 0.3.0
  datalabeling/CHANGELOG.md
  datalabeling/setup.py
Labels: api: datalabeling, autorelease: pending, cla: yes

#9448 chore(resource_manager): release 0.30.0
  resource_manager/CHANGELOG.md
  resource_manager/setup.py
Labels: autorelease: pending, cla: yes

#9446 chore(grafeas): release 0.3.0
  grafeas/CHANGELOG.md
  grafeas/setup.py
Labels: autorelease: pending, cla: yes

#9447 chore(phishingprotection): release 0.2.0
  phishingprotection/CHANGELOG.md
  phishingprotection/setup.py
Labels: autorelease: pending, cla: yes

#9428 feat(bigquery): add script statistics to job resource
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#9326 refactor(bigquery): rewrite docs in Google style, part 1
  bigquery/google/cloud/bigquery/_http.py
  bigquery/google/cloud/bigquery/dataset.py
  bigquery/google/cloud/bigquery/dbapi/connection.py
  bigquery/google/cloud/bigquery/dbapi/types.py
  bigquery/google/cloud/bigquery/external_config.py
  bigquery/google/cloud/bigquery/model.py
  bigquery/google/cloud/bigquery/query.py
  bigquery/google/cloud/bigquery/routine.py
  bigquery/google/cloud/bigquery/schema.py
  bigquery/google/cloud/bigquery/table.py
Labels: api: bigquery, cla: yes

#9450 fix(storage): enable CSEK w/ V4 signed URLs
  storage/google/cloud/storage/blob.py
  storage/tests/system.py
  storage/tests/unit/test_blob.py
Labels: api: storage, cla: yes

#9451 fix(phishingprotection): use correct release status
  phishingprotection/setup.py
Labels: api: phishingprotection, cla: yes, packaging

#9436 docs(bigquery): fix links to REST API in docstrings
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/dataset.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/model.py
  bigquery/google/cloud/bigquery/query.py
  bigquery/google/cloud/bigquery/routine.py
  bigquery/google/cloud/bigquery/schema.py
  bigquery/google/cloud/bigquery/table.py
Labels: api: bigquery, cla: yes, type: docs

#9455 fix(storage): storage_emulator_host should not necessitate google_application_credentials
  storage/tests/perf/benchwrapper.py
Labels: cla: yes

#9458 test(bigquery): simplify scripting system test to reduce flakiness
  bigquery/tests/system.py
Labels: cla: yes

#9459 docs(scheduler): change docstring formatting, add API proto annotations (via synth)
  scheduler/google/cloud/scheduler_v1/gapic/cloud_scheduler_client.py
  scheduler/google/cloud/scheduler_v1/proto/cloudscheduler.proto
  scheduler/google/cloud/scheduler_v1/proto/cloudscheduler_pb2.py
  scheduler/google/cloud/scheduler_v1/proto/job.proto
  scheduler/google/cloud/scheduler_v1/proto/job_pb2.py
  scheduler/google/cloud/scheduler_v1/proto/target.proto
  scheduler/google/cloud/scheduler_v1/proto/target_pb2.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes

#9456 docs: remove references to the old authentication credentials
  api_core/docs/auth.rst
  error_reporting/google/cloud/error_reporting/_logging.py
  error_reporting/google/cloud/error_reporting/client.py
  spanner/google/cloud/spanner_v1/client.py
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
Labels: api: clouderrorreporting, api: core, api: spanner, api: storage, cla: yes

#9466 chore(dataproc): tweak proto annotations (via synth)
  dataproc/google/cloud/dataproc_v1/proto/clusters.proto
  dataproc/google/cloud/dataproc_v1/proto/clusters_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/clusters.proto
  dataproc/google/cloud/dataproc_v1beta2/proto/clusters_pb2.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#9452 chore(phishingprotection): release 0.2.0
  phishingprotection/CHANGELOG.md
Labels: api: phishingprotection, autorelease: pending, cla: yes

#9445 chore: pin `google-cloud-core >= 1.0.3, < 2.0.0dev`.
  bigtable/setup.py
  dns/setup.py
  firestore/setup.py
  logging/setup.py
  runtimeconfig/setup.py
  spanner/setup.py
  trace/setup.py
Labels: api: bigtable, api: cloudtrace, api: dns, api: firestore, api: logging, api: runtimeconfig, api: spanner, cla: yes, packaging

#9449 chore(datastore): release 1.10.0
  datastore/CHANGELOG.md
  datastore/setup.py
Labels: autorelease: pending, cla: yes

#9468 chore(bigtable): release 1.1.0
  bigtable/CHANGELOG.md
  bigtable/setup.py
Labels: autorelease: pending, cla: yes

#9470 chore(firestore): release 1.5.0
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: autorelease: pending, cla: yes

#9471 chore(logging): release 1.14.0
  logging/CHANGELOG.md
  logging/setup.py
Labels: autorelease: pending, cla: yes

#9472 chore(runtimeconfig): release 0.30.0
  runtimeconfig/CHANGELOG.md
  runtimeconfig/setup.py
Labels: autorelease: pending, cla: yes

#9473 chore(spanner): release 1.11.0
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: autorelease: pending, cla: yes

#9474 chore(trace): release 0.23.0
  trace/CHANGELOG.md
  trace/setup.py
Labels: autorelease: pending, cla: yes

#9469 chore(dns): release 0.31.0
  dns/CHANGELOG.md
  dns/setup.py
Labels: autorelease: pending, cla: yes

#9334 feat(storage): support predefined ACLs in 'Bucket.create'
  storage/google/cloud/storage/bucket.py
  storage/tests/unit/test_bucket.py
Labels: api: storage, cla: yes, type: feature request

#9464 feat(bigquery): add Dataset.default_partition_expiration_ms and Table.require_partition_filter properties
  bigquery/google/cloud/bigquery/dataset.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/samples/tests/test_update_dataset_default_partition_expiration.py
  bigquery/samples/tests/test_update_table_require_partition_filter.py
  bigquery/samples/update_dataset_default_partition_expiration.py
  bigquery/samples/update_table_require_partition_filter.py
  bigquery/tests/unit/test_dataset.py
  bigquery/tests/unit/test_table.py
Labels: cla: yes

#9479 test(dlp): ensure env is always set; fix typo in test_deidentify_content
  dlp/noxfile.py
  dlp/tests/system/gapic/v2/test_system_dlp_service_v2_vpcsc.py
Labels: cla: yes

#9302 feat(bigquery): expose customer managed encryption key for ML models
  bigquery/docs/reference.rst
  bigquery/google/cloud/bigquery/__init__.py
  bigquery/google/cloud/bigquery/encryption_configuration.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/model.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/model/test_model.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_encryption_configuration.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_table.py
Labels: cla: yes

#9476 chore(error_reporting): pin 'google-cloud-logging >= 1.14.0, < 2.0.0dev
  error_reporting/setup.py
Labels: api: clouderrorreporting, cla: yes, packaging

#9484 chore(bigquery): release 1.21.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: autorelease: pending, cla: yes

#9477 feat(bigquery): add range partitioning to tables, load jobs, and query jobs
  bigquery/docs/reference.rst
  bigquery/google/cloud/bigquery/__init__.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes, do not merge

#9489 feat(bigquery): implement defaultEncryptionConfiguration on datasets
  bigquery/google/cloud/bigquery/dataset.py
  bigquery/tests/unit/test_dataset.py
Labels: cla: yes

#9508 chore(datacatalog): add codeowners for data catalog
  .github/CODEOWNERS
Labels: cla: yes

#9151 feat(spanner): add client_options to constructor
  spanner/google/cloud/spanner_v1/client.py
  spanner/google/cloud/spanner_v1/database.py
  spanner/tests/unit/test_client.py
  spanner/tests/unit/test_database.py
Labels: api: spanner, cla: yes

#9393 test(spanner): propagate errors from 'Transaction.batch_update'
  spanner/tests/system/test_system.py
Labels: api: spanner, cla: yes, testing

#9395 tests(spanner): harden 'test_transaction_batch_update_w_syntax_error'
  spanner/tests/system/test_system.py
Labels: api: spanner, cla: yes, testing

#9394 tests(spanner): harden 'test_reload_instance' against EC
  spanner/tests/system/test_system.py
Labels: api: spanner, cla: yes, testing

#9515 chore(error_reporting): release 0.33.0
  error_reporting/CHANGELOG.md
  error_reporting/setup.py
Labels: autorelease: pending, cla: yes, packaging

#9154 feat(trace): add `client_options` to constructor
  trace/google/cloud/trace/_gapic.py
  trace/google/cloud/trace/client.py
  trace/google/cloud/trace/v1/_gapic.py
  trace/google/cloud/trace/v1/client.py
  trace/tests/unit/v1/test__gapic_v1.py
  trace/tests/unit/v1/test_client_v1.py
  trace/tests/unit/v2/test__gapic_v2.py
  trace/tests/unit/v2/test_client_v2.py
Labels: api: cloudtrace, cla: yes

#9516 feat(dns): add 'client_options' argument to client ctor
  dns/google/cloud/dns/_http.py
  dns/google/cloud/dns/client.py
  dns/tests/unit/test__http.py
  dns/tests/unit/test_client.py
Labels: api: dns, cla: yes

#9504 fix(bigquery): fix arrow deprecation warning
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/tests/unit/test__pandas_helpers.py
Labels: api: bigquery, cla: yes

#9488 feat(spanner): add batch_create_session calls to session pools
  spanner/google/cloud/spanner_v1/pool.py
  spanner/tests/unit/test_pool.py
Labels: cla: yes, kokoro:force-run

#9506 feat(bigquery): add TypeError if wrong job_config type is passed to client job methods
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: cla: yes

#9520 feat(datacatalog): add entry group operations
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client_config.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/enums.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/transports/data_catalog_grpc_transport.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/gcs_fileset_spec.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/gcs_fileset_spec_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/gcs_fileset_spec_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/schema.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/schema_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/search.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/search_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/table_spec.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/table_spec_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/tags.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/tags_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/timestamps.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/timestamps_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/types.py
  datacatalog/synth.metadata
  datacatalog/tests/unit/gapic/v1beta1/test_data_catalog_client_v1beta1.py
Labels: api: datacatalog, cla: yes

#9524 docs(datastore): remove duplication of API
  datastore/README.rst
  error_reporting/README.rst
Labels: cla: yes

#9526 chore(datacatalog): release 0.4.0
  datacatalog/CHANGELOG.md
  datacatalog/setup.py
Labels: autorelease: pending, cla: yes

#9523 refactor(bigquery): use multi-regional key path for CMEK in snippets
  bigquery/docs/snippets.py
Labels: api: bigquery, cla: yes

#9529 docs(storage): add hmac_key and notification documentation rst files.
  storage/docs/hmac_key.rst
  storage/docs/index.rst
  storage/docs/notification.rst
Labels: api: storage, cla: yes, type: docs

#9503 chore(bigquery): remove duplicate test dependencies
  bigquery/noxfile.py
Labels: api: bigquery, cla: yes, type: cleanup

#9527 chore(translate): release 2.0.0
  translate/CHANGELOG.md
  translate/setup.py
Labels: autorelease: pending, cla: yes

#9530 chore(spanner): release 1.12.0
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: api: spanner, autorelease: pending, cla: yes

#9517 feat(bigtable): add 'client_options' / 'admin_client_options' to Client
  bigtable/google/cloud/bigtable/client.py
  bigtable/tests/unit/test_client.py
Labels: api: bigtable, api: bigtableadmin, cla: yes

#9437 tests(monitoring): refresh VPCSC tests
  monitoring/tests/system/test_vpcsc_v3.py
Labels: cla: yes

#9543 fix(storage): update storage endpoint from www.googleapis.com to storage.googleapis.com
  storage/google/cloud/storage/_helpers.py
  storage/google/cloud/storage/_http.py
  storage/tests/unit/test_blob.py
Labels: api: storage, cla: yes

#9481 refactor(bigquery): rewrite docs in Google style, part 2
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/dbapi/_helpers.py
  bigquery/google/cloud/bigquery/dbapi/cursor.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/query.py
  bigquery/google/cloud/bigquery/table.py
Labels: api: bigquery, cla: yes

#9537 doc(bigquery): add code sample for scripting
  bigquery/docs/usage/queries.rst
  bigquery/samples/query_script.py
  bigquery/samples/tests/test_query_script.py
  bigquery/tests/system.py
Labels: cla: yes

#9491 fix(automl): pass credentials to underlying clients in TableClient
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
  automl/tests/unit/gapic/v1beta1/test_tables_client_v1beta1.py
Labels: cla: yes

#9549 fix: don't report a gapic version for storage
  storage/google/cloud/storage/_http.py
Labels: cla: yes

#9440 fix(videointelligence): make `features` a positional parameter in `annotate_video`, update retry config, make AnnotateVideo nonidempotent (via synth)
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client_config.py
  videointelligence/synth.metadata
  videointelligence/tests/unit/gapic/v1/test_video_intelligence_service_client_v1.py
Labels: api: videointelligence, cla: yes, codegen

#9522 fix(scheduler)!: remove `project_path` method, update docstrings (via synth)
  scheduler/google/cloud/scheduler_v1/gapic/cloud_scheduler_client.py
  scheduler/google/cloud/scheduler_v1/gapic/cloud_scheduler_client_config.py
  scheduler/google/cloud/scheduler_v1/proto/cloudscheduler.proto
  scheduler/google/cloud/scheduler_v1/proto/cloudscheduler_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/cloud_scheduler_client.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/cloud_scheduler_client_config.py
  scheduler/google/cloud/scheduler_v1beta1/proto/cloudscheduler.proto
  scheduler/google/cloud/scheduler_v1beta1/proto/cloudscheduler_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/job.proto
  scheduler/google/cloud/scheduler_v1beta1/proto/job_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/target.proto
  scheduler/google/cloud/scheduler_v1beta1/proto/target_pb2.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes, codegen

#9551 fix: add gcloud-python header to user agent
  storage/google/cloud/storage/_http.py
Labels: cla: yes

#9563 chore(webrisk): add trailing commas (via synth)
  webrisk/docs/conf.py
  webrisk/google/cloud/webrisk.py
  webrisk/google/cloud/webrisk_v1beta1/__init__.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/transports/web_risk_service_v1_beta1_grpc_transport.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/web_risk_service_v1_beta1_client.py
  webrisk/google/cloud/webrisk_v1beta1/proto/webrisk_pb2.py
  webrisk/google/cloud/webrisk_v1beta1/types.py
  webrisk/synth.metadata
Labels: api: webrisk, cla: yes

#9562 chore(trace): add trailing commas (via synth)
  trace/docs/conf.py
  trace/google/cloud/trace_v1/__init__.py
  trace/google/cloud/trace_v1/gapic/trace_service_client.py
  trace/google/cloud/trace_v1/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v1/proto/trace_pb2.py
  trace/google/cloud/trace_v1/types.py
  trace/google/cloud/trace_v2/__init__.py
  trace/google/cloud/trace_v2/gapic/trace_service_client.py
  trace/google/cloud/trace_v2/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v2/proto/trace_pb2.py
  trace/google/cloud/trace_v2/types.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#9561 chore(securitycenter): add trailing commas (via synth)
  securitycenter/google/cloud/securitycenter.py
  securitycenter/google/cloud/securitycenter_v1/__init__.py
  securitycenter/google/cloud/securitycenter_v1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1/gapic/transports/security_center_grpc_transport.py
  securitycenter/google/cloud/securitycenter_v1/proto/asset_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/finding_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/organization_settings_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/run_asset_discovery_response_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/security_marks_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/source_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/__init__.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/transports/security_center_grpc_transport.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/asset_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/finding_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/organization_settings_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/security_marks_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/securitycenter_service_pb2.py
  securitycenter/google/cloud/securitycenter_v1beta1/proto/source_pb2.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes

#9558 chore(grafeas): add trailing commas (via synth)
  grafeas/grafeas/grafeas.py
  grafeas/grafeas/grafeas_v1/__init__.py
  grafeas/grafeas/grafeas_v1/gapic/grafeas_client.py
  grafeas/grafeas/grafeas_v1/gapic/transports/grafeas_grpc_transport.py
  grafeas/grafeas/grafeas_v1/proto/attestation_pb2.py
  grafeas/grafeas/grafeas_v1/proto/build_pb2.py
  grafeas/grafeas/grafeas_v1/proto/deployment_pb2.py
  grafeas/grafeas/grafeas_v1/proto/discovery_pb2.py
  grafeas/grafeas/grafeas_v1/proto/grafeas_pb2.py
  grafeas/grafeas/grafeas_v1/proto/package_pb2.py
  grafeas/grafeas/grafeas_v1/proto/provenance_pb2.py
  grafeas/grafeas/grafeas_v1/proto/vulnerability_pb2.py
  grafeas/grafeas/grafeas_v1/types.py
  grafeas/synth.metadata
Labels: cla: yes

#9560 chore(logging): add trailing commas (via synth)
  logging/google/cloud/logging_v2/gapic/config_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/logging_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/metrics_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/transports/config_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/logging_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/metrics_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/proto/log_entry_pb2.py
  logging/google/cloud/logging_v2/proto/logging_config_pb2.py
  logging/google/cloud/logging_v2/proto/logging_metrics_pb2.py
  logging/google/cloud/logging_v2/proto/logging_pb2.py
  logging/synth.metadata
  logging/tests/unit/handlers/transports/test_background_thread.py
  logging/tests/unit/test_client.py
Labels: api: logging, cla: yes

#9556 chore(bigquery): format code with latest version of black
  bigquery/google/cloud/bigquery_v2/proto/encryption_config_pb2.py
  bigquery/google/cloud/bigquery_v2/proto/model_pb2.py
  bigquery/google/cloud/bigquery_v2/proto/standard_sql_pb2.py
  bigquery/google/cloud/bigquery_v2/types.py
  bigquery/samples/query_external_sheets_permanent_table.py
  bigquery/samples/query_external_sheets_temporary_table.py
  bigquery/synth.metadata
  bigquery/tests/unit/test__pandas_helpers.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#9555 feat(asset): add `bigquery_destination` to `OutputConfig`; make content_type optional argument to `BatchGetAssetsHistoryRequest`; add `uri_prefix` to `GcsDestination`; add `ORG_POLICY` and `ACCESS_POLICY` content type enums
  asset/google/cloud/asset_v1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1/gapic/enums.py
  asset/google/cloud/asset_v1/proto/asset_service.proto
  asset/google/cloud/asset_v1/proto/asset_service_pb2.py
  asset/google/cloud/asset_v1/proto/assets.proto
  asset/google/cloud/asset_v1/proto/assets_pb2.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes

#9557 chore(bigtable): add trailing commas (via synth)
  bigtable/google/cloud/bigtable_admin_v2/__init__.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_instance_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_instance_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_table_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_instance_admin_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_table_admin_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/instance_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/table_pb2.py
  bigtable/google/cloud/bigtable_v2/__init__.py
  bigtable/google/cloud/bigtable_v2/gapic/bigtable_client.py
  bigtable/google/cloud/bigtable_v2/gapic/transports/bigtable_grpc_transport.py
  bigtable/google/cloud/bigtable_v2/proto/bigtable_pb2.py
  bigtable/google/cloud/bigtable_v2/proto/data_pb2.py
  bigtable/google/cloud/bigtable_v2/types.py
  bigtable/synth.metadata
  bigtable/tests/system.py
Labels: api: bigtable, cla: yes, codegen

#9381 docs(spanner): update description of the timeout_secs parameter
  spanner/google/cloud/spanner_v1/database.py
  spanner/google/cloud/spanner_v1/session.py
Labels: cla: yes

#9536 docs(translation): fix v2 imports, remove v2 sample in README
  translate/README.rst
  translate/docs/index.rst
  translate/docs/usage.rst
  translate/docs/v2.rst
Labels: api: translation, cla: yes, type: docs

#9571 feat(talent): add `query_language_code` to `talent.v4beta1.JobQuery` (via synth)
  talent/google/cloud/talent_v4beta1/proto/filters.proto
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#9541 feat(firestore): surface new 'IN' and 'ARRAY_CONTAINS_ANY' operators
  firestore/google/cloud/firestore_v1/query.py
  firestore/tests/system/test_system.py
  firestore/tests/unit/v1/test_query.py
Labels: api: firestore, cla: yes

#9567 chore(asset): release 0.5.0
  asset/CHANGELOG.md
  asset/setup.py
Labels: autorelease: pending, cla: yes

#9566 chore(automl): release 0.7.1
  automl/CHANGELOG.md
  automl/setup.py
Labels: autorelease: pending, cla: yes

#9576 fix(speech): move 'speaker_tag' field from 'SpeakerDiarizationConfig' to 'WordInfo' (via synth)
  speech/google/cloud/speech_v1/proto/cloud_speech.proto
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#9507 chore(pubsub): add subscriber role test for streaming
  pubsub/tests/system.py
Labels: api: pubsub, cla: yes, testing, type: process
