Repository googleapis/google-cloud-python, pull requests merged in 2019-07, with the labels that each got.

#8538 Logging: Re-add "generated" markers (via synth).
  logging/.coveragerc
  logging/.flake8
  logging/setup.cfg
  logging/synth.metadata
Labels: api: logging, cla: yes, codegen

#8539 Phishing Protection: Add 'client_info' support, re-template / blacken files. (via synth).
  phishingprotection/.coveragerc
  phishingprotection/.flake8
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/phishing_protection_service_client.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/transports/phishing_protection_service_grpc_transport.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/proto/phishingprotection_pb2.py
  phishingprotection/noxfile.py
  phishingprotection/setup.cfg
  phishingprotection/setup.py
  phishingprotection/synth.metadata
Labels: api: phishingprotection, cla: yes, codegen

#8537 Container Analysis: Fix language in repo metadata.
  containeranalysis/.repo-metadata.json
Labels: api: containeranalysis, cla: yes

#7624 Update Natural Language service name
  docs/index.rst
Labels: :rotating_light:, cla: yes

#8264 Firestore: Add gRPC keepalive to Client Init.
  firestore/google/cloud/firestore_v1/client.py
  firestore/google/cloud/firestore_v1beta1/client.py
  firestore/tests/unit/v1/test_client.py
  firestore/tests/unit/v1beta1/test_client.py
Labels: :rotating_light:, api: firestore, cla: yes

#8546 Remove type information for kwargs to not conflict with type checkers
  core/google/cloud/client.py
  datastore/google/cloud/datastore/client.py
  datastore/google/cloud/datastore/key.py
  monitoring/google/cloud/monitoring_v3/query.py
  spanner/google/cloud/spanner_v1/pool.py
  storage/google/cloud/storage/bucket.py
Labels: cla: yes

#7033 Bigtable appprofile snippets
  bigtable/docs/snippets.py
  bigtable/google/cloud/bigtable/app_profile.py
Labels: :rotating_light:, api: bigtable, cla: yes, type: docs

#8553 BigQuery: Fix unit tests for new versions of fastparquet and pytest
  bigquery/setup.py
  bigquery/tests/unit/test__pandas_helpers.py
  bigquery/tests/unit/test_magics.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes, testing

#8548 Release bigquery 1.16.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: autorelease: pending, cla: yes

#8481 Firestore: Add missing transforms to 'google.cloud.firestore' shim.
  firestore/google/cloud/firestore.py
  firestore/tests/unit/test_firestore_shim.py
Labels: api: firestore, cla: yes

#8572 Asset: Pin black version (via synth).
  asset/noxfile.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes, codegen

#8573 AutoML: Pin black version (via synth).
  automl/noxfile.py
  automl/synth.metadata
Labels: api: automl, cla: yes, codegen

#8575 Container: Pin black version (via synth).
  container/noxfile.py
  container/synth.metadata
Labels: api: container, cla: yes, codegen

#8578 Datalabeling: Pin black version (via synth).
  datalabeling/noxfile.py
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes, codegen

#8579 Dataproc: Pin black version (via synth).
  dataproc/noxfile.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#8580 Datastore: Pin black version (via synth).
  datastore/noxfile.py
  datastore/synth.metadata
Labels: api: datastore, cla: yes, codegen

#8581 DLP: Pin black version (via synth).
  dlp/noxfile.py
  dlp/synth.metadata
Labels: api: dlp, cla: yes, codegen

#8582 Error_reporting: Pin black version (via synth).
  error_reporting/noxfile.py
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes, codegen

#8584 IAM: Pin black version (via synth).
  iam/noxfile.py
  iam/synth.metadata
Labels: api: iam, cla: yes, codegen

#8600 Translate: Pin black version (via synth).
  translate/noxfile.py
  translate/synth.metadata
Labels: cla: yes, codegen

#8602 Vision: Pin black version (via synth).
  vision/noxfile.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#8603 Websecurityscanner: Pin black version (via synth).
  websecurityscanner/noxfile.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes, codegen

#8583 Firestore: Pin black version (via synth).
  firestore/noxfile.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#8601 Videointelligence: Pin black version (via synth).
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1beta1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1beta2/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1beta2/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1p1beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1p2beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence_pb2.py
  videointelligence/noxfile.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#8586 IRM: Pin black version (via synth).
  irm/noxfile.py
  irm/synth.metadata
Labels: api: irm, cla: yes, codegen

#8588 Language: Pin black version (via synth).
  language/noxfile.py
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#8589 Oslogin: Pin black version (via synth).
  oslogin/noxfile.py
  oslogin/synth.metadata
Labels: api: oslogin, cla: yes, codegen

#8593 Scheduler: Pin black version (via synth).
  scheduler/noxfile.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes, codegen

#8590 Phishingprotection: Pin black version (via synth).
  phishingprotection/noxfile.py
  phishingprotection/synth.metadata
Labels: api: phishingprotection, cla: yes, codegen

#8592 Redis: Pin black version (via synth).
  redis/noxfile.py
  redis/synth.metadata
Labels: api: redis, cla: yes, codegen

#8596 Speech: Pin black version (via synth).
  speech/noxfile.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#8599 Text-to-speech: Pin black version (via synth).
  texttospeech/noxfile.py
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes, codegen

#8606 Tasks: Fix typo in README.
  tasks/README.rst
Labels: cla: yes

#8610 DLP: add support for publishing findings to GCS; deprecate 'DetectionRule' message (via synth).
  dlp/google/cloud/dlp_v2/proto/dlp.proto
  dlp/google/cloud/dlp_v2/proto/dlp_pb2.py
  dlp/google/cloud/dlp_v2/proto/storage.proto
  dlp/google/cloud/dlp_v2/proto/storage_pb2.py
  dlp/synth.metadata
Labels: api: dlp, cla: yes, codegen

#8543 Firestore: Add 'FieldPath.documentId()'.
  firestore/google/cloud/firestore_v1/field_path.py
  firestore/tests/system.py
  firestore/tests/unit/v1/test_field_path.py
Labels: cla: yes

#8461 Spanner: add backoff for `run_in_transaction' when backend does not provide 'RetryInfo' in response.
  spanner/google/cloud/spanner_v1/session.py
  spanner/tests/unit/test_session.py
Labels: cla: yes

#8613 Asset: Add VPCSC tests.
  asset/noxfile.py
  asset/synth.py
  asset/tests/system/test_vpcsc.py
Labels: api: cloudasset, cla: yes, testing

#8597 Talent: add 'result_set_id' param to 'ProfileSearchClient.search_profiles'; add 'ProfileQuery.candidate_availability_filter'; pin 'black' version; dostring tweaks. (via synth).
  talent/google/cloud/talent_v4beta1/gapic/application_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/company_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/completion_client.py
  talent/google/cloud/talent_v4beta1/gapic/enums.py
  talent/google/cloud/talent_v4beta1/gapic/event_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/job_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/profile_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/tenant_service_client.py
  talent/google/cloud/talent_v4beta1/proto/application.proto
  talent/google/cloud/talent_v4beta1/proto/application_pb2.py
  talent/google/cloud/talent_v4beta1/proto/application_service.proto
  talent/google/cloud/talent_v4beta1/proto/application_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/common.proto
  talent/google/cloud/talent_v4beta1/proto/common_pb2.py
  talent/google/cloud/talent_v4beta1/proto/company.proto
  talent/google/cloud/talent_v4beta1/proto/company_pb2.py
  talent/google/cloud/talent_v4beta1/proto/company_service.proto
  talent/google/cloud/talent_v4beta1/proto/company_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/completion_service.proto
  talent/google/cloud/talent_v4beta1/proto/completion_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/event.proto
  talent/google/cloud/talent_v4beta1/proto/event_pb2.py
  talent/google/cloud/talent_v4beta1/proto/event_service.proto
  talent/google/cloud/talent_v4beta1/proto/event_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/filters.proto
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job.proto
  talent/google/cloud/talent_v4beta1/proto/job_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job_service.proto
  talent/google/cloud/talent_v4beta1/proto/job_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile.proto
  talent/google/cloud/talent_v4beta1/proto/profile_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile_service.proto
  talent/google/cloud/talent_v4beta1/proto/profile_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/tenant.proto
  talent/google/cloud/talent_v4beta1/proto/tenant_pb2.py
  talent/google/cloud/talent_v4beta1/proto/tenant_service.proto
  talent/google/cloud/talent_v4beta1/proto/tenant_service_pb2.py
  talent/noxfile.py
  talent/synth.metadata
  talent/tests/unit/gapic/v4beta1/test_profile_service_client_v4beta1.py
Labels: api: talent, cla: yes, codegen

#8617 Storage: Skip failing 'test_bpo_set_unset_preserves_acls' systest.
  storage/tests/system.py
Labels: api: storage, cla: yes, testing

#8619 Fix typo
  pubsub/docs/publisher/index.rst
Labels: cla: yes

#8620 Storage: Retry bucket creation in signing setup.
  storage/tests/system.py
Labels: api: storage, cla: yes, testing

#8621 Release vision 0.38.0
  vision/CHANGELOG.md
  vision/setup.py
Labels: autorelease: pending, cla: yes

#8622 Release datalabeling 0.2.0
  datalabeling/CHANGELOG.md
  datalabeling/setup.py
Labels: autorelease: pending, cla: yes

#8624 Release dlp 0.12.0
  dlp/CHANGELOG.md
  dlp/setup.py
Labels: autorelease: pending, cla: yes

#8609 Add `to_arrow` to get a `pyarrow.Table` from query results.
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/samples/query_to_arrow.py
  bigquery/samples/tests/test_query_to_arrow.py
  bigquery/setup.py
  bigquery/tests/unit/test__pandas_helpers.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_table.py
Labels: cla: yes

#8631 Logging: Add path-construction helpers to GAPIC clients (via synth).
  logging/google/cloud/logging_v2/gapic/config_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/logging_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/metrics_service_v2_client.py
  logging/synth.metadata
Labels: api: logging, cla: yes, codegen

#8632 Talent: Add path-construction helpers to GAPIC clients (via synth).
  talent/google/cloud/talent_v4beta1/gapic/company_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/completion_client.py
  talent/google/cloud/talent_v4beta1/gapic/event_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/job_service_client.py
  talent/synth.metadata
Labels: api: talent, cla: yes, codegen

#8629 Storage: Fix example in 'Client.download_blob_to_file' docstring.
  storage/google/cloud/storage/client.py
Labels: api: storage, cla: yes, type: docs

#8626 Data Labeling: Fix links in README.rst
  datalabeling/README.rst
Labels: api: datalabeling, cla: yes, type: docs

#8625 Release firestore 1.3.0
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: autorelease: pending, cla: yes

#8627 Cloud Asset: update vpcsc test settings.
  asset/noxfile.py
  asset/tests/system/test_vpcsc.py
Labels: cla: yes

#8637 Firestore: Avoid sharing top-level collection across test cases / CI runs.
  firestore/tests/system.py
Labels: api: firestore, cla: yes, flaky, testing

#8638 Firestore: Improve cleanups for 'watch' system tests.
  firestore/tests/system.py
Labels: api: firestore, cla: yes, flaky, testing

#8623 Release translate 1.6.0
  translate/CHANGELOG.md
  translate/setup.py
Labels: autorelease: pending, cla: yes

#8643 AutoML: add support for 'TablesModelMetadata.{optimization_objective_recall_value,optimization_objective_precision_value}' (via synth).
  automl/google/cloud/automl_v1beta1/proto/tables.proto
  automl/google/cloud/automl_v1beta1/proto/tables_pb2.py
  automl/synth.metadata
Labels: api: automl, cla: yes

#8641 DNS: Change base url to dns.googleapis.com
  dns/google/cloud/dns/_http.py
Labels: api: dns, cla: yes

#8647 Update pin for 'grpc-google-iam-v1' to 0.12.3+.
  asset/setup.py
  bigtable/setup.py
  container/setup.py
  containeranalysis/setup.py
  datacatalog/setup.py
  iot/setup.py
  kms/google/cloud/kms_v1/gapic/transports/key_management_service_grpc_transport.py
  kms/setup.py
  kms/synth.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/publisher_grpc_transport.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/subscriber_grpc_transport.py
  pubsub/setup.py
  pubsub/synth.py
  securitycenter/setup.py
  spanner/setup.py
  tasks/setup.py
Labels: api: bigtable, api: cloudasset, api: cloudiot, api: cloudkms, api: cloudtasks, api: container, api: containeranalysis, api: datacatalog, api: pubsub, api: spanner, api:securitycenter, cla: yes, packaging

#8607 Videointelligence: Add VPC SC integration tests.
  videointelligence/noxfile.py
  videointelligence/tests/system.py
Labels: api: videointelligence, cla: yes, testing

#8644 BigQuery Storage: Add support for arrow format in BQ Read API
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/reader.py
  bigquery_storage/noxfile.py
  bigquery_storage/setup.py
  bigquery_storage/tests/system/test_system.py
  bigquery_storage/tests/unit/test_reader.py
Labels: api: bigquerystorage, cla: yes

#8649 Release bigquery_storage 0.6.0
  bigquery_storage/CHANGELOG.md
  bigquery_storage/setup.py
Labels: autorelease: pending, cla: yes

#8551 BigQuery: Add support for BigQuery Storage API Arrow format in `to_dataframe` and `to_arrow`.
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/setup.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_table.py
  bigquery_storage/setup.py
Labels: api: bigquery, cla: yes

#8663 Release bigquery 1.17.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: autorelease: pending, cla: yes

#8570 Storage: Add 'Bucket.location_type' property.
  storage/google/cloud/storage/bucket.py
  storage/tests/unit/test_bucket.py
Labels: api: storage, cla: yes, do not merge

#8652 Bigtable: Add 'options_' argument to clients' 'get_iam_policy' (via synth).
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_instance_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/types.py
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes, codegen

#8653 Containeranalysis: Add 'options_' argument to clients' 'get_iam_policy'; pin black version (via synth).
  containeranalysis/google/cloud/devtools/containeranalysis_v1/gapic/container_analysis_client.py
  containeranalysis/google/cloud/devtools/containeranalysis_v1/types.py
  containeranalysis/noxfile.py
  containeranalysis/synth.metadata
Labels: api: containeranalysis, cla: yes, codegen

#8654 Datacatalog: Add 'options_' argument to clients' 'get_iam_policy'; pin black version (via synth).
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/types.py
  datacatalog/noxfile.py
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes, codegen

#8655 IoT: Add 'options_' argument to clients' 'get_iam_policy'; pin black version (via synth).
  iot/google/cloud/iot_v1/gapic/device_manager_client.py
  iot/google/cloud/iot_v1/types.py
  iot/noxfile.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes, codegen

#8656 KMS: Add 'options_' argument to client's 'get_iam_policy'; pin black version (via synth).
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/noxfile.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#8657 Pub/Sub: Add 'options_' argument to clients' 'get_iam_policy'; pin black version (via synth).
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/noxfile.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes, codegen

#8658 Securitycenter: Add 'options_' argument to clients' 'get_iam_policy'; pin black version (via synth).
  securitycenter/google/cloud/securitycenter_v1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service.proto
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service_pb2.py
  securitycenter/google/cloud/securitycenter_v1/types.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1beta1/types.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#8659 Spanner: Add 'options_' argument to clients' 'get_iam_policy'; pin black version (via synth).
  spanner/google/cloud/spanner_admin_database_v1/gapic/database_admin_client.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/instance_admin_client.py
  spanner/noxfile.py
  spanner/synth.metadata
Labels: api: spanner, cla: yes, codegen

#8660 Tasks: Add 'options_' argument to clients' 'get_iam_policy'; pin black version (via synth).
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2/types.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/types.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/types.py
  tasks/noxfile.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#8665 BigQuery Storage: Update quickstart sample with data format and sharding options.
  bigquery_storage/.coveragerc
  bigquery_storage/.flake8
  bigquery_storage/docs/index.rst
  bigquery_storage/docs/samples
  bigquery_storage/noxfile.py
  bigquery_storage/samples/__init__.py
  bigquery_storage/samples/quickstart.py
  bigquery_storage/samples/requirements.txt
  bigquery_storage/samples/tests/__init__.py
  bigquery_storage/samples/tests/quickstart_test.py
  bigquery_storage/setup.cfg
  bigquery_storage/setup.py
  bigquery_storage/synth.metadata
  bigquery_storage/synth.py
Labels: api: bigquerystorage, cla: yes

#8666 Videointelligence: Remove face detection feature from V1 client (via synth).
  videointelligence/google/cloud/videointelligence_v1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2.py
  videointelligence/synth.metadata
  videointelligence/synth.py
Labels: api: videointelligence, cla: yes, codegen

#8510 Grafeas: Add 'client_options' support, update list method docstrings (via synth).
  grafeas/grafeas/grafeas_v1/gapic/grafeas_client.py
  grafeas/synth.metadata
  grafeas/synth.py
Labels: cla: yes, codegen

#8673 Update README.rst
  README.rst
Labels: cla: yes, type: docs

#8628 Firestore: Add 'Transaction.get' / 'Transaction.get_all'.
  firestore/google/cloud/firestore_v1/transaction.py
  firestore/tests/unit/v1/test_transaction.py
Labels: api: firestore, cla: yes

#8288 Docs: Add compatibility check badges to READMEs.
  api_core/README.rst
  asset/README.rst
  automl/README.rst
  bigquery/README.rst
  bigquery_datatransfer/README.rst
  bigquery_storage/README.rst
  bigtable/README.rst
  container/README.rst
  core/README.rst
  datacatalog/README.rst
  datalabeling/README.rst
  dataproc/README.rst
  datastore/README.rst
  dlp/README.rst
  dns/README.rst
  error_reporting/README.rst
  firestore/README.rst
  iam/README.rst
  iot/README.rst
  irm/README.rst
  kms/README.rst
  language/README.rst
  logging/README.rst
  monitoring/README.rst
  oslogin/README.rst
  phishingprotection/README.rst
  pubsub/README.rst
  redis/README.rst
  resource_manager/README.rst
  runtimeconfig/README.rst
  scheduler/README.rst
  securitycenter/README.rst
  spanner/README.rst
  speech/README.rst
  storage/README.rst
  talent/README.rst
  tasks/README.rst
  texttospeech/README.rst
  trace/README.rst
  translate/README.rst
  videointelligence/README.rst
  vision/README.rst
  webrisk/README.rst
  websecurityscanner/README.rst
Labels: api: automl, api: bigquery, api: bigquerydatatransfer, api: bigquerystorage, api: bigtable, api: cloudasset, api: clouderrorreporting, api: cloudiot, api: cloudkms, api: cloudtasks, api: cloudtrace, api: container, api: core, api: datacatalog, api: datalabeling, api: dataproc, api: datastore, api: dlp, api: dns, api: firestore, api: iam, api: irm, api: language, api: logging, api: monitoring, api: oslogin, api: phishingprotection, api: pubsub, api: redis, api: runtimeconfig, api: scheduler, api: spanner, api: speech, api: storage, api: talent, api: texttospeech, api: videointelligence, api: vision, api: webrisk, api:securitycenter, cla: yes, type: docs

#8669 Revert "Videointelligence: Remove face detection feature from V1 client (via synth)."
  videointelligence/google/cloud/videointelligence_v1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#8670 Release containeranalysis 0.2.0
  containeranalysis/CHANGELOG.md
  containeranalysis/setup.py
Labels: api: containeranalysis, autorelease: pending, cla: yes

#8671 Release grafeas 0.2.0
  grafeas/CHANGELOG.md
  grafeas/setup.py
Labels: autorelease: pending, cla: yes

#8679 KMS: Accomodate new location of 'IAMPolicyStub' (via synth).
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/google/cloud/kms_v1/gapic/transports/key_management_service_grpc_transport.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#8680 Pub/Sub: Accomodate new location of 'IAMPolicyStub' (via synth).
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/publisher_grpc_transport.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/subscriber_grpc_transport.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes, codegen

#8678 Datalabeling: Import operations.proto (via synth).
  datalabeling/google/cloud/datalabeling_v1beta1/proto/data_labeling_service.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/data_labeling_service_pb2.py
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes, codegen

#8645 Release dns 0.30.2
  dns/CHANGELOG.md
  dns/setup.py
Labels: api: dns, autorelease: pending, cla: yes

#8684 Release datalabeling 0.2.1
  datalabeling/CHANGELOG.md
  datalabeling/setup.py
Labels: autorelease: pending, cla: yes

#8690 Release bigquery_datatransfer 0.4.0
  bigquery_datatransfer/CHANGELOG.md
  bigquery_datatransfer/setup.py
Labels: autorelease: pending, cla: yes

#8693 BigQuery: Complete the to_arrow() method feature request
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_signature_compatibility.py
Labels: api: bigquery, cla: yes

#8650 Firestore: Add 'should_terminate' predicate for clean BiDi shutdown.
  api_core/google/api_core/bidi.py
  api_core/tests/unit/test_bidi.py
  firestore/google/cloud/firestore_v1/watch.py
  firestore/tests/unit/v1/test_cross_language.py
  firestore/tests/unit/v1/test_watch.py
Labels: api: core, api: firestore, cla: yes

#8694 BigQuery: Fix the names of several pytest "skip if" markers
  bigquery/tests/unit/test__pandas_helpers.py
  bigquery/tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#8683 Bigtable: Add Cell.__repr__
  bigtable/google/cloud/bigtable/row_data.py
Labels: api: bigtable, cla: yes

#8688 API Core / BigQuery Storage: Fix pins of 'googleapis-common-protos.
  api_core/setup.py
  bigquery_storage/setup.py
Labels: api: bigquerystorage, api: core, cla: yes, packaging

#8708 Enable Sample Generator Tool for Data Catalog
  datacatalog/synth.py
Labels: cla: yes

#8700 Release api_core 1.14.0
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: autorelease: pending, cla: yes

#8711 Security Center: Update docstrings (via synth).
  securitycenter/google/cloud/securitycenter_v1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service.proto
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service_pb2.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#8709 Bump minimum version for google-api-core to 1.14.0.
  asset/setup.py
  automl/setup.py
  bigquery_datatransfer/setup.py
  bigquery_storage/setup.py
  bigtable/setup.py
  container/setup.py
  containeranalysis/setup.py
  core/setup.py
  datacatalog/setup.py
  datalabeling/setup.py
  dataproc/setup.py
  datastore/setup.py
  dlp/setup.py
  firestore/setup.py
  grafeas/setup.py
  iam/setup.py
  iot/setup.py
  irm/setup.py
  kms/setup.py
  language/setup.py
  logging/setup.py
  monitoring/setup.py
  oslogin/setup.py
  phishingprotection/setup.py
  pubsub/setup.py
  redis/setup.py
  scheduler/setup.py
  securitycenter/setup.py
  spanner/setup.py
  speech/setup.py
  talent/setup.py
  tasks/setup.py
  texttospeech/setup.py
  trace/setup.py
  translate/setup.py
  videointelligence/setup.py
  vision/setup.py
  webrisk/setup.py
  websecurityscanner/setup.py
Labels: api: automl, api: bigquerydatatransfer, api: bigquerystorage, api: bigtable, api: cloudasset, api: cloudiot, api: cloudkms, api: cloudtasks, api: cloudtrace, api: container, api: containeranalysis, api: core, api: datacatalog, api: datalabeling, api: dataproc, api: datastore, api: dlp, api: firestore, api: iam, api: irm, api: language, api: logging, api: monitoring, api: oslogin, api: phishingprotection, api: pubsub, api: redis, api: scheduler, api: spanner, api: speech, api: talent, api: texttospeech, api: translation, api: videointelligence, api: vision, api: webrisk, api: websecurityscanner, api:securitycenter, cla: yes, kokoro:force-run, packaging

#8712 Talent: Add strict keywords search, increase timeout (via synth).
  talent/google/cloud/talent_v4beta1/gapic/application_service_client_config.py
  talent/google/cloud/talent_v4beta1/gapic/company_service_client_config.py
  talent/google/cloud/talent_v4beta1/gapic/enums.py
  talent/google/cloud/talent_v4beta1/gapic/job_service_client_config.py
  talent/google/cloud/talent_v4beta1/gapic/profile_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/profile_service_client_config.py
  talent/google/cloud/talent_v4beta1/gapic/tenant_service_client_config.py
  talent/google/cloud/talent_v4beta1/proto/batch.proto
  talent/google/cloud/talent_v4beta1/proto/batch_pb2.py
  talent/google/cloud/talent_v4beta1/proto/company.proto
  talent/google/cloud/talent_v4beta1/proto/company_pb2.py
  talent/google/cloud/talent_v4beta1/proto/event.proto
  talent/google/cloud/talent_v4beta1/proto/filters.proto
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job_service.proto
  talent/google/cloud/talent_v4beta1/proto/job_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile.proto
  talent/google/cloud/talent_v4beta1/proto/profile_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile_service.proto
  talent/google/cloud/talent_v4beta1/proto/profile_service_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes, codegen

#8701 Firestore: Avoid adding 'prefix' to update mask for transforms used in 'update'.
  firestore/google/cloud/firestore_v1/_helpers.py
  firestore/google/cloud/firestore_v1beta1/_helpers.py
  firestore/tests/unit/v1/test__helpers.py
  firestore/tests/unit/v1/testdata/update-nested-transform-and-nested-value.json
  firestore/tests/unit/v1beta1/test__helpers.py
  firestore/tests/unit/v1beta1/testdata/update-nested-transform-and-nested-value.textproto
Labels: api: firestore, cla: yes

#8706 Update Cloud Memorystore service link
  docs/index.rst
Labels: api: redis, cla: yes, type: docs

#8718 Firestore: Fix V1 'Client.collections' method.
  firestore/google/cloud/firestore_v1/client.py
  firestore/tests/system.py
  firestore/tests/unit/v1/test_client.py
Labels: api: firestore, cla: yes

#8710 Data Catalog: Add generated samples (via synth).
  datacatalog/samples/v1beta1/datacatalog_lookup_entry.py
  datacatalog/samples/v1beta1/datacatalog_lookup_entry_sql_resource.py
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes, codegen

#8705 All: Link to googleapis.dev documentation in READMEs.
  README.rst
  api_core/README.rst
  api_core/docs/futures.rst
  api_core/docs/index.rst
  api_core/google/api_core/future/polling.py
  asset/README.rst
  automl/README.rst
  bigquery/README.rst
  bigquery_datatransfer/README.rst
  bigquery_storage/README.rst
  bigtable/README.rst
  container/README.rst
  containeranalysis/README.rst
  containeranalysis/docs/README.rst
  core/README.rst
  datacatalog/README.rst
  datalabeling/README.rst
  dataproc/README.rst
  datastore/README.rst
  dlp/README.rst
  dns/README.rst
  error_reporting/README.rst
  firestore/README.rst
  grafeas/README.rst
  iam/README.rst
  iot/README.rst
  irm/README.rst
  kms/README.rst
  language/README.rst
  legacy/google-cloud/setup-README.rst
  logging/README.rst
  monitoring/README.rst
  oslogin/README.rst
  phishingprotection/README.rst
  phishingprotection/docs/index.rst
  pubsub/README.rst
  redis/README.rst
  resource_manager/README.rst
  runtimeconfig/README.rst
  scheduler/README.rst
  securitycenter/README.rst
  spanner/README.rst
  spanner/docs/client-usage.rst
  speech/README.rst
  storage/README.rst
  synth.metadata
  talent/README.rst
  tasks/README.rst
  texttospeech/README.rst
  trace/README.rst
  translate/README.rst
  videointelligence/README.rst
  vision/README.rst
  webrisk/README.rst
  websecurityscanner/README.rst
Labels: cla: yes, type: docs

#8725 Data Catalog: Add get_entry sample (via synth).
  datacatalog/samples/v1beta1/datacatalog_get_entry.py
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes

#8713 BigQuery: Set IPython user agent when running queries with IPython cell magic
  bigquery/google/cloud/bigquery/magics.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#8724 Bigtable: pick up changes to GAPIC client configuration (via synth).
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_instance_admin_client_config.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client_config.py
  bigtable/google/cloud/bigtable_v2/gapic/bigtable_client_config.py
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#8727 BigQuery: Mock external calls in one of BigQuery unit tests
  bigquery/tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#8723 Fix docs navigation issues.
  dlp/docs/README.rst
  error_reporting/docs/README.rst
  runtimeconfig/docs/index.rst
Labels: api: clouderrorreporting, api: dlp, api: runtimeconfig, cla: yes, type: docs

#8667 Firestore: Add GAPIC client for Admin V1.
  firestore/google/cloud/firestore_admin_v1/__init__.py
  firestore/google/cloud/firestore_admin_v1/gapic/__init__.py
  firestore/google/cloud/firestore_admin_v1/gapic/enums.py
  firestore/google/cloud/firestore_admin_v1/gapic/firestore_admin_client.py
  firestore/google/cloud/firestore_admin_v1/gapic/firestore_admin_client_config.py
  firestore/google/cloud/firestore_admin_v1/gapic/transports/__init__.py
  firestore/google/cloud/firestore_admin_v1/gapic/transports/firestore_admin_grpc_transport.py
  firestore/google/cloud/firestore_admin_v1/proto/__init__.py
  firestore/google/cloud/firestore_admin_v1/proto/field.proto
  firestore/google/cloud/firestore_admin_v1/proto/field_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/field_pb2_grpc.py
  firestore/google/cloud/firestore_admin_v1/proto/firestore_admin.proto
  firestore/google/cloud/firestore_admin_v1/proto/firestore_admin_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/firestore_admin_pb2_grpc.py
  firestore/google/cloud/firestore_admin_v1/proto/index.proto
  firestore/google/cloud/firestore_admin_v1/proto/index_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/index_pb2_grpc.py
  firestore/google/cloud/firestore_admin_v1/proto/location.proto
  firestore/google/cloud/firestore_admin_v1/proto/location_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/location_pb2_grpc.py
  firestore/google/cloud/firestore_admin_v1/proto/operation.proto
  firestore/google/cloud/firestore_admin_v1/proto/operation_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/operation_pb2_grpc.py
  firestore/google/cloud/firestore_admin_v1/types.py
  firestore/synth.metadata
  firestore/synth.py
  firestore/tests/unit/gapic/v1/test_firestore_admin_client_v1.py
Labels: api: firestore, cla: yes, codegen

#8731 Release automl 0.4.0
  automl/CHANGELOG.md
  automl/setup.py
Labels: autorelease: pending, cla: yes

#8735 API Core: Forward 'timeout' arg from 'exception' to '_blocking_poll'.
  api_core/google/api_core/future/polling.py
  api_core/tests/unit/future/test_polling.py
Labels: api: core, cla: yes

#8687 Firestore: Treat 'None' as EOF in 'Watch.on_snapshot'.
  firestore/google/cloud/firestore_v1/watch.py
  firestore/noxfile.py
  firestore/tests/system/test_system.py
  firestore/tests/system/util/cleanup_firestore_documents.py
  firestore/tests/unit/v1/test_watch.py
Labels: api: firestore, cla: yes

#8746 Release storage 1.17.0
  storage/CHANGELOG.md
  storage/setup.py
Labels: api: storage, autorelease: pending, cla: yes

#8744 Firestore: Preserve manual change in noxfile (run systests verbosely).
  firestore/synth.metadata
  firestore/synth.py
Labels: api: firestore, cla: yes, codegen

#8732 Release asset 0.3.0
  asset/CHANGELOG.md
  asset/setup.py
Labels: api: cloudasset, autorelease: pending, cla: yes

#8761 Release pubsub 0.43.0
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: autorelease: pending, cla: yes

#8777 Data Catalog: Fix client documentation links
  datacatalog/.repo-metadata.json
  datacatalog/README.rst
Labels: api: datacatalog, cla: yes, type: docs

#8779 Language: Fix reference to EncodingType
  language/google/cloud/language_v1/gapic/language_service_client.py
  language/google/cloud/language_v1beta2/gapic/language_service_client.py
Labels: api: language, cla: yes, type: docs

#8775 Release webrisk 0.2.0
  webrisk/CHANGELOG.md
  webrisk/setup.py
Labels: autorelease: pending, cla: yes

#8774 Release vision 0.38.1
  vision/CHANGELOG.md
  vision/setup.py
Labels: autorelease: pending, cla: yes

#8772 Release trace 0.22.0
  trace/CHANGELOG.md
  trace/setup.py
Labels: autorelease: pending, cla: yes

#8770 Release tasks 1.2.0
  tasks/CHANGELOG.md
  tasks/setup.py
Labels: autorelease: pending, cla: yes

#8768 Release speech 1.2.0
  speech/CHANGELOG.md
  speech/setup.py
Labels: autorelease: pending, cla: yes

#8767 Release spanner 1.10.0
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: autorelease: pending, cla: yes

#8750 Release dataproc 0.5.0
  dataproc/CHANGELOG.md
  dataproc/setup.py
Labels: api: dataproc, autorelease: pending, cla: yes

#8752 Release dlp 0.12.1
  dlp/CHANGELOG.md
  dlp/setup.py
Labels: api: dlp, autorelease: pending, cla: yes

#8753 Release error_reporting 0.32.0
  error_reporting/CHANGELOG.md
  error_reporting/setup.py
Labels: api: clouderrorreporting, autorelease: pending, cla: yes

#8754 Release iam 0.2.0
  iam/CHANGELOG.md
  iam/setup.py
Labels: api: iam, autorelease: pending, cla: yes

#8755 Release iot 0.3.0
  iot/CHANGELOG.md
  iot/setup.py
Labels: api: cloudiot, autorelease: pending, cla: yes

#8756 Release kms 1.2.0
  kms/CHANGELOG.md
  kms/setup.py
Labels: api: cloudkms, autorelease: pending, cla: yes

#8757 Release language 1.3.0
  language/CHANGELOG.md
  language/setup.py
Labels: api: language, autorelease: pending, cla: yes

#8759 Release monitoring 0.32.0
  monitoring/CHANGELOG.md
  monitoring/setup.py
Labels: autorelease: pending, cla: yes

#8760 Release oslogin 0.2.0
  oslogin/CHANGELOG.md
  oslogin/setup.py
Labels: autorelease: pending, cla: yes

#8749 Release datacatalog 0.3.0
  datacatalog/CHANGELOG.md
  datacatalog/setup.py
Labels: api: datacatalog, autorelease: pending, cla: yes

#8762 Release redis 0.3.0
  redis/CHANGELOG.md
  redis/setup.py
Labels: autorelease: pending, cla: yes

#8763 Release resource_manager 0.29.2
  resource_manager/CHANGELOG.md
  resource_manager/setup.py
Labels: autorelease: pending, cla: yes

#8764 Release runtimeconfig 0.29.2
  runtimeconfig/CHANGELOG.md
  runtimeconfig/setup.py
Labels: autorelease: pending, cla: yes

#8765 Release scheduler 1.2.0
  scheduler/CHANGELOG.md
  scheduler/setup.py
Labels: autorelease: pending, cla: yes

#8766 Release securitycenter 0.3.0
  securitycenter/CHANGELOG.md
  securitycenter/setup.py
Labels: autorelease: pending, cla: yes

#8771 Release texttospeech 0.5.0
  texttospeech/CHANGELOG.md
  texttospeech/setup.py
Labels: autorelease: pending, cla: yes

#8773 Release videointelligence 1.10.0
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: autorelease: pending, cla: yes

#8785 BigQuery: Treat NaN as NULL when converting from pandas to arrow.
  bigquery/noxfile.py
  bigquery/tests/unit/test__pandas_helpers.py
Labels: api: bigquery, cla: yes, type: process

#8790 Linkify the PR in the change log
  core/CHANGELOG.md
Labels: api: core, cla: yes, type: docs

#8672 BigQuery Storage: Pin black version. (via synth).
  bigquery_storage/noxfile.py
  bigquery_storage/synth.metadata
Labels: api: bigquerystorage, cla: yes, codegen

#8795 Add SpeakerDiarizationConfig, deprecate enable_speaker_diarization and diarization_speaker_count (via synth).
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech.proto
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech_pb2.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#8662 Bigtable: Separate row types to remove confusion around return types of row.commit
  bigtable/docs/snippets_table.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#8793 Datacatalog: Add 'search' sample (via synth).
  datacatalog/samples/v1beta1/datacatalog_search.py
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes, codegen

#8797 Language: Preserve fixed enum reference from PR #8779 during synth.
  language/synth.metadata
  language/synth.py
Labels: api: language, cla: yes, codegen

#8798 Reconfigure Renovate to preserve semver ranges.
  renovate.json
Labels: cla: yes

#8769 Release talent 0.3.0
  talent/CHANGELOG.md
  talent/setup.py
Labels: autorelease: pending, cla: yes

#8751 Release datastore 1.9.0
  datastore/CHANGELOG.md
  datastore/setup.py
Labels: api: datastore, autorelease: pending, cla: yes
