Repository googleapis/google-cloud-python, pull requests merged in 2019-05, with the labels that each got.

#7838 videointelligence: Update noxfile (via synth).
  videointelligence/noxfile.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#7839 Vision: Update noxfile and docs configuration (via synth).
  vision/docs/conf.py
  vision/noxfile.py
  vision/synth.metadata
Labels: api: vision, cla: yes

#7836 Speech: Update noxfile (via synth).
  speech/noxfile.py
  speech/synth.metadata
Labels: api: speech, cla: yes

#7835 IoT: Exclude docs/index.rst from move in synth.
  iot/synth.metadata
  iot/synth.py
Labels: api: cloudiot, cla: yes, codegen

#7828 Release firestore 1.1.0
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: autorelease: pending, cla: yes

#7840 Update information in READMEs to indicate KMS is GA.
  README.rst
  kms/README.rst
Labels: api: cloudkms, cla: yes, type: docs

#7774 IRM: Add nox session `docs`, reorder methods (via synth).
  irm/CHANGELOG.md
  irm/docs/README.rst
  irm/docs/changelog.md
  irm/docs/index.rst
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client.py
  irm/noxfile.py
  irm/synth.metadata
Labels: :rotating_light:, api: irm, cla: yes, codegen

#7820 Phase 1 Update create_bucket to take Bucket object within Storage Client
  storage/google/cloud/storage/client.py
  storage/tests/unit/test_client.py
Labels: cla: yes

#7830 Release phishingprotection 0.1.0
  phishingprotection/CHANGELOG.md
  phishingprotection/README.rst
  phishingprotection/setup.py
Labels: autorelease: pending, cla: yes

#7775 KMS: Add nox session `docs`, reorder methods (via synth).
  kms/docs/README.rst
  kms/docs/conf.py
  kms/docs/index.rst
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/noxfile.py
  kms/synth.metadata
Labels: :rotating_light:, api: cloudkms, cla: yes, codegen

#7766 Datacatalog: Add nox session `docs`, reorder methods (via synth).
  datacatalog/docs/README.rst
  datacatalog/docs/index.rst
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client.py
  datacatalog/noxfile.py
  datacatalog/synth.metadata
Labels: :rotating_light:, api: datacatalog, cla: yes, codegen

#7797 Bigtable: fix rendering of instance admin snippets.
  bigtable/docs/snippets.py
  bigtable/docs/snippets_table.py
Labels: :rotating_light:, api: bigtable, cla: yes, testing

#7843 Clean up bebugging code
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/system.py
Labels: api: pubsub, automerge, cla: yes

#7818 Release tasks 1.0.0
  README.rst
  tasks/CHANGELOG.md
  tasks/README.rst
  tasks/setup.py
Labels: autorelease: pending, cla: yes

#7791 Monitoring: add VPCSC system test.
  monitoring/tests/system/test_vpcsc.py
Labels: :rotating_light:, api: monitoring, cla: yes, testing

#7770 Error Reporting: Add nox session `docs` (via synth).
  error_reporting/docs/README.rst
  error_reporting/docs/conf.py
  error_reporting/docs/index.rst
  error_reporting/noxfile.py
  error_reporting/synth.metadata
Labels: :rotating_light:, api: clouderrorreporting, cla: yes, codegen

#7769 DLP: Add nox session `docs`, reorder methods (via synth).
  dlp/docs/README.rst
  dlp/docs/index.rst
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py
  dlp/noxfile.py
  dlp/synth.metadata
Labels: :rotating_light:, api: dlp, cla: yes, codegen

#7772 IAM: Add nox session `docs` (via synth).
  iam/docs/README.rst
  iam/docs/changelog.md
  iam/docs/index.rst
  iam/noxfile.py
  iam/synth.metadata
Labels: :rotating_light:, api: iam, cla: yes, codegen

#7852 Add Kokoro configs for phishingprotection.
  .kokoro/continuous/phishingprotection.cfg
  .kokoro/presubmit/phishingprotection.cfg
  .kokoro/release/phishingprotection.cfg
Labels: api: phishingprotection, cla: yes

#7847 Monitoring: Set environment variables for VPCSC system tests.
  monitoring/noxfile.py
  monitoring/synth.py
Labels: api: monitoring, cla: yes

#7854 Add smoke test for scheduler.
  scheduler/tests/system.py
Labels: api: scheduler, cla: yes, testing

#7853 Monitoring: regenerate VPCSC tests to include NotificationChannelService and UptimeCheckService.
  monitoring/tests/system/test_vpcsc.py
Labels: api: monitoring, cla: yes, testing

#7857 Release scheduler 1.0.0
  README.rst
  scheduler/CHANGELOG.md
  scheduler/README.rst
  scheduler/setup.py
Labels: autorelease: pending, cla: yes

#7858 BigTable: Fix typos in deprecation warnings
  bigtable/google/cloud/bigtable/instance.py
  bigtable/google/cloud/bigtable/table.py
Labels: api: bigtable, automerge, cla: yes

#7862 Video Intelligence: Fix uri to video (via synth).
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client.py
  videointelligence/synth.metadata
  videointelligence/tests/unit/gapic/v1/test_video_intelligence_service_client_v1.py
Labels: api: videointelligence, cla: yes

#7771 Firestore: Add nox session `docs`, add routing header to method metadata, reorder methods (via synth)..
  firestore/docs/README.rst
  firestore/docs/conf.py
  firestore/docs/index.rst
  firestore/google/cloud/firestore_v1/gapic/firestore_client.py
  firestore/google/cloud/firestore_v1beta1/gapic/firestore_client.py
  firestore/noxfile.py
  firestore/synth.metadata
Labels: :rotating_light:, api: firestore, cla: yes, codegen

#7856 Phase 1 Update get_bucket to take Bucket object within Storage Client
  storage/google/cloud/storage/client.py
  storage/tests/unit/test_client.py
Labels: api: storage, cla: yes

#7845 Vision: Add batch annotation for images and files, reorder methods (via synth).
  vision/google/cloud/vision_v1/__init__.py
  vision/google/cloud/vision_v1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1/gapic/product_search_client_config.py
  vision/google/cloud/vision_v1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1/proto/geometry.proto
  vision/google/cloud/vision_v1/proto/image_annotator.proto
  vision/google/cloud/vision_v1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1/proto/image_annotator_pb2_grpc.py
  vision/google/cloud/vision_v1/proto/product_search.proto
  vision/google/cloud/vision_v1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service.proto
  vision/google/cloud/vision_v1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service_pb2_grpc.py
  vision/google/cloud/vision_v1/proto/text_annotation.proto
  vision/google/cloud/vision_v1/proto/web_detection.proto
  vision/google/cloud/vision_v1/proto/web_detection_pb2.py
  vision/synth.metadata
  vision/tests/unit/gapic/v1/test_image_annotator_client_v1.py
  vision/tests/unit/gapic/v1/test_product_search_client_v1.py
Labels: api: vision, cla: yes, codegen

#7776 Language: Add nox session `docs` (via synth).
  language/docs/README.rst
  language/docs/conf.py
  language/docs/index.rst
  language/noxfile.py
  language/synth.metadata
Labels: :rotating_light:, api: language, cla: yes, codegen

#7768 Datastore: Add nox session `docs` (via synth).
  datastore/docs/README.rst
  datastore/docs/conf.py
  datastore/docs/index.rst
  datastore/noxfile.py
  datastore/synth.metadata
Labels: :rotating_light:, api: datastore, cla: yes, codegen

#7860 Bigtable: fix rendering of instance admin snippets for Delete cluster
  bigtable/docs/snippets.py
Labels: cla: yes

#7863 PubSub: Fix pubsub Streaming Pull shutdown on RetryError
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes

#7869 DNS: Add 'client_info' support to client / connection.
  dns/google/cloud/dns/_http.py
  dns/google/cloud/dns/client.py
  dns/tests/unit/test__http.py
  dns/tests/unit/test_client.py
Labels: api: dns, cla: yes

#7870 Resource Manager: Add 'client_info' support to client / connection.
  resource_manager/google/cloud/resource_manager/_http.py
  resource_manager/google/cloud/resource_manager/client.py
  resource_manager/tests/unit/test__http.py
  resource_manager/tests/unit/test_client.py
Labels: api: cloudresourcemanager, cla: yes

#7871 Runtime Config: add client_info support to client / connection.
  runtimeconfig/google/cloud/runtimeconfig/_http.py
  runtimeconfig/google/cloud/runtimeconfig/client.py
  runtimeconfig/noxfile.py
  runtimeconfig/tests/unit/test__http.py
  runtimeconfig/tests/unit/test_client.py
Labels: api: runtimeconfig, cla: yes

#7872 Storage: add client_info support to client / connection.
  storage/google/cloud/storage/_http.py
  storage/google/cloud/storage/client.py
  storage/tests/unit/test__http.py
  storage/tests/unit/test_client.py
Labels: api: storage, cla: yes

#7873 Translate: add client_info support to client / connection.
  translate/google/cloud/translate_v2/_http.py
  translate/google/cloud/translate_v2/client.py
  translate/tests/unit/test__http.py
  translate/tests/unit/test_client.py
Labels: api: translation, cla: yes

#7874 Logging: add client_info support to client / connection.
  logging/google/cloud/logging/_http.py
  logging/google/cloud/logging/client.py
  logging/tests/unit/test__http.py
  logging/tests/unit/test_client.py
Labels: api: logging, cla: yes

#7876 Bigtable: add 'client_info' support to client.
  bigtable/google/cloud/bigtable/client.py
  bigtable/tests/unit/test_client.py
Labels: api: bigtable, cla: yes

#7877 Firestore: add client_info support to V1 client.
  firestore/google/cloud/firestore_v1/client.py
  firestore/tests/unit/v1/test_client.py
Labels: api: firestore, cla: yes

#7878 Spanner: add client_info support to client.
  spanner/google/cloud/spanner_v1/client.py
  spanner/google/cloud/spanner_v1/database.py
  spanner/tests/unit/test_client.py
  spanner/tests/unit/test_database.py
Labels: api: spanner, cla: yes

#7898 Bigtable, Firestore: fix client_info type in GAPIC-based client docstrings.
  bigtable/google/cloud/bigtable/client.py
  firestore/google/cloud/firestore_v1/client.py
Labels: api: bigtable, api: firestore, cla: yes, type: docs

#7901 Logging: plumb 'Client._client_info' through to GAPIC API wrapper.
  logging/google/cloud/logging/_gapic.py
  logging/google/cloud/logging/client.py
  logging/tests/unit/test__gapic.py
  logging/tests/unit/test_client.py
Labels: api: logging, cla: yes

#7879 Never retry on `DEADLINE_EXCEEDED` error codes. Respect user deadlines. Retry would never succeed, anyway.
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/big_query_storage_client_config.py
  bigquery_storage/synth.metadata
Labels: api:bigquerystorage, cla: yes, codegen

#7899 Trace: add client_info support to clients.
  trace/google/cloud/trace/_gapic.py
  trace/google/cloud/trace/client.py
  trace/google/cloud/trace/v1/_gapic.py
  trace/google/cloud/trace/v1/client.py
  trace/tests/unit/v1/test__gapic_v1.py
  trace/tests/unit/v1/test_client_v1.py
  trace/tests/unit/v2/test__gapic_v2.py
  trace/tests/unit/v2/test_client_v2.py
Labels: api: cloudtrace, cla: yes

#7903 Error reporting: add 'client_info' support to Client.
  error_reporting/google/cloud/error_reporting/_gapic.py
  error_reporting/google/cloud/error_reporting/_logging.py
  error_reporting/google/cloud/error_reporting/client.py
  error_reporting/tests/unit/test__gapic.py
  error_reporting/tests/unit/test__logging.py
  error_reporting/tests/unit/test_client.py
Labels: api: clouderrorreporting, cla: yes

#7895 Web Security Scanner: Remove retries for DEADLINE_EXCEEDED (via synth).
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client_config.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes, codegen

#7894 Web Risk: Remove retries for DEADLINE_EXCEEDED (via synth).
  webrisk/google/cloud/webrisk_v1beta1/gapic/web_risk_service_v1_beta1_client_config.py
  webrisk/synth.metadata
Labels: api: webrisk, cla: yes, codegen

#7893 Vision: Remove retries for DEADLINE_EXCEEDED (via synth).
  vision/google/cloud/vision_v1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1/gapic/product_search_client_config.py
  vision/google/cloud/vision_v1p1beta1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1p2beta1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1p3beta1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1p3beta1/gapic/product_search_client_config.py
  vision/google/cloud/vision_v1p4beta1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1p4beta1/gapic/product_search_client_config.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#7892 Video Intelligence: Remove retries for DEADLINE_EXCEEDED (via synth).
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/streaming_video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/video_intelligence_service_client_config.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#7891 Trace: Remove retries for DEADLINE_EXCEEDED (via synth).
  trace/google/cloud/trace_v1/gapic/trace_service_client_config.py
  trace/google/cloud/trace_v2/gapic/trace_service_client_config.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes, codegen

#7890 Speech: Remove retries for DEADLINE_EXCEEDED (via synth).
  speech/google/cloud/speech_v1/gapic/speech_client_config.py
  speech/google/cloud/speech_v1p1beta1/gapic/speech_client_config.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#7889 Phishing Protection: Remove retries for DEADLINE_EXCEEDED (via synth).
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/phishing_protection_service_client_config.py
  phishingprotection/synth.metadata
Labels: api: phishingprotection, cla: yes, codegen

#7887 Language: Remove retries for DEADLINE_EXCEEDED (via synth).
  language/google/cloud/language_v1/gapic/language_service_client_config.py
  language/google/cloud/language_v1beta2/gapic/language_service_client_config.py
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#7886 IRM: Remove retries for DEADLINE_EXCEEDED (via synth).
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client_config.py
  irm/synth.metadata
Labels: api: irm, cla: yes, codegen

#7885 IAM: Remove retries for DEADLINE_EXCEEDED (via synth).
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client_config.py
  iam/synth.metadata
Labels: api: iam, cla: yes, codegen

#7884 Firestore: Remove retries for DEADLINE_EXCEEDED (via synth).
  firestore/google/cloud/firestore_v1/gapic/firestore_client_config.py
  firestore/google/cloud/firestore_v1beta1/gapic/firestore_client_config.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#7883 Error Reporting: Remove retries for DEADLINE_EXCEEDED (via synth).
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_group_service_client_config.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_stats_service_client_config.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/report_errors_service_client_config.py
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes, codegen

#7882 DLP: Remove retries for DEADLINE_EXCEEDED (via synth).
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client_config.py
  dlp/synth.metadata
Labels: api: dlp, cla: yes, codegen

#7881 Datastore: Remove retries for DEADLINE_EXCEEDED (via synth).
  datastore/google/cloud/datastore_v1/gapic/datastore_client_config.py
  datastore/synth.metadata
Labels: api: datastore, cla: yes, codegen

#7880 Data Catalog: Remove retries for DEADLINE_EXCEEDED (via synth).
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client_config.py
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes, codegen

#7868 KMS: Update docstrings (via synth).
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/google/cloud/kms_v1/gapic/transports/key_management_service_grpc_transport.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#7904 Prevent error when time partitioning is populated with empty dict
  bigquery/google/cloud/bigquery/table.py
  bigquery/noxfile.py
  bigquery/tests/unit/test_table.py
Labels: cla: yes

#7867 IoT: Update docstrings (via synth).
  iot/google/cloud/iot_v1/gapic/device_manager_client.py
  iot/google/cloud/iot_v1/types.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes, codegen

#7909 KMS: Remove retries for DEADLINE_EXCEEDED (via synth).
  kms/google/cloud/kms_v1/gapic/key_management_service_client_config.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes

#7908 IoT: Remove retries for DEADLINE_EXCEEDED (via synth).
  iot/google/cloud/iot_v1/gapic/device_manager_client_config.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes

#7767 Data Labeling: Add nox session `docs`, reorder methods (via synth).
  datalabeling/docs/README.rst
  datalabeling/docs/conf.py
  datalabeling/docs/index.rst
  datalabeling/google/cloud/datalabeling_v1beta1/gapic/data_labeling_service_client.py
  datalabeling/noxfile.py
  datalabeling/synth.metadata
Labels: :rotating_light:, cla: yes, codegen

#7765 Bigquery Datatransfer: Add nox session `docs` (via synth).
  bigquery_datatransfer/docs/README.rst
  bigquery_datatransfer/docs/conf.py
  bigquery_datatransfer/docs/index.rst
  bigquery_datatransfer/noxfile.py
  bigquery_datatransfer/synth.metadata
Labels: :rotating_light:, api: bigquerydatatransfer, cla: yes, codegen

#7778 Pub/Sub: Add nox session `docs` (via synth).
  pubsub/docs/README.rst
  pubsub/docs/conf.py
  pubsub/docs/index.rst
  pubsub/noxfile.py
  pubsub/synth.metadata
Labels: :rotating_light:, api: pubsub, cla: yes, codegen

#7837 Translate: Update docs/conf.py (via synth).
  translate/docs/conf.py
  translate/synth.metadata
Labels: :rotating_light:, api: translation, cla: yes, codegen

#7783 Tasks: Add nox session `docs`, reorder methods (via synth).
  tasks/docs/README.rst
  tasks/docs/changelog.md
  tasks/docs/conf.py
  tasks/docs/index.rst
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/noxfile.py
  tasks/synth.metadata
  tasks/synth.py
  trace/synth.metadata
Labels: :rotating_light:, api: cloudtasks, cla: yes, codegen

#7777 Monitoring: Add nox session `docs` (via synth).
  monitoring/docs/README.rst
  monitoring/docs/changelog.md
  monitoring/docs/index.rst
  monitoring/google/cloud/monitoring_v3/gapic/alert_policy_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/group_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/metric_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/notification_channel_service_client.py
  monitoring/noxfile.py
  monitoring/synth.metadata
Labels: :rotating_light:, api: monitoring, cla: yes, codegen

#7781 Spanner: Add nox session `docs`, remove retries for DEADLINE_EXCEEDED (via synth).
  spanner/docs/README.rst
  spanner/docs/client-usage.rst
  spanner/docs/conf.py
  spanner/docs/index.rst
  spanner/google/cloud/spanner_admin_database_v1/gapic/database_admin_client.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/instance_admin_client.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client_config.py
  spanner/noxfile.py
  spanner/synth.metadata
Labels: :rotating_light:, api: spanner, cla: yes, codegen

#7915 Release talent 0.2.0
  talent/CHANGELOG.md
  talent/setup.py
Labels: autorelease: pending, cla: yes

#7779 Scheduler: Add nox session `docs`, reorder methods (via synth).
  scheduler/docs/README.rst
  scheduler/docs/conf.py
  scheduler/docs/index.rst
  scheduler/google/cloud/scheduler_v1/gapic/cloud_scheduler_client.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/cloud_scheduler_client.py
  scheduler/noxfile.py
  scheduler/synth.metadata
Labels: :rotating_light:, api: scheduler, cla: yes, codegen

#7926 DLP: Retry DEADLINE_EXCEEDED (via synth).
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client_config.py
  dlp/synth.metadata
Labels: api: dlp, cla: yes

#7931 IRM: Retry DEADLINE_EXCEEDED (via synth).
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client_config.py
  irm/synth.metadata
Labels: api: irm, cla: yes

#7930 IoT: Retry DEADLINE_EXCEEDED (via synth).
  iot/google/cloud/iot_v1/gapic/device_manager_client_config.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes

#7929 IAM: Retry DEADLINE_EXCEEDED (via synth).
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client_config.py
  iam/synth.metadata
Labels: api: iam, cla: yes

#7927 Error Reporting: Retry DEADLINE_EXCEEDED (via synth).
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_group_service_client_config.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_stats_service_client_config.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/report_errors_service_client_config.py
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes

#7925 Datastore: Retry DEADLINE_EXCEEDED (via synth).
  datastore/google/cloud/datastore_v1/gapic/datastore_client_config.py
  datastore/synth.metadata
Labels: api: datastore, cla: yes

#7923 Data Catalog: Retry DEADLINE_EXCEEDED (via synth).
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client_config.py
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes

#7933 Language: Retry DEADLINE_EXCEEDED (via synth).
  language/google/cloud/language_v1/gapic/language_service_client_config.py
  language/google/cloud/language_v1beta2/gapic/language_service_client_config.py
  language/synth.metadata
Labels: api: language, cla: yes

#7939 Speech: Retry DEADLINE_EXCEEDED (via synth).
  speech/google/cloud/speech_v1/gapic/speech_client_config.py
  speech/google/cloud/speech_v1p1beta1/gapic/speech_client_config.py
  speech/synth.metadata
Labels: api: speech, cla: yes

#7942 Trace: Retry DEADLINE_EXCEEDED (via synth).
  trace/google/cloud/trace_v1/gapic/trace_service_client_config.py
  trace/google/cloud/trace_v2/gapic/trace_service_client_config.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#7920 Bigquery Datatransfer: Retry DEADLINE_EXCEEDED (via synth).
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py
  bigquery_datatransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes

#7940 Tasks: Update docstrings (via synth).
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2/types.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/types.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/types.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#7921 Bigquery Storage: Retry DEADLINE_EXCEEDED (via synth).
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/big_query_storage_client_config.py
  bigquery_storage/synth.metadata
Labels: api:bigquerystorage, cla: yes

#7953 BigQuery: Fixed pandas DataFrames being returned with incorrect index.
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_table.py
Labels: cla: yes

#7938 Scheduler: Add authorization headers and deadline for job attempts (via synth).
  scheduler/google/cloud/scheduler_v1/proto/cloudscheduler.proto
  scheduler/google/cloud/scheduler_v1/proto/cloudscheduler_pb2.py
  scheduler/google/cloud/scheduler_v1/proto/job.proto
  scheduler/google/cloud/scheduler_v1/proto/job_pb2.py
  scheduler/google/cloud/scheduler_v1/proto/target.proto
  scheduler/google/cloud/scheduler_v1/proto/target_pb2.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes, codegen

#7936 Re-generated pubsub: add kms key and remove BETA warnings
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/publisher_grpc_transport.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/subscriber_grpc_transport.py
  pubsub/google/cloud/pubsub_v1/proto/pubsub.proto
  pubsub/google/cloud/pubsub_v1/proto/pubsub_pb2.py
  pubsub/google/cloud/pubsub_v1/proto/pubsub_pb2_grpc.py
  pubsub/synth.metadata
  pubsub/tests/unit/gapic/v1/test_publisher_client_v1.py
Labels: api: pubsub, cla: yes, codegen

#7950 Tasks: Remove log_sampling_ratio, add stackdriver_logging_config (via synth).
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks_pb2_grpc.py
  tasks/google/cloud/tasks_v2beta3/proto/queue.proto
  tasks/google/cloud/tasks_v2beta3/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/target.proto
  tasks/google/cloud/tasks_v2beta3/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/task.proto
  tasks/google/cloud/tasks_v2beta3/proto/task_pb2.py
  tasks/synth.metadata
  tasks/tests/unit/gapic/v2beta3/test_cloud_tasks_client_v2beta3.py
Labels: api: cloudtasks, cla: yes

#7960 Blacken unit tests.
  bigquery/synth.metadata
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#7928 Firestore: Retry DEADLINE_EXCEED (via synth).
  firestore/google/cloud/firestore_v1/gapic/firestore_client_config.py
  firestore/google/cloud/firestore_v1beta1/gapic/firestore_client_config.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#7956 Release scheduler 1.1.0
  scheduler/CHANGELOG.md
  scheduler/setup.py
Labels: autorelease: pending, cla: yes

#7913 Add system tests for Vision Product Search. Test product set resource…
  vision/tests/system.py
Labels: cla: yes

#7963 Tasks: Update docstrings (via synth).
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2/proto/cloudtasks_pb2_grpc.py
  tasks/google/cloud/tasks_v2/proto/queue.proto
  tasks/google/cloud/tasks_v2/proto/target.proto
  tasks/google/cloud/tasks_v2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2/proto/task.proto
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks_pb2_grpc.py
  tasks/google/cloud/tasks_v2beta3/proto/target.proto
  tasks/google/cloud/tasks_v2beta3/proto/target_pb2.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#7946 Web Risk: Retry DEADLINE_EXCEEDED (via synth).
  webrisk/google/cloud/webrisk_v1beta1/gapic/web_risk_service_v1_beta1_client_config.py
  webrisk/synth.metadata
Labels: api: webrisk, cla: yes, codegen

#7945 Vision: Retry DEADLINE_EXCEEDED (via synth).
  vision/google/cloud/vision_v1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1/gapic/product_search_client_config.py
  vision/google/cloud/vision_v1p1beta1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1p2beta1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1p3beta1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1p3beta1/gapic/product_search_client_config.py
  vision/google/cloud/vision_v1p4beta1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1p4beta1/gapic/product_search_client_config.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#7944 Video Intelligence: Retry DEADLINE_EXCEEDED, change input_uri for sample video (via synth).
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/streaming_video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/video_intelligence_service_client_config.py
  videointelligence/synth.metadata
  videointelligence/tests/unit/gapic/v1/test_video_intelligence_service_client_v1.py
Labels: api: videointelligence, cla: yes, codegen

#7943 Translate: Don't copy docs/conf.py.
  translate/synth.metadata
  translate/synth.py
Labels: cla: yes, codegen

#7924 Dataproc: Update docs/conf.py, add routing header to method metadata, fix docstrings (via synth).
  dataproc/docs/conf.py
  dataproc/google/cloud/dataproc_v1/gapic/cluster_controller_client.py
  dataproc/google/cloud/dataproc_v1/gapic/workflow_template_service_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/cluster_controller_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/workflow_template_service_client.py
  dataproc/noxfile.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#7932 KMS: Retry DEADLINE_EXCEEDED (via synth).
  kms/google/cloud/kms_v1/gapic/key_management_service_client_config.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#7947 Web Security Scanner: Retry DEADLINE_EXCEEDED (via synth).
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client_config.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes, codegen

#7962 Talent: search_profiles returns iterable of SummarizedProfile instead of HistogramQueryResult (via synth).
  talent/google/cloud/talent_v4beta1/gapic/profile_service_client.py
  talent/synth.metadata
  talent/tests/unit/gapic/v4beta1/test_profile_service_client_v4beta1.py
Labels: api: talent, cla: yes, codegen

#7961 Speech: Add Recognition Metadata (via synth).
  speech/google/cloud/speech_v1/gapic/enums.py
  speech/google/cloud/speech_v1/proto/cloud_speech.proto
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#7954 PubSub: Propagate subscribe callback errors to main thread
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/google/cloud/pubsub_v1/subscriber/client.py
  pubsub/tests/system.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_subscriber_client.py
Labels: api: pubsub, cla: yes

#7983 Vision: Change docstrings (via synth).
  vision/google/cloud/vision_v1/proto/image_annotator.proto
  vision/google/cloud/vision_v1/proto/image_annotator_pb2.py
  vision/synth.metadata
Labels: api: vision, cla: yes

#7969 BigQuery: Widen range for 'google-cloud-core'.
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: api: bigquery, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7970 Bigtable: Widen range for 'google-cloud-core'.
  bigtable/CHANGELOG.md
  bigtable/setup.py
Labels: api: bigtable, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7971 Datastore: Widen range for 'google-cloud-core'.
  datastore/CHANGELOG.md
  datastore/setup.py
Labels: api: datastore, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7972 DNS: Widen range for 'google-cloud-core'.
  dns/CHANGELOG.md
  dns/setup.py
Labels: api: dns, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7973 Firestore: Widen range for 'google-cloud-core'.
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: api: firestore, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7974 Logging: Widen range for 'google-cloud-core'.
  logging/CHANGELOG.md
  logging/setup.py
Labels: api: logging, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7975 Resource Manager: Widen range for 'google-cloud-core'.
  resource_manager/CHANGELOG.md
  resource_manager/setup.py
Labels: api: cloudresourcemanager, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7976 Runtimeconfig: Widen range for 'google-cloud-core'.
  runtimeconfig/CHANGELOG.md
  runtimeconfig/setup.py
Labels: api: runtimeconfig, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7977 Spanner: Widen range for 'google-cloud-core'.
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: api: spanner, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7978 Storage: Widen range for 'google-cloud-core'.
  storage/CHANGELOG.md
  storage/setup.py
Labels: api: storage, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7979 Trace: Widen range for 'google-cloud-core'.
  trace/CHANGELOG.md
  trace/setup.py
Labels: api: cloudtrace, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7980 Translate: Widen range for 'google-cloud-core'.
  translate/CHANGELOG.md
  translate/setup.py
Labels: api: translation, autorelease: pending, cla: yes, kokoro:force-run, packaging

#7941 texttospeech: Reformat protos, update nox session docs (via synth).
  texttospeech/docs/README.rst
  texttospeech/docs/conf.py
  texttospeech/docs/index.rst
  texttospeech/google/cloud/texttospeech_v1/proto/cloud_tts.proto
  texttospeech/google/cloud/texttospeech_v1/types.py
  texttospeech/google/cloud/texttospeech_v1beta1/proto/cloud_tts.proto
  texttospeech/google/cloud/texttospeech_v1beta1/types.py
  texttospeech/noxfile.py
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes, codegen

#7919 Asset: Add nox session docs, add routing header to method metadata (via synth).
  asset/docs/README.rst
  asset/docs/conf.py
  asset/docs/index.rst
  asset/google/cloud/asset_v1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1/types.py
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1beta1/types.py
  asset/noxfile.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes, codegen

#7985 Release api_core 1.11.0
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: autorelease: pending, cla: yes

#7949 Phase 1 Added new method download_blob_to_file within Storage Client
  storage/google/cloud/storage/client.py
  storage/tests/unit/test_client.py
Labels: cla: yes

#7988 Remove @theacodes from CODEOWNERS
  .github/CODEOWNERS
Labels: cla: yes

#7986 Core: update dep on 'api_core' >= 1.11.0.
  core/setup.py
Labels: api: core, cla: yes, packaging

#7990 Release core 1.0.0
  core/CHANGELOG.md
  core/setup.py
Labels: api: core, autorelease: pending, cla: yes

#7934 OS Login: Add nox session docs, reorder class methods, add routing header to method metadata (via synth).
  oslogin/docs/README.rst
  oslogin/docs/conf.py
  oslogin/docs/index.rst
  oslogin/google/cloud/oslogin_v1/gapic/os_login_service_client.py
  oslogin/google/cloud/oslogin_v1/proto/oslogin.proto
  oslogin/google/cloud/oslogin_v1/proto/oslogin/common/__init__.py
  oslogin/google/cloud/oslogin_v1/proto/oslogin/common/common_pb2.py
  oslogin/google/cloud/oslogin_v1/proto/oslogin/common/common_pb2_grpc.py
  oslogin/google/cloud/oslogin_v1/proto/oslogin_v1/proto/__init__.py
  oslogin/google/cloud/oslogin_v1/proto/oslogin_v1/proto/oslogin_pb2.py
  oslogin/google/cloud/oslogin_v1/proto/oslogin_v1/proto/oslogin_pb2_grpc.py
  oslogin/google/cloud/oslogin_v1/types.py
  oslogin/noxfile.py
  oslogin/synth.metadata
Labels: api: oslogin, cla: yes, codegen

#7989 Firestore: add support for numeric transforms: 'increment' / 'maximum' / 'minimum'.
  firestore/google/cloud/firestore_v1/__init__.py
  firestore/google/cloud/firestore_v1/_helpers.py
  firestore/google/cloud/firestore_v1/transforms.py
  firestore/tests/unit/v1/test__helpers.py
  firestore/tests/unit/v1/test_transforms.py
Labels: api: firestore, cla: yes, type: feature request

#7991 Release pubsub 0.41.0
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: api: pubsub, autorelease: pending, cla: yes

#7981 Release tasks 1.1.0
  tasks/CHANGELOG.md
  tasks/setup.py
Labels: autorelease: pending, cla: yes

#7987 Translation: Change system test.
  translate/tests/system.py
Labels: api: translation, cla: yes

#8000 AutoML, Data Catalog: include protos in synth.
  automl/synth.py
  datacatalog/synth.py
Labels: api: automl, api: datacatalog, cla: yes

#7993 Omnibus: pin new core 1.0.0
  .gitignore
  bigquery/setup.py
  bigtable/setup.py
  datastore/setup.py
  dns/setup.py
  firestore/setup.py
  logging/setup.py
  resource_manager/setup.py
  runtimeconfig/setup.py
  spanner/setup.py
  storage/setup.py
  trace/setup.py
  translate/setup.py
Labels: api: bigquery, api: bigtable, api: cloudresourcemanager, api: cloudtrace, api: datastore, api: dns, api: firestore, api: logging, api: runtimeconfig, api: spanner, api: storage, api: translation, cla: yes, packaging

#7994 Release websecurityscanner 0.2.0
  websecurityscanner/CHANGELOG.md
  websecurityscanner/setup.py
Labels: autorelease: pending, cla: yes

#7999 Trace: add VPCSC system test.
  trace/noxfile.py
  trace/synth.py
  trace/tests/system/gapic/v1/test_system_trace_service_v1_vpcsc.py
  trace/tests/system/gapic/v2/test_system_trace_service_v2_vpcsc.py
Labels: api: cloudtrace, cla: yes, testing

#8002 Release bigtable 0.33.0
  bigtable/CHANGELOG.md
  bigtable/setup.py
Labels: api: bigtable, autorelease: pending, cla: yes

#8004 Release dns 0.30.0
  dns/CHANGELOG.md
  dns/setup.py
Labels: autorelease: pending, cla: yes

#8005 Release firestore 1.2.0
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: autorelease: pending, cla: yes

#8006 Release logging 1.11.0
  logging/CHANGELOG.md
  logging/setup.py
Labels: autorelease: pending, cla: yes

#8015 Error Reporting: pin 'google-cloud-logging >= 1.11.0'.
  error_reporting/setup.py
Labels: api: clouderrorreporting, cla: yes, packaging

#8007 Release resource_manager 0.29.0
  resource_manager/CHANGELOG.md
  resource_manager/setup.py
Labels: autorelease: pending, cla: yes

#8008 Release runtimeconfig 0.29.0
  runtimeconfig/CHANGELOG.md
  runtimeconfig/setup.py
Labels: autorelease: pending, cla: yes

#8009 Release spanner 1.9.0
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: autorelease: pending, cla: yes

#8010 Release storage 1.16.0
  storage/CHANGELOG.md
  storage/setup.py
Labels: autorelease: pending, cla: yes

#8011 Release trace 0.21.0
  trace/CHANGELOG.md
  trace/setup.py
Labels: autorelease: pending, cla: yes

#8012 Release translate 1.5.0
  translate/CHANGELOG.md
  translate/setup.py
Labels: autorelease: pending, cla: yes

#8013 Datastore: Add `client_info` support to client.
  datastore/google/cloud/datastore/_gapic.py
  datastore/google/cloud/datastore/_http.py
  datastore/google/cloud/datastore/client.py
  datastore/tests/unit/test__gapic.py
  datastore/tests/unit/test__http.py
  datastore/tests/unit/test_client.py
Labels: api: datastore, cla: yes

#8001 Release bigquery 1.12.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: api: bigquery, autorelease: pending, cla: yes

#8018 Datacatalog: add protos as an artifact to library (via synth).
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/schema.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/table_spec.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/timestamps.proto
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes
