Repository googleapis/google-cloud-python, pull requests merged in 2019-02, with the labels that each got.

#7255 [CHANGE ME] Re-generated vision to pick up changes in the API or client library generator.
  vision/google/cloud/vision_v1/proto/geometry.proto
  vision/google/cloud/vision_v1/proto/image_annotator.proto
  vision/google/cloud/vision_v1/proto/product_search.proto
  vision/google/cloud/vision_v1/proto/product_search_service.proto
  vision/google/cloud/vision_v1/proto/text_annotation.proto
  vision/google/cloud/vision_v1/proto/web_detection.proto
  vision/google/cloud/vision_v1p2beta1/proto/geometry.proto
  vision/google/cloud/vision_v1p2beta1/proto/image_annotator.proto
  vision/google/cloud/vision_v1p2beta1/proto/text_annotation.proto
  vision/google/cloud/vision_v1p2beta1/proto/web_detection.proto
  vision/google/cloud/vision_v1p3beta1/proto/geometry.proto
  vision/google/cloud/vision_v1p3beta1/proto/image_annotator.proto
  vision/google/cloud/vision_v1p3beta1/proto/text_annotation.proto
  vision/google/cloud/vision_v1p3beta1/proto/web_detection.proto
  vision/synth.metadata
Labels: api: vision, cla: yes

#7254 [CHANGE ME] Re-generated trace to pick up changes in the API or client library generator.
  trace/google/cloud/trace_v1/proto/trace.proto
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#7253 [CHANGE ME] Re-generated tasks to pick up changes in the API or client library generator.
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2beta2/proto/queue.proto
  tasks/google/cloud/tasks_v2beta2/proto/target.proto
  tasks/google/cloud/tasks_v2beta2/proto/task.proto
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#7252 [CHANGE ME] Re-generated speech to pick up changes in the API or client library generator.
  speech/google/cloud/speech_v1/proto/cloud_speech.proto
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech_pb2.py
  speech/synth.metadata
Labels: api: speech, cla: yes

#7251 [CHANGE ME] Re-generated pubsub to pick up changes in the API or client library generator.
  pubsub/google/cloud/pubsub_v1/proto/pubsub.proto
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes

#7250 [CHANGE ME] Re-generated dataproc to pick up changes in the API or client library generator.
  dataproc/google/cloud/dataproc_v1/proto/clusters.proto
  dataproc/google/cloud/dataproc_v1/proto/jobs.proto
  dataproc/google/cloud/dataproc_v1/proto/operations.proto
  dataproc/google/cloud/dataproc_v1/proto/workflow_templates.proto
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#7249 [CHANGE ME] Re-generated container to pick up changes in the API or client library generator.
  container/google/cloud/container_v1/proto/cluster_service.proto
  container/synth.metadata
Labels: api: container, cla: yes

#7219 Firestore: add 'DocumentReference.path' property.
  firestore/google/cloud/firestore_v1beta1/document.py
  firestore/tests/unit/test_document.py
Labels: api: firestore, cla: yes

#7221 Firestore: add 'Collection.list_documents' method.
  firestore/google/cloud/firestore_v1beta1/collection.py
  firestore/tests/system.py
  firestore/tests/unit/test_collection.py
Labels: api: firestore, cla: yes

#7257 [CHANGE ME] Re-generated language to pick up changes in the API or client library generator.
  language/google/cloud/language_v1/proto/language_service.proto
  language/google/cloud/language_v1beta2/proto/language_service.proto
  language/synth.metadata
Labels: api: language, cla: yes

#7258 [CHANGE ME] Re-generated redis to pick up changes in the API or client library generator.
  redis/google/cloud/redis_v1/proto/cloud_redis.proto
  redis/synth.metadata
Labels: api: redis, cla: yes

#7259 [CHANGE ME] Re-generated texttospeech to pick up changes in the API or client library generator.
  texttospeech/google/cloud/texttospeech_v1/proto/cloud_tts.proto
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes

#7260 [CHANGE ME] Re-generated videointelligence to pick up changes in the API or client library generator.
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1beta1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1beta2/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1p2beta1/proto/video_intelligence.proto
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#7241 Add args from RowIterator.to_dataframe() to QueryJob.to_dataframe()
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#7261 Update table.py docs
  bigtable/google/cloud/bigtable/table.py
Labels: cla: yes

#7281 Firestore: fix the example for 'Query.on_snapshot'.
  firestore/google/cloud/firestore_v1beta1/query.py
Labels: api: firestore, cla: yes, type: docs

#7286 Update error in system tests that expect error for wrong location
  bigquery/tests/system.py
Labels: cla: yes

#7285 Release bigquery 1.9.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: autorelease: pending, cla: yes

#7284 Firestore: rename 'Query.get' -> 'stream'.
  firestore/google/cloud/firestore_v1beta1/collection.py
  firestore/google/cloud/firestore_v1beta1/query.py
  firestore/tests/system.py
  firestore/tests/unit/test_collection.py
  firestore/tests/unit/test_query.py
Labels: api: firestore, cla: yes

#7066 Storage: add 'bucket_policy_only' IAM property
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
  storage/tests/system.py
  storage/tests/unit/test_blob.py
  storage/tests/unit/test_bucket.py
Labels: api: storage, cla: yes

#7295 Spanner: fix typo in exported param type name.
  spanner/google/cloud/spanner_v1/param_types.py
Labels: api: spanner, cla: yes

#7296 Release storage 1.14.0
  storage/CHANGELOG.md
  storage/setup.py
Labels: autorelease: pending, cla: yes

#7280 Vision: remove unused message exports (via synth).
  vision/google/cloud/vision_v1/types.py
  vision/google/cloud/vision_v1p1beta1/types.py
  vision/google/cloud/vision_v1p2beta1/types.py
  vision/google/cloud/vision_v1p3beta1/types.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#7279 Videointelligence: remove unused message exports (via synth).
  videointelligence/google/cloud/videointelligence_v1/types.py
  videointelligence/google/cloud/videointelligence_v1beta1/types.py
  videointelligence/google/cloud/videointelligence_v1beta2/types.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/types.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/types.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#7278 Trace: remove unused message exports (via synth).
  trace/google/cloud/trace_v1/types.py
  trace/google/cloud/trace_v2/types.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes, codegen

#7276 Tasks: remove unused message exports (via synth).
  tasks/google/cloud/tasks_v2beta2/types.py
  tasks/google/cloud/tasks_v2beta3/types.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#7275 Speech: remove unused message exports (via synth).
  speech/google/cloud/speech_v1/types.py
  speech/google/cloud/speech_v1p1beta1/types.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#7274 Securitycenter: remove unused message exports (via synth).
  securitycenter/google/cloud/securitycenter_v1beta1/types.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#7273 Scheduler: remove unused message exports (via synth).
  scheduler/google/cloud/scheduler_v1beta1/types.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes, codegen

#7272 Redis: remove unused message exports (via synth).
  redis/google/cloud/redis_v1/types.py
  redis/google/cloud/redis_v1beta1/types.py
  redis/synth.metadata
Labels: api: redis, cla: yes, codegen

#7271 Monitoring: remove unused message exports (via synth).
  monitoring/google/cloud/monitoring_v3/types.py
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes, codegen

#7270 KMS: remove unused message exports (via synth).
  kms/google/cloud/kms_v1/types.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#7269 IoT: remove unused message exports (via synth).
  iot/google/cloud/iot_v1/types.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes, codegen

#7268 IAM: remove unused message exports (via synth).
  iam/google/cloud/iam_credentials_v1/types.py
  iam/synth.metadata
Labels: api: iam, cla: yes, codegen

#7267 DLP: remove unused message exports (via synth).
  dlp/google/cloud/dlp_v2/types.py
  dlp/synth.metadata
Labels: api: dlp, cla: yes, codegen

#7266 Dataproc: remove unused message exports (via synth).
  dataproc/google/cloud/dataproc_v1/types.py
  dataproc/google/cloud/dataproc_v1beta2/types.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#7297 BigQuery: allow nested records w/ nulls
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/tests/unit/test__helpers.py
Labels: api: bigquery, cla: yes

#7301 Fix README to install spanner instead of datastore.
  spanner/README.rst
Labels: cla: yes

#7302 Release texttospeech 0.4.0
  texttospeech/CHANGELOG.md
  texttospeech/setup.py
Labels: autorelease: pending, cla: yes

#7307 Updated client library documentation URLs
  api_core/README.rst
  asset/README.rst
  automl/README.rst
  bigquery/README.rst
  bigquery_datatransfer/README.rst
  bigquery_storage/README.rst
  bigtable/README.rst
  core/README.rst
  dataproc/README.rst
  datastore/README.rst
  dlp/README.rst
  dns/README.rst
  error_reporting/README.rst
  firestore/README.rst
  iot/README.rst
  kms/README.rst
  language/README.rst
  legacy/google-cloud/setup-README.rst
  logging/README.rst
  monitoring/README.rst
  oslogin/README.rst
  pubsub/README.rst
  redis/README.rst
  resource_manager/README.rst
  runtimeconfig/README.rst
  scheduler/README.rst
  securitycenter/README.rst
  spanner/README.rst
  speech/README.rst
  storage/README.rst
  storage/google/cloud/storage/blob.py
  tasks/README.rst
  texttospeech/README.rst
  trace/README.rst
  translate/README.rst
  videointelligence/README.rst
  vision/README.rst
  websecurityscanner/README.rst
Labels: cla: yes

#7292 Add client library for IRM
  .kokoro/continuous/irm.cfg
  .kokoro/presubmit/irm.cfg
  .kokoro/release/irm.cfg
  docs/index.rst
  docs/irm
  docs/requirements.txt
  irm/.coveragerc
  irm/.flake8
  irm/LICENSE
  irm/MANIFEST.in
  irm/README.rst
  irm/docs/conf.py
  irm/docs/gapic/v1alpha2/api.rst
  irm/docs/gapic/v1alpha2/types.rst
  irm/docs/index.rst
  irm/google/__init__.py
  irm/google/cloud/__init__.py
  irm/google/cloud/irm.py
  irm/google/cloud/irm_v1alpha2/__init__.py
  irm/google/cloud/irm_v1alpha2/gapic/__init__.py
  irm/google/cloud/irm_v1alpha2/gapic/enums.py
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client.py
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client_config.py
  irm/google/cloud/irm_v1alpha2/gapic/synth.metadata
  irm/google/cloud/irm_v1alpha2/gapic/transports/__init__.py
  irm/google/cloud/irm_v1alpha2/gapic/transports/incident_service_grpc_transport.py
  irm/google/cloud/irm_v1alpha2/proto/__init__.py
  irm/google/cloud/irm_v1alpha2/proto/incidents_pb2.py
  irm/google/cloud/irm_v1alpha2/proto/incidents_pb2_grpc.py
  irm/google/cloud/irm_v1alpha2/proto/incidents_service_pb2.py
  irm/google/cloud/irm_v1alpha2/proto/incidents_service_pb2_grpc.py
  irm/google/cloud/irm_v1alpha2/types.py
  irm/noxfile.py
  irm/protos/incidents.proto
  irm/protos/incidents_service.proto
  irm/setup.cfg
  irm/setup.py
  irm/synth.metadata
  irm/synth.py
  irm/tests/unit/gapic/v1alpha2/test_incident_service_client_v1alpha2.py
  synth.metadata
Labels: api: irm, cla: yes

#7311 BigQuery: harden 'ArrayQueryParameter.from_api_repr' against missing 'parameterValue'.
  bigquery/google/cloud/bigquery/query.py
  bigquery/tests/unit/test_query.py
Labels: api: bigquery, cla: yes

#7304 Add KMS system test
  kms/tests/system.py
Labels: api: cloudkms, cla: yes

#7337 Release kms 1.0.0
  kms/CHANGELOG.md
  kms/setup.py
Labels: api: cloudkms, autorelease: pending, cla: yes

#7338 Show inheritance and inherited members in BQ docs.
  third_party/sphinx/sphinx/ext/autosummary/templates/autosummary/class.rst
Labels: api: bigquery, cla: yes, type: docs

#7306 Update docstring of RowIterator's to_dataframe
  bigquery/google/cloud/bigquery/table.py
Labels: cla: yes

#7341 Fix Batch object creation instructions
  spanner/docs/batch-usage.rst
Labels: cla: yes

#7312 bigtable: fix lint
  bigtable/google/cloud/bigtable/batcher.py
Labels: cla: yes

#7372 Release dataproc 0.3.1
  dataproc/CHANGELOG.md
  dataproc/setup.py
Labels: api: dataproc, autorelease: pending, cla: yes

#7364 NDB: First pass at porting metadata module
  ndb/docs/conf.py
  ndb/docs/metadata.rst
  ndb/src/google/cloud/ndb/metadata.py
  ndb/tests/unit/test_metadata.py
Labels: cla: yes

#7379 NDB: Stub out Context class.
  ndb/src/google/cloud/ndb/context.py
  ndb/src/google/cloud/ndb/exceptions.py
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/unit/test_context.py
Labels: cla: yes

#7264 Bigtable: remove unused message exports (via synth).
  bigtable/google/cloud/bigtable_admin_v2/types.py
  bigtable/google/cloud/bigtable_v2/types.py
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes, codegen

#7382 api_core: fix new lint failure
  api_core/tests/unit/test_page_iterator.py
Labels: api: core, cla: yes, type: cleanup

#7383 BigQuery: fix lint.
  bigquery/google/cloud/bigquery/table.py
Labels: api: bigquery, cla: yes, type: cleanup

#7378 Bigtable: improve 'Policy' interchange w/ JSON, gRPC payloads.
  bigtable/google/cloud/bigtable/instance.py
  bigtable/google/cloud/bigtable/policy.py
  bigtable/tests/unit/test_instance.py
  bigtable/tests/unit/test_policy.py
Labels: api: bigtable, cla: yes

#7409 [CHANGE ME] Re-generated websecurityscanner to pick up changes in the API or client library generator.
  websecurityscanner/noxfile.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes

#7408 [CHANGE ME] Re-generated vision to pick up changes in the API or client library generator.
  vision/noxfile.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#7407 Add clarifying comment to blacken nox target.
  videointelligence/noxfile.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#7406 Add clarifying comment to blacken nox target.
  trace/noxfile.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes, codegen

#7398 Add clarifying comment to blacken nox target.
  monitoring/noxfile.py
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes, codegen

#7397 Add clarifying comment to blacken nox target.
  language/noxfile.py
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#7394 Add clarifying comment to blacken nox target.
  iot/noxfile.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes, codegen

#7393 Add clarifying comment to blacken nox target.
  iam/noxfile.py
  iam/synth.metadata
Labels: api: iam, cla: yes, codegen

#7392 Add clarifying comment to blacken nox target.
  firestore/noxfile.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#7391 Add clarifying comment to blacken nox target.
  error_reporting/noxfile.py
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes, codegen

#7389 Add clarifying comment to blacken nox target.
  datastore/noxfile.py
  datastore/synth.metadata
Labels: api: datastore, cla: yes, codegen

#7405 Add clarifying comment to blacken nox target.
  tasks/noxfile.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#7404 Add clarifying comment to blacken nox target.
  speech/noxfile.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#7403 Add clarifying comment to blacken nox target.
  spanner/noxfile.py
  spanner/synth.metadata
Labels: api: spanner, cla: yes, codegen

#7402 Add clarifying comment to blacken nox target.
  securitycenter/noxfile.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#7401 Add clarifying comment to blacken nox target.
  scheduler/noxfile.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes, codegen

#7400 Add clarifying comment to blacken nox target.
  redis/noxfile.py
  redis/synth.metadata
Labels: api: redis, cla: yes, codegen

#7388 Dataproc: note use of python3.6 for blackening.
  dataproc/noxfile.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#7411 googlecloudplatform --> googleapis in READMEs
  bigquery_storage/README.rst
  irm/README.rst
  monitoring/README.rst
  oslogin/README.rst
  scheduler/README.rst
  securitycenter/README.rst
Labels: cla: yes, type: docs

#7395 [Breaking] IRM: remove enums from Types, add Duplicate Stage, add communication venue (via synth).
  irm/google/cloud/irm_v1alpha2/gapic/enums.py
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client.py
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client_config.py
  irm/google/cloud/irm_v1alpha2/gapic/transports/incident_service_grpc_transport.py
  irm/google/cloud/irm_v1alpha2/proto/incidents.proto
  irm/google/cloud/irm_v1alpha2/proto/incidents_pb2.py
  irm/google/cloud/irm_v1alpha2/proto/incidents_service.proto
  irm/google/cloud/irm_v1alpha2/proto/incidents_service_pb2.py
  irm/google/cloud/irm_v1alpha2/proto/incidents_service_pb2_grpc.py
  irm/noxfile.py
  irm/synth.metadata
  irm/tests/unit/gapic/v1alpha2/test_incident_service_client_v1alpha2.py
Labels: api: irm, cla: yes, codegen

#7410 NDB: Refactor the context.
  ndb/src/google/cloud/ndb/_datastore_api.py
  ndb/src/google/cloud/ndb/_eventloop.py
  ndb/src/google/cloud/ndb/_runstate.py
  ndb/src/google/cloud/ndb/client.py
  ndb/src/google/cloud/ndb/context.py
  ndb/src/google/cloud/ndb/key.py
  ndb/src/google/cloud/ndb/model.py
  ndb/tests/conftest.py
  ndb/tests/unit/test__datastore_api.py
  ndb/tests/unit/test__eventloop.py
  ndb/tests/unit/test__runstate.py
  ndb/tests/unit/test_context.py
  ndb/tests/unit/test_key.py
  ndb/tests/unit/test_metadata.py
  ndb/tests/unit/test_model.py
  ndb/tests/unit/test_tasklets.py
Labels: cla: yes

#7412 NDB: Include some information with futures to aid in debugging.
  ndb/src/google/cloud/ndb/_datastore_api.py
  ndb/src/google/cloud/ndb/tasklets.py
  ndb/tests/unit/test_tasklets.py
Labels: cla: yes

#7415 Videointelligence: add text detection / object tracking feature support (via sync).
  videointelligence/google/cloud/videointelligence_v1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#7396 KMS: add CAVIUM_V2_COMPRESSED option to KeyOperationAttestation (via synth).
  kms/google/cloud/kms_v1/gapic/enums.py
  kms/google/cloud/kms_v1/proto/resources.proto
  kms/google/cloud/kms_v1/proto/resources_pb2.py
  kms/noxfile.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#7239 NDB: Query constructor
  ndb/src/google/cloud/ndb/query.py
  ndb/tests/unit/test_query.py
Labels: :rotating_light:, cla: yes

#7426 Remove protos/ from root
  irm/protos/incidents.proto
  irm/protos/incidents_service.proto
Labels: api: irm, cla: yes

#7423 Redis: add support for instance import / export / failover (via synth).
  redis/google/cloud/redis_v1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1/gapic/cloud_redis_client_config.py
  redis/google/cloud/redis_v1/gapic/enums.py
  redis/google/cloud/redis_v1/gapic/transports/cloud_redis_grpc_transport.py
  redis/google/cloud/redis_v1/proto/cloud_redis.proto
  redis/google/cloud/redis_v1/proto/cloud_redis_pb2.py
  redis/google/cloud/redis_v1/proto/cloud_redis_pb2_grpc.py
  redis/synth.metadata
  redis/tests/unit/gapic/v1/test_cloud_redis_client_v1.py
Labels: api: redis, cla: yes

#7427 Add `Operation.deserialize`.
  api_core/google/api_core/operation.py
  api_core/tests/unit/test_operation.py
Labels: cla: yes

#7430 Add support to unwrap Anys into wrapped pb2 objects.
  api_core/google/api_core/protobuf_helpers.py
  api_core/tests/unit/test_protobuf_helpers.py
Labels: cla: yes

#7431 Release api_core 1.8.0
  api_core/CHANGELOG.md
Labels: autorelease: pending, cla: yes

#7432 Tasks: add 'Task.http_request' and associated message type (via synth).
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2beta3/proto/queue.proto
  tasks/google/cloud/tasks_v2beta3/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/target.proto
  tasks/google/cloud/tasks_v2beta3/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/task.proto
  tasks/google/cloud/tasks_v2beta3/proto/task_pb2.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#7434 Release api core 1.8.0
  api_core/setup.py
Labels: cla: yes

#7420 Update CODEOWNERS
  .github/CODEOWNERS
Labels: cla: yes

#7436 Release videointelligence 1.7.0
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: autorelease: pending, cla: yes

#7438 Add vision v1p4beta1
  vision/docs/gapic/v1p4beta1/api.rst
  vision/docs/gapic/v1p4beta1/types.rst
  vision/docs/index.rst
  vision/google/cloud/vision_v1p4beta1/__init__.py
  vision/google/cloud/vision_v1p4beta1/gapic/__init__.py
  vision/google/cloud/vision_v1p4beta1/gapic/enums.py
  vision/google/cloud/vision_v1p4beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p4beta1/gapic/image_annotator_client_config.py
  vision/google/cloud/vision_v1p4beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p4beta1/gapic/product_search_client_config.py
  vision/google/cloud/vision_v1p4beta1/gapic/transports/__init__.py
  vision/google/cloud/vision_v1p4beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p4beta1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1p4beta1/proto/__init__.py
  vision/google/cloud/vision_v1p4beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/geometry_pb2_grpc.py
  vision/google/cloud/vision_v1p4beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/image_annotator_pb2_grpc.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_pb2_grpc.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service_pb2_grpc.py
  vision/google/cloud/vision_v1p4beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/text_annotation_pb2_grpc.py
  vision/google/cloud/vision_v1p4beta1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/web_detection_pb2_grpc.py
  vision/google/cloud/vision_v1p4beta1/types.py
  vision/synth.metadata
  vision/synth.py
  vision/tests/unit/gapic/v1p4beta1/test_image_annotator_client_v1p4beta1.py
  vision/tests/unit/gapic/v1p4beta1/test_product_search_client_v1p4beta1.py
Labels: api: vision, cla: yes

#7439 Remove push to PyPI from CircleCI
  .circleci/config.yml
Labels: cla: yes

#7443 Release vision 0.36.0
  vision/CHANGELOG.md
  vision/setup.py
Labels: autorelease: pending, cla: yes

#7445 Bigtable: copy lintified proto files.
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_instance_admin.proto
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_table_admin.proto
  bigtable/google/cloud/bigtable_admin_v2/proto/common.proto
  bigtable/google/cloud/bigtable_admin_v2/proto/instance.proto
  bigtable/google/cloud/bigtable_admin_v2/proto/table.proto
  bigtable/google/cloud/bigtable_v2/proto/bigtable.proto
  bigtable/google/cloud/bigtable_v2/proto/data.proto
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes, codegen

#7446 Datastore: copy lintified proto files (via synth).
  datastore/google/cloud/datastore_v1/proto/datastore.proto
  datastore/google/cloud/datastore_v1/proto/entity.proto
  datastore/google/cloud/datastore_v1/proto/query.proto
  datastore/synth.metadata
Labels: api: datastore, cla: yes, codegen

#7447 Error_reporting: copy lintified proto files (via synth).
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/report_errors_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/report_errors_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/common.proto
  error_reporting/google/cloud/errorreporting_v1beta1/proto/error_group_service.proto
  error_reporting/google/cloud/errorreporting_v1beta1/proto/error_stats_service.proto
  error_reporting/google/cloud/errorreporting_v1beta1/proto/report_errors_service.proto
  error_reporting/google/cloud/errorreporting_v1beta1/proto/report_errors_service_pb2_grpc.py
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes, codegen

#7448 Reformat proto files.
  iot/google/cloud/iot_v1/proto/device_manager.proto
  iot/google/cloud/iot_v1/proto/resources.proto
  iot/synth.metadata
Labels: api: cloudiot, cla: yes, codegen

#7449 KMS: copy lintified proto files (via synth).
  kms/google/cloud/kms_v1/proto/resources.proto
  kms/google/cloud/kms_v1/proto/service.proto
  kms/google/cloud/kms_v1/proto/service_pb2_grpc.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#7450 Logging: copy lintified proto files (via synth).
  logging/google/cloud/logging_v2/proto/log_entry.proto
  logging/google/cloud/logging_v2/proto/logging.proto
  logging/google/cloud/logging_v2/proto/logging_config.proto
  logging/google/cloud/logging_v2/proto/logging_metrics.proto
  logging/synth.metadata
Labels: api: logging, cla: yes, codegen

#7456 Vision: Add proto files for v1p4beta1
  vision/google/cloud/vision_v1p4beta1/proto/geometry.proto
  vision/google/cloud/vision_v1p4beta1/proto/image_annotator.proto
  vision/google/cloud/vision_v1p4beta1/proto/product_search.proto
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service.proto
  vision/google/cloud/vision_v1p4beta1/proto/text_annotation.proto
  vision/google/cloud/vision_v1p4beta1/proto/web_detection.proto
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#7455 Trace: copy lintified proto files (via synth).
  trace/google/cloud/trace_v1/proto/trace.proto
  trace/google/cloud/trace_v2/proto/trace.proto
  trace/google/cloud/trace_v2/proto/tracing.proto
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes, codegen

#7454 Speech: copy lintified proto files (via synth).
  speech/google/cloud/speech_v1/proto/cloud_speech.proto
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech.proto
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#7452 Redis: copy lintified proto files (via synth).
  redis/google/cloud/redis_v1/proto/cloud_redis.proto
  redis/google/cloud/redis_v1beta1/proto/cloud_redis.proto
  redis/synth.metadata
Labels: api: redis, cla: yes, codegen

#7453 Spanner: copy lintified proto files, update docstrings (via synth).
  spanner/google/cloud/spanner_admin_database_v1/proto/spanner_database_admin.proto
  spanner/google/cloud/spanner_admin_database_v1/proto/spanner_database_admin_pb2_grpc.py
  spanner/google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin.proto
  spanner/google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin_pb2_grpc.py
  spanner/google/cloud/spanner_v1/proto/keys.proto
  spanner/google/cloud/spanner_v1/proto/mutation.proto
  spanner/google/cloud/spanner_v1/proto/query_plan.proto
  spanner/google/cloud/spanner_v1/proto/result_set.proto
  spanner/google/cloud/spanner_v1/proto/spanner.proto
  spanner/google/cloud/spanner_v1/proto/spanner_pb2_grpc.py
  spanner/google/cloud/spanner_v1/proto/transaction.proto
  spanner/google/cloud/spanner_v1/proto/type.proto
  spanner/synth.metadata
Labels: api: spanner, cla: yes, codegen

#7451 Monitoring: copy lintified proto files, update docstrings (via synth).
  monitoring/google/cloud/monitoring_v3/gapic/metric_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/metric_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/proto/alert.proto
  monitoring/google/cloud/monitoring_v3/proto/alert_service.proto
  monitoring/google/cloud/monitoring_v3/proto/common.proto
  monitoring/google/cloud/monitoring_v3/proto/dropped_labels.proto
  monitoring/google/cloud/monitoring_v3/proto/group.proto
  monitoring/google/cloud/monitoring_v3/proto/group_service.proto
  monitoring/google/cloud/monitoring_v3/proto/metric.proto
  monitoring/google/cloud/monitoring_v3/proto/metric_service.proto
  monitoring/google/cloud/monitoring_v3/proto/metric_service_pb2_grpc.py
  monitoring/google/cloud/monitoring_v3/proto/mutation_record.proto
  monitoring/google/cloud/monitoring_v3/proto/notification.proto
  monitoring/google/cloud/monitoring_v3/proto/notification_service.proto
  monitoring/google/cloud/monitoring_v3/proto/span_context.proto
  monitoring/google/cloud/monitoring_v3/proto/uptime.proto
  monitoring/google/cloud/monitoring_v3/proto/uptime_service.proto
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes, codegen

#7458 Error Reporting: Fix docstring replace in synth.
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/report_errors_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/report_errors_service_grpc_transport.py
  error_reporting/synth.metadata
  error_reporting/synth.py
Labels: api: clouderrorreporting, cla: yes, type: docs
