Repository googleapis/google-cloud-python, pull requests merged in 2019-03, with the labels that each got.

#7461 BigQuery Storage: update proto / docstrings (via synth).
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/big_query_storage_client.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/avro.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/read_options.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/read_options_pb2.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/storage.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/storage_pb2.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/table_reference.proto
  bigquery_storage/synth.metadata
Labels: api:bigquerystorage, cla: yes, codegen

#7462 Bigtable: re-blacken.
  bigtable/google/cloud/bigtable/batcher.py
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes, codegen

#7465 Dataproc: copy lintified proto files (via synth).
  dataproc/google/cloud/dataproc_v1/proto/clusters.proto
  dataproc/google/cloud/dataproc_v1/proto/clusters_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/jobs.proto
  dataproc/google/cloud/dataproc_v1/proto/jobs_pb2_grpc.py
  dataproc/google/cloud/dataproc_v1/proto/operations.proto
  dataproc/google/cloud/dataproc_v1/proto/workflow_templates.proto
  dataproc/google/cloud/dataproc_v1/proto/workflow_templates_pb2_grpc.py
  dataproc/google/cloud/dataproc_v1beta2/proto/clusters.proto
  dataproc/google/cloud/dataproc_v1beta2/proto/clusters_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/jobs.proto
  dataproc/google/cloud/dataproc_v1beta2/proto/jobs_pb2_grpc.py
  dataproc/google/cloud/dataproc_v1beta2/proto/operations.proto
  dataproc/google/cloud/dataproc_v1beta2/proto/shared.proto
  dataproc/google/cloud/dataproc_v1beta2/proto/workflow_templates.proto
  dataproc/google/cloud/dataproc_v1beta2/proto/workflow_templates_pb2_grpc.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#7466 Firestore: copy lintified proto files (via synth).
  firestore/google/cloud/firestore_v1beta1/proto/common.proto
  firestore/google/cloud/firestore_v1beta1/proto/document.proto
  firestore/google/cloud/firestore_v1beta1/proto/firestore.proto
  firestore/google/cloud/firestore_v1beta1/proto/firestore_pb2_grpc.py
  firestore/google/cloud/firestore_v1beta1/proto/query.proto
  firestore/google/cloud/firestore_v1beta1/proto/write.proto
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#7467 IAM: copy lintified proto files (via synth).
  iam/google/cloud/iam_credentials_v1/proto/common.proto
  iam/google/cloud/iam_credentials_v1/proto/iamcredentials.proto
  iam/synth.metadata
Labels: api: iam, cla: yes, codegen

#7468 Language: copy lintified proto files (via synth).
  language/google/cloud/language_v1/proto/language_service.proto
  language/google/cloud/language_v1/proto/language_service_pb2_grpc.py
  language/google/cloud/language_v1beta2/proto/language_service.proto
  language/google/cloud/language_v1beta2/proto/language_service_pb2_grpc.py
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#7470 Ssecurity Center: copy lintified proto files (via synth).
  securitycenter/google/cloud/securitycenter_v1beta1/proto/organization_settings.proto
  securitycenter/google/cloud/securitycenter_v1beta1/proto/security_marks.proto
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#7471 Tasks: copy lintified proto files (via synth).
  tasks/google/cloud/tasks_v2beta2/gapic/enums.py
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks_pb2_grpc.py
  tasks/google/cloud/tasks_v2beta2/proto/queue.proto
  tasks/google/cloud/tasks_v2beta2/proto/target.proto
  tasks/google/cloud/tasks_v2beta2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/task.proto
  tasks/google/cloud/tasks_v2beta3/gapic/enums.py
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks_pb2_grpc.py
  tasks/google/cloud/tasks_v2beta3/proto/queue.proto
  tasks/google/cloud/tasks_v2beta3/proto/target.proto
  tasks/google/cloud/tasks_v2beta3/proto/task.proto
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#7472 Videointelligence: copy lintified proto files (via synth).
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1beta1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1beta2/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1p1beta1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1p2beta1/proto/video_intelligence.proto
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#7473 Vision: copy lintified proto files (via synth).
  vision/google/cloud/vision_v1/proto/geometry.proto
  vision/google/cloud/vision_v1/proto/image_annotator.proto
  vision/google/cloud/vision_v1/proto/product_search.proto
  vision/google/cloud/vision_v1/proto/product_search_service.proto
  vision/google/cloud/vision_v1/proto/product_search_service_pb2_grpc.py
  vision/google/cloud/vision_v1/proto/text_annotation.proto
  vision/google/cloud/vision_v1/proto/web_detection.proto
  vision/google/cloud/vision_v1p1beta1/proto/image_annotator.proto
  vision/google/cloud/vision_v1p2beta1/proto/geometry.proto
  vision/google/cloud/vision_v1p2beta1/proto/image_annotator.proto
  vision/google/cloud/vision_v1p2beta1/proto/text_annotation.proto
  vision/google/cloud/vision_v1p2beta1/proto/web_detection.proto
  vision/google/cloud/vision_v1p3beta1/proto/geometry.proto
  vision/google/cloud/vision_v1p3beta1/proto/image_annotator.proto
  vision/google/cloud/vision_v1p3beta1/proto/product_search.proto
  vision/google/cloud/vision_v1p3beta1/proto/product_search_service.proto
  vision/google/cloud/vision_v1p3beta1/proto/product_search_service_pb2_grpc.py
  vision/google/cloud/vision_v1p3beta1/proto/text_annotation.proto
  vision/google/cloud/vision_v1p3beta1/proto/web_detection.proto
  vision/google/cloud/vision_v1p4beta1/proto/geometry.proto
  vision/google/cloud/vision_v1p4beta1/proto/image_annotator.proto
  vision/google/cloud/vision_v1p4beta1/proto/product_search.proto
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service.proto
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service_pb2_grpc.py
  vision/google/cloud/vision_v1p4beta1/proto/text_annotation.proto
  vision/google/cloud/vision_v1p4beta1/proto/web_detection.proto
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#7474 Websecurityscanner: copy lintified proto files (via synth).
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/crawled_url.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_addon.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_type_stats.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_config.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_run.proto
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/web_security_scanner.proto
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes, codegen

#7475 BigQuery Storage: copy lintified proto files (via synth).
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/avro.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/read_options.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/storage.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/table_reference.proto
  bigquery_storage/synth.metadata
Labels: api:bigquerystorage, cla: yes, codegen

#7256 AutoML: sort generated classes (via synth).
  automl/google/cloud/automl.py
  automl/google/cloud/automl_v1beta1/__init__.py
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1beta1/gapic/prediction_service_client.py
  automl/synth.metadata
Labels: api: automl, cla: yes, codegen

#7479 Storage: un-flake KMS integration tests expecting empty bucket.
  storage/tests/system.py
Labels: api: storage, cla: yes, flaky

#7484 Storage: increase number of retries for 429 errors.
  storage/tests/system.py
Labels: api: storage, cla: yes, flaky

#7485 Spanner: add batch DML support.
  spanner/google/cloud/spanner_v1/gapic/spanner_client.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client_config.py
  spanner/google/cloud/spanner_v1/gapic/transports/spanner_grpc_transport.py
  spanner/google/cloud/spanner_v1/proto/spanner.proto
  spanner/google/cloud/spanner_v1/proto/spanner_pb2.py
  spanner/google/cloud/spanner_v1/proto/spanner_pb2_grpc.py
  spanner/google/cloud/spanner_v1/transaction.py
  spanner/synth.metadata
  spanner/tests/system/test_system.py
  spanner/tests/unit/gapic/v1/test_spanner_client_v1.py
  spanner/tests/unit/test_transaction.py
Labels: api: spanner, cla: yes

#7486 Release talent 0.1.0
  talent/CHANGELOG.md
Labels: autorelease: pending, cla: yes

#7483 Accept a string in Table and Dataset constructors.
  bigquery/google/cloud/bigquery/dataset.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_dataset.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#7490 Add videointelligence v1p3beta1
  videointelligence/docs/gapic/v1p3beta1/api.rst
  videointelligence/docs/gapic/v1p3beta1/types.rst
  videointelligence/docs/index.rst
  videointelligence/google/cloud/videointelligence_v1p3beta1/__init__.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/__init__.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/streaming_video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/streaming_video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/transports/__init__.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/transports/streaming_video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/video_intelligence_service_client_config.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/__init__.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence_pb2_grpc.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/types.py
  videointelligence/synth.metadata
  videointelligence/synth.py
  videointelligence/tests/unit/gapic/v1p3beta1/test_streaming_video_intelligence_service_client_v1p3beta1.py
  videointelligence/tests/unit/gapic/v1p3beta1/test_video_intelligence_service_client_v1p3beta1.py
Labels: cla: yes

#7493 Release videointelligence 1.8.0
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: autorelease: pending, cla: yes

#7492 Fix broken link to expenses-demo
  README.rst
Labels: cla: yes

#7487 Release spanner 1.8.0
  spanner/CHANGELOG.md
  spanner/setup.py
Labels: autorelease: pending, cla: yes, do not merge

#7489 Documentation and formatting changes.
  talent/google/cloud/talent_v4beta1/proto/batch.proto
  talent/google/cloud/talent_v4beta1/proto/batch_pb2.py
  talent/google/cloud/talent_v4beta1/proto/common.proto
  talent/google/cloud/talent_v4beta1/proto/company.proto
  talent/google/cloud/talent_v4beta1/proto/company_pb2.py
  talent/google/cloud/talent_v4beta1/proto/company_service.proto
  talent/google/cloud/talent_v4beta1/proto/company_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/completion_service.proto
  talent/google/cloud/talent_v4beta1/proto/event.proto
  talent/google/cloud/talent_v4beta1/proto/event_service.proto
  talent/google/cloud/talent_v4beta1/proto/filters.proto
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/google/cloud/talent_v4beta1/proto/histogram.proto
  talent/google/cloud/talent_v4beta1/proto/histogram_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job.proto
  talent/google/cloud/talent_v4beta1/proto/job_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job_service.proto
  talent/google/cloud/talent_v4beta1/proto/job_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job_service_pb2_grpc.py
  talent/google/cloud/talent_v4beta1/proto/profile.proto
  talent/google/cloud/talent_v4beta1/proto/profile_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile_service.proto
  talent/google/cloud/talent_v4beta1/proto/profile_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile_service_pb2_grpc.py
  talent/google/cloud/talent_v4beta1/proto/resume_service.proto
  talent/google/cloud/talent_v4beta1/proto/resume_service_pb2_grpc.py
  talent/google/cloud/talent_v4beta1/proto/tenant.proto
  talent/google/cloud/talent_v4beta1/proto/tenant_pb2.py
  talent/google/cloud/talent_v4beta1/proto/tenant_service.proto
  talent/google/cloud/talent_v4beta1/proto/tenant_service_pb2.py
  talent/noxfile.py
  talent/synth.metadata
Labels: cla: yes

#7491 Add options to ignore errors when creating/deleting datasets/tables.
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: cla: yes

#7497 Release bigquery 1.10.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: autorelease: pending, cla: yes

#7496 Release tasks 0.5.0
  tasks/CHANGELOG.md
  tasks/setup.py
Labels: api: cloudtasks, autorelease: pending, cla: yes

#7498 Docs: fix link for 'getting-started-python' repo.
  README.rst
Labels: cla: yes, type: docs

#6579 Bigtable: Run instance_admin system tests on a separate instance from table_admin and data system tests.
  bigtable/tests/system.py
Labels: :rotating_light:, api: bigtable, cla: yes

#7016 Bigtable Row Set snippets
  bigtable/docs/snippets_table.py
  bigtable/google/cloud/bigtable/row_set.py
Labels: :rotating_light:, api: bigtable, cla: yes, type: docs

#7429 Dataproc: Add nox session `docs`
  dataproc/docs/README.rst
  dataproc/docs/conf.py
  dataproc/docs/index.rst
  dataproc/noxfile.py
Labels: :rotating_light:, api: dataproc, cla: yes

#7502 Security Center: proto file housekeeping FBO C# (via synth).
  securitycenter/google/cloud/securitycenter_v1/proto/asset.proto
  securitycenter/google/cloud/securitycenter_v1/proto/asset_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/finding.proto
  securitycenter/google/cloud/securitycenter_v1/proto/finding_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/organization_settings.proto
  securitycenter/google/cloud/securitycenter_v1/proto/organization_settings_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/security_marks.proto
  securitycenter/google/cloud/securitycenter_v1/proto/security_marks_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service.proto
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/source.proto
  securitycenter/google/cloud/securitycenter_v1/proto/source_pb2.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#7014 Bigtable column family snippets
  bigtable/docs/snippets_table.py
  bigtable/google/cloud/bigtable/column_family.py
Labels: :rotating_light:, api: bigtable, cla: yes, type: docs

#7499 Adds a ready event to BackgroundConsumer to wait on start.
  api_core/google/api_core/bidi.py
Labels: cla: yes

#7508 Talent: Fix link in docstring
  talent/google/cloud/talent_v4beta1/gapic/event_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/transports/event_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/proto/event_service.proto
  talent/google/cloud/talent_v4beta1/proto/event_service_pb2_grpc.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#7459 Fetch credentials for magic github proxy
  .kokoro/release/common.cfg
Labels: :rotating_light:, cla: yes

#7509 Remove typo in Table.from_api_repr docstring.
  bigquery/google/cloud/bigquery/table.py
Labels: api: bigquery, cla: yes, type: docs

#7506 Release api_core 1.8.1
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: autorelease: pending, cla: yes

#7441 Storage: ensure that 'Blob.reload' passes encryption headers.
  storage/google/cloud/storage/_helpers.py
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
  storage/tests/unit/test__helpers.py
  storage/tests/unit/test_blob.py
  storage/tests/unit/test_bucket.py
Labels: :rotating_light:, api: storage, cla: yes

#7510 Language: Add new entity types (via synth)
  language/google/cloud/language_v1/gapic/enums.py
  language/google/cloud/language_v1/gapic/language_service_client_config.py
  language/google/cloud/language_v1/gapic/transports/language_service_grpc_transport.py
  language/google/cloud/language_v1/proto/language_service.proto
  language/google/cloud/language_v1/proto/language_service_pb2.py
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#7444 Storage: add generation arguments (from #7023).
  storage/google/cloud/storage/_helpers.py
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
  storage/tests/system.py
  storage/tests/unit/test__helpers.py
  storage/tests/unit/test_blob.py
  storage/tests/unit/test_bucket.py
Labels: :rotating_light:, api: storage, cla: yes

#7019 Bigtable Batcher, RowData, Row Operations, AppendRow snippets
  bigtable/docs/snippets.py
  bigtable/docs/snippets_table.py
  bigtable/google/cloud/bigtable/batcher.py
  bigtable/google/cloud/bigtable/cluster.py
  bigtable/google/cloud/bigtable/instance.py
  bigtable/google/cloud/bigtable/policy.py
  bigtable/google/cloud/bigtable/row.py
  bigtable/google/cloud/bigtable/row_data.py
Labels: :rotating_light:, api: bigtable, cla: yes, type: docs

#7511 Security Center: remove 'having' filter arguments from query methods (via synth).
  securitycenter/google/cloud/securitycenter_v1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service.proto
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service_pb2.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#7512 Add 'authentication_method' to 'PushConfig' (via synth).
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client_config.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client_config.py
  pubsub/google/cloud/pubsub_v1/proto/pubsub.proto
  pubsub/google/cloud/pubsub_v1/proto/pubsub_pb2.py
  pubsub/google/cloud/pubsub_v1/proto/pubsub_pb2_grpc.py
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/noxfile.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes, codegen

#7519 Release pubsub 0.40.0
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: autorelease: pending, cla: yes

#7525 Promote google-cloud-speech to GA
  speech/setup.py
Labels: cla: yes

#7524 Fix broken links to Cloud Asset API
  asset/README.rst
Labels: api: cloudasset, cla: yes, type: docs

#7516 Refactor table() methods into shared implementation.
  bigquery/google/cloud/bigquery/dataset.py
Labels: cla: yes

#7526 Release speech 1.0.0
  speech/CHANGELOG.md
  speech/setup.py
Labels: autorelease: pending, cla: yes

#7529 Add matching END tags
  spanner/tests/system/test_system.py
Labels: cla: yes

#7527 Release securitycenter 0.2.0
  securitycenter/CHANGELOG.md
  securitycenter/setup.py
Labels: api:securitycenter, autorelease: pending, cla: yes

#7521 Firestore: Fix typo in proto comments (via synth).
  firestore/google/cloud/firestore_v1beta1/proto/write.proto
  firestore/google/cloud/firestore_v1beta1/proto/write_pb2.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#7520 use fqdn for gce metadata endpoint
  logging/google/cloud/logging/_helpers.py
Labels: cla: yes

#7528 Remove duplicate tests
  bigtable/docs/snippets_table.py
Labels: api: bigtable, cla: yes, testing, type: docs

#7536 Release asset 0.2.0
  asset/CHANGELOG.md
  asset/setup.py
Labels: autorelease: pending, cla: yes

#7539 Security Center: proto file housekeeping FBO PHP (via synth).
  securitycenter/google/cloud/securitycenter_v1/proto/asset.proto
  securitycenter/google/cloud/securitycenter_v1/proto/asset_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/finding.proto
  securitycenter/google/cloud/securitycenter_v1/proto/finding_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/organization_settings.proto
  securitycenter/google/cloud/securitycenter_v1/proto/organization_settings_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/security_marks.proto
  securitycenter/google/cloud/securitycenter_v1/proto/security_marks_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service.proto
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/source.proto
  securitycenter/google/cloud/securitycenter_v1/proto/source_pb2.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes

#7546 google-cloud-python/talent - Broken talent client library documentation link
  talent/README.rst
Labels: cla: yes

#7548 When re-opening a ResumableBidiRPC set _request_queue_generator to None.
  api_core/google/api_core/bidi.py
Labels: cla: yes

#7541 Add docs session to nox configuration for BigQuery
  bigquery/.gitignore
  bigquery/docs/README.rst
  bigquery/docs/conf.py
  bigquery/docs/generated/google.cloud.bigquery.magics.html
  bigquery/docs/index.rst
  bigquery/docs/magics.rst
  bigquery/docs/reference.rst
  bigquery/noxfile.py
  docs/conf.py
Labels: api: bigquery, cla: yes, type: docs

#7549 Release api_core 1.8.2
  api_core/CHANGELOG.md
Labels: autorelease: pending, cla: yes

#7545 Use temporary file in load_table_from_dataframe
  bigquery/docs/snippets.py
  bigquery/google/cloud/bigquery/client.py
  bigquery/noxfile.py
  bigquery/setup.py
  bigquery/tests/unit/test_client.py
Labels: cla: yes

#7550 Add annotations to protocol buffers indicating request parameters (via synth).
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/avro.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/read_options.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/storage.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/storage_pb2.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/table_reference.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/table_reference_pb2.py
  bigquery_storage/synth.metadata
  bigquery_storage/synth.py
Labels: api:bigquerystorage, cla: yes

#7532 Bigtable: cleanup unused variable and add deprecation warnings for to be removed features
  bigtable/google/cloud/bigtable/instance.py
  bigtable/google/cloud/bigtable/table.py
  bigtable/tests/unit/test_instance.py
  bigtable/tests/unit/test_table.py
Labels: :rotating_light:, api: bigtable, cla: yes

#7561 Release tasks 0.6.0
  tasks/CHANGELOG.md
  tasks/setup.py
Labels: autorelease: pending, cla: yes

#7538 Add Snippets for security center list_assets call
  securitycenter/docs/snippets_list_assets.py
  securitycenter/noxfile.py
Labels: api:securitycenter, cla: yes, testing, type: docs

#7514 Allow passing rpc_metadata as part of creating a bidi
  api_core/google/api_core/bidi.py
  api_core/noxfile.py
  api_core/tests/unit/test_bidi.py
  firestore/google/cloud/firestore_v1beta1/watch.py
  firestore/tests/unit/v1beta1/test_cross_language.py
  firestore/tests/unit/v1beta1/test_watch.py
Labels: :rotating_light:, cla: yes

#7560 Allow string for copy sources, query destination, and default dataset
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
Labels: cla: yes

#7586 Restore redirect from magics module.
  test_utils/scripts/update_docs.sh
Labels: api: bigquery, cla: yes, type: docs

#7585 Add dependency for resource proto.
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/storage_pb2.py
  bigquery_storage/setup.py
  bigquery_storage/synth.metadata
  bigquery_storage/synth.py
Labels: api:bigquerystorage, cla: yes

#7603 Video Intelligence: Update docs build configuration.
  videointelligence/docs/conf.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#7609 Add rest of BigQuery DPEs to code owners via team
  .github/CODEOWNERS
Labels: api: bigquery, api: bigquerydatatransfer, api:bigquerystorage, cla: yes

#7601 Tasks: Format docstrings for enums (via synth).
  tasks/google/cloud/tasks_v2beta2/gapic/enums.py
  tasks/google/cloud/tasks_v2beta3/gapic/enums.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#7596 IoT: Format docstrings (via synth).
  iot/google/cloud/iot_v1/gapic/device_manager_client.py
  iot/google/cloud/iot_v1/gapic/enums.py
  iot/google/cloud/iot_v1/gapic/transports/device_manager_grpc_transport.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes

#7552 BigQuery: Add tqdm progress bar for downloads
  bigquery/docs/conf.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/noxfile.py
  bigquery/setup.py
  bigquery/tests/unit/test_table.py
  docs/conf.py
Labels: api: bigquery, cla: yes

#7614 Use sphinx < 2.0dev.
  docs/requirements.txt
Labels: cla: yes

#7551 Pub/Sub: Add message ordering (via synth).
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/google/cloud/pubsub_v1/proto/pubsub.proto
  pubsub/google/cloud/pubsub_v1/proto/pubsub_pb2.py
  pubsub/synth.metadata
  pubsub/tests/unit/gapic/v1/test_subscriber_client_v1.py
Labels: api: pubsub, cla: yes, codegen

#7618 Spanner: expand API ref for snapshot / transaction.
  spanner/docs/snapshot-api.rst
  spanner/docs/transaction-api.rst
Labels: api: spanner, cla: yes, type: docs

#7619 Blacken noxfile and setup file in nox session
  bigquery/google/cloud/bigquery/table.py
  bigquery/noxfile.py
  bigquery/setup.py
Labels: cla: yes

#7616 Actually use the progress_bar_type argument in QueryJob.to_dataframe()
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes
