Repository googleapis/google-cloud-python, pull requests merged in 2019-12, with the labels that each got.

#9899 chore: add @larkee as CODEOWNER for spanner
  .github/CODEOWNERS
Labels: api: spanner, cla: yes

#9880 chore(bigquery): run unit tests with Python 3.8
  bigquery/noxfile.py
  bigquery/tests/unit/test__pandas_helpers.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_magics.py
  bigquery/tests/unit/test_schema.py
Labels: cla: yes

#9915 feat(core): add timeout param to JSONConnection.api_request()
  core/google/cloud/_http.py
  core/tests/unit/test__http.py
Labels: api: core, cla: yes

#9916 chore(bigtable): release 1.2.0
  bigtable/CHANGELOG.md
  bigtable/setup.py
Labels: autorelease: pending, cla: yes

#9911 fix(pubsub): include request overhead when computing publish batch size overflow
  pubsub/google/cloud/pubsub_v1/publisher/_batch/base.py
  pubsub/google/cloud/pubsub_v1/publisher/_batch/thread.py
  pubsub/google/cloud/pubsub_v1/publisher/exceptions.py
  pubsub/google/cloud/pubsub_v1/types.py
  pubsub/tests/system.py
  pubsub/tests/unit/pubsub_v1/publisher/batch/test_thread.py
Labels: api: pubsub, cla: yes

#9917 chore(core): release 1.1.0
  core/CHANGELOG.md
  core/setup.py
Labels: autorelease: pending, cla: yes

#9919 chore(vision): release 0.41.0
  vision/CHANGELOG.md
  vision/setup.py
Labels: cla: yes

#9922 fix(speech): increase timeout values in client config (via synth)
  speech/google/cloud/speech_v1/gapic/speech_client_config.py
  speech/synth.metadata
Labels: api: speech, cla: yes

#9905 docs(all): add commits convention description in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: cla: yes

#9913 chore(talent): add LRO and RPC status imports to protos (via synth)
  talent/google/cloud/talent_v4beta1/proto/profile_service.proto
  talent/google/cloud/talent_v4beta1/proto/profile_service_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#9912 chore(billingbudgets): remove TODOs in proto comments (via synth)
  billingbudgets/google/cloud/billing_budgets_v1beta1/proto/budget_service.proto
  billingbudgets/synth.metadata
Labels: cla: yes

#9856 feat(dlp): add `location_id` in preparation for regionalization; deprecate resource name helper functions (via synth)
  dlp/docs/_static/custom.css
  dlp/docs/_templates/layout.html
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py
  dlp/google/cloud/dlp_v2/gapic/enums.py
  dlp/google/cloud/dlp_v2/proto/dlp.proto
  dlp/google/cloud/dlp_v2/proto/dlp_pb2.py
  dlp/google/cloud/dlp_v2/proto/storage.proto
  dlp/google/cloud/dlp_v2/proto/storage_pb2.py
  dlp/synth.metadata
  dlp/synth.py
Labels: api: dlp, cla: yes

#9931 test(automl): add 3.8 unit tests (via synth)
  automl/noxfile.py
  automl/synth.metadata
Labels: api: automl, cla: yes

#9933 test(billingbudgets): add 3.8 unit tests (via synth)
  billingbudgets/noxfile.py
  billingbudgets/synth.metadata
Labels: cla: yes

#9934 test(datalabeling): add 3.8 unit tests (via synth)
  datalabeling/noxfile.py
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes

#9935 test(documentai): add 3.8 unit tests (via synth)
  documentai/noxfile.py
  documentai/synth.metadata
Labels: cla: yes

#9936 test(iam): add 3.8 unit tests (via synth)
  iam/noxfile.py
  iam/synth.metadata
Labels: api: iam, cla: yes

#9926 chore(speech): release 1.3.1
  speech/CHANGELOG.md
  speech/setup.py
Labels: autorelease: pending, cla: yes

#9940 test(redis): add 3.8 unit tests (via synth)
  redis/noxfile.py
  redis/synth.metadata
Labels: api: redis, cla: yes

#9939 test(phishingprotection): add 3.8 unit tests (via synth)
  phishingprotection/noxfile.py
  phishingprotection/synth.metadata
Labels: api: phishingprotection, cla: yes

#9938 test(kms): add 3.8 unit tests (via synth)
  kms/noxfile.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes

#9937 test(irm): add 3.8 unit tests (via synth)
  irm/noxfile.py
  irm/synth.metadata
Labels: api: irm, cla: yes

#9954 docs(language): edit hyphenation of part-of-speech (via synth)
  language/google/cloud/language_v1beta2/gapic/language_service_client.py
  language/google/cloud/language_v1beta2/gapic/transports/language_service_grpc_transport.py
  language/google/cloud/language_v1beta2/proto/language_service.proto
  language/google/cloud/language_v1beta2/proto/language_service_pb2_grpc.py
  language/synth.metadata
Labels: api: language, cla: yes

#9942 test(texttospeech): add 3.8 unit tests (via synth)
  texttospeech/noxfile.py
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes

#9941 test(talent): add 3.8 unit tests (via synth)
  talent/noxfile.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#9944 test(vision): add 3.8 unit tests (via synth)
  vision/noxfile.py
  vision/synth.metadata
Labels: api: vision, cla: yes

#9945 test(websecurityscanner): add 3.8 unit tests (via synth)
  websecurityscanner/noxfile.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes

#9950 chore(pubsub): release 1.1.0
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: cla: yes

#9873 feat(api_core): make the last retry happen at deadline
  api_core/google/api_core/retry.py
  api_core/tests/unit/test_retry.py
Labels: api: core, cla: yes, type: feature request

#9927 chore(dlp): release 0.13.0
  dlp/CHANGELOG.md
  dlp/setup.py
Labels: autorelease: pending, cla: yes

#9958 docs(talent): update docstring for `DiversificationLevel` (via synth)
  talent/google/cloud/talent_v4beta1/gapic/enums.py
  talent/google/cloud/talent_v4beta1/proto/job_service.proto
  talent/synth.metadata
Labels: api: talent, cla: yes

#9961 chore(bigquery): release 1.23.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
  bigquery/tests/unit/test__http.py
  bigquery/tests/unit/test_client.py
Labels: autorelease: pending, cla: yes

#9955 fix(bigquery): fix copy pasta error in import error message (pandas -> pyarrow)
  bigquery/google/cloud/bigquery/table.py
Labels: api: bigquery, cla: yes

#9966 docs(monitoring): tweak formatting in proto comments (via synth)
  monitoring/google/cloud/monitoring_v3/proto/alert.proto
  monitoring/google/cloud/monitoring_v3/proto/service.proto
  monitoring/google/cloud/monitoring_v3/proto/service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/uptime.proto
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#9930 feat(asset): add real time feed support to v1 (via synth)
  asset/google/cloud/asset_v1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1/gapic/asset_service_client_config.py
  asset/google/cloud/asset_v1/gapic/transports/asset_service_grpc_transport.py
  asset/google/cloud/asset_v1/proto/asset_service.proto
  asset/google/cloud/asset_v1/proto/asset_service_pb2.py
  asset/google/cloud/asset_v1/proto/asset_service_pb2_grpc.py
  asset/google/cloud/asset_v1/proto/assets.proto
  asset/google/cloud/asset_v1/proto/assets_pb2.py
  asset/google/cloud/asset_v1/types.py
  asset/synth.metadata
  asset/synth.py
  asset/tests/unit/gapic/v1/test_asset_service_client_v1.py
Labels: api: cloudasset, cla: yes

#9968 chore(asset): release 0.6.0
  asset/CHANGELOG.md
  asset/setup.py
Labels: autorelease: pending, cla: yes

#9964 docs(bigquery): add sample to read from query destination table
  bigquery/samples/query_pagination.py
  bigquery/samples/tests/test_query_pagination.py
Labels: api: bigquery, cla: yes

#9973 feat(bigquery): add iamMember entity in access class of dataset
  bigquery/google/cloud/bigquery/dataset.py
Labels: cla: yes

#9969 chore(billingbudgets): release 0.2.0
  README.rst
  billingbudgets/.repo-metadata.json
  billingbudgets/CHANGELOG.md
  billingbudgets/setup.py
Labels: autorelease: pending, cla: yes

#9979 fix(bigquery): add six dependency in setup file
  bigquery/setup.py
Labels: cla: yes

#9981 chore(bigquery): release 1.23.1
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: autorelease: pending, cla: yes

#9982 fix(pubsub): handle None in on response callback
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes

#9984 chore(api_core): release 1.15.0
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: autorelease: pending, cla: yes

#9573 feat(bigquery): add `create_bqstorage_client` param to `to_dataframe` and `to_arrow`
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/samples/download_public_data.py
  bigquery/samples/download_public_data_sandbox.py
  bigquery/samples/tests/test_download_public_data.py
  bigquery/samples/tests/test_download_public_data_sandbox.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_table.py
Labels: cla: yes, do not merge

#9949 fix(automl): fix TypeError when passing a client_info to automl TablesClient
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
  automl/tests/unit/gapic/v1beta1/test_tables_client_v1beta1.py
Labels: cla: yes

#9977 feat(datacatalog): add quickstart sample for creating fileset entry.
  datacatalog/samples/quickstart/__init__.py
  datacatalog/samples/quickstart/create_fileset_entry_quickstart.py
  datacatalog/samples/tests/conftest.py
  datacatalog/samples/tests/quickstart/__init__.py
  datacatalog/samples/tests/quickstart/test_create_fileset_entry_quickstart.py
Labels: cla: yes

#9875 feat(bigquery): add timeout parameter to QueryJob.done() method
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/setup.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes, type: feature request

#10006 docs(iam): mark required params as required in docstring (via synth)
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client.py
  iam/google/cloud/iam_credentials_v1/proto/common.proto
  iam/google/cloud/iam_credentials_v1/proto/common_pb2.py
  iam/google/cloud/iam_credentials_v1/proto/iamcredentials.proto
  iam/google/cloud/iam_credentials_v1/proto/iamcredentials_pb2.py
  iam/synth.metadata
Labels: api: iam, cla: yes

#9829 fix(bigquery_datatransfer): deprecate resource name helper methods (via synth)
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py
  bigquery_datatransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes

#9831 fix(datacatalog): deprecate resource name helper methods (via synth)
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client.py
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes

#9974 refactor(bigquery): update code samples to use strings for table and dataset IDs
  bigquery/docs/snippets.py
  bigquery/docs/usage/queries.rst
  bigquery/samples/client_load_partitioned_table.py
  bigquery/samples/client_query_add_column.py
  bigquery/samples/client_query_partitioned_table.py
  bigquery/samples/client_query_relax_column.py
  bigquery/samples/client_query_w_array_params.py
  bigquery/samples/client_query_w_named_params.py
  bigquery/samples/client_query_w_positional_params.py
  bigquery/samples/client_query_w_struct_params.py
  bigquery/samples/client_query_w_timestamp_params.py
  bigquery/samples/query_external_gcs_temporary_table.py
  bigquery/samples/query_no_cache.py
  bigquery/samples/tests/test_client_load_partitioned_table.py
  bigquery/samples/tests/test_client_query_partitioned_table.py
  bigquery/samples/tests/test_client_query_w_array_params.py
  bigquery/samples/tests/test_client_query_w_named_params.py
  bigquery/samples/tests/test_client_query_w_positional_params.py
  bigquery/samples/tests/test_client_query_w_struct_params.py
  bigquery/samples/tests/test_client_query_w_timestamp_params.py
  bigquery/samples/tests/test_copy_table_multiple_source.py
  bigquery/samples/tests/test_query_external_gcs_temporary_table.py
  bigquery/samples/tests/test_query_no_cache.py
  bigquery/samples/tests/test_update_table_require_partition_filter.py
Labels: cla: yes

#10010 feat: add timeout parameter to Batch interface to match google-cloud-core
  storage/google/cloud/storage/batch.py
  storage/setup.py
  storage/tests/unit/test__http.py
  storage/tests/unit/test_batch.py
  storage/tests/unit/test_client.py
Labels: cla: yes

#10002 feat(bigquery): add timeout parameter to client's and job's public methods
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/noxfile.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#10024 cleanup(bigquery): remove unused query code sample
  bigquery/samples/client_query_partitioned_table.py
  bigquery/samples/tests/test_client_query_partitioned_table.py
Labels: cla: yes
