Repository googleapis/google-cloud-python, pull requests merged in 2019-04, with the labels that each got.

#7602 Trace: Add routing header to method metadata (via synth)
  trace/google/cloud/trace_v1/gapic/trace_service_client.py
  trace/google/cloud/trace_v2/gapic/trace_service_client.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes, codegen

#7598 Logging: Add routing header to method metadata (via synth).
  logging/google/cloud/logging_v2/gapic/config_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/logging_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/metrics_service_v2_client.py
  logging/synth.metadata
Labels: api: logging, cla: yes, codegen

#7597 IRM: Add routing header to method metadata, update docs configuration, format docstrings (via synth).
  irm/docs/conf.py
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client.py
  irm/synth.metadata
Labels: api: irm, cla: yes, codegen

#7595 IAM: Add routing header to method metadata, format docstrings, update docs configuration (via synth).
  iam/docs/conf.py
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client.py
  iam/synth.metadata
Labels: api: iam, codegen

#7594 Error Reporting: Add routing header to method metadata (via synth).
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_group_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_stats_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/report_errors_service_client.py
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes, codegen

#7593 Datastore: Add routing header to method metadata (via synth).
  datastore/google/cloud/datastore_v1/gapic/datastore_client.py
  datastore/synth.metadata
Labels: api: datastore, cla: yes, codegen

#7588 Monitoring: protobuf file housekeeping (no user-visible changes) (via synth).
  monitoring/google/cloud/monitoring_v3/proto/dropped_labels.proto
  monitoring/google/cloud/monitoring_v3/proto/dropped_labels_pb2.py
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes, codegen

#7617 Release language 1.2.0
  language/CHANGELOG.md
  language/setup.py
Labels: autorelease: pending, cla: yes

#7633 Fallback to BQ API when there are problems reading from BQ Storage.
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes, type: feature request

#7599 Scheduler: Add routing header to method metadata (via synth).
  scheduler/google/cloud/scheduler_v1beta1/gapic/cloud_scheduler_client.py
Labels: api: scheduler, cla: yes, codegen

#7631 Sort index in alphabetical order
  docs/index.rst
Labels: cla: yes

#7641 Release datalabeling 0.1.0
  datalabeling/CHANGELOG.md
Labels: autorelease: pending, cla: yes

#7642 Monitoring: Add routing header to method metadata, update docs config (via synth).
  monitoring/docs/conf.py
  monitoring/google/cloud/monitoring_v3/gapic/alert_policy_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/group_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/metric_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/notification_channel_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/uptime_check_service_client.py
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#7643 Fix release classifier.
  datalabeling/setup.py
Labels: cla: yes

#7646 Release datalabeling 0.1.1
  datalabeling/CHANGELOG.md
  datalabeling/setup.py
Labels: autorelease: pending, cla: yes

#7636 Fix issue with Watch Queries on V1
  firestore/google/cloud/firestore_v1/watch.py
  firestore/tests/system.py
Labels: cla: yes

#7639 API Core: specify a pytype output directory in setup.cfg.
  api_core/setup.cfg
Labels: cla: yes

#7623 Pub/sub: Add routing header to method metadata (via synth).
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes, codegen

#7647 Fix links to BigQuery Storage API docs
  bigquery_storage/README.rst
  bigquery_storage/setup.py
Labels: cla: yes

#7638 Release scheduler 0.2.0
  scheduler/CHANGELOG.md
  scheduler/setup.py
Labels: autorelease: pending, cla: yes

#7648 Release translate 1.4.0
  translate/CHANGELOG.md
  translate/setup.py
Labels: autorelease: pending, cla: yes

#7634 Release firestore 0.32.0
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: autorelease: pending, cla: yes

#7650 AutoML: Video Classification, Text Extraction, Text Sentiment, Tables support.
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client_config.py
  automl/google/cloud/automl_v1beta1/gapic/enums.py
  automl/google/cloud/automl_v1beta1/gapic/prediction_service_client.py
  automl/google/cloud/automl_v1beta1/gapic/prediction_service_client_config.py
  automl/google/cloud/automl_v1beta1/gapic/transports/auto_ml_grpc_transport.py
  automl/google/cloud/automl_v1beta1/gapic/transports/prediction_service_grpc_transport.py
  automl/google/cloud/automl_v1beta1/proto/annotation_payload_pb2.py
  automl/google/cloud/automl_v1beta1/proto/classification_pb2.py
  automl/google/cloud/automl_v1beta1/proto/column_spec_pb2.py
  automl/google/cloud/automl_v1beta1/proto/column_spec_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/data_items_pb2.py
  automl/google/cloud/automl_v1beta1/proto/data_stats_pb2.py
  automl/google/cloud/automl_v1beta1/proto/data_stats_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/data_types_pb2.py
  automl/google/cloud/automl_v1beta1/proto/data_types_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/dataset_pb2.py
  automl/google/cloud/automl_v1beta1/proto/detection_pb2.py
  automl/google/cloud/automl_v1beta1/proto/detection_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/geometry_pb2.py
  automl/google/cloud/automl_v1beta1/proto/geometry_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/image_pb2.py
  automl/google/cloud/automl_v1beta1/proto/io_pb2.py
  automl/google/cloud/automl_v1beta1/proto/model_evaluation_pb2.py
  automl/google/cloud/automl_v1beta1/proto/model_pb2.py
  automl/google/cloud/automl_v1beta1/proto/operations_pb2.py
  automl/google/cloud/automl_v1beta1/proto/prediction_service_pb2.py
  automl/google/cloud/automl_v1beta1/proto/prediction_service_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/ranges_pb2.py
  automl/google/cloud/automl_v1beta1/proto/ranges_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/regression_pb2.py
  automl/google/cloud/automl_v1beta1/proto/regression_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/service_pb2.py
  automl/google/cloud/automl_v1beta1/proto/service_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/table_spec_pb2.py
  automl/google/cloud/automl_v1beta1/proto/table_spec_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/tables_pb2.py
  automl/google/cloud/automl_v1beta1/proto/tables_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/temporal_pb2.py
  automl/google/cloud/automl_v1beta1/proto/temporal_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/text_extraction_pb2.py
  automl/google/cloud/automl_v1beta1/proto/text_extraction_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/text_pb2.py
  automl/google/cloud/automl_v1beta1/proto/text_segment_pb2.py
  automl/google/cloud/automl_v1beta1/proto/text_segment_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/text_sentiment_pb2.py
  automl/google/cloud/automl_v1beta1/proto/text_sentiment_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/video_pb2.py
  automl/google/cloud/automl_v1beta1/proto/video_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/types.py
  automl/noxfile.py
  automl/synth.metadata
  automl/tests/unit/gapic/v1beta1/test_auto_ml_client_v1beta1.py
  automl/tests/unit/gapic/v1beta1/test_prediction_service_client_v1beta1.py
Labels: cla: yes

#7649 Release bigquery_storage 0.3.0
  bigquery_storage/CHANGELOG.md
  bigquery_storage/setup.py
Labels: autorelease: pending, cla: yes

#7655 Release automl 0.2.0
  automl/CHANGELOG.md
  automl/setup.py
Labels: autorelease: pending, cla: yes

#7640 Add option to use BigQuery Storage API from IPython magics
  bigquery/google/cloud/bigquery/magics.py
  bigquery/tests/unit/test_magics.py
Labels: cla: yes

#7657 Release bigquery 1.11.0
  bigquery/CHANGELOG.md
Labels: autorelease: pending, cla: yes

#7662 Release bigquery 1.11.1
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: autorelease: pending, cla: yes

#7668 Add dependency on protobuf.
  bigquery/setup.py
Labels: cla: yes

#7669 Release bigquery 1.11.2
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: autorelease: pending, cla: yes

#7666 Tasks: Add auth and stackdriver logging configuration (via synth).
  tasks/google/cloud/tasks_v2beta3/gapic/enums.py
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks_pb2_grpc.py
  tasks/google/cloud/tasks_v2beta3/proto/queue.proto
  tasks/google/cloud/tasks_v2beta3/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/target.proto
  tasks/google/cloud/tasks_v2beta3/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/task.proto
  tasks/google/cloud/tasks_v2beta3/proto/task_pb2.py
  tasks/synth.metadata
  tasks/tests/unit/gapic/v2beta3/test_cloud_tasks_client_v2beta3.py
Labels: api: cloudtasks, cla: yes

#7665 Scheduler: Add auth and configurable timeouts to v1beta1 (via synth).
  scheduler/google/cloud/scheduler_v1beta1/proto/cloudscheduler.proto
  scheduler/google/cloud/scheduler_v1beta1/proto/cloudscheduler_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/cloudscheduler_pb2_grpc.py
  scheduler/google/cloud/scheduler_v1beta1/proto/job.proto
  scheduler/google/cloud/scheduler_v1beta1/proto/job_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/target.proto
  scheduler/google/cloud/scheduler_v1beta1/proto/target_pb2.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes

#7659 Language: Add google.api proto annotations, update docstrings (via synth).
  language/google/cloud/language_v1/gapic/enums.py
  language/google/cloud/language_v1/proto/language_service.proto
  language/google/cloud/language_v1/proto/language_service_pb2.py
  language/google/cloud/language_v1/proto/language_service_pb2_grpc.py
  language/synth.metadata
Labels: api: language, cla: yes

#7660 Translate: Add routing header to method metadata, fix docstring (via synth).
  translate/google/cloud/translate_v3beta1/gapic/translation_service_client.py
  translate/synth.metadata
Labels: cla: yes

#7671 Release api_core 1.9.0
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: autorelease: pending, cla: yes

#7672 Release firestore 0.32.1
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: autorelease: pending, cla: yes

#7658 Bigquery Storage: Add retry params for create_read_session (via synth).
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/big_query_storage_client_config.py
  bigquery_storage/synth.metadata
Labels: api:bigquerystorage, cla: yes

#7663 Prepend leading zeros
  api_core/google/api_core/datetime_helpers.py
  api_core/tests/unit/test_datetime_helpers.py
Labels: cla: yes

#7664 remove gRPC size limit for bigquery storage
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/transports/big_query_storage_grpc_transport.py
  bigquery_storage/synth.py
Labels: cla: yes

#7674 Don't mask auth errors in `to_dataframe` with BQ Storage API
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_table.py
Labels: api:bigquerystorage, cla: yes

#7673 Remove system test for split rows
  bigquery_storage/tests/system/test_system.py
Labels: api:bigquerystorage, cla: yes

#7610 Add [all] extras to install all extra dependencies
  bigquery/noxfile.py
  bigquery/setup.py
Labels: :rotating_light:, api: bigquery, cla: yes

#7681 Translate: Add docs for v3beta1.
  translate/docs/README.rst
  translate/docs/gapic/v3beta1/api.rst
  translate/docs/gapic/v3beta1/types.rst
  translate/docs/index.rst
  translate/google/cloud/translate_v3beta1/proto/translation_service_pb2.py
  translate/noxfile.py
  translate/synth.metadata
  translate/synth.py
Labels: cla: yes

#7684 Adding creationTime and expirationTime properties to TableListItem
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#7692 Adding `clustering_fields` property to TableListItem
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_table.py
Labels: cla: yes

#7589 Security Center: Add routing header to method metadata (via synth).
  securitycenter/google/cloud/securitycenter_v1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/security_center_client.py
  securitycenter/synth.metadata
  securitycenter/synth.py
Labels: :rotating_light:, api:securitycenter, cla: yes, codegen, do not merge

#7263 BigQuery DataTransfer: remove unused message exports (via synth).
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/datatransfer.proto
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/datatransfer_pb2_grpc.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/transfer.proto
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/types.py
  bigquery_datatransfer/noxfile.py
  bigquery_datatransfer/synth.metadata
  bigquery_datatransfer/synth.py
Labels: api: bigquerydatatransfer, cla: yes, codegen, needs work

#7706 Release tasks 0.7.0
  tasks/CHANGELOG.md
  tasks/setup.py
Labels: autorelease: pending, cla: yes

#7651 Generate Web Risk.
  .kokoro/continuous/webrisk.cfg
  .kokoro/presubmit/webrisk.cfg
  .kokoro/release/webrisk.cfg
  docs/index.rst
  docs/requirements.txt
  docs/webrisk
  webrisk/.coveragerc
  webrisk/.flake8
  webrisk/CHANGELOG.md
  webrisk/LICENSE
  webrisk/MANIFEST.in
  webrisk/README.rst
  webrisk/docs/README.rst
  webrisk/docs/changelog.md
  webrisk/docs/conf.py
  webrisk/docs/gapic/v1beta1/api.rst
  webrisk/docs/gapic/v1beta1/types.rst
  webrisk/docs/index.rst
  webrisk/google/__init__.py
  webrisk/google/cloud/__init__.py
  webrisk/google/cloud/webrisk.py
  webrisk/google/cloud/webrisk_v1beta1/__init__.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/__init__.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/enums.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/transports/__init__.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/transports/web_risk_service_v1_beta1_grpc_transport.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/web_risk_service_v1_beta1_client.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/web_risk_service_v1_beta1_client_config.py
  webrisk/google/cloud/webrisk_v1beta1/proto/__init__.py
  webrisk/google/cloud/webrisk_v1beta1/proto/webrisk.proto
  webrisk/google/cloud/webrisk_v1beta1/proto/webrisk_pb2.py
  webrisk/google/cloud/webrisk_v1beta1/proto/webrisk_pb2_grpc.py
  webrisk/google/cloud/webrisk_v1beta1/types.py
  webrisk/noxfile.py
  webrisk/setup.cfg
  webrisk/setup.py
  webrisk/synth.metadata
  webrisk/synth.py
  webrisk/tests/unit/gapic/v1beta1/test_web_risk_service_v1_beta1_client_v1beta1.py
Labels: api: webrisk, cla: yes

#7390 DLP: Add support for filtering job triggers, add CryptoDeterministicConfig, update docs/conf.py. (via synth).
  dlp/docs/conf.py
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py
  dlp/google/cloud/dlp_v2/gapic/enums.py
  dlp/google/cloud/dlp_v2/proto/dlp.proto
  dlp/google/cloud/dlp_v2/proto/dlp_pb2.py
  dlp/google/cloud/dlp_v2/proto/dlp_pb2_grpc.py
  dlp/google/cloud/dlp_v2/proto/storage.proto
  dlp/google/cloud/dlp_v2/proto/storage_pb2.py
  dlp/noxfile.py
  dlp/synth.metadata
  dlp/synth.py
Labels: :rotating_light:, api: dlp, cla: yes, codegen

#7705 Pub/Sub (nit): wrong var name in sample
  pubsub/google/cloud/pubsub_v1/subscriber/client.py
Labels: cla: yes

#7710 Adding missing properties from LoadJobConfig to LoadJob library
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#7708 feat: Generate client for datacatalog
  .kokoro/continuous/datacatalog.cfg
  .kokoro/presubmit/datacatalog.cfg
  .kokoro/release/datacatalog.cfg
  datacatalog/.coveragerc
  datacatalog/.flake8
  datacatalog/CHANGELOG.md
  datacatalog/LICENSE
  datacatalog/MANIFEST.in
  datacatalog/README.rst
  datacatalog/docs/changelog.md
  datacatalog/docs/conf.py
  datacatalog/docs/gapic/v1beta1/api.rst
  datacatalog/docs/gapic/v1beta1/types.rst
  datacatalog/docs/index.rst
  datacatalog/google/__init__.py
  datacatalog/google/cloud/__init__.py
  datacatalog/google/cloud/datacatalog.py
  datacatalog/google/cloud/datacatalog_v1beta1/__init__.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/__init__.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client_config.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/enums.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/transports/__init__.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/transports/data_catalog_grpc_transport.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/__init__.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/schema_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/schema_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/table_spec_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/table_spec_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/timestamps_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/timestamps_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/types.py
  datacatalog/noxfile.py
  datacatalog/setup.cfg
  datacatalog/setup.py
  datacatalog/synth.metadata
  datacatalog/synth.py
  datacatalog/tests/unit/gapic/v1beta1/test_data_catalog_client_v1beta1.py
  docs/datacatalog
  docs/index.rst
  docs/requirements.txt
Labels: api: datacatalog, cla: yes

#7712 Release datacatalog 0.1.0
  datacatalog/CHANGELOG.md
Labels: autorelease: pending, cla: yes

#7715 KMS: Retry idempotent codes for Encyrpt, Decrypt, Asymmetric Decrypt, Asymmetric Sign (via synth).
  kms/google/cloud/kms_v1/gapic/key_management_service_client_config.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes

#7688 Trace: Update docstring for page_size (via synth).
  trace/google/cloud/trace_v1/gapic/trace_service_client.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#7713 docs: Fix broken link to client library docs in README
  datacatalog/README.rst
Labels: api: datacatalog, cla: yes

#7714 storage: fix failing system tests
  storage/tests/system.py
Labels: api: storage, cla: yes

#7622 Make total_rows available on RowIterator before iteration
  bigquery/docs/snippets.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_table.py
Labels: :rotating_light:, api: bigquery, cla: yes, type: feature request

#7680 Add page iterator to ReadRowsStream
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/reader.py
  bigquery_storage/tests/unit/test_reader.py
Labels: :rotating_light:, api:bigquerystorage, cla: yes

#7707 Release scheduler 0.3.0
  scheduler/CHANGELOG.md
  scheduler/setup.py
Labels: autorelease: pending, cla: yes

#7717 Web Risk: Add whitelist info to README.
  webrisk/README.rst
Labels: api: webrisk, cla: yes

#7716 Release bigquery_storage 0.4.0
  bigquery_storage/CHANGELOG.md
  bigquery_storage/setup.py
Labels: autorelease: pending, cla: yes

#7704 Securitycenter: docstring changes (via synth).
  securitycenter/google/cloud/securitycenter_v1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service.proto
  securitycenter/google/cloud/securitycenter_v1/proto/securitycenter_service_pb2.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#7718 Release webrisk 0.1.0
  webrisk/CHANGELOG.md
  webrisk/setup.py
Labels: autorelease: pending, cla: yes

#7711 Release dlp 0.11.0
  dlp/CHANGELOG.md
  dlp/setup.py
Labels: autorelease: pending, cla: yes

#7460 Storage: add support for V4 signed URLs
  storage/google/cloud/storage/_signing.py
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
  storage/tests/system.py
  storage/tests/unit/test__signing.py
  storage/tests/unit/test_blob.py
  storage/tests/unit/test_bucket.py
  storage/tests/unit/url_signer_v4_test_account.json
  storage/tests/unit/url_signer_v4_test_data.json
Labels: :rotating_light:, api: storage, cla: yes

#7724 FIX documentation
  bigtable/google/cloud/bigtable/instance.py
Labels: api: bigtable, cla: yes

#7725 Release storage-1.15.0.
  storage/CHANGELOG.md
  storage/setup.py
  storage/tests/system.py
Labels: api: storage, automerge, autorelease: pending, cla: yes, packaging

#7726 BigQuery: Raise ValueError when BQ Storage is required but missing
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, api:bigquerystorage, cla: yes

#7747 websecurityscanner: Add nox session 'docs' (via synth).
  websecurityscanner/noxfile.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes

#7741 Security Center: Add Ruby package configuration in protos (via synth).
  securitycenter/google/cloud/securitycenter_v1/proto/asset.proto
  securitycenter/google/cloud/securitycenter_v1/proto/asset_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/finding.proto
  securitycenter/google/cloud/securitycenter_v1/proto/finding_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/organization_settings.proto
  securitycenter/google/cloud/securitycenter_v1/proto/organization_settings_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/security_marks.proto
  securitycenter/google/cloud/securitycenter_v1/proto/security_marks_pb2.py
  securitycenter/google/cloud/securitycenter_v1/proto/source.proto
  securitycenter/google/cloud/securitycenter_v1/proto/source_pb2.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes

#7698 BigQuery: ensure that `KeyboardInterrupt` during `to_dataframe`no longer hangs.
  bigquery/google/cloud/bigquery/table.py
  bigquery/setup.py
  bigquery/tests/unit/test_table.py
Labels: :rotating_light:, api: bigquery, api:bigquerystorage, cla: yes

#7757 BigQuery: Close the to_dataframe progress bar when finished.
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#7764 Datalabeling: Update index.rst
  datalabeling/docs/index.rst
Labels: cla: yes, type: docs

#7749 Firestore: add routing header to method metadata (via synth).
  firestore/google/cloud/firestore_v1/gapic/firestore_client.py
  firestore/google/cloud/firestore_v1beta1/gapic/firestore_client.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#7750 Spanner: add routing header to method metadata (via synth).
  spanner/google/cloud/spanner_admin_database_v1/gapic/database_admin_client.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/instance_admin_client.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/transports/instance_admin_grpc_transport.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client.py
  spanner/synth.metadata
  spanner/tests/unit/test_client.py
  spanner/tests/unit/test_instance.py
Labels: api: spanner, cla: yes, codegen

#7752 Use parent path for watch on queries.
  firestore/google/cloud/firestore_v1/watch.py
  firestore/tests/unit/v1/test_cross_language.py
  firestore/tests/unit/v1/test_watch.py
Labels: api: firestore, cla: yes

#7763 Refactor QueryJob.query to read from resource dictionary
  bigquery/google/cloud/bigquery/job.py
Labels: api: bigquery, cla: yes

#7697 BigQuery: `to_dataframe` respects `progress_bar_type` when used with BQ Storage API
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_table.py
Labels: :rotating_light:, api: bigquery, api:bigquerystorage, cla: yes

#7792 add links to Cloud Scheduler
  README.rst
Labels: cla: yes

#7794 Remove `folder/*` pattern, since it only matches immediate child files
  .github/CODEOWNERS
Labels: cla: yes

#7788 Security Scanner: Add session `docs` to nox (via synth).
  websecurityscanner/docs/README.rst
  websecurityscanner/docs/changelog.md
  websecurityscanner/docs/conf.py
  websecurityscanner/docs/index.rst
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client.py
  websecurityscanner/noxfile.py
  websecurityscanner/synth.metadata
  websecurityscanner/synth.py
Labels: api: websecurityscanner, cla: yes, codegen

#7690 Pub/Sub ThreadScheduler should inherit from the base Scheduler ABC
  pubsub/google/cloud/pubsub_v1/subscriber/scheduler.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_scheduler.py
Labels: :rotating_light:, api: pubsub, cla: yes

#7761 Phase 1 for storing schemas for later use.
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: cla: yes

#7802 Cleanup client tests with method to create minimal table resource
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes, testing, type: cleanup

#7813 IAM: fix client lib docs link in README.
  iam/README.rst
Labels: api: iam, cla: yes, type: docs

#7798 Storage: Require google-auth >= 1.2.0.
  storage/setup.py
Labels: api: storage, cla: yes

#7799 Add `user_agent` property to `ClientInfo`
  api_core/google/api_core/gapic_v1/client_info.py
  api_core/setup.cfg
  api_core/tests/unit/gapic/test_client_info.py
Labels: api: core, cla: yes

#7814 Release api_core 1.10.0
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: autorelease: pending, cla: yes

#7808 Tasks: Add smoke test and correct docs/index.rst.
  tasks/docs/index.rst
  tasks/tests/system/gapic/v2/test_system_tasks_v2.py
Labels: api: cloudtasks, cla: yes

#7806 Add `client_info` to BigQuery constructor for user-amenable user agent headers
  bigquery/google/cloud/bigquery/_http.py
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test__http.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#7810 Logging: Reorder methods in file (via synth).
  logging/google/cloud/logging_v2/gapic/config_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/metrics_service_v2_client.py
  logging/synth.metadata
Labels: api: logging, cla: yes, codegen

#7803 websecurityscanner: Update noxfile (via synth).
  websecurityscanner/noxfile.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes, codegen

#7800 Bigtable: fix instance leaks from snippets
  bigtable/docs/snippets.py
Labels: api: bigtable, cla: yes, testing

#7793 Preserve order in `to_dataframe` with BQ Storage from queries containing `ORDER BY`
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, api:bigquerystorage, cla: yes

#7823 Release firestore 1.0.0
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: autorelease: pending, cla: yes

#7758 Firestore: add support for CollectionGroup queries.
  firestore/google/cloud/firestore_v1/client.py
  firestore/google/cloud/firestore_v1/query.py
  firestore/tests/system.py
  firestore/tests/unit/v1/test_client.py
  firestore/tests/unit/v1/test_query.py
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/system.py
Labels: :rotating_light:, api: firestore, cla: yes

#7786 Video Intelligence: Add nox session `docs` (via synth).
  videointelligence/docs/README.rst
  videointelligence/docs/index.rst
  videointelligence/noxfile.py
  videointelligence/synth.metadata
Labels: :rotating_light:, api: videointelligence, cla: yes, codegen

#7787 Vision: Add nox session `docs`, reorder methods, modify samples in docstrings (via synth).
  vision/docs/README.rst
  vision/docs/conf.py
  vision/docs/index.rst
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p4beta1/gapic/product_search_client.py
  vision/noxfile.py
  vision/synth.metadata
  vision/synth.py
  vision/tests/unit/gapic/v1/test_product_search_client_v1.py
Labels: :rotating_light:, api: vision, cla: yes, codegen

#7785 Translate: Add nox session `docs`, reorder methods (via synth).
  translate/google/cloud/translate_v3beta1/gapic/translation_service_client.py
  translate/noxfile.py
  translate/synth.metadata
  translate/synth.py
Labels: :rotating_light:, cla: yes, codegen

#7782 Speech: Add nox session `docs` (via synth).
  speech/docs/README.rst
  speech/docs/conf.py
  speech/docs/index.rst
  speech/noxfile.py
  speech/synth.metadata
Labels: :rotating_light:, api: speech, cla: yes, codegen

#7784 Trace: Add nox session `docs` (via synth).
  trace/docs/README.rst
  trace/docs/conf.py
  trace/docs/index.rst
  trace/noxfile.py
  trace/synth.metadata
  trace/synth.py
Labels: :rotating_light:, api: cloudtrace, cla: yes, codegen

#7801 Initial generation of Phishing Protection.
  phishingprotection/.coveragerc
  phishingprotection/.flake8
  phishingprotection/LICENSE
  phishingprotection/MANIFEST.in
  phishingprotection/README.rst
  phishingprotection/docs/conf.py
  phishingprotection/docs/gapic/v1beta1/api.rst
  phishingprotection/docs/gapic/v1beta1/types.rst
  phishingprotection/docs/index.rst
  phishingprotection/google/__init__.py
  phishingprotection/google/cloud/__init__.py
  phishingprotection/google/cloud/phishingprotection.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/__init__.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/__init__.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/phishing_protection_service_client.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/phishing_protection_service_client_config.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/transports/__init__.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/transports/phishing_protection_service_grpc_transport.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/proto/__init__.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/proto/phishingprotection.proto
  phishingprotection/google/cloud/phishingprotection_v1beta1/proto/phishingprotection_pb2.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/proto/phishingprotection_pb2_grpc.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/types.py
  phishingprotection/noxfile.py
  phishingprotection/setup.cfg
  phishingprotection/setup.py
  phishingprotection/synth.metadata
  phishingprotection/synth.py
  phishingprotection/tests/unit/gapic/v1beta1/test_phishing_protection_service_client_v1beta1.py
Labels: api: phishingprotection, cla: yes

#7773 IoT: Reorder methods, add nox session `docs` (via synth).
  iot/docs/README.rst
  iot/docs/changelog.md
  iot/docs/conf.py
  iot/docs/index.rst
  iot/google/cloud/iot_v1/gapic/device_manager_client.py
  iot/noxfile.py
  iot/synth.metadata
  iot/synth.py
Labels: :rotating_light:, api: cloudiot, cla: yes, codegen
