Repository googleapis/google-cloud-python, pull requests merged in 2019-09, with the labels that each got.

#9156 BigQuery: Disable failing snippets test
  bigquery/docs/snippets.py
Labels: api: bigquery, cla: yes, do not merge

#9149 Docs: fix the reference URL for BigQuery create_dataset()
  bigquery/google/cloud/bigquery/client.py
Labels: api: bigquery, cla: yes, type: docs

#9160 IAM: Fix typo in repository metadata JSON.
  iam/.repo-metadata.json
Labels: cla: yes

#9148 Docs: Fix broken links for Core, DNS, Language, RuntimeConfig and WebRisk
  api_core/docs/auth.rst
  dns/README.rst
  language/README.rst
  runtimeconfig/README.rst
  webrisk/README.rst
Labels: api: core, api: dns, api: language, api: runtimeconfig, api: webrisk, cla: yes, type: docs

#9164 Storage; Fix deep / broken URL for service account setup.
  storage/google/cloud/storage/_signing.py
Labels: api: storage, cla: yes

#9168 Release bigquery 1.19.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: autorelease: pending, cla: yes

#9165 Tasks: Fix reference to View
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
Labels: api: cloudtasks, cla: yes

#9166 Logging: Pass 'stream' argument to super in 'ContainerEngineHandler.__init__'.
  logging/google/cloud/logging/handlers/container_engine.py
Labels: api: logging, cla: yes

#9167 BigQuery: Add 'max_results' param to 'QueryJob.result()'.
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#9108 BigQuery: Autofetch table schema on load if not provided
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#9173 Firestore: Tweak GAPIC client configurations (via synth).
  firestore/google/cloud/firestore_admin_v1/gapic/firestore_admin_client_config.py
  firestore/google/cloud/firestore_v1/gapic/firestore_client_config.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#9172 Bigtable: Add IAM Policy methods to table admin client (via synth).
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client_config.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_table_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_table_admin.proto
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_table_admin_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_table_admin_pb2_grpc.py
  bigtable/synth.metadata
  bigtable/tests/unit/gapic/v2/test_bigtable_table_admin_client_v2.py
Labels: api: bigtable, cla: yes, codegen

#9055 Datastore: Add `client_options` to constructors for manual clients.
  datastore/google/cloud/datastore/client.py
  datastore/setup.py
  datastore/tests/unit/test_client.py
Labels: api: datastore, cla: yes

#9159 Vision: Flatten case of logo text in systest.
  vision/tests/system.py
Labels: cla: yes

#9184 Bigtable: Fix misspelling in docs.
  bigtable/docs/data-api.rst
Labels: api: bigtable, cla: yes, type: docs

#9169 BigQuery: add `--max_results` option to magic
  bigquery/google/cloud/bigquery/magics.py
  bigquery/tests/unit/test_magics.py
Labels: cla: yes

#9178 BigQuery, BigQuery Storage: Fix list_rows() max results with BQ storage client
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, api: bigquerystorage, cla: yes

#9176 BigQuery: Deprecate automatic schema conversion in load_table_from_dataframe()
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#9161 BigQuery: Add support of the project ID with org prefix to the Table.from_string() method
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/google/cloud/bigquery/dataset.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#9187 Docs: Update README authentication link to current URL.
  README.rst
Labels: cla: yes, type: docs

#9197 Text to Speech: Update docstrings, change timeout and retry config (via synth).
  texttospeech/google/cloud/texttospeech_v1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1/gapic/text_to_speech_client_config.py
  texttospeech/google/cloud/texttospeech_v1/proto/cloud_tts.proto
  texttospeech/google/cloud/texttospeech_v1/proto/cloud_tts_pb2.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/text_to_speech_client_config.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1beta1/proto/cloud_tts.proto
  texttospeech/google/cloud/texttospeech_v1beta1/proto/cloud_tts_pb2.py
  texttospeech/google/cloud/texttospeech_v1beta1/proto/cloud_tts_pb2_grpc.py
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes, codegen

#9198 Web Risk: Make `threat_types` a required argument to `search_hashes` (via synth).
  webrisk/google/cloud/webrisk_v1beta1/gapic/web_risk_service_v1_beta1_client.py
  webrisk/synth.metadata
  webrisk/tests/unit/gapic/v1beta1/test_web_risk_service_v1_beta1_client_v1beta1.py
Labels: api: webrisk, cla: yes, codegen

#9200 BigQuery: Fix doc link
  bigquery/google/cloud/bigquery/job.py
Labels: api: bigquery, cla: yes, type: docs

#9189 BigQuery: Add support for array parameters to Cursor.execute()
  bigquery/google/cloud/bigquery/dbapi/_helpers.py
  bigquery/tests/unit/test_dbapi__helpers.py
Labels: api: bigquery, cla: yes

#9204 Storage: Fix tests b0rken by 'google-resumable-media 0.4.0' release.
  storage/setup.py
  storage/tests/unit/test_blob.py
Labels: api: storage, cla: yes, testing

#9202 Speech: Add speaker diarization configuration support (via synth).
  speech/google/cloud/speech_v1/proto/cloud_speech.proto
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py
  speech/synth.metadata
  speech/synth.py
Labels: api: speech, cla: yes, codegen

#9201 Language: Exclude noxfile from synth.
  language/synth.metadata
  language/synth.py
Labels: api: language, cla: yes, codegen

#9209 Language: Reorder samples manifest (via synth).
  language/samples/v1/test/samples.manifest.yaml
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#9211 Speech: Update samples manifest (via synth).
  speech/samples/v1/test/samples.manifest.yaml
  speech/samples/v1p1beta1/test/samples.manifest.yaml
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#9224 Vision: Add more product categories (via synth).
  vision/google/cloud/vision_v1/proto/product_search.proto
  vision/google/cloud/vision_v1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service.proto
  vision/google/cloud/vision_v1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search.proto
  vision/google/cloud/vision_v1p4beta1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service.proto
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service_pb2.py
  vision/synth.metadata
Labels: api: vision, cla: yes

#9223 Talent: Add `filter_` arg to `ProfileServiceClient.list_profiles`; docstring updates (via synth).
  talent/google/cloud/talent_v4beta1/gapic/application_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/company_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/completion_client.py
  talent/google/cloud/talent_v4beta1/gapic/enums.py
  talent/google/cloud/talent_v4beta1/gapic/event_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/job_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/profile_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/tenant_service_client.py
  talent/google/cloud/talent_v4beta1/proto/application.proto
  talent/google/cloud/talent_v4beta1/proto/application_pb2.py
  talent/google/cloud/talent_v4beta1/proto/application_service.proto
  talent/google/cloud/talent_v4beta1/proto/application_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/batch.proto
  talent/google/cloud/talent_v4beta1/proto/batch_pb2.py
  talent/google/cloud/talent_v4beta1/proto/common.proto
  talent/google/cloud/talent_v4beta1/proto/common_pb2.py
  talent/google/cloud/talent_v4beta1/proto/company.proto
  talent/google/cloud/talent_v4beta1/proto/company_pb2.py
  talent/google/cloud/talent_v4beta1/proto/company_service.proto
  talent/google/cloud/talent_v4beta1/proto/company_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/completion_service.proto
  talent/google/cloud/talent_v4beta1/proto/completion_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/event.proto
  talent/google/cloud/talent_v4beta1/proto/event_pb2.py
  talent/google/cloud/talent_v4beta1/proto/event_service.proto
  talent/google/cloud/talent_v4beta1/proto/event_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/filters.proto
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/google/cloud/talent_v4beta1/proto/histogram.proto
  talent/google/cloud/talent_v4beta1/proto/histogram_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job.proto
  talent/google/cloud/talent_v4beta1/proto/job_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job_service.proto
  talent/google/cloud/talent_v4beta1/proto/job_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job_service_pb2_grpc.py
  talent/google/cloud/talent_v4beta1/proto/profile.proto
  talent/google/cloud/talent_v4beta1/proto/profile_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile_service.proto
  talent/google/cloud/talent_v4beta1/proto/profile_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/tenant.proto
  talent/google/cloud/talent_v4beta1/proto/tenant_pb2.py
  talent/google/cloud/talent_v4beta1/proto/tenant_service.proto
  talent/google/cloud/talent_v4beta1/proto/tenant_service_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#9213 BigQuery: Change default endpoint to bigquery.googleapis.com
  bigquery/google/cloud/bigquery/_http.py
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#9218 Monitoring: Allow recursive group deletion, deprecate internal checkers, add SSL validation and content match options to uptime check (via synth).
  monitoring/google/cloud/monitoring_v3/gapic/enums.py
  monitoring/google/cloud/monitoring_v3/gapic/group_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/metric_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/metric_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/proto/alert.proto
  monitoring/google/cloud/monitoring_v3/proto/alert_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/alert_service.proto
  monitoring/google/cloud/monitoring_v3/proto/alert_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/common.proto
  monitoring/google/cloud/monitoring_v3/proto/common_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/dropped_labels.proto
  monitoring/google/cloud/monitoring_v3/proto/dropped_labels_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/group.proto
  monitoring/google/cloud/monitoring_v3/proto/group_service.proto
  monitoring/google/cloud/monitoring_v3/proto/group_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric.proto
  monitoring/google/cloud/monitoring_v3/proto/metric_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric_service.proto
  monitoring/google/cloud/monitoring_v3/proto/metric_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric_service_pb2_grpc.py
  monitoring/google/cloud/monitoring_v3/proto/mutation_record.proto
  monitoring/google/cloud/monitoring_v3/proto/notification.proto
  monitoring/google/cloud/monitoring_v3/proto/notification_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/notification_service.proto
  monitoring/google/cloud/monitoring_v3/proto/notification_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/span_context.proto
  monitoring/google/cloud/monitoring_v3/proto/uptime.proto
  monitoring/google/cloud/monitoring_v3/proto/uptime_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/uptime_service.proto
  monitoring/google/cloud/monitoring_v3/proto/uptime_service_pb2.py
  monitoring/synth.metadata
  monitoring/tests/unit/gapic/v3/test_uptime_check_service_client_v3.py
Labels: api: monitoring, cla: yes, codegen

#9180 Tasks: Revert manual change to enum docstring references (via synth).
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/synth.metadata
  tasks/synth.py
Labels: api: cloudtasks, cla: yes, codegen

#9219 Storage: Add benchwrapper, support STORAGE_EMULATOR_HOST.
  storage/google/cloud/storage/_helpers.py
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/client.py
  storage/test_utils/README.md
  storage/test_utils/benchwrapper.py
  storage/test_utils/storage.proto
  storage/test_utils/storage_pb2.py
  storage/test_utils/storage_pb2_grpc.py
  storage/tests/unit/test__helpers.py
Labels: api: storage, cla: yes, testing

#9229 Talent: Add 'applications' / 'assignments' fields to 'Profile' message (via synth).
  talent/google/cloud/talent_v4beta1/proto/profile.proto
  talent/google/cloud/talent_v4beta1/proto/profile_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes, codegen

#9230 Vision: Add RPC annotations, update docstrings (via synth).
  vision/google/cloud/vision_v1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1/proto/image_annotator.proto
  vision/google/cloud/vision_v1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1/proto/product_search.proto
  vision/google/cloud/vision_v1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service.proto
  vision/google/cloud/vision_v1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service_pb2_grpc.py
  vision/google/cloud/vision_v1/proto/text_annotation.proto
  vision/google/cloud/vision_v1/proto/text_annotation_pb2.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#9179 AutoML: Remove GcsClient from automl_v1beta1?? (via synth)
  automl/google/cloud/automl_v1beta1/__init__.py
  automl/noxfile.py
  automl/synth.metadata
  automl/synth.py
Labels: api: automl, cla: yes, codegen

#9205 Storage: Avoid using 'REGIONAL'/'MULTI_REGIONAL' in examples, tests.
  storage/docs/constants.rst
  storage/docs/index.rst
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
  storage/google/cloud/storage/constants.py
  storage/tests/unit/test_blob.py
  storage/tests/unit/test_bucket.py
Labels: api: storage, cla: yes

#9227 Release bigquery 1.20.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: autorelease: pending, cla: yes

#9234 Revert "Monitoring: Allow recursive group deletion, deprecate internal checkers, add SSL validation and content match options to uptime check (via synth)."
  monitoring/google/cloud/monitoring_v3/gapic/enums.py
  monitoring/google/cloud/monitoring_v3/gapic/group_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/metric_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/metric_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/proto/alert.proto
  monitoring/google/cloud/monitoring_v3/proto/alert_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/alert_service.proto
  monitoring/google/cloud/monitoring_v3/proto/alert_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/common.proto
  monitoring/google/cloud/monitoring_v3/proto/common_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/dropped_labels.proto
  monitoring/google/cloud/monitoring_v3/proto/dropped_labels_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/group.proto
  monitoring/google/cloud/monitoring_v3/proto/group_service.proto
  monitoring/google/cloud/monitoring_v3/proto/group_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric.proto
  monitoring/google/cloud/monitoring_v3/proto/metric_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric_service.proto
  monitoring/google/cloud/monitoring_v3/proto/metric_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric_service_pb2_grpc.py
  monitoring/google/cloud/monitoring_v3/proto/mutation_record.proto
  monitoring/google/cloud/monitoring_v3/proto/notification.proto
  monitoring/google/cloud/monitoring_v3/proto/notification_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/notification_service.proto
  monitoring/google/cloud/monitoring_v3/proto/notification_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/span_context.proto
  monitoring/google/cloud/monitoring_v3/proto/uptime.proto
  monitoring/google/cloud/monitoring_v3/proto/uptime_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/uptime_service.proto
  monitoring/google/cloud/monitoring_v3/proto/uptime_service_pb2.py
  monitoring/synth.metadata
  monitoring/tests/unit/gapic/v3/test_uptime_check_service_client_v3.py
Labels: cla: yes

#9240 Storage: Revert "Fix tests b0rken by 'google-resumable-media 0.4.0' release."
  storage/setup.py
  storage/tests/unit/test_blob.py
Labels: api: storage, cla: yes

#9235 Firestore: Update README example to use non-deprecated 'query.get'.
  firestore/README.rst
Labels: api: firestore, cla: yes, type: docs

#9248 Storage: Retry bucket creation on 503 responses.
  storage/tests/system.py
Labels: api: storage, cla: yes, flaky, testing

#9246 Storage: Move benchwrapper directory into 'tests/perf/'.
  storage/test_utils/README.md
  storage/test_utils/storage_pb2.py
  storage/test_utils/storage_pb2_grpc.py
  storage/tests/perf/README.md
  storage/tests/perf/benchwrapper.py
  storage/tests/perf/storage.proto
  storage/tests/perf/storage_pb2.py
  storage/tests/perf/storage_pb2_grpc.py
Labels: api: storage, cla: yes, testing

#9253 Firestore: Add 'COLLECTION_GROUP' to 'Index.QueryScope' enum; update docstrings (via synth).
  firestore/google/cloud/firestore_admin_v1/gapic/enums.py
  firestore/google/cloud/firestore_admin_v1/proto/field.proto
  firestore/google/cloud/firestore_admin_v1/proto/firestore_admin.proto
  firestore/google/cloud/firestore_admin_v1/proto/firestore_admin_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/index.proto
  firestore/google/cloud/firestore_admin_v1/proto/index_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/location.proto
  firestore/google/cloud/firestore_admin_v1/proto/operation.proto
  firestore/google/cloud/firestore_v1/gapic/enums.py
  firestore/google/cloud/firestore_v1/proto/common.proto
  firestore/google/cloud/firestore_v1/proto/document.proto
  firestore/google/cloud/firestore_v1/proto/firestore.proto
  firestore/google/cloud/firestore_v1/proto/firestore_pb2.py
  firestore/google/cloud/firestore_v1/proto/firestore_pb2_grpc.py
  firestore/google/cloud/firestore_v1/proto/query.proto
  firestore/google/cloud/firestore_v1/proto/query_pb2.py
  firestore/google/cloud/firestore_v1/proto/write.proto
  firestore/google/cloud/firestore_v1beta1/gapic/enums.py
  firestore/google/cloud/firestore_v1beta1/proto/common.proto
  firestore/google/cloud/firestore_v1beta1/proto/document.proto
  firestore/google/cloud/firestore_v1beta1/proto/firestore.proto
  firestore/google/cloud/firestore_v1beta1/proto/firestore_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/firestore_pb2_grpc.py
  firestore/google/cloud/firestore_v1beta1/proto/query.proto
  firestore/google/cloud/firestore_v1beta1/proto/query_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/write.proto
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#9243 BigQuery: Restrict version range of google-resumable-media.
  bigquery/setup.py
Labels: api: bigquery, cla: yes

#9256 Talent: Deprecate `candidate_availability_filter` for `availability_filters`, add `AvailabilitySignalType`, add fields to `update_profile` (via synth).
  talent/google/cloud/talent_v4beta1/gapic/enums.py
  talent/google/cloud/talent_v4beta1/gapic/profile_service_client.py
  talent/google/cloud/talent_v4beta1/proto/common.proto
  talent/google/cloud/talent_v4beta1/proto/common_pb2.py
  talent/google/cloud/talent_v4beta1/proto/filters.proto
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile.proto
  talent/google/cloud/talent_v4beta1/proto/profile_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile_service.proto
  talent/google/cloud/talent_v4beta1/proto/profile_service_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#9249 DLP: Add vpcsc tests
  dlp/noxfile.py
  dlp/tests/system/gapic/v2/test_system_dlp_service_v2_vpcsc.py
Labels: api: dlp, cla: yes

#9170 BigQuery: Add ability to pass in a table ID instead of a query to the %%bigquery magic.
  bigquery/google/cloud/bigquery/magics.py
  bigquery/tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#9264 Spanner: Fix `run_in_transaction` return value docs
  spanner/google/cloud/spanner_v1/database.py
Labels: api: spanner, cla: yes, type: docs

#9193 Video Intelligence: Enrich VPCSC tests.
  videointelligence/tests/system.py
Labels: api: videointelligence, cla: yes, testing

#9274 test(dlp): ensure GOOGLE_CLOUD_TESTS_IN_VPCSC is down cast for env variables
  dlp/noxfile.py
Labels: cla: yes

#9260 docs(core): fix Google Auth Credentials help link
  core/google/cloud/client.py
Labels: api: core, cla: yes, type: docs

#9279 config(pubsub): adjust messaging RPC timeout settings (via synth)
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client_config.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client_config.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes

#9280 Spanner: Make 'session_count' optional for 'SpannerClient.batch_create_sessions' (via synth).
  spanner/google/cloud/spanner_v1/gapic/spanner_client.py
  spanner/synth.metadata
  spanner/tests/unit/gapic/v1/test_spanner_client_v1.py
Labels: api: spanner, cla: yes, codegen

#9265 Redis: Update client config (via sync).
  redis/google/cloud/redis_v1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1/gapic/cloud_redis_client_config.py
  redis/google/cloud/redis_v1/gapic/transports/cloud_redis_grpc_transport.py
  redis/google/cloud/redis_v1/proto/cloud_redis.proto
  redis/google/cloud/redis_v1/proto/cloud_redis_pb2.py
  redis/google/cloud/redis_v1beta1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1beta1/gapic/cloud_redis_client_config.py
  redis/google/cloud/redis_v1beta1/gapic/transports/cloud_redis_grpc_transport.py
  redis/google/cloud/redis_v1beta1/proto/cloud_redis.proto
  redis/google/cloud/redis_v1beta1/proto/cloud_redis_pb2.py
  redis/synth.metadata
  redis/tests/unit/gapic/v1/test_cloud_redis_client_v1.py
  redis/tests/unit/gapic/v1beta1/test_cloud_redis_client_v1beta1.py
Labels: api: redis, cla: yes

#9294 docs: fix intersphinx reference to requests
  api_core/docs/conf.py
  asset/docs/conf.py
  automl/docs/conf.py
  bigquery_datatransfer/docs/conf.py
  bigtable/docs/conf.py
  container/docs/conf.py
  containeranalysis/docs/conf.py
  core/docs/conf.py
  datacatalog/docs/conf.py
  datalabeling/docs/conf.py
  dataproc/docs/conf.py
  datastore/docs/conf.py
  dlp/docs/conf.py
  dns/docs/conf.py
  docs/conf.py
  error_reporting/docs/conf.py
  firestore/docs/conf.py
  grafeas/docs/conf.py
  iam/docs/conf.py
  iot/docs/conf.py
  irm/docs/conf.py
  kms/docs/conf.py
  language/docs/conf.py
  logging/docs/conf.py
  monitoring/docs/conf.py
  oslogin/docs/conf.py
  phishingprotection/docs/conf.py
  pubsub/docs/conf.py
  redis/docs/conf.py
  resource_manager/docs/conf.py
  runtimeconfig/docs/conf.py
  scheduler/docs/conf.py
  securitycenter/docs/conf.py
  spanner/docs/conf.py
  speech/docs/conf.py
  storage/docs/conf.py
  talent/docs/conf.py
  tasks/docs/conf.py
  texttospeech/docs/conf.py
  trace/docs/conf.py
  translate/docs/conf.py
  videointelligence/docs/conf.py
  vision/docs/conf.py
  webrisk/docs/conf.py
  websecurityscanner/docs/conf.py
Labels: cla: yes, type: docs

#9284 DLP: Exclude 'noxfile.py' from synth.
  dlp/synth.metadata
  dlp/synth.py
Labels: api: dlp, cla: yes, codegen

#9297 docs(firestore): remove duplicated word in README
  firestore/README.rst
Labels: api: firestore, cla: yes, type: docs

#9292 docs(speech): update docstrings (via synth)
  speech/docs/gapic/v1/api.rst
  speech/docs/gapic/v1/types.rst
  speech/docs/gapic/v1p1beta1/api.rst
  speech/docs/gapic/v1p1beta1/types.rst
  speech/google/cloud/speech_v1/gapic/enums.py
  speech/google/cloud/speech_v1/gapic/speech_client.py
  speech/google/cloud/speech_v1/gapic/speech_client_config.py
  speech/google/cloud/speech_v1/gapic/transports/speech_grpc_transport.py
  speech/google/cloud/speech_v1/proto/cloud_speech.proto
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2_grpc.py
  speech/google/cloud/speech_v1p1beta1/gapic/enums.py
  speech/google/cloud/speech_v1p1beta1/gapic/speech_client.py
  speech/google/cloud/speech_v1p1beta1/gapic/speech_client_config.py
  speech/google/cloud/speech_v1p1beta1/gapic/transports/speech_grpc_transport.py
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech.proto
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech_pb2.py
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech_pb2_grpc.py
  speech/google/cloud/speech_v1p1beta1/types.py
  speech/synth.metadata
Labels: api: speech, cla: yes

#9291 AutoML: Add 'image_classification_model_deployment_metadata' arg to 'AutoMlClient.deploy_model' (via synth).
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1beta1/proto/image.proto
  automl/google/cloud/automl_v1beta1/proto/image_pb2.py
  automl/google/cloud/automl_v1beta1/proto/service.proto
  automl/google/cloud/automl_v1beta1/proto/service_pb2.py
  automl/synth.metadata
Labels: api: automl, cla: yes, codegen

#9239 Storage: Fix typo in _helpers.py
  storage/google/cloud/storage/_helpers.py
Labels: api: storage, cla: yes

#9237 Storage: HMAC add user_project param
  storage/google/cloud/storage/client.py
  storage/google/cloud/storage/hmac_key.py
  storage/tests/unit/test_client.py
  storage/tests/unit/test_hmac_key.py
Labels: cla: yes

#9278 feat(bigquery): add support for custom QueryJobConfig in BigQuery.cursor.execute method
  bigquery/google/cloud/bigquery/dbapi/cursor.py
  bigquery/tests/unit/test_dbapi_cursor.py
Labels: api: bigquery, cla: yes

#9319 Storage: Release storage-1.20.0.
  storage/CHANGELOG.md
  storage/setup.py
Labels: api: storage, autorelease: pending, cla: yes, type: process

#9310 Language: Reorder samples (via synth).
  language/samples/v1/test/samples.manifest.yaml
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#9311 codegen(logging): add deprecated 'start_time' / 'end_time' fields to 'LogSink'
  logging/google/cloud/logging_v2/proto/cloud/logging_v2/proto/logging_config_pb2.py
  logging/google/cloud/logging_v2/proto/logging_config.proto
  logging/synth.metadata
Labels: api: logging, cla: yes, codegen

#9313 codegen(speech): reorder samples
  speech/samples/v1/test/samples.manifest.yaml
  speech/samples/v1p1beta1/test/samples.manifest.yaml
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#9231 docs(bigquery): document how to load data as JSON string
  bigquery/google/cloud/bigquery/client.py
Labels: api: bigquery, cla: yes, type: docs

#9277 style(bigquery): add code samples to lint check
  bigquery/noxfile.py
Labels: api: bigquery, cla: yes, type: cleanup

#9245 feat(bigquery): store QueryJob to destination variable on error
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/magics.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#9268 fix(pubsub): set default stream ACK deadline to subscriptions'
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/system.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes

#9225 feat(bigquery): add support for listing jobs by parent job
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#9328 chore(bigquery_datatransfer): add field annotations (via synth)
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/datatransfer.proto
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/datatransfer_pb2.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/transfer.proto
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/transfer_pb2.py
  bigquery_datatransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes, codegen

#9330 chore(spanner): adjust gRPC timeouts (via synth)
  spanner/google/cloud/spanner_v1/gapic/spanner_client_config.py
  spanner/synth.metadata
Labels: api: spanner, cla: yes, codegen

#9331 chore(pubsub): release PubSub 1.0.1
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: api: pubsub, cla: yes

#9333 chore(bigquery_storage): fix up protobuf messages w/o summary docstrings
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/big_query_storage_client.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/transports/big_query_storage_grpc_transport.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/storage.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/storage_pb2.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/table_reference.proto
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/proto/table_reference_pb2.py
  bigquery_storage/synth.metadata
  bigquery_storage/synth.py
Labels: api: bigquerystorage, cla: yes, codegen

#9332 docs(storage): clarify docstring for 'Blob.download_as_string'
  storage/docs/snippets.py
  storage/google/cloud/storage/blob.py
Labels: cla: yes, type: docs

#9257 feat(recommender): generate v1beta1
  .kokoro/continuous/recommender.cfg
  .kokoro/docs/recommender.cfg
  .kokoro/presubmit/recommender.cfg
  .kokoro/release/recommender.cfg
  recommender/.coveragerc
  recommender/.flake8
  recommender/.repo-metadata.json
  recommender/LICENSE
  recommender/MANIFEST.in
  recommender/README.rst
  recommender/docs/README.rst
  recommender/docs/conf.py
  recommender/docs/gapic/v1beta1/api.rst
  recommender/docs/gapic/v1beta1/types.rst
  recommender/docs/index.rst
  recommender/google/__init__.py
  recommender/google/cloud/__init__.py
  recommender/google/cloud/recommender.py
  recommender/google/cloud/recommender_v1beta1/__init__.py
  recommender/google/cloud/recommender_v1beta1/gapic/__init__.py
  recommender/google/cloud/recommender_v1beta1/gapic/enums.py
  recommender/google/cloud/recommender_v1beta1/gapic/recommender_client.py
  recommender/google/cloud/recommender_v1beta1/gapic/recommender_client_config.py
  recommender/google/cloud/recommender_v1beta1/gapic/transports/__init__.py
  recommender/google/cloud/recommender_v1beta1/gapic/transports/recommender_grpc_transport.py
  recommender/google/cloud/recommender_v1beta1/proto/__init__.py
  recommender/google/cloud/recommender_v1beta1/proto/recommendation.proto
  recommender/google/cloud/recommender_v1beta1/proto/recommendation_pb2.py
  recommender/google/cloud/recommender_v1beta1/proto/recommendation_pb2_grpc.py
  recommender/google/cloud/recommender_v1beta1/proto/recommender_service.proto
  recommender/google/cloud/recommender_v1beta1/proto/recommender_service_pb2.py
  recommender/google/cloud/recommender_v1beta1/proto/recommender_service_pb2_grpc.py
  recommender/google/cloud/recommender_v1beta1/types.py
  recommender/mypy.ini
  recommender/noxfile.py
  recommender/setup.cfg
  recommender/setup.py
  recommender/synth.metadata
  recommender/synth.py
  recommender/tests/unit/gapic/v1beta1/test_recommender_client_v1beta1.py
Labels: cla: yes

#9336 chore(recommender): release 0.1.0
  README.rst
  recommender/CHANGELOG.md
Labels: autorelease: pending, cla: yes

#9152 Error Reporting: Add client_options to constructor.
  error_reporting/google/cloud/error_reporting/_gapic.py
  error_reporting/google/cloud/error_reporting/_logging.py
  error_reporting/google/cloud/error_reporting/client.py
  error_reporting/tests/unit/test__gapic.py
  error_reporting/tests/unit/test__logging.py
  error_reporting/tests/unit/test_client.py
Labels: api: clouderrorreporting, cla: yes

#9269 chore(logging): release logging 1.13.0
  logging/CHANGELOG.md
  logging/setup.py
Labels: api: logging, autorelease: pending, cla: yes

#9360 fix(pubsub): streaming pull shouldn't require subscriptions.get permission
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/system.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes

#9354 feat(translate): make 'parent' argument required for all client methods; add 'labels' argument (via synth).
  translate/google/cloud/translate_v3beta1/gapic/translation_service_client.py
  translate/google/cloud/translate_v3beta1/gapic/translation_service_client_config.py
  translate/google/cloud/translate_v3beta1/proto/translation_service.proto
  translate/google/cloud/translate_v3beta1/proto/translation_service_pb2.py
  translate/synth.metadata
  translate/tests/unit/gapic/v3beta1/test_translation_service_client_v3beta1.py
Labels: cla: yes

#9361 chore(automl): release 0.6.0
  automl/CHANGELOG.md
  automl/setup.py
Labels: autorelease: pending, cla: yes

#9285 test(speech): add v1 systests for longrunning / streaming recognize
  speech/tests/system/gapic/v1/test_system_speech_v1.py
Labels: api: speech, cla: yes, testing

#9287 test(speech): add v1p1beta1 systests for longrunning / streaming recognize
  speech/tests/system/gapic/v1p1beta1/test_system_speech_v1p1beta1.py
Labels: api: speech, cla: yes, testing

#9362 chore(pubsub): release 1.0.2
  pubsub/CHANGELOG.md
  pubsub/setup.py
Labels: api: pubsub, autorelease: pending, cla: yes

#9352 fix(tasks): add proto annotations (via synth)
  tasks/google/cloud/tasks_v2/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks_pb2.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes
