Repository googleapis/google-cloud-python, pull requests merged in 2019-08, with the labels that each got.

#8859 Fix links to bigquery_* documentation.
  bigquery_datatransfer/.repo-metadata.json
  bigquery_datatransfer/README.rst
  bigquery_storage/.repo-metadata.json
  bigquery_storage/README.rst
Labels: api: bigquerydatatransfer, api: bigquerystorage, cla: yes, type: docs

#8808 BigQuery: Hide error traceback in BigQuery cell magic
  bigquery/google/cloud/bigquery/magics.py
  bigquery/tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#8860 Logging: Remove gRPC size restrictions (4MB default)
  logging/google/cloud/logging_v2/gapic/transports/config_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/logging_service_v2_grpc_transport.py
  logging/google/cloud/logging_v2/gapic/transports/metrics_service_v2_grpc_transport.py
  logging/synth.metadata
  logging/synth.py
Labels: api: logging, cla: yes

#8862 Release bigquery_datatransfer 0.4.1
  bigquery_datatransfer/CHANGELOG.md
  bigquery_datatransfer/setup.py
Labels: autorelease: pending, cla: yes

#8861 Release bigquery_storage 0.7.0
  bigquery_storage/CHANGELOG.md
  bigquery_storage/setup.py
Labels: autorelease: pending, cla: yes

#8809 Firestore: Fix sorting 'delete_changes' in 'Watch._compute_snapshot'.
  firestore/google/cloud/firestore_v1/watch.py
  firestore/tests/unit/v1/test_watch.py
Labels: api: firestore, cla: yes, type: bug

#8881 Release logging 1.12.1
  logging/CHANGELOG.md
  logging/setup.py
Labels: autorelease: pending, cla: yes

#8707 Contributing document is out of date
  CONTRIBUTING.rst
  datastore/tests/system/index.yaml
Labels: cla: yes, type: docs

#8838 BigQuery: Add debug logging statements to track when BQ Storage API is used.
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_table.py
Labels: cla: yes

#8882 Firestore: Allow snapshot cursors from other collections for collection group queries.
  firestore/google/cloud/firestore_v1/query.py
  firestore/tests/unit/v1/test_query.py
Labels: api: firestore, cla: yes

#8883 API Core: Fix race in 'BackgroundConsumer._thread_main'.
  api_core/google/api_core/bidi.py
Labels: api: core, api: firestore, api: pubsub, cla: yes

#8887 Storage: Mark old storage classes as legacy, not deprecated.
  storage/google/cloud/storage/bucket.py
Labels: api: storage, cla: yes

#8888 Asset: Generate asset v1p2beta1.
  asset/docs/gapic/v1p2beta1/api.rst
  asset/docs/gapic/v1p2beta1/types.rst
  asset/docs/index.rst
  asset/google/cloud/asset_v1p2beta1/__init__.py
  asset/google/cloud/asset_v1p2beta1/gapic/__init__.py
  asset/google/cloud/asset_v1p2beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1p2beta1/gapic/asset_service_client_config.py
  asset/google/cloud/asset_v1p2beta1/gapic/enums.py
  asset/google/cloud/asset_v1p2beta1/gapic/transports/__init__.py
  asset/google/cloud/asset_v1p2beta1/gapic/transports/asset_service_grpc_transport.py
  asset/google/cloud/asset_v1p2beta1/proto/__init__.py
  asset/google/cloud/asset_v1p2beta1/proto/asset_service.proto
  asset/google/cloud/asset_v1p2beta1/proto/asset_service_pb2.py
  asset/google/cloud/asset_v1p2beta1/proto/asset_service_pb2_grpc.py
  asset/google/cloud/asset_v1p2beta1/proto/assets.proto
  asset/google/cloud/asset_v1p2beta1/proto/assets_pb2.py
  asset/google/cloud/asset_v1p2beta1/proto/assets_pb2_grpc.py
  asset/google/cloud/asset_v1p2beta1/types.py
  asset/synth.metadata
  asset/synth.py
  asset/tests/unit/gapic/v1p2beta1/test_asset_service_client_v1p2beta1.py
Labels: api: cloudasset, cla: yes

#8884 Translate: Fix links to reference documentation.
  translate/.repo-metadata.json
  translate/README.rst
Labels: api: translation, cla: yes, type: docs

#8908 IAM: Remove send/recv msg size limit (via synth).
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client.py
  iam/google/cloud/iam_credentials_v1/gapic/transports/iam_credentials_grpc_transport.py
  iam/synth.metadata
Labels: api: iam, cla: yes

#8932 Revert "IAM: Remove send/recv msg size limit (via synth)."
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client.py
  iam/google/cloud/iam_credentials_v1/gapic/transports/iam_credentials_grpc_transport.py
  iam/synth.metadata
Labels: api: iam, cla: yes, codegen

#8880 BigQuery: Add to_standard_sql() method to SchemaField
  bigquery/google/cloud/bigquery/schema.py
  bigquery/tests/unit/test_schema.py
Labels: api: bigquery, cla: yes

#8934 BigQuery Datatransfer: Remove send/recv msg size limit (via synth).
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/transports/data_transfer_service_grpc_transport.py
  bigquery_datatransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes, codegen

#8936 IAM: Remove send/recv msg size limit (via synth).
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client.py
  iam/google/cloud/iam_credentials_v1/gapic/transports/iam_credentials_grpc_transport.py
  iam/synth.metadata
Labels: api: iam, cla: yes, codegen

#8939 Logging: Delete custom synth removing gRPC send/recv msg size limits.
  logging/google/cloud/logging_v2/gapic/config_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/logging_service_v2_client.py
  logging/google/cloud/logging_v2/gapic/metrics_service_v2_client.py
  logging/synth.metadata
  logging/synth.py
Labels: cla: yes, codegen

#8891 BigQuery: Remove redundant service account key code sample.
  bigquery/docs/snippets.py
Labels: api: bigquery, cla: yes, type: docs

#8941 BigQuery Storage: Remove send/recv msg size limit (via synth).
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/big_query_storage_client.py
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/gapic/transports/big_query_storage_grpc_transport.py
  bigquery_storage/synth.metadata
  bigquery_storage/synth.py
Labels: cla: yes

#8886 Firestore: Deprecate 'v1beta1' API / client.
  firestore/google/cloud/firestore_v1beta1/client.py
  firestore/tests/unit/v1beta1/test__helpers.py
  firestore/tests/unit/v1beta1/test_batch.py
  firestore/tests/unit/v1beta1/test_client.py
  firestore/tests/unit/v1beta1/test_collection.py
  firestore/tests/unit/v1beta1/test_cross_language.py
  firestore/tests/unit/v1beta1/test_document.py
  firestore/tests/unit/v1beta1/test_query.py
  firestore/tests/unit/v1beta1/test_transaction.py
Labels: api: firestore, cla: yes

#8943 Asset: Remove send/recv msg size limit (via synth).
  asset/google/cloud/asset_v1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1/gapic/transports/asset_service_grpc_transport.py
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1beta1/gapic/transports/asset_service_grpc_transport.py
  asset/google/cloud/asset_v1p2beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1p2beta1/gapic/transports/asset_service_grpc_transport.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes, codegen

#8944 AutoML: Remove send/recv msg size limit (via synth).
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1beta1/gapic/prediction_service_client.py
  automl/google/cloud/automl_v1beta1/gapic/transports/auto_ml_grpc_transport.py
  automl/google/cloud/automl_v1beta1/gapic/transports/prediction_service_grpc_transport.py
  automl/synth.metadata
Labels: api: automl, cla: yes, codegen

#8947 Container: Remove send/recv msg size limit (via synth).
  container/google/cloud/container_v1/gapic/cluster_manager_client.py
  container/google/cloud/container_v1/gapic/transports/cluster_manager_grpc_transport.py
  container/google/cloud/container_v1beta1/gapic/cluster_manager_client.py
  container/google/cloud/container_v1beta1/gapic/transports/cluster_manager_grpc_transport.py
  container/synth.metadata
Labels: api: container, cla: yes, codegen

#8948 Container Analysis: Remove send/recv msg size limit (via synth).
  containeranalysis/google/cloud/devtools/containeranalysis_v1/gapic/container_analysis_client.py
  containeranalysis/google/cloud/devtools/containeranalysis_v1/gapic/transports/container_analysis_grpc_transport.py
  containeranalysis/synth.metadata
Labels: api: containeranalysis, cla: yes, codegen

#8949 Datacatalog: Remove send/recv msg size limit (via synth).
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/transports/data_catalog_grpc_transport.py
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes, codegen

#8950 Datalabeling: Remove send/recv msg size limit (via synth).
  datalabeling/google/cloud/datalabeling_v1beta1/gapic/data_labeling_service_client.py
  datalabeling/google/cloud/datalabeling_v1beta1/gapic/transports/data_labeling_service_grpc_transport.py
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes, codegen

#8951 Dataproc: Remove send/recv msg size limit (via synth).
  dataproc/google/cloud/dataproc_v1/gapic/cluster_controller_client.py
  dataproc/google/cloud/dataproc_v1/gapic/job_controller_client.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/workflow_template_service_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/autoscaling_policy_service_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/cluster_controller_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/job_controller_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/autoscaling_policy_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/workflow_template_service_client.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#8952 Datastore: Remove send/recv msg size limit (via synth).
  datastore/google/cloud/datastore_v1/gapic/datastore_client.py
  datastore/google/cloud/datastore_v1/gapic/transports/datastore_grpc_transport.py
  datastore/synth.metadata
Labels: api: datastore, cla: yes, codegen

#8953 DLP: Remove send/recv msg size limit (via synth).
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py
  dlp/google/cloud/dlp_v2/gapic/transports/dlp_service_grpc_transport.py
  dlp/synth.metadata
Labels: api: dlp, cla: yes, codegen

#8954 Error Reporting: Remove send/recv msg size limit (via synth).
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_group_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/error_stats_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/report_errors_service_client.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/error_group_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/error_stats_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/report_errors_service_grpc_transport.py
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes, codegen

#8945 BigQuery: Additional clustering metrics for BQML K-means models (via synth).
  bigquery/google/cloud/bigquery_v2/gapic/enums.py
  bigquery/google/cloud/bigquery_v2/proto/model.proto
  bigquery/google/cloud/bigquery_v2/proto/model_pb2.py
  bigquery/synth.metadata
Labels: api: bigquery, cla: yes, codegen

#8955 Firestore: Remove send/recv msg size limit (via synth).
  firestore/google/cloud/firestore_admin_v1/gapic/firestore_admin_client.py
  firestore/google/cloud/firestore_admin_v1/gapic/transports/firestore_admin_grpc_transport.py
  firestore/google/cloud/firestore_v1/gapic/firestore_client.py
  firestore/google/cloud/firestore_v1/gapic/transports/firestore_grpc_transport.py
  firestore/google/cloud/firestore_v1beta1/gapic/firestore_client.py
  firestore/google/cloud/firestore_v1beta1/gapic/transports/firestore_grpc_transport.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#8957 IoT: Remove send/recv msg size limit (via synth).
  iot/google/cloud/iot_v1/gapic/device_manager_client.py
  iot/google/cloud/iot_v1/gapic/transports/device_manager_grpc_transport.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes, codegen

#8958 IRM: Remove send/recv msg size limit (via synth).
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client.py
  irm/google/cloud/irm_v1alpha2/gapic/transports/incident_service_grpc_transport.py
  irm/synth.metadata
Labels: api: irm, cla: yes, codegen

#8959 KMS: Remove send/recv msg size limit (via synth).
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/google/cloud/kms_v1/gapic/transports/key_management_service_grpc_transport.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#8960 Language: Remove send/recv msg size limit (via synth).
  language/google/cloud/language_v1/gapic/language_service_client.py
  language/google/cloud/language_v1/gapic/transports/language_service_grpc_transport.py
  language/google/cloud/language_v1beta2/gapic/language_service_client.py
  language/google/cloud/language_v1beta2/gapic/transports/language_service_grpc_transport.py
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#8967 Security Center: Remove send/recv msg size limit (via synth).
  securitycenter/google/cloud/securitycenter_v1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1/gapic/transports/security_center_grpc_transport.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/security_center_client.py
  securitycenter/google/cloud/securitycenter_v1beta1/gapic/transports/security_center_grpc_transport.py
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#8966 Scheduler: Remove send/recv msg size limit (via synth).
  scheduler/google/cloud/scheduler_v1/gapic/cloud_scheduler_client.py
  scheduler/google/cloud/scheduler_v1/gapic/transports/cloud_scheduler_grpc_transport.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/cloud_scheduler_client.py
  scheduler/google/cloud/scheduler_v1beta1/gapic/transports/cloud_scheduler_grpc_transport.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes, codegen

#8965 Redis: Remove send/recv msg size limit (via synth).
  redis/google/cloud/redis_v1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1/gapic/transports/cloud_redis_grpc_transport.py
  redis/google/cloud/redis_v1beta1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1beta1/gapic/transports/cloud_redis_grpc_transport.py
  redis/synth.metadata
Labels: api: redis, cla: yes, codegen

#8962 OSLogin: Remove send/recv msg size limit (via synth).
  oslogin/google/cloud/oslogin_v1/gapic/os_login_service_client.py
  oslogin/google/cloud/oslogin_v1/gapic/transports/os_login_service_grpc_transport.py
  oslogin/synth.metadata
Labels: api: oslogin, cla: yes, codegen

#8963 Phishing Protection: Remove send/recv msg size limit (via synth).
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/phishing_protection_service_client.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/transports/phishing_protection_service_grpc_transport.py
  phishingprotection/synth.metadata
Labels: api: phishingprotection, cla: yes, codegen

#8978 Web Security Scanner: Remove send/recv msg size limit (via synth).
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/transports/web_security_scanner_grpc_transport.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/gapic/transports/web_security_scanner_grpc_transport.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/gapic/web_security_scanner_client.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes, codegen

#8972 Text to Speech: Remove send/recv msg size limit (via synth).
  texttospeech/google/cloud/texttospeech_v1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes, codegen

#8973 Trace: Remove send/recv msg size limit (via synth).
  trace/google/cloud/trace_v1/gapic/trace_service_client.py
  trace/google/cloud/trace_v1/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v2/gapic/trace_service_client.py
  trace/google/cloud/trace_v2/gapic/transports/trace_service_grpc_transport.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes, codegen

#8938 BigQuery: Allow choice of compression when loading from dataframe
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test__pandas_helpers.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#8964 Pub/Sub: Remove send/recv msg size limit, update docstrings (via synth).
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/publisher_grpc_transport.py
  pubsub/google/cloud/pubsub_v1/gapic/transports/subscriber_grpc_transport.py
  pubsub/google/cloud/pubsub_v1/proto/pubsub.proto
  pubsub/google/cloud/pubsub_v1/proto/pubsub_pb2.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes, codegen

#8968 Spanner: Remove send/recv msg size limit (via synth).
  spanner/google/cloud/spanner_admin_database_v1/gapic/database_admin_client.py
  spanner/google/cloud/spanner_admin_database_v1/gapic/transports/database_admin_grpc_transport.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/instance_admin_client.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/transports/instance_admin_grpc_transport.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client.py
  spanner/google/cloud/spanner_v1/gapic/transports/spanner_grpc_transport.py
  spanner/synth.metadata
Labels: api: spanner, cla: yes, codegen

#8969 Speech: Remove send/recv msg size limit (via synth).
  speech/google/cloud/speech_v1/gapic/speech_client.py
  speech/google/cloud/speech_v1/gapic/transports/speech_grpc_transport.py
  speech/google/cloud/speech_v1p1beta1/gapic/speech_client.py
  speech/google/cloud/speech_v1p1beta1/gapic/transports/speech_grpc_transport.py
  speech/synth.metadata
  speech/synth.py
Labels: api: speech, cla: yes, codegen

#8970 Talent: Remove send/recv msg size limit (via synth).
  talent/google/cloud/talent_v4beta1/gapic/application_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/company_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/completion_client.py
  talent/google/cloud/talent_v4beta1/gapic/enums.py
  talent/google/cloud/talent_v4beta1/gapic/event_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/job_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/profile_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/tenant_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/transports/application_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/company_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/completion_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/event_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/job_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/profile_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/tenant_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/proto/common.proto
  talent/google/cloud/talent_v4beta1/proto/common_pb2.py
  talent/google/cloud/talent_v4beta1/proto/event.proto
  talent/google/cloud/talent_v4beta1/proto/filters.proto
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/google/cloud/talent_v4beta1/proto/histogram.proto
  talent/google/cloud/talent_v4beta1/proto/histogram_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job.proto
  talent/google/cloud/talent_v4beta1/proto/job_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job_service.proto
  talent/google/cloud/talent_v4beta1/proto/job_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile.proto
  talent/google/cloud/talent_v4beta1/proto/profile_pb2.py
  talent/google/cloud/talent_v4beta1/proto/tenant.proto
  talent/google/cloud/talent_v4beta1/proto/tenant_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes, codegen

#8974 Translate: Remove send/recv msg size limit (via synth).
  translate/google/cloud/translate_v3beta1/gapic/translation_service_client.py
  translate/google/cloud/translate_v3beta1/gapic/transports/translation_service_grpc_transport.py
  translate/synth.metadata
Labels: cla: yes, codegen

#8976 Vision: Remove send/recv msg size limit (via synth).
  vision/google/cloud/vision_v1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1p1beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p1beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p2beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p2beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1p4beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p4beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p4beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p4beta1/gapic/transports/product_search_grpc_transport.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#8977 Web Risk: Remove send/recv msg size limit (via synth).
  webrisk/google/cloud/webrisk_v1beta1/gapic/transports/web_risk_service_v1_beta1_grpc_transport.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/web_risk_service_v1_beta1_client.py
  webrisk/synth.metadata
Labels: api: webrisk, cla: yes, codegen

#8979 Bigtable: Remove send/recv msg size limit (via synth).
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_instance_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_instance_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_table_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_v2/gapic/bigtable_client.py
  bigtable/google/cloud/bigtable_v2/gapic/transports/bigtable_grpc_transport.py
  bigtable/synth.metadata
  bigtable/synth.py
Labels: api: bigtable, cla: yes, codegen

#8980 Monitoring: Add notification channel verification; remove send/recv msg size limt (via synth).
  monitoring/google/cloud/monitoring_v3/gapic/alert_policy_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/group_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/metric_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/notification_channel_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/notification_channel_service_client_config.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/alert_policy_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/group_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/metric_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/notification_channel_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/uptime_check_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/uptime_check_service_client.py
  monitoring/synth.metadata
  monitoring/synth.py
  monitoring/tests/unit/gapic/v3/test_notification_channel_service_client_v3.py
Labels: api: monitoring, cla: yes, codegen

#8971 Tasks: Remove send/recv msg size limit (via synth).
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#8975 Videointelligence: Add V1 video segment / feature fields; remove send/recv msg size limit (via synth).
  videointelligence/google/cloud/videointelligence_v1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/streaming_video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/transports/streaming_video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/video_intelligence_service_client.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#8981 Grafeas: Remove send/recv msg size limit (via synth).
  grafeas/grafeas/grafeas_v1/gapic/grafeas_client.py
  grafeas/grafeas/grafeas_v1/gapic/transports/grafeas_grpc_transport.py
  grafeas/synth.metadata
  grafeas/synth.py
Labels: cla: yes, codegen

#8982 Release firestore 1.4.0
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: api: firestore, autorelease: pending, cla: yes

#8985 Release storage 1.18.0
  storage/CHANGELOG.md
  storage/setup.py
Labels: api: storage, autorelease: pending, cla: yes

#8987 Videointelligence: Add segment / shot presence label annotations fields (via synth).
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#8986 Talent: Update docstrings (via synth).
  talent/google/cloud/talent_v4beta1/proto/filters.proto
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile.proto
  talent/google/cloud/talent_v4beta1/proto/profile_pb2.py
  talent/google/cloud/talent_v4beta1/proto/tenant.proto
  talent/google/cloud/talent_v4beta1/proto/tenant_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes, codegen

#8988 Vision: Add 'parent' argumen to annotation requests; add 'ProductSearchClient.purge_products' method; add 'object_annotations' field to product search results (via synth).
  vision/google/cloud/vision_v1/gapic/enums.py
  vision/google/cloud/vision_v1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1/gapic/product_search_client_config.py
  vision/google/cloud/vision_v1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1/proto/image_annotator.proto
  vision/google/cloud/vision_v1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1/proto/product_search.proto
  vision/google/cloud/vision_v1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service.proto
  vision/google/cloud/vision_v1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service_pb2_grpc.py
  vision/google/cloud/vision_v1/proto/text_annotation.proto
  vision/google/cloud/vision_v1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1/proto/web_detection.proto
  vision/google/cloud/vision_v1/proto/web_detection_pb2.py
  vision/synth.metadata
  vision/tests/unit/gapic/v1/test_product_search_client_v1.py
Labels: api: vision, cla: yes, codegen

#8568 Firestore: Expand dotted keys in mappings used as cursors.
  firestore/google/cloud/firestore_v1/query.py
  firestore/tests/system/test_system.py
  firestore/tests/unit/v1/test_query.py
Labels: api: firestore, cla: yes

#8889 Bigtable: 'test_bigtable_create_table' snippet flakes with '504 Deadline Exceeded'.
  bigtable/docs/snippets.py
Labels: api: bigtable, cla: yes

#8942 Storage: Fix documentation misleading response_type signed_url
  storage/google/cloud/storage/_signing.py
  storage/google/cloud/storage/blob.py
Labels: cla: yes

#8984 BigQuery Storage: Refactor system tests.
  bigquery_storage/tests/system/conftest.py
  bigquery_storage/tests/system/test_reader.py
  bigquery_storage/tests/system/test_reader_dataframe.py
Labels: api: bigquerystorage, cla: yes, testing, type: cleanup

#8879 Bigtable: Create table in list_table test, deadline exceed error fix
  bigtable/docs/snippets.py
Labels: cla: yes

#8997 Storage: Harden 'test_access_to_public_bucket' against 429 / 503 errors.
  storage/tests/system.py
Labels: api: storage, cla: yes, flaky, testing

#8995 Release bigquery 1.18.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: api: bigquery, autorelease: pending, cla: yes

#9000 Talent: Add fields to profile update mask (via synth).
  talent/google/cloud/talent_v4beta1/gapic/profile_service_client.py
  talent/google/cloud/talent_v4beta1/proto/profile_service.proto
  talent/google/cloud/talent_v4beta1/proto/profile_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/tenant.proto
  talent/google/cloud/talent_v4beta1/proto/tenant_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#8890 Release asset 0.4.0
  asset/CHANGELOG.md
  asset/setup.py
Labels: autorelease: pending, cla: yes

#8998 Docs: Fix links to googleapis.dev
  asset/.repo-metadata.json
  asset/README.rst
  kms/.repo-metadata.json
  kms/README.rst
  scheduler/.repo-metadata.json
  scheduler/README.rst
  tasks/.repo-metadata.json
  tasks/README.rst
  trace/.repo-metadata.json
  trace/README.rst
Labels: api: cloudasset, api: cloudkms, api: cloudtasks, api: cloudtrace, api: scheduler, cla: yes, type: docs

#9004 AutoML: add 'ClassificationEvaluationMetrics.display_name'/'BatchPredictResult.metadata'/'TableSpec.valid_row_count' (via synth).
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1beta1/gapic/enums.py
  automl/google/cloud/automl_v1beta1/gapic/prediction_service_client.py
  automl/google/cloud/automl_v1beta1/gapic/transports/prediction_service_grpc_transport.py
  automl/google/cloud/automl_v1beta1/proto/classification.proto
  automl/google/cloud/automl_v1beta1/proto/classification_pb2.py
  automl/google/cloud/automl_v1beta1/proto/column_spec.proto
  automl/google/cloud/automl_v1beta1/proto/column_spec_pb2.py
  automl/google/cloud/automl_v1beta1/proto/data_items.proto
  automl/google/cloud/automl_v1beta1/proto/data_items_pb2.py
  automl/google/cloud/automl_v1beta1/proto/data_types.proto
  automl/google/cloud/automl_v1beta1/proto/detection.proto
  automl/google/cloud/automl_v1beta1/proto/image.proto
  automl/google/cloud/automl_v1beta1/proto/image_pb2.py
  automl/google/cloud/automl_v1beta1/proto/io.proto
  automl/google/cloud/automl_v1beta1/proto/io_pb2.py
  automl/google/cloud/automl_v1beta1/proto/model.proto
  automl/google/cloud/automl_v1beta1/proto/model_evaluation.proto
  automl/google/cloud/automl_v1beta1/proto/model_evaluation_pb2.py
  automl/google/cloud/automl_v1beta1/proto/prediction_service.proto
  automl/google/cloud/automl_v1beta1/proto/prediction_service_pb2.py
  automl/google/cloud/automl_v1beta1/proto/prediction_service_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/service.proto
  automl/google/cloud/automl_v1beta1/proto/service_pb2.py
  automl/google/cloud/automl_v1beta1/proto/service_pb2_grpc.py
  automl/google/cloud/automl_v1beta1/proto/table_spec.proto
  automl/google/cloud/automl_v1beta1/proto/table_spec_pb2.py
  automl/google/cloud/automl_v1beta1/proto/tables.proto
  automl/google/cloud/automl_v1beta1/proto/tables_pb2.py
  automl/google/cloud/automl_v1beta1/proto/text.proto
  automl/synth.metadata
  automl/tests/unit/gapic/v1beta1/test_auto_ml_client_v1beta1.py
Labels: api: automl, cla: yes, codegen

#9022 BigQuery: Fix Pandas DataFrame load example under Python 2.7
  bigquery/docs/snippets.py
Labels: api: bigquery, cla: yes, type: docs

#9029 BigQuery: Fix deserializing None QueryParameters
  bigquery/google/cloud/bigquery/query.py
  bigquery/tests/unit/test_query.py
Labels: api: bigquery, cla: yes

#9028 KMS: Update gapic retry configuration (via synth).
  kms/google/cloud/kms_v1/gapic/key_management_service_client_config.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes

#8720 AutoML: Add a TablesClient for automl-tables specific behavior.
  automl/README.rst
  automl/docs/gapic/v1beta1/tables.rst
  automl/docs/index.rst
  automl/google/cloud/automl_v1beta1/__init__.py
  automl/google/cloud/automl_v1beta1/tables/__init__.py
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
  automl/synth.py
  automl/tests/system/gapic/v1beta1/test_system_tables_client_v1.py
  automl/tests/unit/gapic/v1beta1/test_tables_client_v1beta1.py
Labels: api: automl, cla: yes

#9001 BigQuery: Fix schema recognition of struct field types
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/google/cloud/bigquery/schema.py
  bigquery/tests/unit/test_schema.py
Labels: api: bigquery, cla: yes

#9018 Release videointelligence 1.11.0
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: autorelease: pending, cla: yes

#9017 Release vision 0.39.0
  vision/CHANGELOG.md
  vision/setup.py
Labels: autorelease: pending, cla: yes

#9016 Release monitoring 0.33.0
  monitoring/CHANGELOG.md
  monitoring/setup.py
Labels: autorelease: pending, cla: yes

#9015 Release containeranalysis 0.3.0
  containeranalysis/CHANGELOG.md
  containeranalysis/setup.py
Labels: autorelease: pending, cla: yes

#9014 Release scheduler 1.2.1
  scheduler/CHANGELOG.md
  scheduler/setup.py
Labels: autorelease: pending, cla: yes

#9013 Release trace 0.22.1
  trace/CHANGELOG.md
  trace/setup.py
Labels: autorelease: pending, cla: yes

#9012 Release tasks 1.2.1
  tasks/CHANGELOG.md
  tasks/setup.py
Labels: autorelease: pending, cla: yes

#9011 Release kms 1.2.1
  kms/CHANGELOG.md
  kms/setup.py
Labels: autorelease: pending, cla: yes

#9010 Release asset 0.4.1
  asset/CHANGELOG.md
  asset/setup.py
Labels: autorelease: pending, cla: yes

#9033 AutoML: Fix synth replace to add TablesClient.
  automl/synth.metadata
  automl/synth.py
Labels: api: automl, cla: yes

#9041 Vision: Update docstring to say at most 5 frames can be batch annotated (via synth).
  vision/google/cloud/vision_v1p4beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p4beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p4beta1/proto/image_annotator.proto
  vision/google/cloud/vision_v1p4beta1/proto/image_annotator_pb2_grpc.py
  vision/synth.metadata
Labels: api: vision, cla: yes

#9035 Remove compatability badges from READMEs.
  api_core/README.rst
  asset/README.rst
  automl/README.rst
  bigquery/README.rst
  bigquery_datatransfer/README.rst
  bigquery_storage/README.rst
  bigtable/README.rst
  container/README.rst
  core/README.rst
  datacatalog/README.rst
  datalabeling/README.rst
  dataproc/README.rst
  datastore/README.rst
  dlp/README.rst
  dns/README.rst
  error_reporting/README.rst
  firestore/README.rst
  iam/README.rst
  iot/README.rst
  irm/README.rst
  kms/README.rst
  language/README.rst
  logging/README.rst
  monitoring/README.rst
  oslogin/README.rst
  phishingprotection/README.rst
  pubsub/README.rst
  redis/README.rst
  resource_manager/README.rst
  runtimeconfig/README.rst
  scheduler/README.rst
  securitycenter/README.rst
  spanner/README.rst
  speech/README.rst
  storage/README.rst
  talent/README.rst
  tasks/README.rst
  texttospeech/README.rst
  trace/README.rst
  translate/README.rst
  videointelligence/README.rst
  vision/README.rst
  webrisk/README.rst
  websecurityscanner/README.rst
Labels: api: automl, api: bigquery, api: bigquerydatatransfer, api: bigquerystorage, api: bigtable, api: bigtableadmin, api: cloudasset, api: cloudbuilder, api: clouddebugger, api: clouderrorreporting, api: cloudiot, api: cloudkms, api: cloudresourcemanager, api: cloudtasks, api: cloudtrace, api: compute, api: container, api: containeranalysis, api: core, api: datacatalog, api: datalabeling, api: dataproc, api: datastore, api: dialogflow, api: dlp, api: dns, api: firestore, api: iam, api: irm, api: language, api: logging, api: monitoring, api: oslogin, api: phishingprotection, api: pubsub, api: redis, api: runtimeconfig, api: scheduler, api: spanner, api: speech, api: storage, api: talent, api: texttospeech, api: translation, api: videointelligence, api: vision, api: webrisk, api: websecurityscanner, api:securitycenter, cla: yes, type: docs

#9047 Fix reference to library name
  firestore/docs/index.rst
Labels: api: firestore, cla: yes

#9045 Runtime Config: Add client_options
  runtimeconfig/docs/conf.py
  runtimeconfig/google/cloud/runtimeconfig/_http.py
  runtimeconfig/google/cloud/runtimeconfig/client.py
  runtimeconfig/tests/unit/test__http.py
  runtimeconfig/tests/unit/test_client.py
Labels: api: runtimeconfig, cla: yes

#9037 Pub/Sub: update docstrings for client kwargs and fix return types uris
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client.py
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/google/cloud/pubsub_v1/publisher/client.py
  pubsub/google/cloud/pubsub_v1/subscriber/client.py
  pubsub/synth.metadata
  pubsub/synth.py
Labels: api: pubsub, cla: yes, type: docs

#9050 Talent: Deprecate job visibility (via synth).
  talent/google/cloud/talent_v4beta1/gapic/enums.py
  talent/google/cloud/talent_v4beta1/gapic/profile_service_client.py
  talent/google/cloud/talent_v4beta1/proto/common.proto
  talent/google/cloud/talent_v4beta1/proto/common_pb2.py
  talent/google/cloud/talent_v4beta1/proto/filters.proto
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job.proto
  talent/google/cloud/talent_v4beta1/proto/job_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job_service.proto
  talent/google/cloud/talent_v4beta1/proto/job_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile_service.proto
  talent/google/cloud/talent_v4beta1/proto/profile_service_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#9052 API Core: about of time -> amount of time
  api_core/google/api_core/retry.py
Labels: api: core, cla: yes, type: docs

#9040 BigQuery: Add enum with SQL type names allowed to be used in SchemaField
  bigquery/google/cloud/bigquery/enums.py
Labels: api: bigquery, cla: yes

#9056 BigQuery: Replace avro with arrow schemas in test_table.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#9062 Talent: Import batch proto (via synth).
  talent/google/cloud/talent_v4beta1/proto/job_service.proto
  talent/google/cloud/talent_v4beta1/proto/job_service_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#8992 BigQuery Storage: Add more in-depth system tests
  bigquery_storage/noxfile.py
  bigquery_storage/tests/system/assets/people_data.csv
  bigquery_storage/tests/system/conftest.py
  bigquery_storage/tests/system/test_reader.py
Labels: api: bigquerystorage, cla: yes

#9053 BigQuery: Raise helpful error when loading table from dataframe with STRUCT columns
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#9069 Tasks: Update documentation (via synth).
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2/proto/queue.proto
  tasks/google/cloud/tasks_v2/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2/proto/target.proto
  tasks/google/cloud/tasks_v2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2/proto/task.proto
  tasks/google/cloud/tasks_v2/proto/task_pb2.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/gapic/enums.py
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks_pb2_grpc.py
  tasks/google/cloud/tasks_v2beta2/proto/queue.proto
  tasks/google/cloud/tasks_v2beta2/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/target.proto
  tasks/google/cloud/tasks_v2beta2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/task.proto
  tasks/google/cloud/tasks_v2beta2/proto/task_pb2.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks.proto
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/queue.proto
  tasks/google/cloud/tasks_v2beta3/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/target.proto
  tasks/google/cloud/tasks_v2beta3/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/task.proto
  tasks/google/cloud/tasks_v2beta3/proto/task_pb2.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#9049 BigQuery: Determine the schema in `load_table_from_dataframe` based on dtypes.
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#8877 BigQuery: Add support to Dataset for project_ids with org prefix.
  bigquery/google/cloud/bigquery/dataset.py
  bigquery/tests/unit/test_dataset.py
Labels: api: bigquery, cla: yes

#9077 BigQuery: Add support for unsetting LoadJobConfig schema
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#8892 API Core: Retry.__init__ add on_error
  api_core/google/api_core/retry.py
  api_core/tests/unit/test_retry.py
Labels: api: core, cla: yes

#9078 [CHANGE ME] Re-generated pubsub to pick up changes in the API or client library generator.
  pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py
  pubsub/google/cloud/pubsub_v1/proto/pubsub.proto
  pubsub/google/cloud/pubsub_v1/proto/pubsub_pb2.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes

#9064 BigQuery: Allow subset of schema to be passed into `load_table_from_dataframe`.
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#9076 BigQuery: Add load_table_from_json() method to BQ client
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#8302 Monitoring: Fix environment variables for VPC tests.
  monitoring/noxfile.py
  monitoring/tests/system/test_vpcsc.py
Labels: api: monitoring, cla: yes, testing

#9072 BigQuery Storage: Add BigQuery to extra test dependencies.
  bigquery_storage/synth.metadata
  bigquery_storage/synth.py
Labels: api: bigquerystorage, cla: yes

#9073 Docs: Fix documentation links for iam and error-reporting.
  error_reporting/.repo-metadata.json
  error_reporting/README.rst
  iam/.repo-metadata.json
  iam/README.rst
Labels: api: clouderrorreporting, api: iam, cla: yes, type: docs

#9095 Update contributing doc
  CONTRIBUTING.rst
Labels: cla: yes, type: docs

#9067 BigQuery: Add dry_run option to BigQuery magic
  bigquery/google/cloud/bigquery/job.py
  bigquery/google/cloud/bigquery/magics.py
  bigquery/tests/unit/test_job.py
  bigquery/tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#9096 Raise with extra or missing columns in `load_table_from_dataframe` schema.
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/tests/unit/test__pandas_helpers.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#9090 BigQuery Storage: Replace obsolete test helper method
  bigquery_storage/tests/system/conftest.py
  bigquery_storage/tests/system/test_reader.py
Labels: api: bigquerystorage, cla: yes

#9141 Release automl 0.5.0
  automl/CHANGELOG.md
  automl/setup.py
Labels: api: automl, autorelease: pending, cla: yes

#9140 Release bigtable 1.0.0
  README.rst
  bigtable/CHANGELOG.md
  bigtable/README.rst
  bigtable/setup.py
Labels: autorelease: pending, cla: yes

#9145 Release PubSub 1.0.0
  README.rst
  pubsub/.repo-metadata.json
  pubsub/CHANGELOG.md
  pubsub/README.rst
  pubsub/setup.py
Labels: api: pubsub, autorelease: pending, cla: yes

#9143 Storage: Add `Blob.from_string` and `Bucket.from_string`.
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
  storage/google/cloud/storage/client.py
  storage/tests/unit/test_blob.py
  storage/tests/unit/test_bucket.py
  storage/tests/unit/test_client.py
Labels: api: storage, cla: yes

#7628 SecurityCenter: update Code Snippets.
  securitycenter/docs/snippets_findings.py
  securitycenter/docs/snippets_list_assets.py
  securitycenter/docs/snippets_orgs.py
  securitycenter/docs/snippets_security_marks.py
  securitycenter/noxfile.py
Labels: api:securitycenter, cla: yes, type: docs
