Repository googleapis/google-cloud-python, pull requests merged in 2019-06, with the labels that each got.

#8179 BigQuery: Fix Add maximum_bytes_billed option to magics
  bigquery/google/cloud/bigquery/magics.py
  bigquery/tests/unit/test_magics.py
Labels: api: bigquery, cla: yes

#8178 Datastore: expose 'reserveIds' API.
  datastore/google/cloud/datastore/client.py
  datastore/tests/unit/test_client.py
Labels: :rotating_light:, api: datastore, cla: yes

#8037 Vision: add system tests for product resource management.
  vision/tests/system.py
Labels: :rotating_light:, api: vision, cla: yes, testing

#8213 Omnibus: don't pin 'google-api-core' in libs using 'google-cloud-core'.
  bigquery/setup.py
  dns/setup.py
  resource_manager/setup.py
  runtimeconfig/setup.py
  storage/setup.py
Labels: api: bigquery, api: cloudresourcemanager, api: dns, api: runtimeconfig, api: storage, cla: yes, packaging

#8214 Release storage 1.16.1
  storage/CHANGELOG.md
  storage/setup.py
Labels: api: storage, autorelease: pending, cla: yes, packaging

#8216 Release dns 0.30.1
  dns/CHANGELOG.md
  dns/setup.py
Labels: api: dns, autorelease: pending, cla: yes, packaging

#8217 Release resource_manager 0.29.1
  resource_manager/CHANGELOG.md
  resource_manager/setup.py
Labels: api: cloudresourcemanager, autorelease: pending, cla: yes, packaging

#8218 Release runtimeconfig 0.29.1
  runtimeconfig/CHANGELOG.md
  runtimeconfig/setup.py
Labels: api: runtimeconfig, autorelease: pending, cla: yes, packaging

#8219 Pub/Sub: Increase initial_rpc_timeout for messaging (via synth).
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client_config.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes, kokoro:force-run

#8205 Pubsub: Separate subscriber and publish future documentation.
  pubsub/google/cloud/pubsub_v1/futures.py
  pubsub/google/cloud/pubsub_v1/publisher/futures.py
  pubsub/google/cloud/pubsub_v1/subscriber/futures.py
  pubsub/tests/unit/pubsub_v1/publisher/test_futures_publisher.py
Labels: api: pubsub, cla: yes, type: docs

#8197 Vision: Add a system test for asyncBatchAnnotateImages
  vision/tests/system.py
Labels: api: vision, cla: yes, testing

#8215 Release bigquery 1.14.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: api: bigquery, autorelease: pending, cla: yes, packaging

#8206 Bigquery: Add `page_size` parameter to `QueryJob.result`.
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes

#8225 Update commands from python 3.6 to python 3.7
  CONTRIBUTING.rst
Labels: cla: yes

#8207 Prevent requests from hanging on SSL handshake issue by adding a max t.o.
  core/google/cloud/client.py
  core/tests/unit/test_client.py
Labels: cla: yes

#8220 Redis: add 'import_instance' / 'export_instance' support (via synth).
  redis/google/cloud/redis_v1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1/gapic/cloud_redis_client_config.py
  redis/google/cloud/redis_v1/gapic/enums.py
  redis/google/cloud/redis_v1/gapic/transports/cloud_redis_grpc_transport.py
  redis/google/cloud/redis_v1/proto/cloud_redis.proto
  redis/google/cloud/redis_v1/proto/cloud_redis_pb2.py
  redis/google/cloud/redis_v1/proto/cloud_redis_pb2_grpc.py
  redis/google/cloud/redis_v1beta1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1beta1/gapic/cloud_redis_client_config.py
  redis/google/cloud/redis_v1beta1/gapic/enums.py
  redis/google/cloud/redis_v1beta1/gapic/transports/cloud_redis_grpc_transport.py
  redis/google/cloud/redis_v1beta1/proto/cloud_redis.proto
  redis/google/cloud/redis_v1beta1/proto/cloud_redis_pb2.py
  redis/google/cloud/redis_v1beta1/proto/cloud_redis_pb2_grpc.py
  redis/synth.metadata
  redis/tests/unit/gapic/v1/test_cloud_redis_client_v1.py
  redis/tests/unit/gapic/v1beta1/test_cloud_redis_client_v1beta1.py
Labels: api: redis, cla: yes, codegen

#8199 Release vision 0.37.0
  vision/CHANGELOG.md
  vision/setup.py
Labels: api: vision, autorelease: pending, cla: yes

#8221 Videointelligence: Add v1 object tracking support, v1p3b1 speech transcription / logo recognition support (via synth).
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/enums.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence.proto
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence_pb2.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#8223 Speech: Tweak 'SpeechContext' docstring (via synth).
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech.proto
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech_pb2.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#8226 Release videointelligence 1.9.0
  videointelligence/CHANGELOG.md
  videointelligence/setup.py
Labels: autorelease: pending, cla: yes

#8231 Pub/Sub: Expose publish retry settings
  pubsub/google/cloud/pubsub_v1/gapic/publisher_client.py
  pubsub/noxfile.py
  pubsub/synth.metadata
  pubsub/synth.py
Labels: api: pubsub, cla: yes

#8235 Data Catalog: Suppress checking 'cov-fail-under' in nox default session (via synth).
  datacatalog/noxfile.py
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes, codegen

#8236 Data Labeling: Suppress checking 'cov-fail-under' in nox default session (via synth).
  datalabeling/noxfile.py
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes, codegen

#8237 Dataproc: Suppress checking 'cov-fail-under' in nox default session (via synth).
  dataproc/noxfile.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#8238 Datastore: Suppress checking 'cov-fail-under' in nox default session (via synth).
  datastore/noxfile.py
  datastore/synth.metadata
Labels: api: datastore, cla: yes, codegen

#8241 Firestore: Suppress checking 'cov-fail-under' in nox default session (via synth).
  firestore/noxfile.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#8243 IoT: Suppress checking 'cov-fail-under' in nox default session (via synth).
  iot/noxfile.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes

#8244 IRM: Suppress checking 'cov-fail-under' in nox default session (via synth).
  irm/noxfile.py
  irm/synth.metadata
Labels: api: irm, cla: yes

#8245 KMS: Suppress checking 'cov-fail-under' in nox default session (via synth).
  kms/noxfile.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes

#8233 AutoML: Suppress checking 'cov-fail-under' in nox default session (via synth).
  automl/noxfile.py
  automl/synth.metadata
Labels: api: automl, cla: yes

#8232 Asset: Suppress checking 'cov-fail-under' in nox default session (via synth).
  asset/noxfile.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes

#8242 IAM: Suppress checking 'cov-fail-under' in nox default session (via synth).
  iam/noxfile.py
  iam/synth.metadata
Labels: api: iam, cla: yes, codegen

#8240 Error Reporting: Suppress checking 'cov-fail-under' in nox default session (via synth).
  error_reporting/noxfile.py
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes, codegen

#8258 Web Security Scanner: Suppress checking 'cov-fail-under' in nox default session (via synth).
  websecurityscanner/noxfile.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes

#8257 Vision: Suppress checking 'cov-fail-under' in nox default session (via synth).
  vision/noxfile.py
  vision/synth.metadata
Labels: api: vision, cla: yes

#8250 Scheduler: Suppress checking 'cov-fail-under' in nox default session (via synth).
  scheduler/noxfile.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes

#8246 Language: Suppress checking 'cov-fail-under' in nox default session (via synth).
  language/noxfile.py
  language/synth.metadata
Labels: api: language, cla: yes, codegen

#8229 Pub/Sub: surface publish future in documentation
  pubsub/docs/publisher/api/futures.rst
  pubsub/docs/publisher/index.rst
  pubsub/google/cloud/pubsub_v1/publisher/futures.py
Labels: api: pubsub, cla: yes, type: docs

#7703 Add sample to schedule query with BQ DTS.
  bigquery_datatransfer/noxfile.py
  bigquery_datatransfer/samples/__init__.py
  bigquery_datatransfer/samples/create_scheduled_query.py
  bigquery_datatransfer/samples/requirements.txt
  bigquery_datatransfer/samples/tests/__init__.py
  bigquery_datatransfer/samples/tests/test_create_scheduled_query.py
  bigquery_datatransfer/synth.py
Labels: :rotating_light:, api: bigquerydatatransfer, cla: yes, type: docs

#8228 Logging: Clarify worker thread implementation.
  logging/google/cloud/logging/handlers/transports/background_thread.py
Labels: api: logging, cla: yes, type: cleanup

#8227 Logging: Set the 'timestamp' on log records created by handler.
  logging/google/cloud/logging/handlers/transports/background_thread.py
Labels: api: logging, cla: yes

#8259 Vision: Add ImportProductSets system test
  vision/tests/system.py
Labels: api: vision, cla: yes, testing

#8256 Video Intelligence: Suppress checking 'cov-fail-under' in nox default session (via synth).
  videointelligence/noxfile.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#8255 Translate: Suppress checking 'cov-fail-under' in nox default session (via synth).
  translate/noxfile.py
  translate/synth.metadata
Labels: api: translation, cla: yes, codegen

#8254 Tasks: Suppress checking 'cov-fail-under' in nox default session (via synth).
  tasks/noxfile.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#8253 Talent: Suppress checking 'cov-fail-under' in nox default session (via synth).
  talent/noxfile.py
  talent/synth.metadata
Labels: api: talent, cla: yes, codegen

#8252 Speech: Suppress checking 'cov-fail-under' in nox default session (via synth).
  speech/noxfile.py
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#8249 Redis: Suppress checking 'cov-fail-under' in nox default session (via synth).
  redis/noxfile.py
  redis/synth.metadata
Labels: api: redis, cla: yes, codegen

#8251 Spanner: Suppress checking 'cov-fail-under' in nox default session (via synth).
  spanner/noxfile.py
  spanner/synth.metadata
Labels: api: spanner, cla: yes, codegen

#8247 Os Login: Suppress checking 'cov-fail-under' in nox default session (via synth).
  oslogin/noxfile.py
  oslogin/synth.metadata
Labels: api: oslogin, cla: yes, codegen

#8262 Refactor reader.ReadRowsPage to use _StreamParser.
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/reader.py
Labels: cla: yes

#8260 Vision: Add AsyncBatchAnnotateFiles system test
  vision/tests/data/car.jpg
  vision/tests/data/full-text.jpg
  vision/tests/data/landmark.jpg
  vision/tests/data/pdf_test.pdf
  vision/tests/data/text.jpg
  vision/tests/system.py
Labels: cla: yes

#8230 BigQuery: Fix bug where `load_table_from_dataframe` could not append to REQUIRED fields.
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/tests/system.py
  bigquery/tests/unit/test__pandas_helpers.py
Labels: cla: yes

#8261 Update codeowners.
  .github/CODEOWNERS
Labels: cla: yes, type: process

#8267 Update service descriptions and add additional rpc bindings for Translate
  translate/google/cloud/translate_v3beta1/gapic/translation_service_client.py
  translate/google/cloud/translate_v3beta1/proto/translation_service.proto
  translate/google/cloud/translate_v3beta1/proto/translation_service_pb2.py
  translate/noxfile.py
  translate/synth.metadata
  translate/synth.py
Labels: api: translation, cla: yes, codegen

#8269 Vision: Add negative Vision API Product Search tests for VPC SC
  vision/tests/system.py
Labels: cla: yes

#8266 Datacatalog added search capability, tags that match a query, and IAM policies
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client_config.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/enums.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/transports/data_catalog_grpc_transport.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/schema.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/schema_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/search.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/search_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/search_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/table_spec.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/table_spec_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/tags.proto
  datacatalog/google/cloud/datacatalog_v1beta1/proto/tags_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/tags_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/types.py
  datacatalog/setup.py
  datacatalog/synth.metadata
  datacatalog/synth.py
  datacatalog/tests/unit/gapic/v1beta1/test_data_catalog_client_v1beta1.py
Labels: api: datacatalog, cla: yes, codegen

#8282 Ttranslate: Blacken (via synth).
  translate/noxfile.py
  translate/synth.metadata
Labels: cla: yes, codegen

#8281 Texttospeech: Blacken (via synth).
  texttospeech/google/cloud/texttospeech.py
  texttospeech/google/cloud/texttospeech_v1/__init__.py
  texttospeech/google/cloud/texttospeech_v1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1/types.py
  texttospeech/google/cloud/texttospeech_v1beta1/__init__.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1beta1/types.py
  texttospeech/noxfile.py
  texttospeech/setup.py
  texttospeech/synth.metadata
  texttospeech/tests/unit/gapic/v1/test_text_to_speech_client_v1.py
  texttospeech/tests/unit/gapic/v1beta1/test_text_to_speech_client_v1beta1.py
Labels: api: texttospeech, cla: yes, codegen

#8271 Error reporting: fixed mistake in documentation
  error_reporting/docs/usage.rst
Labels: cla: yes, type: docs

#8276 Vision: Add negative Vision API system tests for accessing GCS
  vision/tests/system.py
Labels: api: vision, cla: yes, testing

#8285 Container: Blacken (via synth).
  container/google/cloud/container_v1/__init__.py
  container/google/cloud/container_v1/gapic/cluster_manager_client.py
  container/google/cloud/container_v1/gapic/enums.py
  container/google/cloud/container_v1/gapic/transports/cluster_manager_grpc_transport.py
  container/google/cloud/container_v1/types.py
  container/noxfile.py
  container/synth.metadata
  container/synth.py
  container/tests/unit/gapic/v1/test_cluster_manager_client_v1.py
Labels: api: container, cla: yes, codegen

#8291 Replace readthedocs links to github docs
  pubsub/README.rst
Labels: api: pubsub, cla: yes, type: docs

#8289 Release core 1.0.2
  core/CHANGELOG.md
  core/setup.py
Labels: autorelease: pending, cla: yes, releasetool: pending

#8234 PubSub: Release the state lock before calling the publish api
  pubsub/google/cloud/pubsub_v1/publisher/_batch/thread.py
  pubsub/tests/unit/pubsub_v1/publisher/batch/test_thread.py
Labels: api: pubsub, cla: yes

#8298 Container: Update noxfile and setup.py (via synth).
  container/noxfile.py
  container/setup.py
  container/synth.metadata
Labels: api: container, cla: yes

#8297 Release datacatalog 0.2.0
  datacatalog/CHANGELOG.md
  datacatalog/setup.py
Labels: autorelease: pending, cla: yes

#8337 Web Security Scanner: Add disclaimer to auto-generated template files.
  websecurityscanner/.coveragerc
  websecurityscanner/.flake8
  websecurityscanner/noxfile.py
  websecurityscanner/setup.cfg
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes

#8336 Web Risk: Add disclaimer to auto-generated template files.
  webrisk/.coveragerc
  webrisk/.flake8
  webrisk/setup.cfg
  webrisk/synth.metadata
Labels: api: webrisk, cla: yes

#8335 Vision: Add disclaimer to auto-generated template files (via synth).
  vision/.coveragerc
  vision/.flake8
  vision/noxfile.py
  vision/setup.cfg
  vision/synth.metadata
Labels: api: vision, cla: yes

#8333 Translate: Add disclaimer to auto-generated template files (via synth).
  translate/.coveragerc
  translate/.flake8
  translate/noxfile.py
  translate/setup.cfg
  translate/synth.metadata
Labels: cla: yes

#8332 Trace: Add disclaimer to auto-generated template files (via synth).
  trace/.coveragerc
  trace/.flake8
  trace/setup.cfg
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#8309 Container: Add disclaimer to auto-generated template files (via synth).
  container/.coveragerc
  container/.flake8
  container/noxfile.py
  container/setup.cfg
  container/synth.metadata
Labels: api: container, cla: yes

#8310 Data Labeling: Add disclaimer to auto-generated template files (via synth).
  datalabeling/.coveragerc
  datalabeling/.flake8
  datalabeling/noxfile.py
  datalabeling/setup.cfg
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes

#8311 Dataproc: Add disclaimer to auto-generated template files (via synth).
  dataproc/.coveragerc
  dataproc/.flake8
  dataproc/noxfile.py
  dataproc/setup.cfg
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#8312 Datastore: Add disclaimer to auto-generated template files (via synth).
  datastore/.coveragerc
  datastore/.flake8
  datastore/noxfile.py
  datastore/setup.cfg
  datastore/synth.metadata
Labels: api: datastore, cla: yes

#8313 Error Reporting: Add disclaimer to auto-generated template files (via synth).
  error_reporting/.coveragerc
  error_reporting/.flake8
  error_reporting/noxfile.py
  error_reporting/setup.cfg
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes

#8306 Asset: Add disclaimer to auto-generated template files (via synth).
  asset/.coveragerc
  asset/.flake8
  asset/noxfile.py
  asset/setup.cfg
  asset/synth.metadata
Labels: api: cloudasset, cla: yes

#8308 Bigtable: Add disclaimer to auto-generated template files (via synth).
  bigtable/.coveragerc
  bigtable/.flake8
  bigtable/setup.cfg
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#8314 Firestore: Add disclaimer to auto-generated template files (via synth).
  firestore/.coveragerc
  firestore/.flake8
  firestore/noxfile.py
  firestore/setup.cfg
  firestore/synth.metadata
Labels: api: firestore, cla: yes

#8315 IAM: Add disclaimer to auto-generated template files (via synth).
  iam/.coveragerc
  iam/.flake8
  iam/noxfile.py
  iam/setup.cfg
  iam/synth.metadata
Labels: api: iam, cla: yes

#8316 IoT: Add disclaimer to auto-generated template files (via synth).
  iot/.coveragerc
  iot/.flake8
  iot/noxfile.py
  iot/setup.cfg
  iot/synth.metadata
Labels: api: cloudiot, cla: yes

#8317 IRM: Add disclaimer to auto-generated template files (via synth).
  irm/.coveragerc
  irm/.flake8
  irm/noxfile.py
  irm/setup.cfg
  irm/synth.metadata
Labels: api: irm, cla: yes

#8318 KMS: Add disclaimer to auto-generated template files (via synth).
  kms/.coveragerc
  kms/.flake8
  kms/noxfile.py
  kms/setup.cfg
  kms/synth.metadata
Labels: api: cloudkms, cla: yes

#8319 Language: Add disclaimer to auto-generated template files (via synth).
  language/.coveragerc
  language/.flake8
  language/noxfile.py
  language/setup.cfg
  language/synth.metadata
Labels: api: language, cla: yes

#8321 Monitoring: Add disclaimer to auto-generated template files (via synth).
  monitoring/.coveragerc
  monitoring/.flake8
  monitoring/setup.cfg
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#8324 Redis: Add disclaimer to auto-generated template files (via synth).
  redis/.coveragerc
  redis/.flake8
  redis/noxfile.py
  redis/setup.cfg
  redis/synth.metadata
Labels: api: redis, cla: yes

#8322 OS Login: Add disclaimer to auto-generated template files (via synth).
  oslogin/.coveragerc
  oslogin/.flake8
  oslogin/noxfile.py
  oslogin/setup.cfg
  oslogin/synth.metadata
Labels: api: oslogin, cla: yes

#8339 Release bigquery 1.15.0
  bigquery/CHANGELOG.md
  bigquery/setup.py
Labels: autorelease: pending, cla: yes

#8330 Tasks: Add disclaimer to auto-generated template files (via synth).
  tasks/.coveragerc
  tasks/.flake8
  tasks/noxfile.py
  tasks/setup.cfg
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#8331 Text To Speech: Add disclaimer to auto-generated template files (via synth).
  texttospeech/.coveragerc
  texttospeech/.flake8
  texttospeech/noxfile.py
  texttospeech/setup.cfg
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes, codegen

#8329 Talent: Add disclaimer to auto-generated template files (via synth).
  talent/.coveragerc
  talent/.flake8
  talent/noxfile.py
  talent/setup.cfg
  talent/synth.metadata
Labels: api: talent, cla: yes, codegen

#8328 Speech: Add disclaimer to auto-generated template files (via synth).
  speech/.coveragerc
  speech/.flake8
  speech/noxfile.py
  speech/setup.cfg
  speech/synth.metadata
Labels: api: speech, cla: yes, codegen

#8327 Spanner: Add disclaimer to auto-generated template files (via synth).
  spanner/.coveragerc
  spanner/.flake8
  spanner/noxfile.py
  spanner/setup.cfg
  spanner/synth.metadata
Labels: api: spanner, cla: yes, codegen

#8326 Security Center: Add disclaimer to auto-generated template files (via synth).
  securitycenter/.coveragerc
  securitycenter/.flake8
  securitycenter/setup.cfg
  securitycenter/synth.metadata
Labels: api:securitycenter, cla: yes, codegen

#8325 Scheduler: Add disclaimer to auto-generated template files (via synth).
  scheduler/.coveragerc
  scheduler/.flake8
  scheduler/noxfile.py
  scheduler/setup.cfg
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes, codegen

#8334 Video Intelligence: Change test video URI, add disclaimer to auto-generated template files (via synth).
  videointelligence/.coveragerc
  videointelligence/.flake8
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/gapic/video_intelligence_service_client.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/video_intelligence_service_client.py
  videointelligence/noxfile.py
  videointelligence/setup.cfg
  videointelligence/synth.metadata
  videointelligence/tests/unit/gapic/v1beta1/test_video_intelligence_service_client_v1beta1.py
  videointelligence/tests/unit/gapic/v1beta2/test_video_intelligence_service_client_v1beta2.py
  videointelligence/tests/unit/gapic/v1p1beta1/test_video_intelligence_service_client_v1p1beta1.py
  videointelligence/tests/unit/gapic/v1p2beta1/test_video_intelligence_service_client_v1p2beta1.py
  videointelligence/tests/unit/gapic/v1p3beta1/test_video_intelligence_service_client_v1p3beta1.py
Labels: api: videointelligence, cla: yes, codegen

#8343 Asset: Declare encoding as utf-8 in pb2 files (via synth).
  asset/google/cloud/asset_v1/proto/asset_service_pb2.py
  asset/google/cloud/asset_v1/proto/assets_pb2.py
  asset/google/cloud/asset_v1beta1/proto/asset_service_pb2.py
  asset/google/cloud/asset_v1beta1/proto/assets_pb2.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes

#8346 Bigtable: Declare encoding as utf-8 in pb2 files (via synth).
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_instance_admin_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_table_admin_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/common_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/instance_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/table_pb2.py
  bigtable/google/cloud/bigtable_v2/proto/bigtable_pb2.py
  bigtable/google/cloud/bigtable_v2/proto/data_pb2.py
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#8347 Container: Declare encoding as utf-8 in pb2 files (via synth).
  container/google/cloud/container_v1/proto/cluster_service_pb2.py
  container/synth.metadata
Labels: api: container, cla: yes

#8348 Data Labeling: Declare encoding as utf-8 in pb2 files (via synth).
  datalabeling/google/cloud/datalabeling_v1beta1/proto/annotation_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/annotation_spec_set_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/data_labeling_service_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/dataset_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/human_annotation_config_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/instruction_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/operations_pb2.py
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes

#8349 Dataproc: Declare encoding as utf-8 in pb2 files (via synth).
  dataproc/google/cloud/dataproc_v1/proto/clusters_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/jobs_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/operations_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/shared_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/workflow_templates_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/autoscaling_policies_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/clusters_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/jobs_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/operations_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/shared_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/workflow_templates_pb2.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#8350 Datastore: Declare encoding as utf-8 in pb2 files (via synth).
  datastore/google/cloud/datastore_v1/proto/datastore_pb2.py
  datastore/google/cloud/datastore_v1/proto/entity_pb2.py
  datastore/google/cloud/datastore_v1/proto/query_pb2.py
  datastore/synth.metadata
Labels: api: datastore, cla: yes

#8351 Error Reporting: Declare encoding as utf-8 in pb2 files (via synth).
  error_reporting/google/cloud/errorreporting_v1beta1/proto/common_pb2.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/error_group_service_pb2.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/error_stats_service_pb2.py
  error_reporting/google/cloud/errorreporting_v1beta1/proto/report_errors_service_pb2.py
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes

#8352 Firestore: Declare encoding as utf-8 in pb2 files (via synth).
  firestore/google/cloud/firestore_v1/proto/common_pb2.py
  firestore/google/cloud/firestore_v1/proto/document_pb2.py
  firestore/google/cloud/firestore_v1/proto/firestore_pb2.py
  firestore/google/cloud/firestore_v1/proto/query_pb2.py
  firestore/google/cloud/firestore_v1/proto/write_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/common_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/document_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/firestore_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/query_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/write_pb2.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes

#8353 IAM: Declare encoding as utf-8 in pb2 files (via synth).
  iam/google/cloud/iam_credentials_v1/proto/common_pb2.py
  iam/google/cloud/iam_credentials_v1/proto/iamcredentials_pb2.py
  iam/synth.metadata
Labels: api: iam, cla: yes

#8354 IoT: Declare encoding as utf-8 in pb2 files (via synth).
  iot/google/cloud/iot_v1/proto/device_manager_pb2.py
  iot/google/cloud/iot_v1/proto/resources_pb2.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes

#8356 KMS: Add ability to create keys via import, add crypto algorithms (via synth).
  kms/google/cloud/kms_v1/gapic/enums.py
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/google/cloud/kms_v1/gapic/key_management_service_client_config.py
  kms/google/cloud/kms_v1/gapic/transports/key_management_service_grpc_transport.py
  kms/google/cloud/kms_v1/proto/resources.proto
  kms/google/cloud/kms_v1/proto/resources_pb2.py
  kms/google/cloud/kms_v1/proto/service.proto
  kms/google/cloud/kms_v1/proto/service_pb2.py
  kms/google/cloud/kms_v1/proto/service_pb2_grpc.py
  kms/synth.metadata
  kms/tests/unit/gapic/v1/test_key_management_service_client_v1.py
Labels: api: cloudkms, cla: yes

#8357 Language: Declare encoding as utf-8 in pb2 files (via synth).
  language/google/cloud/language_v1/proto/language_service_pb2.py
  language/google/cloud/language_v1beta2/proto/language_service_pb2.py
  language/synth.metadata
Labels: api: language, cla: yes

#8358 Monitoring: Declare encoding as utf-8 in pb2 files (via synth).
  monitoring/google/cloud/monitoring_v3/proto/alert_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/alert_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/common_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/dropped_labels_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/group_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/group_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/mutation_record_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/notification_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/notification_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/span_context_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/uptime_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/uptime_service_pb2.py
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#8359 Os Login: Declare encoding as utf-8 in pb2 files (via synth).
  oslogin/google/cloud/oslogin_v1/proto/oslogin/common/common_pb2.py
  oslogin/google/cloud/oslogin_v1/proto/oslogin_v1/proto/oslogin_pb2.py
  oslogin/synth.metadata
Labels: api: oslogin, cla: yes

#8355 IRM: Declare encoding as utf-8 in pb2 files (via synth).
  irm/google/cloud/irm_v1alpha2/proto/incidents_pb2.py
  irm/google/cloud/irm_v1alpha2/proto/incidents_service_pb2.py
  irm/synth.metadata
Labels: api: irm, cla: yes

#8360 Redis: Declare encoding as utf-8 in pb2 files (via synth).
  redis/google/cloud/redis_v1/proto/cloud_redis_pb2.py
  redis/google/cloud/redis_v1beta1/proto/cloud_redis_pb2.py
  redis/synth.metadata
Labels: api: redis, cla: yes

#8361 Scheduler: Declare encoding as utf-8 in pb2 files (via synth).
  scheduler/google/cloud/scheduler_v1/proto/cloudscheduler_pb2.py
  scheduler/google/cloud/scheduler_v1/proto/job_pb2.py
  scheduler/google/cloud/scheduler_v1/proto/target_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/cloudscheduler_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/job_pb2.py
  scheduler/google/cloud/scheduler_v1beta1/proto/target_pb2.py
  scheduler/synth.metadata
Labels: api: scheduler, cla: yes

#8366 Tasks: Declare encoding as utf-8 in pb2 files (via synth).
  tasks/google/cloud/tasks_v2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2/proto/task_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/task_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/task_pb2.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#8374 Vision: Try to download any file outside perimeter to verify access to bucket is blocked by vpc sc
  vision/tests/system.py
Labels: cla: yes

#8338 Speech: Increase speech max received msg size to 256 MiB
  speech/google/cloud/speech_v1/gapic/transports/speech_grpc_transport.py
  speech/synth.metadata
  speech/synth.py
Labels: api: speech, cla: yes

#8377 Release grafeas 0.1.0
  grafeas/CHANGELOG.md
Labels: autorelease: pending, cla: yes

#8370 Video Intelligence: Declare encoding as utf-8 in pb2 files (via synth).
  videointelligence/google/cloud/videointelligence_v1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1beta2/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/proto/video_intelligence_pb2.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence_pb2.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#8369 Translate: Declare encoding as utf-8 in pb2 files (via synth).
  translate/google/cloud/translate_v3beta1/proto/translation_service_pb2.py
  translate/synth.metadata
Labels: cla: yes

#8368 Trace: Declare encoding as utf-8 in pb2 files (via synth).
  trace/.coveragerc
  trace/.flake8
  trace/setup.cfg
  trace/synth.metadata
  trace/synth.py
Labels: api: cloudtrace, cla: yes

#8367 Text to Speech: Declare encoding as utf-8 in pb2 files (via synth).
  texttospeech/google/cloud/texttospeech_v1/proto/cloud_tts_pb2.py
  texttospeech/google/cloud/texttospeech_v1beta1/proto/cloud_tts_pb2.py
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes

#8380 IoT: Add docs publish job.
  .kokoro/docs/common.cfg
  .kokoro/docs/iot.cfg
  .kokoro/publish-docs.sh
  test_utils/scripts/get_package_version.py
Labels: api: cloudiot, cla: yes, type: docs

#8373 Web Security Scanner: Declare encoding as utf-8 in pb2 files (via synth).
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/crawled_url_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_addon_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_type_stats_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_config_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_run_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/web_security_scanner_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/crawled_url_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding_addon_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding_type_stats_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_config_error_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_config_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_run_error_trace_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_run_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_run_warning_trace_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/web_security_scanner_pb2.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes

#8372 Web Risk: Declare encoding as utf-8 in pb2 files (via synth).
  webrisk/google/cloud/webrisk_v1beta1/proto/webrisk_pb2.py
  webrisk/synth.metadata
Labels: api: webrisk, cla: yes

#8371 Vision: Declare encoding as utf-8 in pb2 files (via synth).
  vision/google/cloud/vision_v1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/web_detection_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/web_detection_pb2.py
  vision/synth.metadata
Labels: api: vision, cla: yes

#8365 Talent: Declare encoding as utf-8 in pb2 files (via synth).
  talent/google/cloud/talent_v4beta1/proto/application_pb2.py
  talent/google/cloud/talent_v4beta1/proto/application_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/batch_pb2.py
  talent/google/cloud/talent_v4beta1/proto/common_pb2.py
  talent/google/cloud/talent_v4beta1/proto/company_pb2.py
  talent/google/cloud/talent_v4beta1/proto/company_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/completion_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/event_pb2.py
  talent/google/cloud/talent_v4beta1/proto/event_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/filters_pb2.py
  talent/google/cloud/talent_v4beta1/proto/histogram_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job_pb2.py
  talent/google/cloud/talent_v4beta1/proto/job_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile_pb2.py
  talent/google/cloud/talent_v4beta1/proto/profile_service_pb2.py
  talent/google/cloud/talent_v4beta1/proto/tenant_pb2.py
  talent/google/cloud/talent_v4beta1/proto/tenant_service_pb2.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#8363 Spanner: Declare encoding as utf-8 in pb2 files (via synth).
  spanner/google/cloud/spanner_admin_database_v1/proto/spanner_database_admin_pb2.py
  spanner/google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin_pb2.py
  spanner/google/cloud/spanner_v1/proto/keys_pb2.py
  spanner/google/cloud/spanner_v1/proto/mutation_pb2.py
  spanner/google/cloud/spanner_v1/proto/query_plan_pb2.py
  spanner/google/cloud/spanner_v1/proto/result_set_pb2.py
  spanner/google/cloud/spanner_v1/proto/spanner_pb2.py
  spanner/google/cloud/spanner_v1/proto/transaction_pb2.py
  spanner/google/cloud/spanner_v1/proto/type_pb2.py
  spanner/synth.metadata
Labels: api: spanner, cla: yes

#8293 PubSub: Document FlowControl settings
  pubsub/google/cloud/pubsub_v1/types.py
  pubsub/synth.metadata
  pubsub/synth.py
Labels: api: pubsub, cla: yes, type: docs

#8362 Security Center: Declare encoding as utf-8 in pb2 files (via synth).
  securitycenter/.coveragerc
  securitycenter/.flake8
  securitycenter/setup.cfg
  securitycenter/synth.metadata
  securitycenter/synth.py
Labels: api:securitycenter, cla: yes

#8382 Asset: Allow kwargs to be passed to create_channel (via synth).
  asset/google/cloud/asset_v1/gapic/transports/asset_service_grpc_transport.py
  asset/google/cloud/asset_v1beta1/gapic/transports/asset_service_grpc_transport.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes

#8384 Container: Allow kwargs to be passed to create_channel (via synth).
  container/google/cloud/container_v1/gapic/transports/cluster_manager_grpc_transport.py
  container/synth.metadata
Labels: api: container, cla: yes, codegen

#8386 Data Labeling: Allow kwargs to be passed to create_channel (via synth).
  datalabeling/google/cloud/datalabeling_v1beta1/gapic/transports/data_labeling_service_grpc_transport.py
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes, codegen

#8387 Dataproc: Allow kwargs to be passed to create_channel (via synth).
  dataproc/google/cloud/dataproc_v1/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/autoscaling_policy_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes, codegen

#8388 Datastore: Allow kwargs to be passed to create_channel (via synth).
  datastore/google/cloud/datastore_v1/gapic/transports/datastore_grpc_transport.py
  datastore/synth.metadata
Labels: api: datastore, cla: yes, codegen

#8390 Firestore: Allow kwargs to be passed to create_channel (via synth).
  firestore/google/cloud/firestore_v1/gapic/transports/firestore_grpc_transport.py
  firestore/google/cloud/firestore_v1beta1/gapic/transports/firestore_grpc_transport.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes, codegen

#8392 IAM: Allow kwargs to be passed to create_channel (via synth).
  iam/google/cloud/iam_credentials_v1/gapic/transports/iam_credentials_grpc_transport.py
  iam/synth.metadata
Labels: api: iam, cla: yes, codegen

#8393 IoT: Allow kwargs to be passed to create_channel (via synth).
  iot/google/cloud/iot_v1/gapic/transports/device_manager_grpc_transport.py
  iot/synth.metadata
Labels: api: cloudiot, cla: yes, codegen

#8394 IRM: Allow kwargs to be passed to create_channel (via synth).
  irm/google/cloud/irm_v1alpha2/gapic/transports/incident_service_grpc_transport.py
  irm/synth.metadata
Labels: api: irm, cla: yes, codegen

#8395 KMS: Allow kwargs to be passed to create_channel (via synth).
  kms/google/cloud/kms_v1/gapic/transports/key_management_service_grpc_transport.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes, codegen

#8411 Vision: Allow kwargs to be passed to create_channel (via synth).
  vision/google/cloud/vision_v1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1p1beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p2beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1p4beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p4beta1/gapic/transports/product_search_grpc_transport.py
  vision/synth.metadata
Labels: api: vision, cla: yes, codegen

#8410 Video Intelligence: Allow kwargs to be passed to create_channel (via synth).
  videointelligence/google/cloud/videointelligence_v1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1beta2/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p1beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p2beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/transports/streaming_video_intelligence_service_grpc_transport.py
  videointelligence/google/cloud/videointelligence_v1p3beta1/gapic/transports/video_intelligence_service_grpc_transport.py
  videointelligence/synth.metadata
Labels: api: videointelligence, cla: yes, codegen

#8409 Translate: Allow kwargs to be passed to create_channel (via synth).
  translate/google/cloud/translate_v3beta1/gapic/transports/translation_service_grpc_transport.py
  translate/synth.metadata
Labels: api: translation, cla: yes, codegen

#8408 Trace: Allow kwargs to be passed to create_channel, update templates (via synth).
  trace/.coveragerc
  trace/.flake8
  trace/google/cloud/trace_v1/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v2/gapic/transports/trace_service_grpc_transport.py
  trace/setup.cfg
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#8413 Web Security Scanner: Allow kwargs to be passed to create_channel (via synth).
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/transports/web_security_scanner_grpc_transport.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/gapic/transports/web_security_scanner_grpc_transport.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes, codegen

#8407 Text to Speech: Allow kwargs to be passed to create_channel (via synth).
  texttospeech/google/cloud/texttospeech_v1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes, codegen

#8406 Tasks: Allow kwargs to be passed to create_channel (via synth).
  tasks/google/cloud/tasks_v2/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2beta2/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2beta3/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/synth.metadata
Labels: api: cloudtasks, cla: yes, codegen

#8405 Talent: Allow kwargs to be passed to create_channel (via synth).
  talent/google/cloud/talent_v4beta1/gapic/transports/application_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/company_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/completion_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/event_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/job_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/profile_service_grpc_transport.py
  talent/google/cloud/talent_v4beta1/gapic/transports/tenant_service_grpc_transport.py
  talent/synth.metadata
Labels: api: talent, cla: yes, codegen

#8389 Error Reporting: Allow kwargs to be passed to create_channel (via synth).
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/error_group_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/error_stats_service_grpc_transport.py
  error_reporting/google/cloud/errorreporting_v1beta1/gapic/transports/report_errors_service_grpc_transport.py
  error_reporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes, codegen

#8193 Core: Mitigate busy reopen loop in ResumableBidiRpc consuming 100% CPU
  api_core/google/api_core/bidi.py
  api_core/tests/unit/test_bidi.py
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: :rotating_light:, api: core, api: pubsub, cla: yes
