Repository googleapis/google-cloud-python, pull requests merged in 2020-01, with the labels that each got.

#9995 fix: recover watch stream on more error types
  firestore/google/cloud/firestore_v1/watch.py
Labels: cla: yes, do not merge

#10031 chore(firestore): release 1.6.1
  firestore/CHANGELOG.md
  firestore/setup.py
Labels: autorelease: pending, cla: yes

#10032 chore(storage): release 1.24.0
  storage/CHANGELOG.md
  storage/setup.py
Labels: autorelease: pending, cla: yes

#9533 feat(storage): add 'ARCHIVE' storage class
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
  storage/google/cloud/storage/constants.py
  storage/tests/system.py
  storage/tests/unit/test_bucket.py
Labels: api: storage, cla: yes

#10034 chore(storage): release 1.24.1
  storage/CHANGELOG.md
  storage/setup.py
Labels: autorelease: pending, cla: yes

#10021 fix: add ability to use single-row transactions
  bigtable/google/cloud/bigtable/row.py
  bigtable/tests/unit/test_row.py
Labels: api: bigtable, cla: yes, priority: p1, type: bug

#10057 chore(bigtable): release 1.2.1
  bigtable/CHANGELOG.md
  bigtable/setup.py
Labels: autorelease: pending, cla: yes

#10026 feat(bigquery): add retry parameter to public methods where missing
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/job.py
  bigquery/tests/unit/test_client.py
  bigquery/tests/unit/test_job.py
Labels: api: bigquery, cla: yes, type: feature request

#10011 feat(spanner)!: make mutations optional for commits (via synth)
  spanner/docs/_static/custom.css
  spanner/docs/_templates/layout.html
  spanner/google/cloud/spanner_admin_database_v1/gapic/database_admin_client.py
  spanner/google/cloud/spanner_admin_database_v1/gapic/database_admin_client_config.py
  spanner/google/cloud/spanner_admin_database_v1/gapic/transports/database_admin_grpc_transport.py
  spanner/google/cloud/spanner_admin_database_v1/proto/spanner_database_admin.proto
  spanner/google/cloud/spanner_admin_database_v1/proto/spanner_database_admin_pb2_grpc.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/instance_admin_client.py
  spanner/google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin.proto
  spanner/google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin_pb2.py
  spanner/google/cloud/spanner_v1/batch.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client_config.py
  spanner/google/cloud/spanner_v1/proto/spanner.proto
  spanner/google/cloud/spanner_v1/proto/spanner_pb2_grpc.py
  spanner/google/cloud/spanner_v1/transaction.py
  spanner/synth.metadata
  spanner/tests/unit/gapic/v1/test_database_admin_client_v1.py
  spanner/tests/unit/gapic/v1/test_instance_admin_client_v1.py
  spanner/tests/unit/gapic/v1/test_spanner_client_v1.py
  spanner/tests/unit/test_database.py
  spanner/tests/unit/test_session.py
Labels: api: spanner, cla: yes, codegen

#10055 chore(datacatalog): update README to reflect Beta launch status
  README.rst
  datacatalog/.repo-metadata.json
  datacatalog/README.rst
  datacatalog/setup.py
Labels: cla: yes

#10036 feat(asset): undeprecate resource name helper methods, add 2.7 deprecation warning (via synth)
  asset/google/cloud/asset_v1/__init__.py
  asset/google/cloud/asset_v1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1beta1/__init__.py
  asset/google/cloud/asset_v1beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1p2beta1/__init__.py
  asset/google/cloud/asset_v1p2beta1/gapic/asset_service_client.py
  asset/synth.metadata
Labels: api: cloudasset, cla: yes

#10037 feat(automl): undeprecate resource name helper methods, add 2.7 deprecation warning (via synth)
  automl/google/cloud/automl_v1/__init__.py
  automl/google/cloud/automl_v1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1/gapic/prediction_service_client.py
  automl/google/cloud/automl_v1beta1/__init__.py
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1beta1/gapic/prediction_service_client.py
  automl/synth.metadata
Labels: api: automl, cla: yes

#10038 feat(billingbudgets): undeprecate resource name helper methods, add 2.7 deprecation warning (via synth)
  billingbudgets/google/cloud/billing_budgets_v1beta1/__init__.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/gapic/budget_service_client.py
  billingbudgets/synth.metadata
Labels: cla: yes

#10039 feat(datalabeling): undeprecate resource name helper methods (via synth)
  datalabeling/google/cloud/datalabeling_v1beta1/gapic/data_labeling_service_client.py
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes

#10040 feat(dlp): undeprecate resource name helper methods, add 2.7 deprecation warning (via synth)
  dlp/google/cloud/dlp_v2/__init__.py
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py
  dlp/synth.metadata
Labels: api: dlp, cla: yes

#10041 docs(documentai): add 2.7 deprecation warning (via synth)
  documentai/google/cloud/documentai_v1beta1/__init__.py
  documentai/synth.metadata
Labels: cla: yes

#10042 docs(grafeas): add 2.7 deprecation warning (via synth)
  grafeas/grafeas/grafeas_v1/__init__.py
  grafeas/grafeas/grafeas_v1/gapic/grafeas_client.py
  grafeas/synth.metadata
Labels: cla: yes

#10043 feat(iam): undeprecate resource name helper methods, add 2.7 deprecation warning (via synth)
  iam/google/cloud/iam_credentials_v1/__init__.py
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client.py
  iam/synth.metadata
Labels: api: iam, cla: yes

#10044 feat(irm): undeprecate resource name helper methods, add 2.7 deprecation warning (via synth)
  irm/google/cloud/irm_v1alpha2/__init__.py
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client.py
  irm/synth.metadata
Labels: api: irm, cla: yes

#10045 feat(kms): undeprecate resource name helper methods, add 2.7 deprecation warning (via synth)
  kms/google/cloud/kms_v1/__init__.py
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes

#10054 feat(websecurityscanner): undeprecate resource name helpers, add 2.7 sunset warning (via synth)
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/__init__.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/__init__.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/gapic/web_security_scanner_client.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes

#10052 feat(vision): undeprecate resource name helpers, add 2.7 sunset warning (via synth)
  vision/google/cloud/vision_v1/__init__.py
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p1beta1/__init__.py
  vision/google/cloud/vision_v1p2beta1/__init__.py
  vision/google/cloud/vision_v1p3beta1/__init__.py
  vision/google/cloud/vision_v1p3beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p4beta1/__init__.py
  vision/google/cloud/vision_v1p4beta1/gapic/product_search_client.py
  vision/synth.metadata
Labels: api: vision, cla: yes

#10051 docs(texttospeech): add 2.7 deprecation warning (via synth)
  texttospeech/google/cloud/texttospeech_v1/__init__.py
  texttospeech/google/cloud/texttospeech_v1beta1/__init__.py
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes

#10050 feat(talent): undeprecate resource name helpers, add 2.7 sunset warning (via synth)
  talent/google/cloud/talent_v4beta1/__init__.py
  talent/google/cloud/talent_v4beta1/gapic/application_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/company_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/completion_client.py
  talent/google/cloud/talent_v4beta1/gapic/event_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/job_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/profile_service_client.py
  talent/google/cloud/talent_v4beta1/gapic/tenant_service_client.py
  talent/synth.metadata
Labels: api: talent, cla: yes

#9999 fix(speech): increase default timeout for v1p1beta1 (via synth)
  speech/google/cloud/speech_v1p1beta1/gapic/speech_client_config.py
  speech/synth.metadata
Labels: api: speech, cla: yes

#10049 feat(redis): undeprecate resource name helper methods, add 2.7 deprecation warning (via synth)
  redis/google/cloud/redis_v1/__init__.py
  redis/google/cloud/redis_v1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1beta1/__init__.py
  redis/google/cloud/redis_v1beta1/gapic/cloud_redis_client.py
  redis/synth.metadata
Labels: api: redis, cla: yes

#10048 feat(phishingprotection): undeprecate resource name helper methods, add 2.7 deprecation warning (via synth)
  phishingprotection/google/cloud/phishingprotection_v1beta1/__init__.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/phishing_protection_service_client.py
  phishingprotection/synth.metadata
Labels: api: phishingprotection, cla: yes

#10012 chore(bigquery): use 3.6 for blacken session
  bigquery/noxfile.py
Labels: api: bigquery, cla: yes

#10069 fix(iot): modify retry and timeout configs; add 2.7 deprecation warning; add 'required' to docstring for required args; add 3.8 unit tests (via synth)
  iot/docs/_static/custom.css
  iot/docs/_templates/layout.html
  iot/google/cloud/iot_v1/__init__.py
  iot/google/cloud/iot_v1/gapic/device_manager_client.py
  iot/google/cloud/iot_v1/gapic/device_manager_client_config.py
  iot/google/cloud/iot_v1/proto/device_manager.proto
  iot/google/cloud/iot_v1/proto/device_manager_pb2.py
  iot/google/cloud/iot_v1/proto/resources.proto
  iot/google/cloud/iot_v1/proto/resources_pb2.py
  iot/noxfile.py
  iot/synth.metadata
  iot/tests/unit/gapic/v1/test_device_manager_client_v1.py
Labels: api: cloudiot, cla: yes

#10075 fix(trace)!: remove `span_path` resource helper method from v2; modify retry configs; standardize usage of 'optional' and 'required' for args in docstrings; add 2.7 deprecation warning (via synth)
  trace/docs/conf.py
  trace/google/cloud/trace_v1/__init__.py
  trace/google/cloud/trace_v1/gapic/trace_service_client.py
  trace/google/cloud/trace_v1/gapic/trace_service_client_config.py
  trace/google/cloud/trace_v1/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v1/proto/trace.proto
  trace/google/cloud/trace_v1/proto/trace_pb2.py
  trace/google/cloud/trace_v2/__init__.py
  trace/google/cloud/trace_v2/gapic/trace_service_client.py
  trace/google/cloud/trace_v2/gapic/trace_service_client_config.py
  trace/google/cloud/trace_v2/proto/trace.proto
  trace/google/cloud/trace_v2/proto/trace_pb2.py
  trace/google/cloud/trace_v2/proto/tracing.proto
  trace/google/cloud/trace_v2/proto/tracing_pb2.py
  trace/synth.metadata
  trace/tests/unit/gapic/v1/test_trace_service_client_v1.py
  trace/tests/unit/gapic/v2/test_trace_service_client_v2.py
Labels: api: cloudtrace, cla: yes

#9825 doc(automl): add example for creating a TablesClient for EU in docstring
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
Labels: cla: yes

#10016 fix(bigquery): fix minimum version of dependency
  bigquery/setup.py
Labels: api: bigquery, cla: yes

#10077 chore(cloudbuild): fix syntax errors in synth.py
  cloudbuild/synth.py
Labels: cla: yes

#10076 chore(recommender): correct config path in synth file for recommender
  recommender/synth.py
Labels: cla: yes

#9869 feat(api_core): support version 3 policy bindings
  api_core/google/api_core/iam.py
  api_core/tests/unit/test_iam.py
  bigtable/google/cloud/bigtable/policy.py
  bigtable/tests/unit/test_policy.py
Labels: cla: yes

#10097 fix(runtimeconfig): update test assertion and core version pins
  runtimeconfig/setup.py
  runtimeconfig/tests/unit/test__http.py
Labels: api: runtimeconfig, cla: yes

#10095 fix(resourcemanager): update test assertion and core version pin
  resource_manager/setup.py
  resource_manager/tests/unit/test__http.py
Labels: api: cloudresourcemanager, cla: yes

#10096 fix(dns): update test assertion and core version pins
  dns/setup.py
  dns/tests/unit/test__http.py
Labels: api: dns, cla: yes

#10098 fix(translate): update test assertion and core version pins
  translate/setup.py
  translate/tests/unit/v2/test__http.py
Labels: api: translation, cla: yes

#10015 fix(storage): fix document of delete blob
  storage/google/cloud/storage/blob.py
Labels: cla: yes

#10017 feat(bigquery): make rowIterator._to_dataframe_iterable public
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#10087 fix(logging): update test assertion and core version pins
  logging/setup.py
  logging/tests/system/test_system.py
  logging/tests/unit/test__http.py
Labels: api: logging, cla: yes

#10028 fix(bigquery): write pandas `datetime[ns]` columns to BigQuery TIMESTAMP columns
  bigquery/google/cloud/bigquery/_pandas_helpers.py
  bigquery/samples/load_table_dataframe.py
  bigquery/samples/tests/test_load_table_dataframe.py
  bigquery/tests/system.py
  bigquery/tests/unit/test__pandas_helpers.py
  bigquery/tests/unit/test_client.py
Labels: cla: yes

#9989 feat(storage): support optionsRequestedPolicyVersion
  api_core/google/api_core/iam.py
  storage/google/cloud/storage/blob.py
  storage/google/cloud/storage/bucket.py
  storage/tests/system.py
  storage/tests/unit/test_blob.py
  storage/tests/unit/test_bucket.py
Labels: cla: yes, do not merge

#10001 feat(bigtable): support requested_policy_version for Instance IAM
  bigtable/google/cloud/bigtable/instance.py
  bigtable/tests/unit/test_instance.py
Labels: cla: yes

#10109 chore(api_core): release 1.16.0
  api_core/CHANGELOG.md
  api_core/setup.py
Labels: autorelease: pending, cla: yes

#10106 docs(spanner): fix instance docstrings
  spanner/google/cloud/spanner_v1/instance.py
Labels: api: spanner, cla: yes, type: docs

#10111 chore(core): bump api_core to 1.16.0
  core/setup.py
Labels: cla: yes

#10135 chore(core): release core 1.2.0
  core/CHANGELOG.md
  core/setup.py
Labels: autorelease: pending, cla: yes

#9997 refactor(bigquerystorage): `to_dataframe` on an arrow stream uses faster `to_arrow` + `to_pandas`, internally
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/reader.py
  bigquery_storage/tests/unit/test_reader.py
Labels: api: bigquerystorage, cla: yes

#10027 refactor(bigquery): `to_dataframe` uses faster `to_arrow` + `to_pandas` when `pyarrow` is available
  bigquery/google/cloud/bigquery/table.py
  bigquery/tests/system.py
  bigquery/tests/unit/test_table.py
Labels: cla: yes

#10081 fix: replace unsafe six.PY3 with PY2 for better future compatibility with Python 4
  logging/tests/unit/handlers/test__helpers.py
  pubsub/synth.py
  storage/google/cloud/storage/batch.py
  storage/tests/unit/test__signing.py
Labels: api: logging, api: pubsub, api: storage, cla: yes

#9994 fix(bigquerystorage): resume reader connection on `EOS` internal error
  bigquery_storage/google/cloud/bigquery_storage_v1beta1/reader.py
  bigquery_storage/tests/unit/test_reader.py
Labels: cla: yes

#10134 Fixes typo in Natural Language samples
  language/samples/v1/language_syntax_gcs.py
  language/samples/v1/language_syntax_text.py
Labels: cla: yes

#10163 docs(pubsub): tiny spelling mistake fix
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
Labels: api: pubsub, cla: yes, type: docs

#10160 chore(storage): bump core dependency to 1.2.0
  storage/setup.py
Labels: cla: yes

#10165 chores(storage): release 1.25.0
  storage/CHANGELOG.md
  storage/setup.py
Labels: autorelease: pending, cla: yes

#10168 chore(pubsub): declaratively drop Python 3.4 support
  pubsub/setup.py
Labels: api: pubsub, cla: yes

#10162 feat(bigquery): check json_rows arg type in insert_rows_json()
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes, type: feature request

#10072 [CHANGE ME] Re-generated pubsub to pick up changes in the API or client library generator.
  pubsub/noxfile.py
  pubsub/synth.metadata
Labels: api: pubsub, cla: yes

#10079 fix(spanner): be permissive about merging an empty struct
  spanner/google/cloud/spanner_v1/streamed.py
  spanner/tests/unit/test_streamed.py
Labels: cla: yes

#10014 test(datacatalog): run unit tests with Python 3.8
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/policy_tag_manager_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/transports/policy_tag_manager_grpc_transport.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/gcs_fileset_spec_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/policytagmanager_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/policytagmanager_pb2_grpc.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/policytagmanagerserialization_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/tags_pb2.py
  datacatalog/noxfile.py
  datacatalog/synth.metadata
  datacatalog/tests/unit/gapic/v1beta1/test_data_catalog_client_v1beta1.py
Labels: api: datacatalog, cla: yes

#10013 feat(bigquerydatatransfer): add `service_account_name` option to transfer configs
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/datatransfer.proto
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/datatransfer_pb2.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/transfer.proto
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/transfer_pb2.py
  bigquery_datatransfer/noxfile.py
  bigquery_datatransfer/synth.metadata
  bigquery_datatransfer/tests/unit/gapic/v1/test_data_transfer_service_client_v1.py
Labels: api: bigquerydatatransfer, cla: yes

#10174 feat(bigquery): check rows arg type in insert_rows()
  bigquery/google/cloud/bigquery/client.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes, type: feature request

#9923 feat(api_core): add retry param into PollingFuture() and it's inheritors
  api_core/google/api_core/future/polling.py
  api_core/google/api_core/operation.py
  api_core/tests/unit/test_operation.py
Labels: api: core, cla: yes

#10204 chore(recommender): release 0.2.0
  recommender/CHANGELOG.md
  recommender/setup.py
Labels: autorelease: pending, cla: yes

#7753 deprecate(bigquery): deprecate `client.dataset()` in favor of `DatasetReference`
  bigquery/google/cloud/bigquery/client.py
  bigquery/google/cloud/bigquery/magics.py
  bigquery/tests/unit/test_client.py
Labels: cla: yes

#9991 fix(automl): fix TablesClient.predict for array and struct
  automl/google/cloud/automl_v1beta1/tables/tables_client.py
  automl/tests/unit/gapic/v1beta1/test_tables_client_v1beta1.py
Labels: cla: yes

#10219 feat(core): change default api_request() timeout to non-None
  core/google/cloud/_http.py
  core/tests/unit/test__http.py
Labels: api: core, cla: yes

#10209 docs(bigquery): typo fix
  bigquery/google/cloud/bigquery/job.py
Labels: api: bigquery, cla: yes, type: docs

#10202 feat(asset): add v1p1beta1, promote library to beta
  README.rst
  asset/.repo-metadata.json
  asset/README.rst
  asset/docs/gapic/v1p1beta1/api.rst
  asset/docs/gapic/v1p1beta1/types.rst
  asset/docs/index.rst
  asset/google/cloud/asset_v1p1beta1/__init__.py
  asset/google/cloud/asset_v1p1beta1/gapic/__init__.py
  asset/google/cloud/asset_v1p1beta1/gapic/asset_service_client.py
  asset/google/cloud/asset_v1p1beta1/gapic/asset_service_client_config.py
  asset/google/cloud/asset_v1p1beta1/gapic/transports/__init__.py
  asset/google/cloud/asset_v1p1beta1/gapic/transports/asset_service_grpc_transport.py
  asset/google/cloud/asset_v1p1beta1/proto/__init__.py
  asset/google/cloud/asset_v1p1beta1/proto/asset_service_pb2.py
  asset/google/cloud/asset_v1p1beta1/proto/asset_service_pb2_grpc.py
  asset/google/cloud/asset_v1p1beta1/proto/assets_pb2.py
  asset/google/cloud/asset_v1p1beta1/proto/assets_pb2_grpc.py
  asset/google/cloud/asset_v1p1beta1/types.py
  asset/setup.py
  asset/synth.metadata
  asset/synth.py
  asset/tests/unit/gapic/v1p1beta1/test_asset_service_client_v1p1beta1.py
Labels: cla: yes

#10243 chore(websecurityscanner): bump copyright year to 2020, tweak docstring formatting (via synth)
  websecurityscanner/google/cloud/websecurityscanner.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/__init__.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/enums.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/transports/web_security_scanner_grpc_transport.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/gapic/web_security_scanner_client.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_addon_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/finding_type_stats_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_config_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/scan_run_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/types.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/__init__.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/gapic/enums.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/gapic/transports/web_security_scanner_grpc_transport.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/gapic/web_security_scanner_client.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/crawled_url_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding_addon_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/finding_type_stats_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_config_error_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_config_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_run_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/types.py
  websecurityscanner/synth.metadata
  websecurityscanner/tests/unit/gapic/v1alpha/test_web_security_scanner_client_v1alpha.py
  websecurityscanner/tests/unit/gapic/v1beta/test_web_security_scanner_client_v1beta.py
Labels: api: websecurityscanner, cla: yes

#10242 chore(vision): bump copyright year to 2020, tweak docstring formatting (via synth)
  vision/google/cloud/vision_v1/__init__.py
  vision/google/cloud/vision_v1/gapic/enums.py
  vision/google/cloud/vision_v1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1/gapic/product_search_client.py
  vision/google/cloud/vision_v1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1/types.py
  vision/google/cloud/vision_v1p1beta1/__init__.py
  vision/google/cloud/vision_v1p1beta1/gapic/enums.py
  vision/google/cloud/vision_v1p1beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p1beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p1beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p1beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p1beta1/types.py
  vision/google/cloud/vision_v1p2beta1/__init__.py
  vision/google/cloud/vision_v1p2beta1/gapic/enums.py
  vision/google/cloud/vision_v1p2beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p2beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p2beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p2beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p2beta1/types.py
  vision/google/cloud/vision_v1p3beta1/__init__.py
  vision/google/cloud/vision_v1p3beta1/gapic/enums.py
  vision/google/cloud/vision_v1p3beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1p3beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1p3beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p3beta1/types.py
  vision/google/cloud/vision_v1p4beta1/__init__.py
  vision/google/cloud/vision_v1p4beta1/gapic/enums.py
  vision/google/cloud/vision_v1p4beta1/gapic/image_annotator_client.py
  vision/google/cloud/vision_v1p4beta1/gapic/product_search_client.py
  vision/google/cloud/vision_v1p4beta1/gapic/transports/image_annotator_grpc_transport.py
  vision/google/cloud/vision_v1p4beta1/gapic/transports/product_search_grpc_transport.py
  vision/google/cloud/vision_v1p4beta1/proto/geometry_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/image_annotator_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p4beta1/types.py
  vision/synth.metadata
  vision/tests/unit/gapic/v1/test_image_annotator_client_v1.py
  vision/tests/unit/gapic/v1/test_product_search_client_v1.py
  vision/tests/unit/gapic/v1p1beta1/test_image_annotator_client_v1p1beta1.py
  vision/tests/unit/gapic/v1p2beta1/test_image_annotator_client_v1p2beta1.py
  vision/tests/unit/gapic/v1p3beta1/test_image_annotator_client_v1p3beta1.py
  vision/tests/unit/gapic/v1p3beta1/test_product_search_client_v1p3beta1.py
  vision/tests/unit/gapic/v1p4beta1/test_image_annotator_client_v1p4beta1.py
  vision/tests/unit/gapic/v1p4beta1/test_product_search_client_v1p4beta1.py
Labels: api: vision, cla: yes

#10241 chore(trace): bump copyright year to 2020, tweak docstring formatting (via synth)
  trace/google/cloud/trace_v1/__init__.py
  trace/google/cloud/trace_v1/gapic/enums.py
  trace/google/cloud/trace_v1/gapic/trace_service_client.py
  trace/google/cloud/trace_v1/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v1/proto/trace_pb2.py
  trace/google/cloud/trace_v1/types.py
  trace/google/cloud/trace_v2/__init__.py
  trace/google/cloud/trace_v2/gapic/enums.py
  trace/google/cloud/trace_v2/gapic/trace_service_client.py
  trace/google/cloud/trace_v2/gapic/transports/trace_service_grpc_transport.py
  trace/google/cloud/trace_v2/proto/trace_pb2.py
  trace/google/cloud/trace_v2/types.py
  trace/synth.metadata
  trace/tests/unit/gapic/v1/test_trace_service_client_v1.py
  trace/tests/unit/gapic/v2/test_trace_service_client_v2.py
Labels: api: cloudtrace, cla: yes

#10240 chore(texttospeech): bump copyright year to 2020, tweak docstring formatting (via synth)
  texttospeech/google/cloud/texttospeech.py
  texttospeech/google/cloud/texttospeech_v1/__init__.py
  texttospeech/google/cloud/texttospeech_v1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1/proto/cloud_tts_pb2.py
  texttospeech/google/cloud/texttospeech_v1/types.py
  texttospeech/google/cloud/texttospeech_v1beta1/__init__.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/enums.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/text_to_speech_client.py
  texttospeech/google/cloud/texttospeech_v1beta1/gapic/transports/text_to_speech_grpc_transport.py
  texttospeech/google/cloud/texttospeech_v1beta1/proto/cloud_tts_pb2.py
  texttospeech/google/cloud/texttospeech_v1beta1/types.py
  texttospeech/synth.metadata
  texttospeech/tests/unit/gapic/v1/test_text_to_speech_client_v1.py
  texttospeech/tests/unit/gapic/v1beta1/test_text_to_speech_client_v1beta1.py
Labels: api: texttospeech, cla: yes

#10224 chore(automl): bump copyright year to 2020, tweak docstring formatting (via synth)
  automl/google/cloud/automl.py
  automl/google/cloud/automl_v1/__init__.py
  automl/google/cloud/automl_v1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1/gapic/enums.py
  automl/google/cloud/automl_v1/gapic/prediction_service_client.py
  automl/google/cloud/automl_v1/gapic/transports/auto_ml_grpc_transport.py
  automl/google/cloud/automl_v1/gapic/transports/prediction_service_grpc_transport.py
  automl/google/cloud/automl_v1/proto/annotation_payload_pb2.py
  automl/google/cloud/automl_v1/proto/data_items_pb2.py
  automl/google/cloud/automl_v1/proto/dataset_pb2.py
  automl/google/cloud/automl_v1/proto/detection_pb2.py
  automl/google/cloud/automl_v1/proto/image_pb2.py
  automl/google/cloud/automl_v1/proto/io_pb2.py
  automl/google/cloud/automl_v1/proto/operations_pb2.py
  automl/google/cloud/automl_v1/proto/text_pb2.py
  automl/google/cloud/automl_v1/proto/text_segment_pb2.py
  automl/google/cloud/automl_v1/types.py
  automl/google/cloud/automl_v1beta1/__init__.py
  automl/google/cloud/automl_v1beta1/gapic/auto_ml_client.py
  automl/google/cloud/automl_v1beta1/gapic/enums.py
  automl/google/cloud/automl_v1beta1/gapic/prediction_service_client.py
  automl/google/cloud/automl_v1beta1/gapic/transports/auto_ml_grpc_transport.py
  automl/google/cloud/automl_v1beta1/gapic/transports/prediction_service_grpc_transport.py
  automl/google/cloud/automl_v1beta1/proto/annotation_payload_pb2.py
  automl/google/cloud/automl_v1beta1/proto/classification_pb2.py
  automl/google/cloud/automl_v1beta1/proto/column_spec_pb2.py
  automl/google/cloud/automl_v1beta1/proto/data_items_pb2.py
  automl/google/cloud/automl_v1beta1/proto/data_stats_pb2.py
  automl/google/cloud/automl_v1beta1/proto/data_types_pb2.py
  automl/google/cloud/automl_v1beta1/proto/dataset_pb2.py
  automl/google/cloud/automl_v1beta1/proto/detection_pb2.py
  automl/google/cloud/automl_v1beta1/proto/geometry_pb2.py
  automl/google/cloud/automl_v1beta1/proto/image_pb2.py
  automl/google/cloud/automl_v1beta1/proto/io_pb2.py
  automl/google/cloud/automl_v1beta1/proto/operations_pb2.py
  automl/google/cloud/automl_v1beta1/proto/table_spec_pb2.py
  automl/google/cloud/automl_v1beta1/proto/tables_pb2.py
  automl/google/cloud/automl_v1beta1/proto/temporal_pb2.py
  automl/google/cloud/automl_v1beta1/proto/text_pb2.py
  automl/google/cloud/automl_v1beta1/proto/text_segment_pb2.py
  automl/google/cloud/automl_v1beta1/proto/video_pb2.py
  automl/google/cloud/automl_v1beta1/types.py
  automl/synth.metadata
  automl/tests/unit/gapic/v1/test_auto_ml_client_v1.py
  automl/tests/unit/gapic/v1/test_prediction_service_client_v1.py
  automl/tests/unit/gapic/v1beta1/test_auto_ml_client_v1beta1.py
  automl/tests/unit/gapic/v1beta1/test_prediction_service_client_v1beta1.py
Labels: api: automl, cla: yes

#10227 chore(billingbudgets): bump copyright year to 2020, tweak docstring formatting (via synth)
  billingbudgets/google/__init__.py
  billingbudgets/google/cloud/__init__.py
  billingbudgets/google/cloud/billing_budgets.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/__init__.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/gapic/budget_service_client.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/gapic/enums.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/gapic/transports/budget_service_grpc_transport.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/proto/budget_model_pb2.py
  billingbudgets/google/cloud/billing_budgets_v1beta1/types.py
  billingbudgets/synth.metadata
  billingbudgets/tests/unit/gapic/v1beta1/test_budget_service_client_v1beta1.py
Labels: cla: yes

#10228 feat(datacatalog): undeprecate resource name helper methods, bump copyright year to 2020, tweak docstring formatting (via synth)
  datacatalog/google/__init__.py
  datacatalog/google/cloud/__init__.py
  datacatalog/google/cloud/datacatalog.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/data_catalog_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/enums.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/policy_tag_manager_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/policy_tag_manager_serialization_client.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/transports/data_catalog_grpc_transport.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/transports/policy_tag_manager_grpc_transport.py
  datacatalog/google/cloud/datacatalog_v1beta1/gapic/transports/policy_tag_manager_serialization_grpc_transport.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/datacatalog_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/policytagmanager_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/policytagmanagerserialization_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/schema_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/search_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/tags_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/proto/timestamps_pb2.py
  datacatalog/google/cloud/datacatalog_v1beta1/types.py
  datacatalog/samples/v1beta1/datacatalog_get_entry.py
  datacatalog/samples/v1beta1/datacatalog_lookup_entry.py
  datacatalog/samples/v1beta1/datacatalog_lookup_entry_sql_resource.py
  datacatalog/samples/v1beta1/datacatalog_search.py
  datacatalog/synth.metadata
  datacatalog/tests/unit/gapic/v1beta1/test_data_catalog_client_v1beta1.py
  datacatalog/tests/unit/gapic/v1beta1/test_policy_tag_manager_client_v1beta1.py
  datacatalog/tests/unit/gapic/v1beta1/test_policy_tag_manager_serialization_client_v1beta1.py
Labels: api: datacatalog, cla: yes

#10230 feat(documentai): bump copyright year to 2020, tweak docstring formatting (via synth)
  documentai/google/__init__.py
  documentai/google/cloud/__init__.py
  documentai/google/cloud/documentai.py
  documentai/google/cloud/documentai_v1beta1/__init__.py
  documentai/google/cloud/documentai_v1beta1/gapic/document_understanding_service_client.py
  documentai/google/cloud/documentai_v1beta1/gapic/enums.py
  documentai/google/cloud/documentai_v1beta1/gapic/transports/document_understanding_service_grpc_transport.py
  documentai/google/cloud/documentai_v1beta1/proto/document_pb2.py
  documentai/google/cloud/documentai_v1beta1/proto/document_understanding_pb2.py
  documentai/google/cloud/documentai_v1beta1/types.py
  documentai/synth.metadata
  documentai/tests/unit/gapic/v1beta1/test_document_understanding_service_client_v1beta1.py
Labels: cla: yes

#10231 fix(iam): bump copyright year to 2020 (via synth)
  iam/google/__init__.py
  iam/google/cloud/__init__.py
  iam/google/cloud/iam_credentials.py
  iam/google/cloud/iam_credentials_v1/__init__.py
  iam/google/cloud/iam_credentials_v1/gapic/iam_credentials_client.py
  iam/google/cloud/iam_credentials_v1/gapic/transports/iam_credentials_grpc_transport.py
  iam/google/cloud/iam_credentials_v1/types.py
  iam/synth.metadata
  iam/tests/unit/gapic/v1/test_iam_credentials_client_v1.py
Labels: api: iam, cla: yes

#10232 chore(iot): bump copyright year to 2020 (via synth)
  iot/google/cloud/iot_v1/__init__.py
  iot/google/cloud/iot_v1/gapic/device_manager_client.py
  iot/google/cloud/iot_v1/gapic/enums.py
  iot/google/cloud/iot_v1/gapic/transports/device_manager_grpc_transport.py
  iot/google/cloud/iot_v1/proto/device_manager_pb2.py
  iot/google/cloud/iot_v1/proto/resources_pb2.py
  iot/google/cloud/iot_v1/types.py
  iot/synth.metadata
  iot/tests/system/gapic/v1/test_system_device_manager_v1.py
  iot/tests/unit/gapic/v1/test_device_manager_client_v1.py
Labels: api: cloudiot, cla: yes

#10237 chore(redis): bump copyright year to 2020, tweak docstring formatting (via synth)
  redis/google/__init__.py
  redis/google/cloud/__init__.py
  redis/google/cloud/redis.py
  redis/google/cloud/redis_v1/__init__.py
  redis/google/cloud/redis_v1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1/gapic/enums.py
  redis/google/cloud/redis_v1/gapic/transports/cloud_redis_grpc_transport.py
  redis/google/cloud/redis_v1/proto/cloud_redis_pb2.py
  redis/google/cloud/redis_v1/types.py
  redis/google/cloud/redis_v1beta1/__init__.py
  redis/google/cloud/redis_v1beta1/gapic/cloud_redis_client.py
  redis/google/cloud/redis_v1beta1/gapic/enums.py
  redis/google/cloud/redis_v1beta1/gapic/transports/cloud_redis_grpc_transport.py
  redis/google/cloud/redis_v1beta1/proto/cloud_redis_pb2.py
  redis/google/cloud/redis_v1beta1/types.py
  redis/synth.metadata
  redis/tests/unit/gapic/v1/test_cloud_redis_client_v1.py
  redis/tests/unit/gapic/v1beta1/test_cloud_redis_client_v1beta1.py
Labels: api: redis, cla: yes

#10244 chore(asset): release 0.7.0
  asset/CHANGELOG.md
  asset/setup.py
Labels: autorelease: pending, cla: yes

#10238 chore(speech): bump copyright year to 2020, tweak docstring formatting (via synth)
  speech/google/cloud/speech.py
  speech/google/cloud/speech_v1/gapic/enums.py
  speech/google/cloud/speech_v1/gapic/speech_client.py
  speech/google/cloud/speech_v1/gapic/transports/speech_grpc_transport.py
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py
  speech/google/cloud/speech_v1/types.py
  speech/google/cloud/speech_v1p1beta1/gapic/enums.py
  speech/google/cloud/speech_v1p1beta1/gapic/speech_client.py
  speech/google/cloud/speech_v1p1beta1/gapic/transports/speech_grpc_transport.py
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech_pb2.py
  speech/google/cloud/speech_v1p1beta1/types.py
  speech/samples/v1/speech_transcribe_async.py
  speech/samples/v1/speech_transcribe_async_gcs.py
  speech/samples/v1/speech_transcribe_async_word_time_offsets_gcs.py
  speech/samples/v1/speech_transcribe_enhanced_model.py
  speech/samples/v1/speech_transcribe_model_selection.py
  speech/samples/v1/speech_transcribe_model_selection_gcs.py
  speech/samples/v1/speech_transcribe_multichannel.py
  speech/samples/v1/speech_transcribe_multichannel_gcs.py
  speech/samples/v1/speech_transcribe_sync.py
  speech/samples/v1/speech_transcribe_sync_gcs.py
  speech/samples/v1p1beta1/speech_adaptation_beta.py
  speech/samples/v1p1beta1/speech_contexts_classes_beta.py
  speech/samples/v1p1beta1/speech_quickstart_beta.py
  speech/samples/v1p1beta1/speech_transcribe_auto_punctuation_beta.py
  speech/samples/v1p1beta1/speech_transcribe_diarization_beta.py
  speech/samples/v1p1beta1/speech_transcribe_multilanguage_beta.py
  speech/samples/v1p1beta1/speech_transcribe_recognition_metadata_beta.py
  speech/samples/v1p1beta1/speech_transcribe_word_level_confidence_beta.py
  speech/synth.metadata
  speech/tests/unit/gapic/v1/test_speech_client_v1.py
  speech/tests/unit/gapic/v1p1beta1/test_speech_client_v1p1beta1.py
Labels: api: speech, cla: yes

#10064 feat(bigtable): add py2 deprecation warnings; standardize use of 'required' in docstrings (via synth)
  bigtable/google/cloud/bigtable_admin_v2/__init__.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_table_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_table_admin.proto
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_table_admin_pb2_grpc.py
  bigtable/google/cloud/bigtable_v2/__init__.py
  bigtable/google/cloud/bigtable_v2/gapic/bigtable_client.py
  bigtable/google/cloud/bigtable_v2/proto/bigtable.proto
  bigtable/google/cloud/bigtable_v2/proto/bigtable_pb2.py
  bigtable/google/cloud/bigtable_v2/proto/data.proto
  bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#10065 chore(containeranalysis): add py2 deprecation warning, add 3.8 tests (via synth)
  containeranalysis/docs/_static/custom.css
  containeranalysis/docs/_templates/layout.html
  containeranalysis/google/cloud/devtools/containeranalysis_v1/__init__.py
  containeranalysis/noxfile.py
  containeranalysis/synth.metadata
Labels: api: containeranalysis, cla: yes

#10066 docs(dataproc): remove 'cloud' from references to dataproc; add py2 deprecation warning; add 3.8 tests (via synth)
  dataproc/docs/_static/custom.css
  dataproc/docs/_templates/layout.html
  dataproc/google/cloud/dataproc_v1/__init__.py
  dataproc/google/cloud/dataproc_v1/gapic/cluster_controller_client.py
  dataproc/google/cloud/dataproc_v1/gapic/enums.py
  dataproc/google/cloud/dataproc_v1/gapic/job_controller_client.py
  dataproc/google/cloud/dataproc_v1/gapic/workflow_template_service_client.py
  dataproc/google/cloud/dataproc_v1/proto/autoscaling_policies.proto
  dataproc/google/cloud/dataproc_v1/proto/autoscaling_policies_pb2_grpc.py
  dataproc/google/cloud/dataproc_v1/proto/clusters.proto
  dataproc/google/cloud/dataproc_v1/proto/clusters_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/jobs.proto
  dataproc/google/cloud/dataproc_v1/proto/jobs_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/workflow_templates.proto
  dataproc/google/cloud/dataproc_v1/proto/workflow_templates_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/workflow_templates_pb2_grpc.py
  dataproc/google/cloud/dataproc_v1beta2/__init__.py
  dataproc/google/cloud/dataproc_v1beta2/proto/workflow_templates.proto
  dataproc/google/cloud/dataproc_v1beta2/proto/workflow_templates_pb2.py
  dataproc/noxfile.py
  dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#10074 feat(tasks): undeprecate resource helper methods; add py2 deprecation warning; change default timeouts; add 3.8 tests; edit docstrings (via synth)
  tasks/google/cloud/tasks_v2/__init__.py
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client_config.py
  tasks/google/cloud/tasks_v2/proto/target.proto
  tasks/google/cloud/tasks_v2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta2/__init__.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client_config.py
  tasks/google/cloud/tasks_v2beta3/__init__.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client_config.py
  tasks/google/cloud/tasks_v2beta3/proto/target.proto
  tasks/google/cloud/tasks_v2beta3/proto/target_pb2.py
  tasks/noxfile.py
  tasks/synth.metadata
  tasks/tests/unit/gapic/v2/test_cloud_tasks_client_v2.py
  tasks/tests/unit/gapic/v2beta2/test_cloud_tasks_client_v2beta2.py
  tasks/tests/unit/gapic/v2beta3/test_cloud_tasks_client_v2beta3.py
Labels: api: cloudtasks, cla: yes

#10092 docs(cloudbuild): edit docstrings; add py2 deprecation warning; add 3.8 tests (via synth)
  cloudbuild/docs/_static/custom.css
  cloudbuild/docs/_templates/layout.html
  cloudbuild/google/cloud/devtools/cloudbuild_v1/__init__.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/gapic/enums.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/proto/cloudbuild.proto
  cloudbuild/noxfile.py
  cloudbuild/synth.metadata
Labels: api: cloudbuild, cla: yes

#10070 feat(kms): add `ProtectionLevel.External` enum; standardize use of 'optional' and 'required' in docstrings (via synth)
  kms/google/cloud/kms_v1/gapic/enums.py
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/google/cloud/kms_v1/gapic/transports/key_management_service_grpc_transport.py
  kms/google/cloud/kms_v1/proto/resources.proto
  kms/google/cloud/kms_v1/proto/resources_pb2.py
  kms/google/cloud/kms_v1/proto/service.proto
  kms/google/cloud/kms_v1/proto/service_pb2.py
  kms/google/cloud/kms_v1/proto/service_pb2_grpc.py
  kms/synth.metadata
Labels: api: cloudkms, cla: yes

#10103 docs(dlp): standardize use of 'required', 'optional' in docstrings; add descriptions to enums (via synth)
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py
  dlp/google/cloud/dlp_v2/gapic/enums.py
  dlp/google/cloud/dlp_v2/proto/dlp.proto
  dlp/google/cloud/dlp_v2/proto/dlp_pb2.py
  dlp/synth.metadata
Labels: api: dlp, cla: yes

#10233 fix(irm): change default retry and timeout config; bump copyright year to 2020 (via synth)
  irm/google/__init__.py
  irm/google/cloud/__init__.py
  irm/google/cloud/irm.py
  irm/google/cloud/irm_v1alpha2/__init__.py
  irm/google/cloud/irm_v1alpha2/gapic/enums.py
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client.py
  irm/google/cloud/irm_v1alpha2/gapic/incident_service_client_config.py
  irm/google/cloud/irm_v1alpha2/gapic/transports/incident_service_grpc_transport.py
  irm/google/cloud/irm_v1alpha2/proto/incidents.proto
  irm/google/cloud/irm_v1alpha2/proto/incidents_pb2.py
  irm/google/cloud/irm_v1alpha2/proto/incidents_service.proto
  irm/google/cloud/irm_v1alpha2/proto/incidents_service_pb2.py
  irm/google/cloud/irm_v1alpha2/proto/incidents_service_pb2_grpc.py
  irm/google/cloud/irm_v1alpha2/types.py
  irm/synth.metadata
  irm/tests/unit/gapic/v1alpha2/test_incident_service_client_v1alpha2.py
Labels: api: irm, cla: yes

#10229 docs(datalabeling): update docstrings; bump copyright year to 2020 (via synth)
  datalabeling/google/__init__.py
  datalabeling/google/cloud/__init__.py
  datalabeling/google/cloud/datalabeling.py
  datalabeling/google/cloud/datalabeling_v1beta1/gapic/data_labeling_service_client.py
  datalabeling/google/cloud/datalabeling_v1beta1/gapic/data_labeling_service_client_config.py
  datalabeling/google/cloud/datalabeling_v1beta1/gapic/enums.py
  datalabeling/google/cloud/datalabeling_v1beta1/gapic/transports/data_labeling_service_grpc_transport.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/annotation.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/annotation_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/annotation_spec_set.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/annotation_spec_set_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/data_labeling_service.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/data_labeling_service_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/data_labeling_service_pb2_grpc.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/dataset.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/dataset_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/evaluation.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/evaluation_job.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/evaluation_job_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/evaluation_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/human_annotation_config.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/human_annotation_config_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/instruction.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/instruction_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/proto/operations.proto
  datalabeling/google/cloud/datalabeling_v1beta1/proto/operations_pb2.py
  datalabeling/google/cloud/datalabeling_v1beta1/types.py
  datalabeling/synth.metadata
  datalabeling/tests/unit/gapic/v1beta1/test_data_labeling_service_client_v1beta1.py
Labels: api: datalabeling, cla: yes

#10235 chore(phishingprotection): bump copyright year to 2020 (via synth)
  phishingprotection/google/__init__.py
  phishingprotection/google/cloud/__init__.py
  phishingprotection/google/cloud/phishingprotection.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/__init__.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/phishing_protection_service_client.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/gapic/transports/phishing_protection_service_grpc_transport.py
  phishingprotection/google/cloud/phishingprotection_v1beta1/types.py
  phishingprotection/synth.metadata
  phishingprotection/tests/unit/gapic/v1beta1/test_phishing_protection_service_client_v1beta1.py
Labels: api: phishingprotection, cla: yes

#10226 feat(bigquerydatatransfer): undeprecate resource name helper methods; add py2 deprecation warning; bump copyright year to 2020 (via synth)
  bigquery_datatransfer/google/__init__.py
  bigquery_datatransfer/google/cloud/__init__.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/__init__.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/enums.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/transports/data_transfer_service_grpc_transport.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/datatransfer_pb2.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/transfer.proto
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/transfer_pb2.py
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/types.py
  bigquery_datatransfer/synth.metadata
  bigquery_datatransfer/tests/system/gapic/v1/test_system_data_transfer_service_v1.py
  bigquery_datatransfer/tests/unit/gapic/v1/test_data_transfer_service_client_v1.py
Labels: api: bigquerydatatransfer, cla: yes

#10084 feat(grafeas): add support for upgrade notes; add `cpe` and `last_scan_time` to `DiscoveryOccurrence`; add `source_update_time` to `VulnerabilityNote` (via synth)
  grafeas/grafeas/grafeas_v1/gapic/enums.py
  grafeas/grafeas/grafeas_v1/proto/common.proto
  grafeas/grafeas/grafeas_v1/proto/common_pb2.py
  grafeas/grafeas/grafeas_v1/proto/discovery.proto
  grafeas/grafeas/grafeas_v1/proto/discovery_pb2.py
  grafeas/grafeas/grafeas_v1/proto/grafeas.proto
  grafeas/grafeas/grafeas_v1/proto/grafeas_pb2.py
  grafeas/grafeas/grafeas_v1/proto/upgrade.proto
  grafeas/grafeas/grafeas_v1/proto/upgrade_pb2.py
  grafeas/grafeas/grafeas_v1/proto/upgrade_pb2_grpc.py
  grafeas/grafeas/grafeas_v1/proto/vulnerability.proto
  grafeas/grafeas/grafeas_v1/proto/vulnerability_pb2.py
  grafeas/grafeas/grafeas_v1/types.py
  grafeas/synth.metadata
Labels: cla: yes

#10234 docs(language): change docstring formatting; bump copyright year to 2020 (via synth)
  language/google/cloud/language_v1/gapic/enums.py
  language/google/cloud/language_v1/gapic/language_service_client.py
  language/google/cloud/language_v1/gapic/transports/language_service_grpc_transport.py
  language/google/cloud/language_v1/proto/language_service_pb2.py
  language/google/cloud/language_v1beta2/gapic/enums.py
  language/google/cloud/language_v1beta2/gapic/language_service_client.py
  language/google/cloud/language_v1beta2/gapic/transports/language_service_grpc_transport.py
  language/google/cloud/language_v1beta2/proto/language_service_pb2.py
  language/samples/v1/language_classify_gcs.py
  language/samples/v1/language_classify_text.py
  language/samples/v1/language_entities_gcs.py
  language/samples/v1/language_entities_text.py
  language/samples/v1/language_entity_sentiment_gcs.py
  language/samples/v1/language_entity_sentiment_text.py
  language/samples/v1/language_sentiment_gcs.py
  language/samples/v1/language_sentiment_text.py
  language/samples/v1/language_syntax_gcs.py
  language/samples/v1/language_syntax_text.py
  language/synth.metadata
  language/synth.py
  language/tests/system/gapic/v1beta2/test_system_language_service_v1beta2.py
  language/tests/unit/gapic/v1/test_language_service_client_v1.py
  language/tests/unit/gapic/v1beta2/test_language_service_client_v1beta2.py
Labels: api: language, cla: yes

#10068 docs(firestore): standardize use of 'required' and 'optional' in docstrings; add py2 deprecation warning; add 3.8 unit tests (via synth)
  firestore/google/cloud/firestore_admin_v1/__init__.py
  firestore/google/cloud/firestore_admin_v1/gapic/firestore_admin_client.py
  firestore/google/cloud/firestore_admin_v1/proto/field.proto
  firestore/google/cloud/firestore_admin_v1/proto/field_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/firestore_admin.proto
  firestore/google/cloud/firestore_admin_v1/proto/firestore_admin_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/index.proto
  firestore/google/cloud/firestore_admin_v1/proto/index_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/operation.proto
  firestore/google/cloud/firestore_v1/gapic/firestore_client.py
  firestore/google/cloud/firestore_v1/proto/firestore.proto
  firestore/google/cloud/firestore_v1/proto/firestore_pb2.py
  firestore/google/cloud/firestore_v1/proto/firestore_pb2_grpc.py
  firestore/google/cloud/firestore_v1/proto/query.proto
  firestore/google/cloud/firestore_v1/proto/query_pb2.py
  firestore/google/cloud/firestore_v1beta1/gapic/firestore_client.py
  firestore/google/cloud/firestore_v1beta1/proto/firestore.proto
  firestore/google/cloud/firestore_v1beta1/proto/firestore_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/query.proto
  firestore/google/cloud/firestore_v1beta1/proto/query_pb2.py
  firestore/noxfile.py
  firestore/synth.metadata
Labels: api: firestore, cla: yes

#10047 feat(monitoring): un-deprecate resource name helpers, add 2.7 sunset warning; bump copyright year to 2020; use templated noxfile (via synth)
  monitoring/docs/conf.py
  monitoring/google/__init__.py
  monitoring/google/cloud/__init__.py
  monitoring/google/cloud/monitoring.py
  monitoring/google/cloud/monitoring_v3/__init__.py
  monitoring/google/cloud/monitoring_v3/gapic/alert_policy_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/enums.py
  monitoring/google/cloud/monitoring_v3/gapic/group_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/metric_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/notification_channel_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/service_monitoring_service_client.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/alert_policy_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/group_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/metric_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/notification_channel_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/service_monitoring_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/transports/uptime_check_service_grpc_transport.py
  monitoring/google/cloud/monitoring_v3/gapic/uptime_check_service_client.py
  monitoring/google/cloud/monitoring_v3/proto/alert_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/alert_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/common_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/dropped_labels_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/group_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/group_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/metric_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/mutation_record_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/notification_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/notification_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/service_service_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/span_context_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/uptime_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/uptime_service_pb2.py
  monitoring/google/cloud/monitoring_v3/types.py
  monitoring/noxfile.py
  monitoring/setup.py
  monitoring/synth.metadata
  monitoring/synth.py
  monitoring/tests/system/gapic/v3/test_system_metric_service_v3.py
  monitoring/tests/unit/gapic/v3/test_alert_policy_service_client_v3.py
  monitoring/tests/unit/gapic/v3/test_group_service_client_v3.py
  monitoring/tests/unit/gapic/v3/test_metric_service_client_v3.py
  monitoring/tests/unit/gapic/v3/test_notification_channel_service_client_v3.py
  monitoring/tests/unit/gapic/v3/test_service_monitoring_service_client_v3.py
  monitoring/tests/unit/gapic/v3/test_uptime_check_service_client_v3.py
Labels: api: monitoring, cla: yes

#10062 feat(spanner): un-deprecate resource name helper functions, add 3.8 tests (via synth)
  spanner/google/cloud/spanner_admin_database_v1/gapic/database_admin_client.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/instance_admin_client.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client.py
  spanner/google/cloud/spanner_v1/instance.py
  spanner/noxfile.py
  spanner/synth.metadata
Labels: api: spanner, cla: yes, do not merge

#10053 docs(webrisk): add 2.7 deprecation warning; bump copyright year to 2020; use templated noxfile (via synth)
  webrisk/docs/conf.py
  webrisk/google/__init__.py
  webrisk/google/cloud/__init__.py
  webrisk/google/cloud/webrisk.py
  webrisk/google/cloud/webrisk_v1beta1/__init__.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/enums.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/transports/web_risk_service_v1_beta1_grpc_transport.py
  webrisk/google/cloud/webrisk_v1beta1/gapic/web_risk_service_v1_beta1_client.py
  webrisk/google/cloud/webrisk_v1beta1/proto/webrisk_pb2.py
  webrisk/google/cloud/webrisk_v1beta1/types.py
  webrisk/noxfile.py
  webrisk/setup.py
  webrisk/synth.metadata
  webrisk/synth.py
  webrisk/tests/unit/gapic/v1beta1/test_web_risk_service_v1_beta1_client_v1beta1.py
Labels: api: webrisk, cla: yes

#10071 fix(oslogin): add py2 deprecation warning; bump copyright year to 2020; add 3.8 unit tests (via synth)
  oslogin/docs/_static/custom.css
  oslogin/docs/_templates/layout.html
  oslogin/google/__init__.py
  oslogin/google/cloud/__init__.py
  oslogin/google/cloud/oslogin.py
  oslogin/google/cloud/oslogin_v1/__init__.py
  oslogin/google/cloud/oslogin_v1/gapic/enums.py
  oslogin/google/cloud/oslogin_v1/gapic/os_login_service_client.py
  oslogin/google/cloud/oslogin_v1/gapic/transports/os_login_service_grpc_transport.py
  oslogin/google/cloud/oslogin_v1/proto/common_pb2.py
  oslogin/google/cloud/oslogin_v1/proto/oslogin_pb2.py
  oslogin/google/cloud/oslogin_v1/types.py
  oslogin/noxfile.py
  oslogin/synth.metadata
  oslogin/synth.py
  oslogin/tests/unit/gapic/v1/test_os_login_service_client_v1.py
Labels: api: oslogin, cla: yes

#9943 test(translate): add py2 deprecation warning; bump copyright year to 2020; add 3.8 unit tests (via synth)
  translate/google/cloud/translate.py
  translate/google/cloud/translate_v3/__init__.py
  translate/google/cloud/translate_v3/gapic/translation_service_client.py
  translate/google/cloud/translate_v3/gapic/transports/translation_service_grpc_transport.py
  translate/google/cloud/translate_v3/proto/translation_service_pb2.py
  translate/google/cloud/translate_v3/types.py
  translate/google/cloud/translate_v3beta1/__init__.py
  translate/google/cloud/translate_v3beta1/gapic/translation_service_client.py
  translate/google/cloud/translate_v3beta1/gapic/transports/translation_service_grpc_transport.py
  translate/google/cloud/translate_v3beta1/proto/translation_service_pb2.py
  translate/google/cloud/translate_v3beta1/types.py
  translate/noxfile.py
  translate/synth.metadata
  translate/tests/unit/gapic/v3/test_translation_service_client_v3.py
  translate/tests/unit/gapic/v3beta1/test_translation_service_client_v3beta1.py
  translate/tests/unit/v2/test__http.py
Labels: cla: yes, do not merge

#10222 chore(bigquery): adjust test assertions to new default timeout
  bigquery/tests/unit/test__http.py
Labels: api: bigquery, cla: yes, type: process

#10251 chore(storage): adjust test assertions to new default timeout
  storage/tests/unit/test__http.py
Labels: cla: yes

#10252 chore(automl): change line breaks in docstrings (via synth)
  automl/google/cloud/automl_v1/proto/geometry_pb2.py
  automl/synth.metadata
Labels: api: automl, cla: yes

#10253 chore(bigquerydatatransfer): change line breaks in docstrings (via synth)
  bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/proto/datatransfer_pb2.py
  bigquery_datatransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes

#10254 chore(bigtable): bump copyright year to 2020; change formatting of docstrings (via synth)
  bigtable/google/cloud/bigtable_admin_v2/__init__.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_instance_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/enums.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_instance_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_admin_v2/gapic/transports/bigtable_table_admin_grpc_transport.py
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_instance_admin_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/bigtable_table_admin_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/instance_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/proto/table_pb2.py
  bigtable/google/cloud/bigtable_admin_v2/types.py
  bigtable/google/cloud/bigtable_v2/__init__.py
  bigtable/google/cloud/bigtable_v2/gapic/bigtable_client.py
  bigtable/google/cloud/bigtable_v2/gapic/transports/bigtable_grpc_transport.py
  bigtable/google/cloud/bigtable_v2/proto/bigtable.proto
  bigtable/google/cloud/bigtable_v2/proto/bigtable_pb2.py
  bigtable/google/cloud/bigtable_v2/proto/data_pb2.py
  bigtable/google/cloud/bigtable_v2/types.py
  bigtable/synth.metadata
  bigtable/tests/unit/gapic/v2/test_bigtable_client_v2.py
  bigtable/tests/unit/gapic/v2/test_bigtable_instance_admin_client_v2.py
  bigtable/tests/unit/gapic/v2/test_bigtable_table_admin_client_v2.py
Labels: api: bigtable, cla: yes

#10255 chore(cloudbuild): bump copyright year to 2020; change docstring formatting (via synth)
  cloudbuild/google/__init__.py
  cloudbuild/google/cloud/__init__.py
  cloudbuild/google/cloud/devtools/cloudbuild.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/__init__.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/gapic/cloud_build_client.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/gapic/enums.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/gapic/transports/cloud_build_grpc_transport.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/proto/cloudbuild_pb2.py
  cloudbuild/google/cloud/devtools/cloudbuild_v1/types.py
  cloudbuild/synth.metadata
  cloudbuild/tests/unit/gapic/v1/test_cloud_build_client_v1.py
Labels: api: cloudbuild, cla: yes

#10257 chore(containeranalysis): bump copyright year to 2020 (via synth)
  containeranalysis/google/__init__.py
  containeranalysis/google/cloud/__init__.py
  containeranalysis/google/cloud/devtools/containeranalysis.py
  containeranalysis/google/cloud/devtools/containeranalysis_v1/__init__.py
  containeranalysis/google/cloud/devtools/containeranalysis_v1/gapic/container_analysis_client.py
  containeranalysis/google/cloud/devtools/containeranalysis_v1/gapic/transports/container_analysis_grpc_transport.py
  containeranalysis/google/cloud/devtools/containeranalysis_v1/proto/containeranalysis.proto
  containeranalysis/google/cloud/devtools/containeranalysis_v1/proto/containeranalysis_pb2.py
  containeranalysis/google/cloud/devtools/containeranalysis_v1/types.py
  containeranalysis/synth.metadata
  containeranalysis/tests/unit/gapic/v1/test_container_analysis_client_v1.py
Labels: api: containeranalysis, cla: yes

#10258 chore(datacatalog): change docstring line breaks (via synth)
  datacatalog/google/cloud/datacatalog_v1beta1/proto/tags_pb2.py
  datacatalog/synth.metadata
Labels: api: datacatalog, cla: yes

#10259 chore(datalabeling): change docstring line breaks (via synth)
  datalabeling/google/cloud/datalabeling_v1beta1/proto/evaluation_pb2.py
  datalabeling/synth.metadata
Labels: api: datalabeling, cla: yes

#10260 chore(dataproc): bump copyright year to 2020; change docstring line breaks (via synth)
  dataproc/google/__init__.py
  dataproc/google/cloud/__init__.py
  dataproc/google/cloud/dataproc.py
  dataproc/google/cloud/dataproc_v1/__init__.py
  dataproc/google/cloud/dataproc_v1/gapic/cluster_controller_client.py
  dataproc/google/cloud/dataproc_v1/gapic/enums.py
  dataproc/google/cloud/dataproc_v1/gapic/job_controller_client.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1/gapic/workflow_template_service_client.py
  dataproc/google/cloud/dataproc_v1/proto/autoscaling_policies_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/clusters_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/jobs_pb2.py
  dataproc/google/cloud/dataproc_v1/proto/workflow_templates_pb2.py
  dataproc/google/cloud/dataproc_v1/types.py
  dataproc/google/cloud/dataproc_v1beta2/__init__.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/autoscaling_policy_service_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/cluster_controller_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/enums.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/job_controller_client.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/autoscaling_policy_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/cluster_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/job_controller_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/transports/workflow_template_service_grpc_transport.py
  dataproc/google/cloud/dataproc_v1beta2/gapic/workflow_template_service_client.py
  dataproc/google/cloud/dataproc_v1beta2/proto/autoscaling_policies_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/clusters_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/jobs_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/proto/workflow_templates_pb2.py
  dataproc/google/cloud/dataproc_v1beta2/types.py
  dataproc/synth.metadata
  dataproc/tests/system/gapic/v1/test_system_cluster_controller_v1.py
  dataproc/tests/system/gapic/v1beta2/test_system_cluster_controller_v1beta2.py
  dataproc/tests/unit/gapic/v1/test_cluster_controller_client_v1.py
  dataproc/tests/unit/gapic/v1/test_job_controller_client_v1.py
  dataproc/tests/unit/gapic/v1/test_workflow_template_service_client_v1.py
  dataproc/tests/unit/gapic/v1beta2/test_autoscaling_policy_service_client_v1beta2.py
  dataproc/tests/unit/gapic/v1beta2/test_cluster_controller_client_v1beta2.py
  dataproc/tests/unit/gapic/v1beta2/test_job_controller_client_v1beta2.py
  dataproc/tests/unit/gapic/v1beta2/test_workflow_template_service_client_v1beta2.py
Labels: api: dataproc, cla: yes

#10262 chore(dlp): bump copyright year to 2020; change line breaks in docstrings (via synth)
  dlp/google/__init__.py
  dlp/google/cloud/__init__.py
  dlp/google/cloud/dlp.py
  dlp/google/cloud/dlp_v2/__init__.py
  dlp/google/cloud/dlp_v2/gapic/dlp_service_client.py
  dlp/google/cloud/dlp_v2/gapic/enums.py
  dlp/google/cloud/dlp_v2/gapic/transports/dlp_service_grpc_transport.py
  dlp/google/cloud/dlp_v2/proto/dlp_pb2.py
  dlp/google/cloud/dlp_v2/proto/storage_pb2.py
  dlp/google/cloud/dlp_v2/types.py
  dlp/synth.metadata
  dlp/tests/unit/gapic/v2/test_dlp_service_client_v2.py
Labels: api: dlp, cla: yes

#10263 chore(documentai): change line breaks in docstring (via synth)
  documentai/google/cloud/documentai_v1beta1/proto/document_understanding_pb2.py
  documentai/synth.metadata
Labels: cla: yes

#10264 chore(firestore): bump copyright year to 2020; change docstring line breaks (via synth)
  firestore/google/cloud/firestore_admin_v1/__init__.py
  firestore/google/cloud/firestore_admin_v1/gapic/enums.py
  firestore/google/cloud/firestore_admin_v1/gapic/firestore_admin_client.py
  firestore/google/cloud/firestore_admin_v1/gapic/transports/firestore_admin_grpc_transport.py
  firestore/google/cloud/firestore_admin_v1/proto/index_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/location_pb2.py
  firestore/google/cloud/firestore_admin_v1/proto/operation_pb2.py
  firestore/google/cloud/firestore_admin_v1/types.py
  firestore/google/cloud/firestore_v1/gapic/enums.py
  firestore/google/cloud/firestore_v1/gapic/firestore_client.py
  firestore/google/cloud/firestore_v1/gapic/transports/firestore_grpc_transport.py
  firestore/google/cloud/firestore_v1/proto/common_pb2.py
  firestore/google/cloud/firestore_v1/proto/firestore_pb2.py
  firestore/google/cloud/firestore_v1/proto/query_pb2.py
  firestore/google/cloud/firestore_v1/proto/write_pb2.py
  firestore/google/cloud/firestore_v1beta1/gapic/enums.py
  firestore/google/cloud/firestore_v1beta1/gapic/firestore_client.py
  firestore/google/cloud/firestore_v1beta1/gapic/transports/firestore_grpc_transport.py
  firestore/google/cloud/firestore_v1beta1/proto/common_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/query_pb2.py
  firestore/google/cloud/firestore_v1beta1/proto/write_pb2.py
  firestore/synth.metadata
  firestore/tests/unit/gapic/v1/test_firestore_admin_client_v1.py
  firestore/tests/unit/gapic/v1/test_firestore_client_v1.py
  firestore/tests/unit/gapic/v1beta1/test_firestore_client_v1beta1.py
Labels: api: firestore, cla: yes

#10265 chore(grafeas): bump copyright year to 2020; change docstring line breaks (via synth)
  grafeas/grafeas/grafeas.py
  grafeas/grafeas/grafeas_v1/__init__.py
  grafeas/grafeas/grafeas_v1/gapic/enums.py
  grafeas/grafeas/grafeas_v1/gapic/grafeas_client.py
  grafeas/grafeas/grafeas_v1/gapic/transports/grafeas_grpc_transport.py
  grafeas/grafeas/grafeas_v1/proto/attestation_pb2.py
  grafeas/grafeas/grafeas_v1/proto/build_pb2.py
  grafeas/grafeas/grafeas_v1/proto/common_pb2.py
  grafeas/grafeas/grafeas_v1/proto/cvss_pb2.py
  grafeas/grafeas/grafeas_v1/proto/deployment_pb2.py
  grafeas/grafeas/grafeas_v1/proto/discovery_pb2.py
  grafeas/grafeas/grafeas_v1/proto/grafeas.proto
  grafeas/grafeas/grafeas_v1/proto/grafeas_pb2.py
  grafeas/grafeas/grafeas_v1/proto/image_pb2.py
  grafeas/grafeas/grafeas_v1/proto/package_pb2.py
  grafeas/grafeas/grafeas_v1/proto/provenance_pb2.py
  grafeas/grafeas/grafeas_v1/proto/upgrade_pb2.py
  grafeas/grafeas/grafeas_v1/proto/vulnerability_pb2.py
  grafeas/grafeas/grafeas_v1/types.py
  grafeas/synth.metadata
  grafeas/tests/unit/gapic/v1/test_grafeas_client_v1.py
Labels: cla: yes

#10266 chore(irm): change docstring line breaks (via synth)
  irm/google/cloud/irm_v1alpha2/proto/incidents_pb2.py
  irm/synth.metadata
Labels: api: irm, cla: yes

#10267 chore(kms): bump copyright year to 2020; change docstring line breaks (via synth)
  kms/google/__init__.py
  kms/google/cloud/__init__.py
  kms/google/cloud/kms.py
  kms/google/cloud/kms_v1/__init__.py
  kms/google/cloud/kms_v1/gapic/enums.py
  kms/google/cloud/kms_v1/gapic/key_management_service_client.py
  kms/google/cloud/kms_v1/gapic/transports/key_management_service_grpc_transport.py
  kms/google/cloud/kms_v1/proto/resources.proto
  kms/google/cloud/kms_v1/proto/resources_pb2.py
  kms/google/cloud/kms_v1/proto/service_pb2.py
  kms/google/cloud/kms_v1/types.py
  kms/synth.metadata
  kms/tests/unit/gapic/v1/test_key_management_service_client_v1.py
Labels: api: cloudkms, cla: yes

#10269 chore(spanner): bump copyright year to 2020; change docstring formatting (via synth)
  spanner/google/cloud/spanner_admin_database_v1/gapic/database_admin_client.py
  spanner/google/cloud/spanner_admin_database_v1/gapic/enums.py
  spanner/google/cloud/spanner_admin_database_v1/gapic/transports/database_admin_grpc_transport.py
  spanner/google/cloud/spanner_admin_database_v1/proto/spanner_database_admin_pb2.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/enums.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/instance_admin_client.py
  spanner/google/cloud/spanner_admin_instance_v1/gapic/transports/instance_admin_grpc_transport.py
  spanner/google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin_pb2.py
  spanner/google/cloud/spanner_v1/gapic/enums.py
  spanner/google/cloud/spanner_v1/gapic/spanner_client.py
  spanner/google/cloud/spanner_v1/gapic/transports/spanner_grpc_transport.py
  spanner/google/cloud/spanner_v1/proto/keys_pb2.py
  spanner/google/cloud/spanner_v1/proto/mutation_pb2.py
  spanner/google/cloud/spanner_v1/proto/query_plan_pb2.py
  spanner/google/cloud/spanner_v1/proto/result_set_pb2.py
  spanner/google/cloud/spanner_v1/proto/spanner_pb2.py
  spanner/google/cloud/spanner_v1/proto/transaction_pb2.py
  spanner/google/cloud/spanner_v1/proto/type_pb2.py
  spanner/synth.metadata
  spanner/tests/unit/gapic/v1/test_database_admin_client_v1.py
  spanner/tests/unit/gapic/v1/test_instance_admin_client_v1.py
  spanner/tests/unit/gapic/v1/test_spanner_client_v1.py
Labels: api: spanner, cla: yes

#10270 chore(speech): change docstring line breaks (via synth)
  speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py
  speech/google/cloud/speech_v1p1beta1/proto/cloud_speech_pb2.py
  speech/synth.metadata
Labels: api: speech, cla: yes

#10271 fix(tasks): change default timeout values; bump copyright year to 2020; change line breaks in docstrings (via synth)
  tasks/google/__init__.py
  tasks/google/cloud/__init__.py
  tasks/google/cloud/tasks.py
  tasks/google/cloud/tasks_v2/__init__.py
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2/gapic/cloud_tasks_client_config.py
  tasks/google/cloud/tasks_v2/gapic/enums.py
  tasks/google/cloud/tasks_v2/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2/types.py
  tasks/google/cloud/tasks_v2beta2/__init__.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta2/gapic/cloud_tasks_client_config.py
  tasks/google/cloud/tasks_v2beta2/gapic/enums.py
  tasks/google/cloud/tasks_v2beta2/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2beta2/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta2/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta2/types.py
  tasks/google/cloud/tasks_v2beta3/__init__.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client.py
  tasks/google/cloud/tasks_v2beta3/gapic/cloud_tasks_client_config.py
  tasks/google/cloud/tasks_v2beta3/gapic/enums.py
  tasks/google/cloud/tasks_v2beta3/gapic/transports/cloud_tasks_grpc_transport.py
  tasks/google/cloud/tasks_v2beta3/proto/cloudtasks_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/queue_pb2.py
  tasks/google/cloud/tasks_v2beta3/proto/target_pb2.py
  tasks/google/cloud/tasks_v2beta3/types.py
  tasks/synth.metadata
  tasks/tests/unit/gapic/v2/test_cloud_tasks_client_v2.py
  tasks/tests/unit/gapic/v2beta2/test_cloud_tasks_client_v2beta2.py
  tasks/tests/unit/gapic/v2beta3/test_cloud_tasks_client_v2beta3.py
Labels: api: cloudtasks, cla: yes

#10272 chore(texttospeech): change docstring line breaks (via synth)
  texttospeech/google/cloud/texttospeech_v1/proto/cloud_tts_pb2.py
  texttospeech/google/cloud/texttospeech_v1beta1/proto/cloud_tts_pb2.py
  texttospeech/synth.metadata
Labels: api: texttospeech, cla: yes

#10273 chore(trace): change docstring line breaks (via synth)
  trace/google/cloud/trace_v2/proto/trace_pb2.py
  trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#10277 chore(websecurityscanner): change line breaks in docstrings (via synth)
  websecurityscanner/google/cloud/websecurityscanner_v1alpha/proto/crawled_url_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_config_pb2.py
  websecurityscanner/google/cloud/websecurityscanner_v1beta/proto/scan_run_warning_trace_pb2.py
  websecurityscanner/synth.metadata
Labels: api: websecurityscanner, cla: yes

#10276 chore(webrisk): change docstring line breaks (via synth)
  webrisk/google/cloud/webrisk_v1beta1/proto/webrisk_pb2.py
  webrisk/synth.metadata
Labels: api: webrisk, cla: yes

#10275 chore(vision): change docstring line breaks (via synth)
  vision/google/cloud/vision_v1p1beta1/proto/text_annotation_pb2.py
  vision/google/cloud/vision_v1p4beta1/proto/product_search_service_pb2.py
  vision/synth.metadata
Labels: api: vision, cla: yes

#10268 chore(monitoring): change docstring line breaks (via synth)
  monitoring/google/cloud/monitoring_v3/proto/common_pb2.py
  monitoring/google/cloud/monitoring_v3/proto/span_context_pb2.py
  monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#10274 chore(translate): change line breaks in docstrings (via synth)
  translate/google/cloud/translate_v3/proto/translation_service_pb2.py
  translate/synth.metadata
Labels: cla: yes

#10205 feat(pubsub): add delivery attempt property to message object received by user code
  pubsub/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  pubsub/google/cloud/pubsub_v1/subscriber/message.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_message.py
  pubsub/tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes

#10206 fix: consume part of StreamingResponseIterator to support failure while under a retry context
  api_core/google/api_core/grpc_helpers.py
  api_core/tests/unit/test_grpc_helpers.py
Labels: api: core, cla: yes

#9889 feat(storage): add support for signing URLs using token
  storage/google/cloud/storage/_signing.py
  storage/google/cloud/storage/blob.py
  storage/noxfile.py
  storage/tests/system.py
  storage/tests/unit/test__signing.py
  storage/tests/unit/test_blob.py
Labels: cla: yes

#10183 feat(spanner): add resource based routing implementation
  spanner/google/cloud/spanner_v1/client.py
  spanner/google/cloud/spanner_v1/database.py
  spanner/tests/system/test_system.py
  spanner/tests/unit/test_client.py
  spanner/tests/unit/test_database.py
Labels: api: spanner, cla: yes

#10180 test(bigquery): add tests for concatenating categorical columns
  bigquery/tests/unit/test_table.py
Labels: api: bigquery, cla: yes

#10196 fix(bigquery): fix inserting missing repeated fields
  bigquery/google/cloud/bigquery/_helpers.py
  bigquery/tests/unit/test__helpers.py
  bigquery/tests/unit/test_client.py
Labels: api: bigquery, cla: yes

#10282 fix: update resume token for restarting BiDi streams
  firestore/google/cloud/firestore_v1/watch.py
  firestore/tests/unit/v1/test_watch.py
Labels: cla: yes

#10283 fix(spanner): fix imports for doc samples
  spanner/docs/advanced-session-pool-topics.rst
  spanner/docs/batch-usage.rst
  spanner/docs/client-usage.rst
  spanner/docs/database-usage.rst
Labels: api: spanner, cla: yes

#10308 chore(core): release core 1.3.0
  core/CHANGELOG.md
  core/setup.py
Labels: autorelease: pending, cla: yes
